[2020-04-22 22:07] aress31 opened #1853 "i18n support"
I have read the doc and look at the example over and over again but I don't see anywhere in the doc where it is explained how to integrate `Material Tables` with `i18n` for the actual table content.

Could anyone be kind enough to provide me with a working example on how I could add localisation to my table?

[2020-04-22 22:52] dashName commented on #506
currently isEditable false disable the icon but is there a way to actually remove / hide the icon?

[2020-04-22 23:51] quietgopher opened #1854 "Support cursor (token based) pagination"
**Is your feature request related to a problem? Please describe.**
For large datasets, using page numbers is not as performant as using cursors (tokens) to paginate.

https://dev.to/jackmarchant/offset-and-cursor-pagination-explained-b89

**Describe the solution you'd like**
Instead of using page numbers, I'd expect something like:

before: <token>
or
after: <token>

**Describe alternatives you've

[2020-04-23 02:21] LucasBarrosDosSantos opened #1855 "Dependent Columns in my table"
I have a table made entirely with columns defaults without "EditComponent", I have a column of "cars" and I would like that when it is filled (or already filled) it will filter the next column to filter the data (both are dynamic lookups that come my server), what better solution? Using react and material-table 1.57.2

[2020-04-23 05:26] jensysantana opened #1856 "hi, is there a way to hide columns just for the view"
hi, is there a way to hide columns just for the view?
i'm trying to hide my ids from an array data
and replace it only in the view for numbers, example: 1, 2, 3, 4, 5, 6, 7, 8, 9 ........

[2020-04-23 09:23] Abekonge commented on #1265
Ok I was wrong.  It was nothing to do with class vs functional component.

But similar to  zxqj 's answer above. If you lift the data state up to the parent, the selection state does not get reset by changing parent state.

Filtering state on the other hand is still reset. I'm looking into this now.

[2020-04-23 09:34] Abekonge commented on #1467
I can confirm this behaviour

[2020-04-23 09:48] GauravKatariya opened #1857 "Performance issue for large editable table"
Editable table with records about 1000 totally freezes and is so slow that it makes it completely unusable.

Please help in improving the performing.
Here is the snapshot of the code

<MaterialTable
        title="Test Script"
        options={{
            paging: false
        }}
        icons={tableIcons}
        columns={this.state.columns}
        data={this.state.data}
        editable={{

[2020-04-23 10:31] mxt305 commented on #173
There are something wrong in the code. it's not correct to put function in the disabled property.
So the correct code is in the below.
`actions = [
    rowData => ({
      icon: "arrow_upward",
      tooltip: "Move up",
      disabled: rowData.tableData.id === 0,
      onClick: (e, row) => this.handleUp(e, row)
    })
]`

[2020-04-23 14:55] bishonen opened #1858 "Demo Doesn't Work"
**Describe the bug**
Trying to do npm run for the demo, does not work out of the box

**To Reproduce**
Steps to reproduce the behavior:
1. Download the library and try to run npm start
2. Open browser and see error in the console

**Expected behavior**
The demo page should load

**Additional context**
Error below:

[code]

**QuickFix**
Comment out the following line to get it working again:

https

[2020-04-23 16:30] Reggionick opened #1859 "Grouping rule"
Is there a way to override the grouping function in order to define the groups?

For example I've a column with dates and grouping by this one every row is grouped by itself but I would like to group them by day or by hour.

[2020-04-23 18:32] superjose commented on #291
@cristiantobol  solution works!!

For TypeScript apply this hack:

[code]
We use a spread operator inside an object to dynamically set it. We set it to true to always include it and cast it to `object` (`any` works).

[2020-04-23 21:22] jensysantana commented on #1480
i'm sorry i'm late but now  i fixed and i'm sharing.
pageSize:your start row per pages
pageSizeOptions:[5, 10, 15, 20, 30, 40, 50, 60, 70, 80, 90, 100],

[2020-04-24 02:10] superjose commented on #666
@HonzaTuron Nice. It may be slightly hacky, but I can confirm it's working with a reducer.

[2020-04-24 04:10] ismile commented on #1743
I need this as well,
I think we need option to overriding ScrollBar Component or ability to add style into it

[2020-04-24 04:36] ashindiano opened #1860 "Filter Drop-Down items get auto sorted"
Since LookUp values are key value pairs, when ids are integers, Browsers sort JSON object based on keys which there by sorts the dropdown items

[2020-04-24 07:06] perfectstrong commented on #1856
Hiding column is as simple as set `hidden=true` in column definition.
Then you can add a view index on data reception, like
[code]

[2020-04-24 07:08] perfectstrong commented on #1837
How about modifying `onRowUpdate` ?

[2020-04-24 07:41] DatChoob opened #1861 "Implement default selected rows"
**Is your feature request related to a problem? Please describe.**
I am unable to provide a default list of items to be selected.

**Describe the solution you'd like**
A prop that you can pass in an array  of objects/indexes of rows to be initially selected.

**Describe alternatives you've considered**
I override the checked attribute in selectionProps and i use state to determine what's checked a

[2020-04-24 07:45] mkaes commented on #1856
I was also wondering if this is possible, but found no way yet.
Using the hidden property does not help if you do not want to display those columns, because they will show up in the columns list and can be enabled.
Some sort of invisible flag would be good, so that it is possible to access the data when a row is rendered but it will never be shown and cannot be enabled.

[2020-04-24 08:07] perfectstrong commented on #1857
In general, i don't think show 1000 lines at once is a good choice in terms of performance and UX, regardless of framework or library.
`paging=true` is there for a reason.

[2020-04-24 12:30] perfectstrong commented on #1856
The data will always is accessible from any callback function with `rowData` as parameter. So if you does not list an attribute in `columns` definition, it is still there in `rowData`.

[2020-04-24 15:25] mkaes commented on #1856
Thanks for the answer. Works like a charm.

[2020-04-24 15:59] jensysantana commented on #1856
thanks alot. and yes in my columns array [
             { title: "ID", field: "_id", hidden:true,
]

then i have it hidded.

please if you have an example about how to implement view index  will be helpful. and thanks again.

[2020-04-24 16:23] DaniloSI opened #1862 "The "onChange" event of a custom column does not fire when using IE 11"
Hello, I have the following problem:

In my table, one of the columns is [Checkboxes](https://material-ui.com/components/checkboxes/). However, the "onChange" event does not fire when using the IE 11 browser.

Below is the code snippet:

[code]

[2020-04-24 22:09] perfectstrong commented on #1856
That should be straight forward with [`map` syntax](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map).
[code]

[2020-04-24 22:26] perfectstrong commented on #1855
I don't quite get your idea but here is some suggestions.
The `data` attribute of `MaterialTable` can accept a Promise to fetch remote data. Although it is not clearly stated in documentation, you can inspect the TypeScript interface file to see its details.
[code]

[code]

[2020-04-24 23:16] #1783 closed

[2020-04-25 04:24] jensysantana commented on #1856
thank you thank you alot.
for your help. i just fixed.

[2020-04-25 12:54] Domino987 commented on #1371
@cutamar Sorry for the delay. I open a branch, but as discussed, it needs a lot of work.
https://github.com/Domino987/material-table/tree/mutation-removal

[2020-04-25 15:00] krnareshkumar23 commented on #1755
I am also looking for a similar kind. Which I feel a custom header render function for each column will come handy. for example, I now need to add subheader for certain columns

![image](https://user-images.githubusercontent.com/14013648/80283173-5d806980-8733-11ea-81b7-748f250bb921.png)

As of I don't see a way to do it. If there is already a way could you let me know.  Also I couldn't find examp

[2020-04-25 20:58] enaranjosaca commented on #1253
excelente me funciono

[2020-04-25 21:11] #1670 closed

[2020-04-25 21:11] Teslenk0 commented on #1670
:)

[2020-04-26 12:17] ParticularPhil commented on #1434
I'm having this issue as well. I'd like to use both grouping and trees and encountered exactly the issue @sanichka96 described.

[2020-04-26 18:05] dancitron opened #1863 "Re-rendering detail panel"
Was wondering how to re-render the detail panel. I'm trying to add editable text fields, but have run into the issue of not being able to update State unless I close and re open the panel.

Thanks!

[2020-04-26 23:50] kebugcheckex commented on #1863
I have a similar issue. In my case the detail panel content is lazy loaded. So the first time it opens it will trigger an action to fetch the content. Once the content is ready, I want to the panel to re-render.

On the high level, my code looks like this:
[code]

What I observed is that once the content is loaded and ready in `prop`, the detail panel will still render a spinner. I added some logg

[2020-04-27 05:41] devpato commented on #691
+1

[2020-04-27 07:58] paramoNNNN opened #1865 "Edit multiple rows"
Is there any way to put multiple rows on edit mode? I mean, I need to edit rows without clicking on the edit button but I can't find a way to do this.
Thanks.

[2020-04-27 09:18] RedFish opened #1866 "New localization/i18n/lang - French"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Please consider adding built-in French translations to material-table.

**Describe alternatives you've considered**
[code]

[2020-04-27 09:28] sandeepkumar-vedam-jdas commented on #1323
@Domino987 @mbrn Could you please review PR https://github.com/mbrn/material-table/pull/1844 ?

CC: @gabriel-kohen-jdas

[2020-04-27 10:07] lucacattide opened #1867 "Duplicated `key-selection-cell` on row deletion"
**Describe the bug**
Basically the same behaviour described on #1584 but during deletion.
In presence of multiple rows, with ```editable``` mode on, if I try to delete something - independently a set or a single row - I receive this exception:

**To Reproduce**
Steps to reproduce the behavior:
1. Populate the table with some data
2. Enable the `edit` mode
3. Try to delete a row by clicking on its

[2020-04-27 10:42] hongjs opened #1868 "set defaultSort programmatically"
**Describe the bug**
I was set config and data from state programmatically
but result doesn't sort

**To Reproduce**
when data and config was bind, result doesn't sorted as config

**Expected behavior**
result should be sorted

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/15359619/80360062-fd133880-88a8-11ea-9102-968a80d6ff0b.png)

Expected
![image](https://user-image

[2020-04-27 11:28] evheniyrz commented on #1857
this problem also exists with a hundred rows of the table, and a mat-paginator is used.
The mat-table redraws all the rows in the preview when you hover, when scrolling, and if you use the mat-tool then the browser frieze for 20 seconds.
Use the following hack - declare a public function in the table component with a console log inside, and interpolate it inside the row of table template `<tr> {{r

[2020-04-27 14:46] krunalsheth3 opened #1869 "Can we have this plugin for vue js framework ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-27 22:24] Jdban opened #1870 "Custom styling for hovering on table rows"
I am using `onRowClick` which enables row highlighting on hover, but then I enabled  the `rowStyle` option for `backgroundColor` for some custom behaviour and that appears to have overwritten the row highlighting on hover.

How can I add back the highlighting on hover?

[2020-04-28 00:07] stnguyen90 commented on #1814
If you're using remote date like https://material-table.com/#/docs/features/remote-data, `query` has the filters. See: https://github.com/mbrn/material-table/blob/b9f35b85d1faaa4a70f6e6b4ffdfd185105ec085/src/material-table.js#L31

[2020-04-28 00:09] LucasBarrosDosSantos commented on #1855
Ok, thank you for response, i have one solution with customize Column, bye

[2020-04-28 00:09] #1855 closed

[2020-04-28 03:57] GauravKatariya commented on #1857
Can u please send a sample code

On Mon, Apr 27, 2020 at 4:58 PM evheniy <notifications@github.com> wrote:

[2020-04-28 05:36] fufufukakaka commented on #1141
+1

[2020-04-28 11:29] deepankar-ap opened #1871 "Is it possible to have vertical table headings in material-table?"
I'm trying to design a table where headers are present on left-hand side instead of top. Is it possible to design this kind of table layout using material-table? Here's a screenshot for reference:

![image](https://user-images.githubusercontent.com/58770061/80482189-62326100-8971-11ea-8aec-3725d2ac4f84.png)

[2020-04-28 12:11] kishanio commented on #1219
+1

[2020-04-28 12:58] Reggionick opened #1872 "New localization/i18n/lang - Italian"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Please consider adding built-in Italian translations to material-table.

**Describe alternatives you've considered**
[code]

[2020-04-28 14:04] evheniyrz commented on #1857
I so sorry.
I mixed up with the angular component repository.

[2020-04-28 18:47] ksavic commented on #506
Is there a way to disable add button?

[2020-04-28 19:16] emersonbottero commented on #340
https://github.com/mbrn/material-table/issues/1718 @Domino987

[2020-04-29 01:04] ppitintern commented on #139
Hi, I want to add a backgroundColor fading out effect on newly added row, how can I achieve this?

[2020-04-29 04:22] JoseHerradez commented on #1582
Any updates on this. Happening to me too

[2020-04-29 08:29] lucacattide commented on #1867
I solved the tree data scenario with a different state management of the data involved, but generally the issue persist.

[2020-04-29 09:13] lakshmikanth-reddy-au2 opened #1873 "Conditional rendering row data"
I have row data and i want to render the data on a conditional basis. If a particular row status is INACTIVE that row should not be displayed. How can i achieve  this??

[2020-04-29 09:40] muhadel commented on #506
@ksavic
You can remove onRowAdd from the editable props object.

[2020-04-29 10:16] ghyoo91 commented on #1689
I think I have same problem.
Header with 0 results doesn't look the same as the when some results exist or before searching.
Maybe there are some CSS issues when the empty searching result shown.

![header_moving](https://user-images.githubusercontent.com/20279300/80585204-dc381800-8a4d-11ea-9728-4701c8adeef5.gif)

[2020-04-29 11:31] masbaehr commented on #810
Seems to be a duplicate, i provided a workaround in my issue thread, but it really needs a fix :/

https://github.com/mbrn/material-table/issues/1260

[2020-04-29 13:08] annahet commented on #1728
@ahfontaine how did you resolve this? I'm having a similar issue where I am rendering a table that opens its own tab. if i render a second (or third etc) with different data, it opens a separate tab that holds the other table. my issue is that after my first table, all new tables/tabs completely overwrite the tables that preceded it.

[2020-04-29 14:19] masbaehr commented on #1283
still happening as of    "material-table": "^1.57.2",  under certain circumstances (which i did not yet find out ) this is a MAJOR issue and should be fixed before anything else

Duplicates: https://github.com/mbrn/material-table/issues/1307

[2020-04-29 14:30] LeanderCoevoet commented on #1818
+1 We have the same problem. Is it possible to have an example provided in the documentation?

[2020-04-29 14:31] MichielMortier commented on #1818
Same problem here. Column does not space when a column is hidden.

[2020-04-29 15:13] jarnekerkaert commented on #1818
+1 We also have this problem.

[2020-04-29 16:29] amanjain14 commented on #1625
is this fixed yet?

[2020-04-29 21:11] lssouza-dg commented on #1395
@JeffEmery @hatchli Mine was not scrolling because the table was under a `display: flex` way up in the DOM tree of my layout. For me, horizontal scrolling only worked under a `display: block`

I wonder if it's possible to still make it horizontal scrollable with `display: flex`, that would be good because I had to do some undesired chages to my page layout because of the `display: block`

[2020-04-29 21:13] LuanScudeler commented on #1395
@JeffEmery @hatchli Mine was not scrolling because the table was under a `display: flex` way up in the DOM tree of my layout. For me, horizontal scrolling only worked under a `display: block`

I wonder if it's possible to still make it horizontal scrollable with `display: flex`, that would be good because I had to do some undesired chages to my page layout because of the `display: block`

[2020-04-29 23:23] arheinjohnson commented on #891
Has anyone successfully implemented virtualization for material-table?

[2020-04-29 23:55] mleffert commented on #1634
Any news on when the next release is?

[2020-04-30 04:10] JeffEmery commented on #1395
@hatchli I think I had the same issue as @LuanScudeler . Once I dismantled all the containers above the table, the horizontal scroll began working. I didn't narrow it down to `display: flex` like @LuanScudeler but I highly suspect that was the same issue.

[2020-04-30 08:40] gelzoh commented on #577
This doesn't work on TypeScript

[2020-04-30 09:58] naudej commented on #1139
@danipralea Do you perhaps have an example of a functional component that uses remote data, im very new to React and im only familiar with class components but the project im on only uses functional components. Please any assistance would be greatly appreciated .

[2020-04-30 10:43] martinbkure opened #1874 "Adding rounded corners to body of table"
**Describe the bug**
First of all, thanks all for this component, it's full of good ideas :-).

but my problem is, I'm trying to add rounded corners to just the body of the table, but I've run out of ideas to do it.

I've tried adding a class to the body or just add inline styling like this:

[code]
But none of my ideas are working. From css alone I can't seem to catch the right node, so I'm not a

[2020-04-30 14:35] diogosmendonca commented on #1219
+1

[2020-04-30 14:54] naudej commented on #804
@jayarjo Hi, How do I check which version the material-ui that material-table is using? I recently created a project added in Material-UI and now Material-table and experienced this issue.

[2020-04-30 15:38] naudej opened #1875 "Layout/Styling Break when material-table is rendered"
The moment material-table component is rendered the rest of the styles with Material-UI components break, eg. AppBar, Button etc.

Is related to https://github.com/mbrn/material-table/issues/804. Suggested fix was to Update but did not work, currently using the latest version of material-ui and material-table.

Doesnt seem to happen in this sandbox: https://codesandbox.io/s/material-demo-2p5qg

**

[2020-04-30 20:53] creative-dev-lab commented on #1280
@eoghanmccarthy I am facing the same problem with this.
Have you found any solution?

[2020-05-01 05:41] MarouaneMORCHID commented on #635
Any updates on this ?

[2020-05-01 07:27] eloyrubinos commented on #699
@buhrenduh I'm facing the same issue. Did you manage to find a workaround?

[2020-05-01 08:15] christanfoden commented on #1017
yep

[2020-05-01 09:45] yurivangeffen commented on #818
I would love to perform an expand or collapse on all rows, but it doesn't work as I would expect. I have an action with an onClick like this:

[code]

Unfortunately this somehow always closes the the tree items, but doesn't open all of them. Any ideas on how to approach this functionality? I find the documentation on trees somewhat lacking.

[2020-05-01 10:11] chetankumars commented on #1693
Thank you

[2020-05-01 11:44] michaero commented on #331
+1
very much needed

[2020-05-01 12:40] JigsWeb commented on #1528
Hey I just found a solution for your old problem, hope could help someone.

You need to add a object "tableData" to your row with a key "isTreeExpanded" to true

`
const data = [{ exemple: 1, tableData: { isTreeExpanded: true }]
`

If you have trouble with expand panel, you can save expand state and re-inject it like:

`
const [expandedStates, setExpandedStates] = useState({})
const data = data.ma

[2020-05-01 15:16] fvgtekken commented on #1528
I will try it and post some comments about it!
Thank you for your help!!

[2020-05-01 15:54] BilalDev commented on #830
Hi, I've the same problem but I need props in icon property to access data. Something like this :
`icon: (props) =>  <Switch checked={props.data.someBoolean} /> `
Is this possible ?

[2020-05-01 17:37] niketh-boreddy opened #1876 "Select all option overrides any conditional selection boxes in the table."
When selection is enabled in a table and conditional selection of rows is enabled, the select all option overrides any conditional selection which is enabled, and selects all rows instead of selecting all the enabled rows.

Steps to reproduce the behavior:
1. Go to https://material-table.com/#/docs/features/selection
2. Click on 'Conditional Selection Boxes Example' tab
3. Click on the select all

[2020-05-01 17:37] MaykonMorais commented on #225
Hi @mbrn, how i can change the background of the table?

[2020-05-01 17:44] MaykonMorais opened #1877 "Background Table"
Hi There :smile: !

How i can change the background color of the table? I searching for this and i didn't find in documentation.

[2020-05-01 19:52] jensysantana opened #1878 "hi, after hide columns still show up in columnsButton"
hi, after hide columns still show up in columnsButton.

i hide some columns in my table using hidden:true also the show up disabled but still there, have some way to hide columns from there?
![Screenshot (69)](https://user-images.githubusercontent.com/36571423/80836898-b6cd1a80-8bc3-11ea-853b-1d2bc5bbe35e.png)

and also i have space between index and name columns after hide column

[2020-05-01 20:59] eoghanmccarthy commented on #1280
@creative-dev-lab No, unfortunately not. Seems it's an issue with table data being mutated. Such a great lightweight table package this, I hope I don't have to abandon it.

[2020-05-01 20:59] jensysantana commented on #1878
and also i have space between index and name columns after hide column

[2020-05-02 05:03] FlaviusBejan commented on #1382
`
...
import { dateTimeEditorRenderer } from "../../renderers/DateTimeRenderer";
...
    tableRenderDate = rowData => {
        // Here you do what you want with the data from the row, but you need to return what you have in the respective column

        let currentDate = new Date();
        let dateObj = new Date(rowData.expiration_date);
        let formattedDate = ISODateToStringDate(rowData.e

[2020-05-02 07:33] suhasbhatta opened #1879 "Date Format for the column"
**Custom formatter for date type in the column**
How can i use custom rendering for the date in the column. As of now the date comes as 06/04/2020, but i want it as 06-Apr-2020. How can i do this.

[2020-05-02 10:47] #1814 closed

[2020-05-03 03:05] thedmeyer commented on #1667
This would be a great feature

[2020-05-03 14:13] JigsWeb commented on #1873
You have to filter your data before.

https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Array/filter

[2020-05-03 16:41] mkim871 opened #1880 "Is there a way to trigger add action outside the table?"
https://github.com/mbrn/material-table/blob/3031eab70105df8d88c17984ca5cea878a9eae3f/src/material-table.js#L154

I want to have `add icon` outside of the table then trigger **add action** to the table.
Code seems like it only triggers when there is `onRowAdd` in `editable` property.

Can someone give me a hint?

[2020-05-03 17:06] AntOliRsn commented on #930
Still facing this issue, any news on this ?

[2020-05-03 23:26] mmihic96 opened #1881 "Table overwrites my theme"
As I see material table doesn't count my classes.

I have Button with className inside one cell.

`<Button className={classes.myCustomClass}>Text</Button>`
When I put same button outside Material table it works.

`<MaterialTable
        tableRef={tableRef}
        title={tableTitle()}
        columns={[
       { title: 'MyTitle', field: 'MyTitle', }
]}
        data={[
{
      MyTitle: <Button clas

[2020-05-03 23:56] South-Paw commented on #1625
@amanjain14 no its not. There hasn't been any more releases past 1.57.2

I've rolled back all our tables to 1.57.0 to fix this - I also don't understand how a breaking change like this is being left/ignored for so long (3 months now)

[2020-05-04 04:22] LuanScudeler commented on #986
I'm having the same issue right now, I need the `detailPanel` to re-render after I update the state that my component that is inside the `detailPanel` uses. Unfortunately I can't move my logic into the components itself like @weagertron did.

Is there another way to achieve the re-render? It would be good if the `detailPanel` could re-render the other components.

[2020-05-04 08:03] LeQuiD commented on #1848
Hi
Just change the default filter like so.

defaultFilter: filterNumVar ? filterNumVar.toString() : null

the num will be converted to string and it works like a charm :D

[2020-05-04 21:20] brymon68 opened #1882 "rowStyle not applied to filtered table?"
Hello,

I have a table where I would like to highlight certain rows based on data in the table.

For instance, say I have a table of Apps and I want to highlight certain apps based on data I already have. The snippet I have provided below is currently working as intended but I notice that if I use the search, the row returned is not styled. Is there a callback I should be using?

My table options

[2020-05-04 21:40] #1882 closed

[2020-05-04 21:44] Markohui opened #1883 "Table size"
How to implement table option : size="small" from material-ui table ?

[2020-05-04 21:47] Markohui commented on #1883
OK, I found it. It is   padding: "dense" in options.

[2020-05-05 03:06] prabhakaryalla commented on #1848
Thanks. :) It works when we convert into string.

[2020-05-05 04:58] codenamethanos commented on #752
If someone needs a simple datatable with summary footer row this should work - https://github.com/codenamethanos/materialui-table
Just 500 lines of code

[2020-05-05 04:58] codenamethanos commented on #1419
If someone needs a simple datatable with summary footer row this should work - https://github.com/codenamethanos/materialui-table
Just 500 lines of code

[2020-05-05 05:26] piekczyk commented on #671
I noticed that the best way is to copy entire file of m-table-filter-row.js  from repo and use for example render props to add some additional filters / customizations. Using this approach you will still have access to default filters + additional ones created by you.

[2020-05-05 09:34] luciobordonaro commented on #676
Hi everyone!
I managed to have both selection and actions in the same table row without customising the `Row` component.

To do it, when managing actions don't use the `isFreeAction` flag but instead use the `position` value.
It is not documented on the official website, but it is documented in the TS declarations that you can find here `node_modules/material-table/types/index.d.ts`.

[code]

So i

[2020-05-05 12:29] evrii commented on #1566
This would be useful. I've been trying to surround my detail panel rendering in a Material-UI transition, but it seems to be ignored. Does Material-Table render detail panels before they are expanded?

[2020-05-05 12:49] petegarvin1 opened #1884 "Lack of aria-labels on search bar input and clear search button"
When using material table for table filtering, the search bar at the top used to specify the filter has no label. Nor does the button used to clear it.

This is an accessibility issue and fails when running something like lighthouse over your project.

Currently I'm having to append these attributes on render which is hardly ideal.

Can you please add them?

[2020-05-05 13:18] MGMehdi opened #1885 "Change cell style after onRowAdd"
Hello

I would like to know if it's possible to change style of a specific cell after being added.

[code]

[2020-05-05 17:31] mikehellman commented on #226
@mbrn The link you posted is broken. If you could please repost the link or update the documentation that would be greatly appreciated.

[2020-05-05 19:49] thedmeyer commented on #532
Revisiting this. Why isn't this an included feature?

[2020-05-06 01:57] StefanJanuschke commented on #1219
+1

[2020-05-06 11:20] ShadeeCat opened #1886 "How to add another option to exportCsv option?"
I need to multiple choice button with setting a Excel export - the export I'll implement like exportCsv overriding option
Can I do it declaratively without modifying the source code?

[code]

[2020-05-06 11:48] telperion357 opened #1887 "Actions column occupies the width of all hidden columns when viewed in Firefox."
Hi there! Very nice table component!
But I have run into this issue.

**Describe the bug**
Actions column width is much bigger than expected, when the table with hidden columns is browsed in Firefox. The same component looks as expected when browsed in Chrome.

**To Reproduce**
Create the table component with some hidden columns and "Show columns" button, and some in-row actions like edit or delet

[2020-05-06 11:50] raph90 commented on #857
@mqasim1990 What query.search do you mean?

[2020-05-06 13:42] mqasim1990 commented on #857
Hi @raph90,

[code]

[2020-05-06 15:31] JasonLunsford opened #1888 "onTreeExpandChange does not work as expected"
**Describe the bug**
Unless we are using this feature wrong (totally possible) it would seem onTreeExpandChange does not work as expected in the latest version of material-table.

**To Reproduce**
Assign any trivial function to onTreeExpandChange.
Expand a row in material-table
Observe how the function does not fire

**Expected behavior**
I would expect that, upon row expand (NOT row click), that

[2020-05-06 19:18] DavidCutiopala opened #1890 "onRowUpdate material -Table"
How do I know when that action is triggered
any function?
for the seen there is the promise and for the X there is some way to do something when you press on the X

[2020-05-06 20:31] ax0n-pr1me commented on #1888
@JasonLunsford  - here are my notes as well

# Accessing onToggleDetailPanel

## Use Template from Material-Table Example

[code]

## Decouple Row Click and Icon Click events

[code]

### Result:
clicking on row `consol.log()`s data and the icon still handles the `togglePanel()` function

## Use methods

I expected these methods to be accessible as neighbors to `onRowClick`
[code]

like this...
[c

[2020-05-06 20:31] JasonLunsford commented on #1888
Follow up to the above defect.

Turns out that because our data structure isn't technically a "tree" per se, but rather a table that leverages nested detail panels, the onTreeExpandChange doesn't fire (I stack traced the component code to verify).

Instead, in the detailPanel prop where you pass your function (anonymous or named), write an explicit return. Then, before the return write your logic

[2020-05-06 20:49] ax0n-pr1me commented on #1888
Follow Up:
because the `onRowClick` event is in the same scope as the `onToggleDetailPanel` I would expect them to be callable in a similar fashion.

I could be completely wrong but my reasoning was that in the `src/material-table.js` file,

[code]

[2020-05-06 23:54] thedmeyer commented on #1419
Any way to do with and keep the content of the summary row aligned with the columns?

[2020-05-06 23:54] jonesty commented on #503
@mbrn Any idea when this one might get done, mate? We are very interested in this functionality also.

[2020-05-07 01:08] dashName commented on #674
Hey I was able to use this but onEditingCanceled the row won't close.I am doing something like this:       components={{
                        EditRow: (props) => {
                            return (
                                <MTableEditRow
                                    {...props}
                                    onEditingCanceled={(mode, rowData) => {

[2020-05-07 02:21] leosolid commented on #1566
Unfortunately, I never got to get this working. IIRC, the detail panels are not rendered until you click expand.

[2020-05-07 03:09] ax0n-pr1me commented on #1584
my workaround was to write `rowData` to the store, then grab it with the redux hook `useSelector`

so in one table / component...
[code]

then in the other table component...
[code]

[2020-05-07 03:46] a-ditucalan opened #1891 "how to change the arrow pagination to numbering pagionation?"
hi i would like to change the arrow pagination to numbering pagination? is there a way to overide?
![image](https://user-images.githubusercontent.com/58244709/81252383-60932800-9058-11ea-854b-0c71cfc3c77a.png)

[2020-05-07 12:47] buzzlajtjer opened #1893 "Keep child element expanded on rerender?"
Hi is it possible to keep a parentChildData child row expanded on rerender?

As of now I find it kind of frustrating that the table toggle back to unexpanded every time I change the style of a row by clicking on it.

`onRowClick={(e, selectedRow) => handleClickedRow(selectedRow)}`
`rowStyle: (rowData) => ({backgroundColor: selectedRow && selectedRow.tableData.id === rowData.tableData.id ? "#328389

[2020-05-07 14:51] dmfarcas opened #1894 "Show action only on row hover"
Is there a way to show the action buttons(edit, delete etc.) only when hovering over a specific row?

[2020-05-07 14:53] RayanBassetti commented on #1874
Same problem for me, I can't seem to apply any style to the TableBody.
In my case I've modified the rows to make them squares, but I can't find a way to put a display: flex and flexDirection: row to the Body element.

[2020-05-07 17:03] sshanzel commented on #891
Sadly, I feel that the maintainer of this package has been busy for a long time and the library has become overwhelming. This has been a great package though. With that I understand people have priorities in life, and I wanna thank everyone!

[2020-05-07 17:08] dbryand opened #1895 "FYI: material-table.com down"
![image](https://user-images.githubusercontent.com/9218/81323696-c20cc400-9063-11ea-83ea-c9b3412feef7.png)

[2020-05-07 17:16] #1895 closed

[2020-05-07 18:25] aamirafridi commented on #606
https://material-table.com/#/docs/features/editable

[2020-05-07 18:31] creative-dev-lab commented on #1280
It'd be much appreciated if you could share your solution whenever you find it!
Thanks, @eoghanmccarthy

[2020-05-07 21:48] brayanL commented on #1861
I would like to have the same option on my tables, is possible to achieve it or not?. I'm investigating but I cannot find useful information.

[2020-05-07 21:52] aabuelenin commented on #810
here's the workaround I used:
[code]
you can replace title: '' with props.columnDef.placeholder if you want

[2020-05-07 21:57] agustinbc commented on #1219
+1

[2020-05-08 01:58] ifndefdeadmau5 opened #1896 "Anyone knows of author's current status?"
Last stable release was almost 3 months ago, over 700+ issue aren't handling
just wondering if he has a problem with maintaining this project(maybe cuz of the virus?)

[2020-05-08 07:16] dyaacov commented on #1538
Any update or a workaround on this?

Thanks!

[2020-05-08 08:04] KhadeerUI opened #1897 "Virtualized huge data with all features"
I need virtualized huge data(minimum 100K rows and 100 columns). Could I expect the feature in the material-table?

[2020-05-08 11:46] Nandiniyadavraj commented on #291
hello there,

I want to change the font color of my table's column called status where I m displaying 2 different status as PASSED(green) and FAILED(red).

I had done some research and tried in my code but none of working.
Here's the code I had been used:

       {
            dataField: 'Compliance.Status',
            text: 'Compliance status',
            cellStyle: params => params.value > "PA

[2020-05-08 14:19] nisly opened #1898 "Material table not reflecting state change in render"
I am using State Hooks to store the table data:
`const [tableData, setTableData] = useState([]);`

I then fill it with data from a fetch request in `useEffect()`:
[code]

My table is set to be editable:
[code]

When I change the state variable using one of the completion handlers, the table is rerendered. However, the change is not reflected. However, the state is being updated correctly (verifiab

[2020-05-08 16:27] sahanjith commented on #1876
Hi @niketh-boreddy

Have you found any workaround? having the same issue.

[2020-05-09 02:05] bzhang42 opened #1899 "Change table title variant to 'h5'"
The default title for material-table has variant 'h6', but I want it to be 'h5'. I attempted to do this by passing in `title={<Typography variant={'h5'}>Table Title</Typography>}`, but this loses the other helpful styling like wrap and ellipses. How do I keep all the rest of the styling but only change the variant?

[2020-05-09 08:15] kevin-coelho opened #1900 "Update "editable" docs to properly trigger table re-render on this.setState(...)"
**Describe the bug**
Using `data={this.state.data}` in parent react component will not trigger render on `this.setState(...)`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Editable docs](https://material-table.com/#/docs/features/editable)
2. Copy code
3. Run it
4. add / delete don't re-render the table

**To fix (this should be updated in docs)**
Use `data={Array.from(this.state.d

[2020-05-09 11:07] LuminousIT commented on #74
I have the same issue on 1 out of about 15+ tables in my portal.. What could be wrong?

[2020-05-09 19:19] PranatoshRoy opened #1901 "Filter Controls do not hold typed text or dropdown value"
Hi,
Great Tool. Need urgent help regarding filtering.
I have used filtering in two tables and one is working just fine.
However in the other one, whatever I type in the filter controls it gets deleted right away causing filter to not working.

Kindly help what might be causing this issue where same thing works in another table.
@mbrn  PLS HELP

[2020-05-09 19:48] zulkufadsiz commented on #1799
Thank you  @scipe . I resolved this issue write my own component class

[2020-05-10 06:57] malizadeh22 opened #1902 "Action button rendered with function allways will appear in toolbar!"
**There is two problems when you use function for rendering action buttons:**
1. The action button rendered with function "Always" will appear in toolbar, but i have set the position with "row" value!
2. When you render action button with function, the data prop that expected to be object of intended row is an array of objects.

But you will not have any of both problems while using normal button

[2020-05-10 11:48] wareworks commented on #1675
facing this issue since days. Any timeline for a fix?

[2020-05-11 09:36] wolfdgreat commented on #628
was this fixed? I used 1.57 and having the same issue.

[2020-05-11 13:14] Ardeshir81 commented on #1219
+1

[2020-05-11 15:46] doctorallen opened #1903 "Can you define options.customSort and options.defaultSort together?"
I have defined a `customSort` on my table, which appears to work, however it doesn't look like the `defaultSort` option on the column is working. If I comment out the `customSort` the table correctly loads up and sorts by the default direction I set, but once I define a `customSort` it will not load up and sort by default, the user needs to sort the column themselves.

Is there a workaround to sor

[2020-05-11 22:20] roseak commented on #1870
I'm also having the same problem

[2020-05-11 22:26] Jdban commented on #1870
@roseak We actually found the solution to this, so I will close this. I believe the `''` lets it fall back to default handling of the coloring?

Example:
[code]

[2020-05-11 22:26] #1870 closed

[2020-05-11 22:41] roseak commented on #1870
Amazing, thanks!

[2020-05-12 02:49] saostad commented on #1882
how did you solve your problem?

[2020-05-12 07:26] feleko opened #1904 "Actions and editable"
I use property actions and editable.
How to change the order in this way the actions(redbox) were at the end and editable(green box) first?
![action](https://user-images.githubusercontent.com/22773283/81650333-07e5d580-9432-11ea-9265-bb5ea53ca824.png)

[2020-05-12 11:06] yurivangeffen commented on #1610
I have a similar issue, when calling
[code]
All rows grey out. Naturally I can't call `changeRowEditing()`, as I want to go into edit mode on a specific row.

[2020-05-12 11:30] robertovg opened #1905 "No way to undertand if call to `onChangePage` was called directly or by `changePageSize`"
**Describe the bug**
In the last release [1.57.2](https://github.com/mbrn/material-table/releases/tag/v1.57.2)  you started to call `onChangePage` on `changePageSize`  and because of that we can't understand if we are in a new page or different pagination.

**To Reproduce**

We wanted to `scrollToTop` when page change, but we are also triggering this action now when we change the pageSize.

**Expe

[2020-05-12 13:35] Wint57 opened #1906 "Strange actions width"
Hello.
First of all, I want to say thank you for your work. This is very handy table.

I try to set up fix actions width.
[code]
But when I hide some columns,  actions width is expanding. I have tried Opera and Chrome brousers - all the same. Is this a bug?

[2020-05-12 13:44] marjanatwork opened #1907 "Option rowStyle is not applied after filtering in material-table"
**Describe the bug**
Hi,
I want to apply alternate coloring for odd and even rows in material-tabel in react application. I can successfully do it by calling my custom function , "AlternateRowColoring" when the data is loaded  but after I filter any columns the alternate coloring style function, "AlternateRowColoring" does not apply on filtered dataset. Same problem when I use search feature in ma

[2020-05-12 14:52] LeanderCoevoet opened #1908 "Dense padding prop does not apply to EditRow"
**Describe the bug**
If you use the dense option, it does not affect the EditRow.

**To Reproduce**
Steps to reproduce the behavior:
1. Take the basic example: https://material-table.com/#/docs/features/editable
2. Add this as options:
[code]
3. Try to edit or delete a row
4. See that the row has default size.

**Expected behavior**
The EditRow should be dense too. Having the EditRow be a differen

[2020-05-12 16:53] longsangstan commented on #1086
@Domino987

We don't need it.

The problem is when you use the custom render function for columns it will give you the wrong type (current type definition **& the tableData field**) :

[code]

[2020-05-12 20:09] nick-romano-kci commented on #1887
also in chrome

[2020-05-12 20:44] nick-romano-kci commented on #1906
this bug stinks. I'm sure there's a better fix.. but if you want a fix today, you can put the following style block in index.html, or a css file. probably a bad idea, since this could have side effects in newer versions.

[code]

[2020-05-13 09:21] vopecula commented on #383
Just a sidenote. If you want to trigger the data reload on the table from one of your action button handlers which holds some async functions, and you have a problem like your reference is null, than the following might help you:

[code]

[2020-05-13 09:43] kdpisda opened #1910 "I have data worth 1000 rows, so when using grouping, it does not work."
**I have data worth a few thousand rows, so when using grouping, it does not work.**

**To Reproduce**
Add any remote data source with data up to few thousands, and enable grouping.
Now when we try to group any column, it does not group.

**Expected behavior**
It should group as it does otherwise.

**Screenshots**
![screenshot-localhost_3001-2020 05 13-15_12_25](https://user-images.githubuserconte

[2020-05-13 12:10] yujinwunz commented on #820
For anyone looking at this, I was very happy when I found the solution here: https://github.com/mbrn/material-table/issues/547

[2020-05-13 13:17] yurivangeffen commented on #1837
Same here. `onRowUpdate` is only called after the edit is committed, but I want to update another component when stepping into edit mode of a row. I would expect
[code]
to do exactly that. Unfortunately it only fires after commit.

[2020-05-13 13:21] maolivieri commented on #1219
+1

[2020-05-13 14:48] eclafelix commented on #1538
The fix for me was really easy,  I just changed the index of the splice in m-table-filter-row to columns.length on line 269:

if (this.props.hasDetailPanel) {
          columns.splice(columns.length, 0, React.createElement(_TableCell["default"], {
            padding: "none",
            key: "key-detail-panel-column"
          }));
        }

[2020-05-13 15:13] vrajpal-jhala commented on #225
Hi @betocolon23,
I did it using MuiThemeProvider to override default styling, as MuiTypography-h6 component is being used for the table title.
[code]

[2020-05-13 15:15] betocolon23 commented on #225
Great!! Thanks

[2020-05-13 15:34] ShadrackAdwera opened #1912 "Currency Format"
My format is 'currency'. Is there a way to remove the $ prefix before the currency?

[2020-05-13 16:08] alexanderkho opened #1913 "Issues with column width and column collisions when using Fixed Columns"
**Describe the bug**
I have a table with up to 40 columns so I want to use a fixed first column and have the rest of the columns be horizontally scrollable. However I am running into strange behavior when using a fixed column and then trying to set the "width" prop.

**To Reproduce**
It works fine if I set all columns to equal width:

[code]

However if I try to adjust the width of just the first

[2020-05-13 20:43] alexanderkho commented on #225
Is there anyway to access MUI theme colors (I want to set color="primary") inside the headerStyle prop? Or would I have to use a custom override for this?

[2020-05-13 20:49] alexanderkho commented on #225
Is there anyway to access MUI theme palette colors directly in the headerStyle prop? I want to set color="primary". Would I need a custom override for this?

[2020-05-13 23:34] aaronlna commented on #1896
This was from mid-March.

[2020-05-13 23:50] ifndefdeadmau5 commented on #1896
@aaronlna Thanks for info :)

[2020-05-14 02:46] JoseHerradez commented on #1867
Same happening to me. Is there a workaround to solve this?

[2020-05-14 05:01] ambar opened #1914 "Feature Request: customSort(a, b, type, data)"
**Is your feature request related to a problem? Please describe.**

Custom group sort.

**Describe the solution you'd like**

`customSort(a, b, 'group', groupData)`

[2020-05-14 09:41] LoicHa commented on #930
Same issue here :/

[2020-05-14 09:49] paulrimiru commented on #448
Any progress on this feature?

[2020-05-14 15:31] dashName commented on #508
is there a way to remove the border-shadow (divider that appears after fixed column) while using fixedColumns property?

[2020-05-14 16:53] #1843 closed

[2020-05-14 16:56] raph90 opened #1915 "Typescript columns error"
I am creating a CustomColumn interface definition like this:
`export interface CustomColumn<T extends object> extends Column<T> {
  width?: string;
}`

and then using a hook to generate columns:
`export const useOverviewColumns = (): CustomColumn<OverviewTableData>[] => { ...etc`

OverviewTableData defines my data.
I also have some CSS styles that I'm using in the columns:

` const generalCellStyl

[2020-05-14 18:07] LoicHa commented on #1898
You seems to mutate your state, maybe this is the reason

[2020-05-14 23:36] thefat32 commented on #1913
Same here!

[2020-05-14 23:42] thefat32 opened #1916 "Provide a custom exportRender function for each column"
**Is your feature request related to a problem? Please describe.**
We are using material-table to export csv files. But when any column or column's title has a custom render that returns a React.Node (ex i18n Translate component) it get exported as [object Object].

**Describe the solution you'd like**
It would be usefull to have the option to provide a custom render function (row: RowData): strin

[2020-05-15 03:34] orhanhub commented on #820
if you are willing to use React Router (v5), you can push it to history which will render the page for you automatically. You have top tap into ```onRowClick``` functionality for Material-Table.

here is a sample

[code]

and wherever you are using your React Router Switch, add your <Route path="demopath" component={myDemoPathComponent} /> to the switch.

if you would like to ignore certain parts

[2020-05-15 05:27] oze4 commented on #820
What's wrong with `onRowClick`?  [You can easily override the row element](https://material-table.com/#/docs/features/component-overriding)..  Use the default row component (`MTableBodyRow`) wrapped in a `div` with a `title` attribute.

Similar to this example, but using the row component mentioned above, as well as a title attribute instead of style.. You should be able to integrate logic which d

[2020-05-15 05:44] oze4 commented on #1916
How are you setting the title? Are you using a function within the title (on the columns prop) like [here](https://material-table.com/#/docs/features/custom-column-rendering) or something else?

[2020-05-15 05:52] thefat32 commented on #1916
Hi there I'm setting columns like this

[code]

Translate component from react-i18n. So my columns are all text based but when exporting csv I have problems with columns titles and translated columns.

[2020-05-15 07:03] Tingwei-Justin commented on #1900
Thanks! This works for me!
By the way, why this works?

[2020-05-15 07:48] soumyaDivami commented on #661
Hey, can somebody help me as to how can I get the current page and set the same?

[2020-05-15 08:10] oze4 commented on #1916
@thefat32 it looks like you're going to have to add your own export logic to resolve this..

In the example below, the component I am using as the `title` contains a prop called `text`, which stores the text based representation of what is rendered on screen.  I am not familiar with the `Translate` component you are using, so I am not sure of the props it contains, but I assume you can drill into

[2020-05-15 10:02] LoicHa commented on #830
Hello guys i manage to perform it thanks to this comment on stack : https://stackoverflow.com/questions/55846015/how-to-remove-background-ripple-effect-from-custom-action-button-in-material-tab

I have now a perfect addbutton styled as i wished
![image](https://user-images.githubusercontent.com/28562111/82038488-e68c2000-96a3-11ea-8a20-2091cbcb6d16.png)

[2020-05-15 10:17] oze4 commented on #1910
What do you mean it doesn't work?  Do you get an error?  We are going to need more details in order to assist you..

In the example below, which has 10,000 rows, it works fine..

You can view a [live demo here](https://stackblitz.com/edit/react-t7wmbq?embed=1&file=index.js)

[code]

[2020-05-15 10:25] pbuitvydas commented on #1902
Had the same problem. But looking into how actions are processed https://github.com/mbrn/material-table/blob/3031eab70105df8d88c17984ca5cea878a9eae3f/src/material-table.js#L124-L137

I apears that you have to add position property to your function...
In your case:

[code]

[2020-05-15 11:20] saiava opened #1917 "Material-Table: How to pass dynamic column name to the render method"
Hi,
I'm trying to pass the dynamic column name to the render method along with rowData. How can i do that.
let element =[{title: "title1",field:"title1"},{title: "title2",field:"title2"},{title: "title3",field:"title3"}]
Columns:[
element.foreach(elm =>{
return ({ title: elm.title, field: elm.field, render: (rowData) =><div>I want to use the 'field' text here</div> })
}
]

[2020-05-15 13:05] manuFL commented on #1371
still no news from the master branch?

[2020-05-15 13:12] oze4 commented on #830
If I am understanding this correctly, you want to be able to add a new row using a button that lives outside of material-table?

The only way I could get this to work is by using `tableRef` as well as tying the `editable` prop to state.  The biggest downside to this is that while you are in the process of adding a new row, the toolbar icon is visible (the one you don't want shown).  In order to re

[2020-05-15 13:21] thefat32 commented on #1916
Great example! Thanks!

[2020-05-15 13:57] oze4 commented on #1917
Why can't you just use `elm.field` or am I missing something?  `elm.field` already contains 'field' text at that point in time..

Also, you will need to use `map` instead of `forEach`..

[Live demo here](https://stackblitz.com/edit/react-mq79he?embed=1&file=index.js)

[code]

[2020-05-15 14:16] mmihic96 commented on #676
@luciobordonaro This is not working for me.

I using "actions" prop. Exampl:
![image](https://user-images.githubusercontent.com/28544145/82060278-7394a080-96c7-11ea-81ae-57ee1fb57ab8.png)

I hope it will be fixed soon.

[2020-05-15 14:23] saiava commented on #1917
Yep, it is resolved. Thanks **oze4**

[2020-05-15 14:23] #1917 closed

[2020-05-15 14:53] oze4 commented on #1907
You should be able to use `makeStyles` from Material-UI for this..

[Live demo here](https://stackblitz.com/edit/react-krukbk?embed=1&file=index.js)

[code]

[code]

[2020-05-15 15:09] oze4 commented on #1903
It isn't clear what you are trying to do.. can you provide some example code?

[2020-05-15 15:09] oze4 commented on #1916
@thefat32 no problem, glad to help!  If this resolved the problem you were having, would you mind closing this issue out?

[2020-05-15 15:45] jroyleaz commented on #903
I know this is super old, but couldn't this be handled with proper state management? If you hooked into `onColumnDragged`... is what I was going to suggest, but when I tested that out just now, it was never called when I dragged a column header to the grouping box. It only fired when changing the column order, which is really too bad. Otherwise you might have been able to preserve the grouping in

[2020-05-15 15:55] jdhackn commented on #631
Has this issue been looked at yet?  This appears to still be an outstanding problem and it seems the issue has been quiet for some time now.

[2020-05-15 15:56] oze4 commented on #676
@luciobordonaro would you mind making a basic example using CodeSandbox for this? I cannot get it to work even with your instructions.

[2020-05-15 16:03] oze4 commented on #676
Ok so I managed to get it working.  You CANNOT use a function for your actions if you want to use the position property..

You can view [a live demo here](https://stackblitz.com/edit/react-csb18b?embed=1&file=index.js)

[code]

[code]

[code]

[2020-05-15 16:09] oze4 commented on #1662
I was able to get this to work - [see here for more details](https://github.com/mbrn/material-table/issues/676#issuecomment-629342351)

[2020-05-15 16:32] oze4 commented on #1904
Have you tried changing the order in the actions array? Can you provide an example of this issue?

[2020-05-15 16:50] mmihic96 commented on #676
@oze4
Good example. This working. But there is an issue, how I can control disabled/inactive in that case?
As You see in my example, disable action depending on row status.
Before You answered question I already put "Actions" under column prop.

Thank You again for fast answer.

[2020-05-15 17:11] luciobordonaro commented on #676
Yep, sorry forgot to mention that I wasn't working at the laptop to provide my example.
I'm using array for actions and names for icons as you mentioned.

This library is very powerful but lacks of documentation, maybe we can help improving this specific use case 👍

[2020-05-15 17:39] oze4 commented on #676
@luciobordonaro I have been keeping up with this repo for the past year or so and they are EXTREMELY slow moving, they don't address open issues, and they don't address PR's..  I even volunteered to help out (which would mean providing me with merge permissions, etc..), but I never got a response on that (shocker)..

I have been giving some serious thought to forking this repo and resolving issues

[2020-05-15 17:41] Wint57 commented on #1906
@nick-romano-kci Thanks a lot for your answer but your magic have not worked in my case. I have added this style twice (into component where there is material-table and into index.html) but something has overrided this style.

[2020-05-15 17:43] mmihic96 commented on #676
@oze4 Thanks. Everything working.

[2020-05-15 17:55] oze4 commented on #903
@Vindil would you mind providing a demo of your issue?  I was not able to reproduce it..

I'm not sure how you're implementing this, but you can [check out a live demo here](https://stackblitz.com/edit/react-uuniev?embed=1&file=index.js)

Drag any header to group, then let it run.. Data is added every 1500ms.

[code]

[2020-05-15 18:04] alexanderkho commented on #857
@iqasim-com can you give an example of how you are controlling query.search with a custom input field?

[2020-05-15 19:03] saiava opened #1919 "cellStyle & headerStyle not working"
I'm trying to set a cellStyle & headerStyle but not working properly. I have a column text size of 1000 characters i want to trim to a fixed size with ellipses. I'm using the below code but it is not resizing.

{ title: element.Title, field: element.InternalName
cellStyle: {
                height: 20,
                maxHeight: 20
              },
              headerStyle: {
                heig

[2020-05-15 20:35] jroyleaz commented on #903
@oze4 I was able to duplicate @Vindil's problem. The only difference I can see if that I have an async function in `useEffect` that is initializing the data and then being called within `setInterval`.  Oh and I'm also using a shared context, not a local state.

I decided to simplify my code a bit and ditch the context, favoring the easier to maintain local state, and the issue persisted. I tried m

[2020-05-15 20:48] oze4 commented on #903
@jroyleaz would you happen to have a demo/snippet of the code you used to reproduce?

[2020-05-15 20:50] alexanderkho opened #1920 "Remote data with no total count"
If I am fetching my data from an API that is not currently configured to return the total results count (pagination is achieved using results per page + offset), is it still possible to use the remote data feature of material table?

[2020-05-15 21:38] jroyleaz commented on #903
@oze4 Sure, it's a new project though, so mind the cruft. 😄

Also, `useInterval` is a custom hook that cleanly implements `setInterval`, based on Dan Abramov's article [here](https://overreacted.io/making-setinterval-declarative-with-react-hooks/).

[code]

[2020-05-15 22:07] aamirafridi commented on #1219
It will be tricky in a tree structure

[2020-05-16 01:42] jroyleaz commented on #1210
You could maintain your own counter and then map it back to the values for `columns.title`. It's not perfect or ideal, necessarily, but it works. Basically you'll want to:

**Create a Counter Map**
Use your `data` array to create a map that counts instances of a particular column (ie, data property that correlates to `columns.field`). Something like:

[code]

**Update Your Data**
Somewhere in your

[2020-05-16 03:08] oze4 commented on #1920
Yes, this is possible. Material table was built to handle scenarios such as these. See the [fetching remote data examples from the docs](https://material-table.com/#/docs/features/remote-data) for some good info.

[2020-05-16 05:38] kdpisda commented on #1910
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/22424149/82111869-8c539380-9765-11ea-94d9-762c7b46f6a5.gif)
There is no error on the console. Please check the GIF I have attached above.

[2020-05-16 06:06] ManalLiaquat commented on #1175
This solves my problem! Thanks @lucbas .

[2020-05-16 07:25] raph90 commented on #1915
To anyone else having trouble with this, React.memo was the cause, it was messing up a generic declaration

[2020-05-16 08:31] soumyaDivami opened #1921 "Retain Selection across pages"
Hi,
Can someone help me in retaining the selected rows in UI and display the checkboxes as checked when I switch pages for those selected rows.

[2020-05-16 14:12] thanhdinh98 opened #1922 "Is it possible for a row in tree data editable ?"
Firstly, thank you for this awesome datatable project you have made. I'm currently using this one in my project. It seems tree data currently just for displaying data. Is there any option for making a sub-row in tree data editable? If it has not done yet, is features like this one will be added in the future?
Thank you in advance.

[2020-05-16 16:40] alexanderkho commented on #1920
Hi @oze4 thanks for your reply. I'm asking if it is possible to do remote fetching when the API is not configured to return the total results count, e.g. something like this:

[code]

Currently the above code is throwing a prop types error saying that totalCount is required. I'm asking if there is any workaround for this or if remote data only works with API's that return total count.

[2020-05-16 19:33] oze4 commented on #1920
How do you expect Material Table to paginate when the total number of rows is unknown.

No this is not possible with any table.

[2020-05-16 23:15] oze4 commented on #1858
I am also getting an errors when trying to run the demo ***or*** build the project.

The fix you mentioned (commenting out the `filtering` prop) does resolve this for me ***BUT*** I was also getting a different error, which I was able to resolve as well.

<details>
<summary>
<b>Click me to view all of the errors I am receiving:</b> (it is worth noting that I incorporated an error boundary componen

[2020-05-16 23:31] oze4 commented on #1921
I would need to see some of your code, or an example if you would be so kind to provide one.. The behavior you describe is the default behavior of material-table.

[Please see this live demo, which shows how this is the default behavior](https://stackblitz.com/edit/react-nk6cec?embed=1&file=index.js).  Make a selection, change the page, then go back - it is still selected.

[code]

[2020-05-16 23:43] oze4 commented on #1922
I would need to see some of your code, or if you could provide a demo of the issue you are having, that would be even better... this is already the default behavior of material-table.

[Please see a live demo here that shows how you can edit a "sub-row"]()

[code]

[2020-05-16 23:55] oze4 commented on #1919
I would need to see some of your code as this is not something I can reproduce. I'd be willing to bet you're overriding styles somewhere else, though.

[code]

[2020-05-17 03:08] viseshrp commented on #1566
@leosolid have you tried this https://material-ui.com/components/tables/#collapsible-table
Putting it under a Collapse component might work?

[2020-05-17 03:12] alexanderkho commented on #1920
Since pagination is handled externally by my API I was hoping I could adapt material table to my use case, even if the total number of results is unknown. Sounds like this is definitely not possible though. I'll go ahead and mark this as closed.

[2020-05-17 03:12] #1920 closed

[2020-05-17 05:06] oze4 commented on #1920
@alexanderkho

It looks like you can leave `totalCount` empty and it should work.  I also added custom localization so that you can at least set the current page.  Without setting the current page it's hard to keep track of where you're at when paging.

It's tricky making this work without knowing the total number of items that could potentially be displayed in the table - if you don't even know h

[2020-05-17 05:47] oze4 commented on #1899
Honestly, your best bet is going to be to just recreate the table title component that is used internally.

[Something like this should provide what you are looking for](https://stackblitz.com/edit/react-vcm3qp?embed=1&file=index.js)

[code]

[2020-05-17 05:52] oze4 commented on #1894
I do not believe there is a way to do this.

[2020-05-17 05:55] oze4 commented on #1891
Yes, this is possible.  You have to use `stepped` under `options.paginationType`..

[See here for more (under the 'options' section).](https://material-table.com/#/docs/all-props)

<img width="654" alt="image" src="https://user-images.githubusercontent.com/21092343/82136965-07a25d00-97d9-11ea-9cc3-17f9a81f6053.png">

[2020-05-17 06:04] oze4 commented on #1890
Hi @DavidCutiopala `onRowUpdate` is what allows you to update data within the table.

[You can check out a live demo here of `onRowUpdate` in action](https://stackblitz.com/edit/react-rfyrdk?embed=1&file=index.js)

[code]

[2020-05-17 06:16] oze4 commented on #1886
Hey @ShadeeCat this is possible to accomplish via actions.

Use [`isFreeAction`](https://material-table.com/#/docs/features/actions) to accomplish desired behavior.

[Live demo can be found here](https://stackblitz.com/edit/react-grwdwv?embed=1&file=index.js)

[code]

[2020-05-17 06:24] oze4 commented on #1880
Hello, @mkim871 although it is extremely hacky, this can be accomplished.

[Please see my answer here](https://github.com/mbrn/material-table/issues/830#issuecomment-629228413) as well as [a live demo here](https://stackblitz.com/edit/react-vubq1a?embed=1&file=index.js).

[2020-05-17 08:18] thanhdinh98 commented on #1922
Thank you @oze4. I think I haven't given the question clearly yet. Let's me make some edit.
I can make the table editable with the same configs as you just gave. On onRowAdd, the table is just giving me add row to the parent's view. Something likes this
![image](https://user-images.githubusercontent.com/25563537/82139199-6fe05580-9850-11ea-81ed-727ea91ad09f.png)
For my need, I'd like to add a new

[2020-05-17 09:06] oze4 commented on #1894
@dmfarcas

I take that back - I was able to figure this out.. The only downside is it is a little hacky since you have to force a state change in order to re-render the edited row, otherwise the edited data does not show up...

[Check out a live demo here](https://stackblitz.com/edit/react-bmg4fq?embed=1&file=index.js)

[code]

[2020-05-17 16:03] orhanhub commented on #820
thanks for the responses oze4, wrapping MTableBodyRow in a div causes validateDOMNesting error on the console and the table formatting is ignored. To fix it you can use MTableBodyRow without wrapping in a div.

[2020-05-17 16:25] SooSoo-El-Shreer opened #1923 "Table Style corrupted when trying to use pagination and delete is not fulfilled"
**Describe the bug**
In the Material-Table (1.54.1) if you click on the built in row delete functionality but you don't confirm with yes or no. Instead you go to click on either previous or next then the table will display in a weird style. My table has server side pagination and uses the built in row delete functionality:
`                        editable={{
                          onRowDelete:

[2020-05-17 16:35] SooSoo-El-Shreer commented on #1923
I would like to say that I was checking if this also happens if I try the inline update. It also has the same issue. So this problem is not restricted to delete

[2020-05-17 16:58] oze4 commented on #820
@orhanhub nice!  Glad it works.

[2020-05-17 22:35] viseshrp commented on #1693
@Androsv96 Sorry, but I don't understand how that fixes the issue. The table is expected to resize based on its content. How is it possible to predict the right body height and set it dynamically every time?
@chetankumars can you please reopen this?

[2020-05-18 01:47] hemanthvrm commented on #1861
Add tableData: {checked: true}  to your data row before loading ...
sample https://codesandbox.io/s/material-table-selection-sample-wu0s1

[2020-05-18 07:04] soumyaDivami commented on #1921
Hi @oze4 , I should have been more detailed.
I was trying to implement my own paging into the material table by getting the page number and page size from the table and call the API then send that data to the material table ( I am not using the Refresh Data feature in Material table ) and this was successful however this caused above issue as the data changed every page so material table ( I think

[2020-05-18 07:26] oze4 commented on #1921
So you're using [the remote data feature](https://material-table.com/#/docs/features/remote-data)? If so, each time you change the page a paginated API request is sent to the endpoint you specify.  This means material table is only aware of the data that is returned from any given request.

When you change the page, both forwards and backwards, a paginated XHR is sent to the endpoint you supplied,

[2020-05-18 07:48] slhck commented on #1915
I'm getting a similar error. I want to define a custom table that takes in the same props as the `MaterialTable`:

[code]

And I want it to take all kinds of row data.

So I instantiate it like this:

[code]

And define my columns as such:

[code]

And when I use `<CustomTable columns={columns}>`, I get:

[code]

Any idea?

[2020-05-18 07:50] raph90 commented on #1915
@slhck How are you actually using your custom component? What worked for me was I made a component called CustomTable and then called
`<CustomTable<MyDataObjectInterface> {...props} />`

[2020-05-18 07:50] raph90 commented on #1915
Post your code if you want me to have a look because I solved this exact problem on Friday

[2020-05-18 07:54] slhck commented on #1915
I have a custom table:

[code]

And when I want to use it:

[code]

I notice that I did not actually use generics for creating `<CustomTable>` ...

[2020-05-18 07:55] oze4 commented on #1921
Are you using [the remote data feature](https://material-table.com/#/docs/features/remote-data)?

[2020-05-18 07:55] saiava opened #1924 "Error : Object Doesn't support property or method 'findIndex' in IE11"
Hi,

I'm getting the below error in IE11 when i use Material-Table in SharePoint Framework along with React. Below is my Code:

import * as React from 'react';
import "@pnp/polyfill-ie11";
//import 'core-js';
//import "regenerator-runtime/runtime.js";
//import 'core-js/es6';
//import 'core-js/es7/reflect';
//import "@babel/polyfill";
//import 'core-js';
import styles from './SpTableData.module.scs

[2020-05-18 07:58] soumyaDivami commented on #1921
No I am not using remote data feature. I am using my own handlers to get the pagination data and using to get data from database.

[2020-05-18 08:10] oze4 commented on #1921
In that case I think we need to take another step back... What is your goal with custom pagination? What do you want to accomplish?

[2020-05-18 08:13] slhck commented on #1915
I think I got it. Define the custom table as generic (see [this](https://stackoverflow.com/a/51463284)):

[code]

Then instantiate it like this:

[code]

[2020-05-18 08:17] raph90 commented on #1915
That's it, glad you solved.

[2020-05-18 08:19] soumyaDivami commented on #1921
I need custom pagination as I have to apply certain filters to the API call which I have already handled using hooks and want to reuse that code.

[2020-05-18 08:32] oze4 commented on #1921
Would you mind providing some code or a demo of what you're wanting to accomplish?  I'm not sure I understand what you mean.. Are you getting your data similar to the demo below?

### [Live demo here](https://stackblitz.com/edit/react-3y8wm7?embed=1&file=index.js)

[code]

[2020-05-18 08:49] saiava commented on #1919
This is not working. I've set the title to arount 200 char length & set maxheight to 5 but it is not setting to 5. My scenario is to set the height of header and cells to 5px with ellipses (...) appended.

import React, { useState } from "react";
import { render } from "react-dom";
import MaterialTable, { MTableBodyRow } from "material-table";
import tableIcons from "./TableIcons.js";

const rando

[2020-05-18 10:38] Arashfiroozabadi opened #1925 "add custom animation props or css style option for detail Panel in MTableBodyRow"
`function MTableBodyRow() {`
`var _getPrototypeOf2;`
`var _this;`
`.`
`.`
`.`
`(0, _classCallCheck2["default"])(this, MTableBodyRow);`

`    (0, _defineProperty2["default"])((0, _assertThisInitialized2["default"])(_this), "rotateIconStyle", function (isOpen) {`

# add customstyle prop
`return {
        transform: isOpen ? this.props.customstyle : 'none'
      };`
`}`

### its necessary for RTL com

[2020-05-18 12:01] DaanvandeHaar opened #1926 "Is it posible to use an async data promise?"
Hey, i've been trying to use the Material-Table in combination with some firebase data. But the table doesn't accept Object promises as valid data. Any idea if this is posible and if how i would implement this.

[2020-05-18 13:20] raph90 commented on #1830
Same for me, but issue is with font size and font weight.

[2020-05-18 13:41] ap705 commented on #631
Same problem here, when a new page is being generated and the item gets deleted. I'm getting this error.

[2020-05-18 18:42] oze4 commented on #1926
Yes it does... https://material-table.com/#/docs/features/remote-data

[2020-05-18 18:45] oze4 commented on #1925
Have you checked out the docs?  Your question is a little sloppy so it's exactly clear what you're asking.

https://material-table.com/#/docs/features/styling

[2020-05-18 18:47] oze4 commented on #1908
It looks like your best bet is going to be to override the `MTableEditRow` componnet and apply the styles that you need. https://material-table.com/#/docs/features/component-overriding

[2020-05-18 19:02] oze4 commented on #1919
But it is working... you even changed the header color and watched it change..  The settings you're using aren't working because some of them conflict with existing styles (or parent styles).

To resolve this [you'll need to override the header](https://material-table.com/#/docs/features/component-overriding) component, which will give you free reign of styling.

[2020-05-18 19:05] oze4 commented on #1919
Actually, this is working.  This is a css "issue" (it's just how css works, really) not a material-table issue.

[See updated demo](https://stackblitz.com/edit/react-f2ycnq?embed=1&file=index.js)

If you want to use text overflow in css you have to set a width...

[code]

[2020-05-18 19:55] doctorallen commented on #1903
@oze4 I have defined a `customSort` on a column of my table, because I have some custom sorting logic for a specific column. However when the table loads, it does not automatically sort that column, you have to click the column header for it to sort it. I want the behavior of `defaultSort`, how it sorts by a direction when the table loads, on the column that I've defined my `customSort` on. So on

[2020-05-18 20:30] oze4 commented on #1903
Gotcha.. that makes sense.

Why not just apply the custom sorting algorithm (the one you want to use as default) on the data you are passing into material-table?

Something like this:

[You can view a live demo here](https://stackblitz.com/edit/react-ydhhlm?embed=1&file=index.js)

[code]

[2020-05-18 21:15] oze4 commented on #1924
You may be able to use a custom polyfill for this..

[Found here](https://stackoverflow.com/a/41938119/10431732)

[code]

[2020-05-18 21:19] oze4 commented on #1901
Would you be so kind to provide some code or a demo that reproduces the issue you are having?  As you said, it works in one table but not the other.  This leads me to believe the issue has something to do with what you're doing in the non-working table.

[2020-05-18 21:21] oze4 commented on #1897
[This](https://github.com/mbrn/material-table/issues/891#issuecomment-538129763) may help.

[2020-05-19 05:08] oze4 commented on #1896
I went ahead and started a fork of this repo that will be maintained. [You can read more here](https://github.com/oze4/material-table-core#readme), but my goal is to resolve outstanding issues/PR's without drastic changes to the codebase..

[@material-table/core](https://www.npmjs.com/package/@material-table/core#demo)

[2020-05-19 06:09] saiava opened #1927 "Is there any thing like OnCellClick event?"
Hi,
Is there any feature like OnCellClick event. I want to open a dialog when user clicks on the cell data. I want to show that cell's data in a dialog.

Thank you
Saiava

[2020-05-19 10:19] oze4 commented on #1927
@saiava You could use the custom render function under the column property.. [More can be found here](https://material-table.com/#/docs/features/custom-column-rendering)

[2020-05-19 10:28] mtahir08 commented on #1912
@ShadrackAdwera you can add currency format like this
`    {
      title: 'Curreny',
      field: 'field-name',
      type: "currency",
      currencySetting: { currencyCode: 'USD', minimumFractionDigits: 0, maximumFractionDigits: 2 }
    },
`

[2020-05-19 11:05] #1927 closed

[2020-05-19 13:16] feleko commented on #1904
I don't mean actions.

This my code:
[code]

I want change order of columns   "actions"and  "editable".

[2020-05-19 13:30] saiava commented on #1924
can you please help understand to where do we add the above mentioned code?

[2020-05-19 13:42] LeanderCoevoet commented on #1908
I made a pull request with the changes in that will do the dense padding to the table itself by default if it is set global. If it is something that somebody doesn't want then he/she can overwrite it much easier because the size prop is set.

[2020-05-19 14:08] lkostrowski commented on #1802
Filter & search works for string data. It's fairly reasonable. If you use custom render, use `customFilterAndSearch` and provide your algorithm

[2020-05-19 14:10] viseshrp commented on #1693
I noticed even if you do set the body dimensions, the table makes the content scrollable and still has that extra padding, if you select a number of rows greater than the content that is displayed. You will see the padding when you scroll down the body. This is still a bug.

[2020-05-19 14:22] lkostrowski commented on #1277
This is seriously bad one...

I handle it by changing my columns to getter each time like this:

[code]

[2020-05-19 14:25] awardnasc commented on #1586
Issue #1005 was about this back in August of 2019 and Merge request #1010 apparently died waiting for a reviewer. I am running into this exact same issue with two tables beside each other. One empty, one full.

[2020-05-19 14:29] doctorallen commented on #1903
@oze4 I suppose that works, but it's not ideal since the table won't indicate which column is being sorted like it does when you set the `defaultSort`, it seems this might be my only option. Thanks.

[2020-05-19 14:29] #1903 closed

[2020-05-19 17:03] yurivangeffen commented on #1487
Same when updating the parent component (which probably triggers a re-render).

[2020-05-19 18:03] robertovg commented on #1905
👀?

[2020-05-19 18:05] PhilMcLachlan commented on #1830
I ended up using cellStyle to style the row text, so I don't actually need this fix now.  Hope this helps you.

[2020-05-19 18:21] thefat32 commented on #1916
I still think it would be nice to have a pair of functions in the column definition, so they can be used in the default exportCsv funtion. This way there is no need for the user to understand the csv generation process. My proposal is something like this:

[code]
And in default exportCsv function

[code]

What do you think about it?

[2020-05-19 18:22] thefat32 commented on #1916
If you think this approach could make it through I will make a PR

[2020-05-19 18:40] dyaacov commented on #291
I always get minimum of 150, no matter what I try.
please help

[2020-05-19 20:37] saiava commented on #1924
Hi I managed to add the above mentioned code. It is working fine if i remove the 'Filtering' option. I've attached the error that coming if i add filter option. One image is with filter option which is getting error. And other image is without filter which is getting the data correctly. Below is the code that i'm using.
Note: i'm having data like richtext html format for one of the column data

![

[2020-05-19 20:43] oze4 commented on #1903
@doctorallen I completely agree - it isn't ideal and they *should* work together..but if you look at the algorithm I'm using as default, you can see that it is sorting by the name property.

[2020-05-19 21:31] bargar commented on #647
See [this comment](https://github.com/mbrn/material-table/issues/1004#issuecomment-525274793) in related issue mbrn/material-table#1004 for a workaround.

[2020-05-19 22:53] oze4 commented on #1916
@thefat32 unfortunately, I do not have access to approve/merge PRs, and those that do have those permissions are not exactly responsive.

I went ahead and created a fork of this repo that will be maintained. It will always be 100% compatible with material-table and I do not plan on making dramatic changes to the code base. Ultimately, my goal is to knock out issues and PRs - if material table ever

[2020-05-20 02:58] thefat32 commented on #1916
Well I'd gladly present the PR in the two repos when I got the time

[2020-05-20 03:17] oze4 commented on #1916
No worries.. what I'm getting at is, your PR won't get merged here for like 6 months. They're not very responsive.

[2020-05-20 03:29] oze4 commented on #1926
Testing something.. ignore me..

@material-table/core::resolved

[2020-05-20 06:36] piekczyk commented on #291
the problem is also with enabling detailed panel and the same time have a hidden column. The calculation of width: calc(100% - 0px) / (number of columns) take into account also the hidden one which ruins styling.

[2020-05-20 07:26] piekczyk opened #1929 "Query parameter in data prop gather filters from other tables"
**Describe the bug**
Hey, I have a problem with using multiple tables in the same component (which also is material table). So basically situation looks like this

I have parent material table with enabled details panels for each record. As a detail panels I'm rendering another material-table (child table so to say) based on reusable component which wraps material table (so column settings, etc. a

[2020-05-20 13:08] SarthakU commented on #439
This is addRowPosition in options now, if anyone arrives here from google.

[2020-05-20 13:09] SarthakU commented on #439
This is addRowPosition in options now, if anyone arrives here from google.

[2020-05-20 17:04] Dagas16 commented on #1255
Any updates to this?

[2020-05-20 17:06] alfanjuni commented on #27
any update for this?

[2020-05-20 18:04] asifkabani commented on #225
@alexanderkho here is how I did it:

[code]

[2020-05-20 18:57] jesualdo13 commented on #404
Thank you, It worked

[2020-05-20 19:16] jttaynton commented on #291
In a previous version (1.56.1) the columns of the table would attempt to fill the space based on the data present.  In the latest version (1.57.2) it is calculating the width based on number of columns.  Is there any way to set this to work like the previous version?  That worked well for us.  The auto-width layout does not.  It looks like it is applying the width calc inline on each cell.  Is the

[2020-05-20 19:26] asifkabani commented on #1661
Any update on this? Or does anyone know how I can change the icon color if I can't use props. iconProps does not work for me either.

[2020-05-20 20:22] blshort43 commented on #1669
This just saved me a ton of time also. Thanks!!!!

[2020-05-20 21:33] marjanatwork commented on #1907
Hi Matt,
Awesome! It worked for me. Thank you very much for the solution.

[2020-05-20 21:33] #1907 closed

[2020-05-20 22:04] marjanatwork opened #1930 "How to create Tree Data structure in only one column of Material-Table (Display an array of values in a dropdown list in one cell of the table under a specific column)"
Hi,

I am using Material-Table in my React application. I have a column that is supposed to display  more than one value , it should display an array of values.
I want to display these values in a dropdown list with select option, in each row of the table , for this specific column.
For example, I have a column named "Areas" and I want to display an array of all areas related to that row of table,

[2020-05-20 23:00] kobechenyang commented on #830
Is there anyway to listen to the onClick event of default add button?

[2020-05-20 23:17] oze4 commented on #830
@kobechenyang are you referring to the "default add button" as the button that appears when you set:

[code]
If so, I have not found a native way to listen for that onClick event. The best I have been able to do is override components to intercept events..

[2020-05-20 23:43] noksenberg commented on #1359
Hello, any news regarding this?

[2020-05-21 00:57] kobechenyang commented on #830
@oze4 yes. But I want to keep the same behavior. I guess I can do what you do here
`const handleAddRow = () => {
    tableRef.current.state.showAddRow = true;
    setEditable({
      onRowAdd: newData =>
        new Promise((resolve, reject) => {
          setData([...data, newData]);
          setEditable();
          resolve();
        })
    });
  };`

[2020-05-21 01:17] oze4 commented on #830
Hey @kobechenyang I have a similar demo..

It is not complete - the only bug is that you can only select 'Add Row' one time.. If you select "Add Row", then cancel, and try to select "Add Row" again, nothing happens. Need to find a way to reset the state is where I left off, I believe..

[Live demo here](https://stackblitz.com/edit/react-fvu6j5?embed=1&file=index.js)

[code]

[2020-05-21 01:53] saikatstutorial commented on #1921
I think you need to keep track of tableData of each row which is generated by mat table.

[2020-05-21 01:58] oze4 commented on #1921
@saikatstutorial we would ultimately need to see how @soumyaDivami is handling his custom pagination. It's impossible for us to help with something when we don't even know how it's being implemented.

Like if he just wanted to display custom text I'm pagination then that is already built into material table.

Without knowing what the goal of his custom pagination is, we can't offer a valid solutio

[2020-05-21 02:19] sandeep194920 commented on #653
You might be using <Typography/> inside <DialogTitle/>. If this is the case and when you use variant prop inside Typography then you will see this error.
The solution to this is to use disableTypography prop inside <DialogTitle/> and you will get rid of this error.

// Here you can get error
<DialogTitle>
    <Typography variant="h6"/>
</DialogTitle>

// Here you can get rid of the error
<DialogTi

[2020-05-21 03:40] saikatstutorial commented on #1930
@marjanatwork I think you need this https://material-table.com/#/docs/features/custom-column-rendering

[2020-05-21 03:51] real2412 opened #1931 "New Localization/lang Spanish"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Please consider adding built-in Spanish translations to material-table.

**Additional context**

[code]

[2020-05-21 03:56] saikatstutorial commented on #1930
[code]

[2020-05-21 04:27] kobechenyang commented on #830
What I want to achieve is pre-populate the rowdata when the add button is clicked.
Looks like `tableRef.current.state.showAddRow = true;` will create a new empty rowData by itself.
it would be nice if there is a `onEditingStarted` event so we can manage the data by ourselves.
I ended up with something like this
[code]

`newItem` is a state I manage locally and have the data I want populated.

[2020-05-21 05:06] oze4 commented on #830
Hey @kobechenyang you can accomplish this by following these steps:

[You can view a live demo here](https://stackblitz.com/edit/react-amqzyk?embed=1&file=index.js)

 - Create a default row object (this default object could potentially reside in state as well....something to think about)
[code]
 - Override the `EditRow` component
[code]
**Core of live demo:**

[code]

[2020-05-21 09:18] cada592 commented on #1896
Thanks :)

[2020-05-21 10:10] hongjs commented on #448
following this feature

[2020-05-21 12:42] oze4 commented on #830
@kobechenyang actually, [it looks like the `column.initialEditValue` is what you're looking for..](https://material-table.com/#/docs/features/editable)

[2020-05-21 14:22] ksavic commented on #1849
One of the solutions is to configure editable section based on condition.

[2020-05-21 14:22] #1849 closed

[2020-05-21 16:59] parshuramreddysudda opened #1933 "Read only column doesn't support Create method."
When I tried to create a table with READ-ONLY permission for a column. It is working fine, but whenever I create a row then the Column which I have mentioned earlier as NON-EDITABLE is not at all editable, I don't want to edit it but the user can create the ID.

I think READ-ONLY for Column can be fixed by making it editable at the table creation time.

<img width="1440" alt="Screenshot 2020-05-21

[2020-05-21 17:32] oze4 commented on #958
/mtc::resolved

[2020-05-21 17:54] oze4 commented on #958
For those that are interested, I have been maintaining a fork of this repo - this issue has been resolved within that fork.

[You can read more here](https://github.com/oze4/material-table-core/blob/master/.github/MoreInfo.md) about why I created, and am maintaining, a fork of this repo.

[You can view the GitHub repo here](https://github.com/oze4/material-table-core)

[@material-table/core](https

[2020-05-21 20:13] EmmanuelORivera commented on #1930
Hi, it is possible edit the info inside of the option tag??

[2020-05-21 22:58] marjanatwork commented on #1930
@saikatstutorial
Thank you very much Saikat, I could render those arrays through your solution, I appreciate it! but the problem now is that I can not search and filter based on the values of this column. Since I am using lookup for filtering here,I think I need to do mapping between the lookup table indices and the column data, in order to make it searchable. Would you please let me know how can

[2020-05-22 05:33] Divisha-joshi opened #1934 "Unable to display loader while listing API is running in Redux"

[2020-05-22 08:50] slhck commented on #1915
Perhaps you want to close this issue if you solved it?

[2020-05-22 11:39] maurosbu commented on #1916
@thefat32 I'd like to propose to use `getValueAsText` also in search context. What do you think?

[2020-05-22 12:13] Steviebaa commented on #1074
Well that sucked. Turned out that i was feeding the data directly from the React state. Seems that material-table adds an object to each row `tableData: { id: _ }` so it was directly modifying the state! The initial load would work, but when the input was changed it called a fetch and updated the data, there was this extra object in each row that was causing the error. Fixed by cloning the tableDa

[2020-05-22 13:16] thefat32 commented on #1916
We've move our dependency to oze4 repo, will create the issue there and post the link here aftwerwards so we can continue the discussion there

[2020-05-22 13:29] thefat32 opened #1935 "Provide custom "text" functions used in exportCsv for non-text elements"
**Is your feature request related to a problem? Please describe.**
We are using material-table to export csv files. But when any column or column's title has a custom render that returns a React.Node (ex i18n Translate component) it get exported as [object Object].

**Describe the solution you'd like**
It would be nice to have a pair of functions in the column definition, so they can be used in th

[2020-05-22 13:29] thefat32 commented on #1916
We move here https://github.com/mbrn/material-table/issues/1935

[2020-05-22 13:30] #1935 closed

[2020-05-22 13:32] thefat32 commented on #1916
We move here https://github.com/oze4/material-table-core/issues/2

[2020-05-22 14:43] marjanatwork opened #1936 "How to change the style of lookup dropdown list in material-table"
Hi,

I am using Material-Table in React application. I have a long list of values in lookup dropdown list. I want to change(reduce) the height of the look up dropdown list in two fields of my table, so that the scroll bar be appear once the user open dropdown list. I am wondering how I can change the styling of these lookup dropdown list. I would appreciate it if you can help me in this regards.

[2020-05-22 16:18] niketh-boreddy commented on #1876
Hi @sahanjith
I've currently disabled the select all checkbox for my table.
You should be able to use the option `showSelectAllCheckbox` set to false for achieving the same

[2020-05-22 17:46] kobechenyang commented on #830
ah I missed that. Thanks !

[2020-05-22 21:12] oze4 commented on #1916
/mtc::resolved

[2020-05-22 23:37] Jhenri-silva commented on #139
I think the row could receive an visual effect when father row expand, I have no idea how to implement that effect :(

[2020-05-22 23:49] oze4 commented on #1916
This has been resolved in [@material-table/core](https://github.com/oze4/material-table-core) - You can use the `titleAsText: () => "Your Text Title"` column property for this. Check out a [code](https://github.com/oze4/material-table-core/blob/master/demo/src/Components/Demos/ExportCsvWhenColumnTitleIsNotText/index.js#L21) example here, as well as a [live demo here](https://oze4.github.io/materia

[2020-05-23 05:38] bryancolin commented on #1253
anyone knows how to work on useQuery apollo?

interface Row {
  id: string;
  username: string;
  email: string;
  password: string;
}

interface StaffData {
  allStaff: Row[];
}

interface TableState {
  columns: Array<Column<Row>>;
  datas: Row[];
}

const GET_STAFF = gql`
query getStaff{
  allStaff{
    id
    username
    email
    password
  }
}`;

export default function Customer() {

  cons

[2020-05-23 05:41] bryancolin commented on #890
Does anyone knows how to work on useQuery graphql?
`
interface Row {
  id: string;
  username: string;
  email: string;
  password: string;
}

interface StaffData {
  allStaff: Row[];
}

interface TableState {
  columns: Array<Column<Row>>;
  datas: Row[];
}

const GET_STAFF = gql`
query getStaff{
  allStaff{
    id
    username
    email
    password
  }
}`;

export default function Customer() {

[2020-05-23 09:44] pixelass commented on #890
@bryancolin your code-formatting is messed up so it's really hard to analyze the code. Also try to include a codesandbox example. One thing I can tell you for sure is that the following part makes no sense:

[code]

You might want to look into how react hooks work especially setState and useEffect. The snippet above does nothing except for setting an absolutely invalid model.

As mentioned, withou

[2020-05-23 11:07] bryancolin commented on #890
Here is my code
[code]

[2020-05-23 11:12] bryancolin commented on #890
I'm trying to display the data from the backend using graphql useQuery but i'm not sure how to set the State on the useEffect
`import React, { useState, useEffect } from 'react';
import MaterialTable, { Column } from 'material-table';
import gql from 'graphql-tag';
import { useQuery, useLazyQuery } from '@apollo/react-hooks';
import { MyTable } from './Table'
// import { Query } from 'react-apollo

[2020-05-23 18:19] oze4 commented on #1936
What do you mean by 'look up dropdown'?

[2020-05-23 19:13] Adnan-Hussain22 commented on #1867
Im also facing the same issue. Did you resolved it ?

[2020-05-23 19:15] mtahir08 commented on #1867
any work around on it?

[2020-05-23 19:58] pixelass commented on #890
As mentioned please look into your `setState` usage.
_Sidenote: Why are you using a `setTimeout`?_

**I think the main problem is that your code does not make sense.**

[code]

the result of your logic would be something like:

[code]

I have the feeling that your question is not related to the original topic of this question. Maybe you're better off on Stackoverflow or another community that offe

[2020-05-23 23:47] marjanatwork commented on #1936
When you create a lookup for a column , it provides you with a dropdown list containing the lookup items.
<img width="165" alt="region" src="https://user-images.githubusercontent.com/48732421/82742588-12974900-9d15-11ea-886d-acd889a3e0b0.png">

[2020-05-24 07:03] #1933 closed

[2020-05-24 07:04] parshuramreddysudda commented on #1933
We can user {Editable: onAdd} prop 💯

[2020-05-24 07:34] thanhmd commented on #1871
Same question.

[2020-05-24 11:51] sarbogast opened #1937 "Is it possible to customize the background color of the group row?"
Is it possible to customize the style, and especially the background color of the group row header that appears on top of each group when grouping is enabled to make it more visible?

[2020-05-24 16:55] maurosbu commented on #1410
@mbrn is it possible to replace Select element with Autocomplete one in lookup filter? Clearing selection in Select component is tedious. Thx.

[2020-05-24 17:28] hashweather opened #1938 "Table not scrolling"
I have over 200 rows with data and the table is not scrolling.

Also how do I set the default number of rows?

Thanks

[2020-05-25 00:42] hashweather opened #1939 "Data Set Has Changed Without Reflecting on Table"
I am updating my messages as below, yet the changes are not reflecting on the Material Table
Removal is not working,updating is not working

[code]

Here is my MaterialTable

[code]

Please help as I am confused as to why Removing Items and Updating Messages are not working .Thanks

[2020-05-25 00:44] #1896 closed

[2020-05-25 02:04] matthewkwong2 opened #1940 "[v1.58.0] [Breaking] Multiple issues"
**Describe the bug**
There are multiple issues in `material-table@1.58.0`
1. The following error is prompted if `search` is set to `true`, which is the default setting.
[code]

2. The style of `filled` search field is off.

3. The application will crash if `filter` is set to `true`.

**To Reproduce**
[![Edit material-table-bug](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codes

[2020-05-25 04:33] idanamit opened #1941 "Component stateChange resetting table pageSize when using remote data feature"
**Describe the bug**
I saw different issues talking about the same bug but not in the same way I'm experiencing it.

I have a component that displays the table and also a drop down list that on selection changes the state of the component.
Each time the state is being updated the table page size is being reset to the default value (in the default options case it's 5).

It seems as the table saves

[2020-05-25 04:59] saikatstutorial commented on #1930
@EmmanuelORivera I think best solution would be, have a button (next to select) to open a modal and edit select options

[2020-05-25 05:19] saikatstutorial commented on #1930
@marjanatwork seems this has to be an enhancement to use lookup as function with rowData

[2020-05-25 05:31] saikatstutorial opened #1942 "Editable: onEditStart"
Can we have a **onEditingStart** function of editable to perform something when edit button is clicked?
Criteria:

- Shall work on both Add and Edit

- Shall have mode and data as params

[2020-05-25 05:35] hongjs commented on #1829
following this feature

[2020-05-25 06:24] watchsteve commented on #1858
I got this same exact bug in my own code using the lastest version of material-table. I downgraded to 1.57.0 and it fixed the issue.

`import React from 'react';
import { daysUntil } from '../../helper';

// @ts-ignore
import MaterialTable, {MTableToolbar} from 'material-table'
import { makeStyles } from '@material-ui/core/styles';

import Container from '@material-ui/core/Container';
import Icon

[2020-05-25 09:27] vuk-niko commented on #1219
Any news on this topic ?
thanks

[2020-05-25 09:58] #1940 closed

[2020-05-25 09:59] mbrn commented on #1940
Hi @matthewkwong2

Thanks for bug report.

I solved crash and warning problem (1 & 3). But searchFieldVariant works as expected. Please check again.

Version 1.58.1 published.

[2020-05-25 11:49] fabiiomariiano commented on #1805
Is there any update about this issue?

[2020-05-25 12:14] uraz commented on #1625
You can add `width` property to items in columns array, like so:

`const columns = [
  { title: 'Title', field: 'fieldName', width: 'auto' },
];`

[2020-05-25 14:40] skitsanos commented on #1625
@uraz  thanks for the info, with width attrib on column directly it does works, so the width shouldn't be at `headerStyle`

[2020-05-25 20:03] marjanatwork commented on #1930
@saikatstutorial  Would you please give a sample code for this? Thank you

[2020-05-25 20:04] marjanatwork commented on #1936
@oze4
When you create a lookup for a column , it provides you with a dropdown list containing the lookup items.

areas1

Areas

[2020-05-25 21:44] South-Paw commented on #1625
@uraz cool 👍

Seems to work, but `width` is missing from the material-table `Column` type

[2020-05-25 22:20] Jhenri-silva opened #1944 "there's a way to get rowData props passed to the property icon on actions?"
In example, I have a button action in the action as a column, but I want this button rendered by the icon that it could receives state, that button has css properties that change due the state receiving in parameter. Or even disabled getting row props too, it would help so much

How could I access rowData inside the component I'm rendering in the icon property of actions?

`            actions={[

[2020-05-26 09:05] saiava opened #1945 "Material-table: datepicker icon in filter column is not displaying"
HI,

I've a table with a text and date type of column. I want to replace the default icon for free text filter column with search icon. and the date column should be the default date picker icon. My problem is i can able to replace the default text field icon with Search icon. But the problem is the Date column is not showing the datepicker icon in the date type of columns. Below is my code.

impo

[2020-05-26 11:26] sarbogast opened #1946 "Add a possibility to show a button to reset all filters at once in the filter bar"
**Is your feature request related to a problem? Please describe.**
I have filters set on several columns, including some columns with a big lookup table, so with options potentially selected all across the list, and no button to reset those filters individually.

**Describe the solution you'd like**
At the very least a button to clear individual filters with a lookup, the same way we can already r

[2020-05-26 12:06] m3h0w commented on #628
Same problem here. Other components' using material UI style is changing when I include the material-table.

[2020-05-26 12:09] rizabek-mukanov commented on #9
were you able to find solution for this issue?

[2020-05-26 14:02] maitedev opened #1947 "Override loadingType"
Hello! I wanted to know if by any chance I could stop showing
Loading animation. I would like to use my own animation, general for my application, not just for tables. I tried leaving the loadingType option: "", but it is an error on my part.
Thanks in advance. :)

[2020-05-26 14:35] harveyappleton commented on #1048
@yakuphanbilgic  - I ended up wrapping the MUI table in a div with a unique id (used lodash to generate and store in a useRef hook to keep it "constant").

you can then use a simple querySelector to focus the input

`        let input = document.querySelector(
          `.${id.current} input[type='text'].MuiInput-input`
        );
        if (input) input.focus();`

its a bit hacky, but it worked

[2020-05-26 16:48] thepetas commented on #1497
Hi, do you plan to add this feature in the near future ?

[2020-05-26 17:40] reckinam opened #1948 "How to make all rows inline editable"
I was looking for the solution by default to show all rows editable instead of clicking edit and save.is there any option to do? .Thanks in advance

[2020-05-26 18:46] dashName commented on #1193
do we have a way to show onRowAdd conditionally similar to **isEditable**  in editable.I want to allow add for only certain condition.

[2020-05-26 18:48] Domino987 commented on #1193
What do you want to depend it on?

[2020-05-26 18:49] dashName commented on #1193
based on user role

[2020-05-26 19:08] DominikEngel commented on #1193
Yes you can make it conditional by just returning undefined for onRowAdd instead of a function like that:
[code]

[2020-05-26 19:11] dashName commented on #1193
Thanks you so much.This is what i needed.

[2020-05-26 21:31] sanathkumarx commented on #1092
Facing the same issue. It would be nice if grouping was temporarily disabled onRowAdd since the columns which are grouped by will be empty value.

[2020-05-26 21:57] sanathkumarx opened #1949 "Add row with grouping missing the grouped columns"
**Describe the bug**
If we use grouping and editable at the same time, when a new row is added the add row form will not have the columns which are grouped by. So when the new row is added the columns which are grouped by will have empty values.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://material-table.com/#/docs/features/editable
2. Add grouping
`options={{
       groupin

[2020-05-26 22:50] renemroger commented on #1863
You can let react take care of the re-rendering. I just added editable text fields to a detailed panel and I passed down the value and the setter to the data object.

[2020-05-27 01:27] Clemios opened #1950 "Add options.editCellStyle"
**Is your feature request related to a problem? Please describe.**
It's impossible to beautifully control the `CSS` of the `<td>` generated by the `editable` feature.

**Describe the solution you'd like**
I need a new option called `editCellStyle`, working like `actionsCellStyle`

**Describe alternatives you've considered**
🙅  No consideration

**Additional context**
I'v send a video on the gitter

[2020-05-27 02:11] ifndefdeadmau5 commented on #676
There's a way that can use action as a function, what causes the problem is this line
https://github.com/mbrn/material-table/blob/dee28035ad478cede5fa2da9f41df8409a62dead/src/material-table.js#L124-L132
which check if `options.selection` is true and the type of action is function. and then force to set 'toolbarOnSelect'.

Hence, we just can provide `options.selection` to the `m-table-body-row` dir

[2020-05-27 04:42] keshavashiya commented on #1894
How can we delete when hover on row, with confirmation text.

[2020-05-27 05:21] keshavashiya opened #1952 "How can we delete when hover on row, with confirmation text."
The solution of this issue is here #1894

[2020-05-27 06:17] ifndefdeadmau5 commented on #1948
Unfortunately not that I know of..

[2020-05-27 06:55] sureshtidbit commented on #1304
hey @mbrn have you find any solution and change code for that because on redux also when data change but material table is not re-rendering as per new props data

[2020-05-27 08:51] batuhanarslan opened #1953 "Is it possible lookup columns filter as radio button instead of checkbox?"
I need only one selected item instead of more, like active or passive user selection. Is it possible?

[2020-05-27 12:00] lm93547 opened #1954 "Editing a nested table within the details panel?"
Hi all, I have some complex json data that needs to be passed into a table, that has a nested table in the details panel, and both of these need to be editable. So far I have the outer table being editable. Any help much appreciated.

My data structure is as follows:
[code]

So far the table is successfully showing the data, using the state and setState in react.
Once the table is build I have tri

[2020-05-27 13:22] eloyrubinos commented on #1821
Hi @mbrn,

I'm having trouble updating page size when fetching remote data. Is there something specific I should be implementing for this to work? In my case I don't have to do anything for the page size to revert to default.

Currently I'm using a simple table with a few columns and no options, and I'm passing a function that uses the query object to save some filters and then fetch the data.

Wh

[2020-05-27 13:58] markosimulak opened #1955 "Wrong parameter name"
Hi everyone,

I've just found out that **FilterComponent**  has wrong parameter name for one of its props.

`filterComponent?: ((props: {..., onFilterChanged: (rowId: string, value: any) => void})...`

As you can see from code above, **onFilterChanged** function for the first parameter takes **rowId** instead of **columnId**.

**Expected behavior**
Rename **rowId** to **columnId**, since it's rela

[2020-05-27 14:10] Clemios opened #1956 "Add options.detailPanelColumnStyle"
**Is your feature request related to a problem? Please describe.**
It's impossible to beautifully control the CSS of the `<td>` generated by the detail panel column.

**Describe the solution you'd like**
I need a new option called `detailPanelColumnStyle`, working like `actionsCellStyle`

**Describe alternatives you've considered**
🙅 No consideration

**Additional context**
It will make this table

[2020-05-27 14:29] Wait4Code opened #1958 "Improve typescript definition for Column.filterComponent props"
**Is your feature request related to a problem? Please describe.**
Using Column.filterComponent option troubles me because type definition is not really accured.
It is described as
[code]
In fact, as far as I seen, columnDef props is not only a `Column` type but also a `EditCellColumnDef`. This is particularly annoying when trying to access `tableData` attribute.

Also, `rowId` is a bit confusing

[2020-05-27 16:38] shasanka opened #1959 "event listener for sorting"
Is there a way to add event listener to sorting in the table column headers.
For example, if I click on the table header it sorts it in "asc" or "desc" order, but what I want is when user clicks on it, I should be able to get the state of sorting and then store it in react state so that even if user moves to another page and returns back, his sorting state should be same which he selected previous

[2020-05-27 16:40] oze4 commented on #1048
Another way you could do this is by overriding the toolbar, wrapping in div, giving that div an ID, and setting focus that way.

You also may be able to do this using refs? Not sure..

### [Check out a live demo here](https://stackblitz.com/edit/react-kpexmh?embed=1&file=index.js)

[code]

[2020-05-27 17:18] mguthmuller commented on #236
Any news about this request? I need also to disable onRowClick events for actions cells...

[2020-05-27 17:23] oze4 commented on #1894
@keshavashiya you would follow a similar pattern to 'edit'.

### [Check out a live demo here](https://stackblitz.com/edit/react-k9npeu?embed=1&file=index.js)

[code]

[2020-05-27 17:25] keshavashiya commented on #1894
@oze4  I tried similar method but I'm not able to display confirmation delete text It directly delete row.

[2020-05-27 17:30] oze4 commented on #1894
@keshavashiya did you check out my demo? It prompts for confirmation, etc.. is that what you're looking for?

[2020-05-27 17:33] keshavashiya commented on #1894
@oze4 Thanks I want this type of solution.

[2020-05-27 21:56] vireshshah commented on #1921
@oze4 I think it's a valid requirement that @soumyaDivami has raised. If I correctly understand him, he is grabbing limited data (based on page size) via API and binding it to material table. Where as in your example, you are grabbing all the data up-front and applying pagination on client-side.

I am exactly doing same that @soumyaDivami has mentioned. In that case, we have to maintain selected r

[2020-05-27 22:08] oze4 commented on #1921
Are you using [the remote data feature?](https://material-table.com/#/docs/features/remote-data). I asked @soumyaDivami if they were using async/paginated data and they said no. From what I can tell, they're grabbing all data up front and trying to implement their own pagination.

If you are using remote data, then it auto paginated for you - getting selections to stay page by page, if you are usi

[2020-05-27 23:01] vireshshah commented on #1921
What do you mean by this? To clarify, I am using remote data feature as well but selection does not persist. Here is the sample code:

[code]

[2020-05-28 00:35] tonypee commented on #1868
have you set sort:true ?

[2020-05-28 01:23] matthewkwong2 opened #1960 "Empty table row has the wrong height"
**Describe the bug**
According to the [Material Design Specification](https://material.io/components/data-tables#specs), the height of the table row should be 52 dp (53 dp if counting the row separator), while currently the height of the empty row is 49 dp.

**Expected behavior**
The height of the empty table row should be 52 dp (or px in CSS).

[2020-05-28 02:06] oze4 commented on #1921
@vireshshah

That is my point - **you** are using the "remote data" feature, but @soumyaDivami said he was ***NOT*** using "remote data"..

With that being said.. when using "remote data", each time you change the page, *whether forward, or backward*, a request is sent to your server for the data to display in the table. ***Your backend database is the single source of truth for the data that gets

[2020-05-28 04:30] hongjs commented on #1868
did you mean sorting:true ?
I believe default value of "sorting" is true, both "options" and "columns"

[2020-05-28 04:35] hongjs commented on #1959
did you try this?
onOrderChange(orderedColumnId, orderDirection)

[2020-05-28 04:41] hongjs commented on #1879
try this
[code]

[2020-05-28 06:25] #1952 closed

[2020-05-28 06:42] #1048 closed

[2020-05-28 08:30] cmontois opened #1961 "Detail Panel Expand Icon"
**Describe the solution you'd like**
I just want to open a detailPanel in one specific column of the table, and so I want to be able to hide the "expand detail panel icon".

![image](https://user-images.githubusercontent.com/12199643/83117951-01ac5600-a0ce-11ea-84e4-a5e8d0487ce3.png)

**Describe alternatives you've considered**
I have managed to trigger the detailPanelToggle function from the Chip

[2020-05-28 08:45] vignesh-udhay opened #1962 "How can i swap the position of cancel and save button in sticky delete confirmation box ?"
![image](https://user-images.githubusercontent.com/20068785/83119146-f74d8480-a0ec-11ea-94d6-c6c7b5a2f520.png)

[2020-05-28 10:40] sureshtidbit commented on #703
still i face problem in 1.58.2 when redux change limit attribute that not show in mtable
 <MaterialTable
        columns={columns}
        tableRef={props.tableRef}
        title="Manage Facility"
        isLoading={!props.remote}
        onSearchChange={e => searchInData(e)}
        data={props.facilities}
        options={{
          pageSize: props.limit,
          emptyRowsWhenPaging: false,

[2020-05-28 10:50] sureshtidbit commented on #957
this does not work when value coming from props not from state. @dmyalik

[2020-05-28 11:23] tonypee commented on #1868
I just battled with this today too. Think i figured it out.

The first paint (render of the component) will have empty values, because the useState values are defaulted to []. This will render the Table, with its columns == []. This means that he columns do NOT have defaults. ie the defaultSort is null for both.
When you run the effect, it sets the VALUES of the columns, but the defaults have no e

[2020-05-28 11:38] martin-trajanovski commented on #1219
+1

[2020-05-28 12:37] royliu007 commented on #1646
that really what I want :)

[2020-05-28 14:54] vireshshah commented on #1921
Thanks @oze4 for your help with great example! One thing I noticed, is when you click "Select All" it adds the selected rows to cookie but doesn't remove those data when you uncheck "Select All". Because "clickedRow" argument of `handleSelectionChange`  is undefined. I think I have to maintain local variable as well to maintain array of currently selected rows for specific page and use that when u

[2020-05-28 15:46] shasanka commented on #1959
Hi thankyou for you reply.
I have tried onOrderChange(orderedColumnId, orderDirection), here the issue is, sometimes orderedColumnId goes to -1 and I am not sure why and my second issue is even if I get column Id how do I set "asc" or "desc" on a specific column which user has selected even if page is refreshed.

[2020-05-28 21:05] oze4 commented on #1921
Hey @vireshshah that was just a quick demo I whipped up to show how your overall goal can be achieved. I tried to work out the glaring or 'obvious' bugs, but it can definitely be elaborated on.

As far as the issues you're having, I am not sure - I would have to dig into them. Although, you should be able to tweak the code so that you get what you're looking for.

[2020-05-28 21:53] dimabitsorchestra commented on #957
As a solution, you can use componentDidUpdate() hook and set state there.

`componentDidUpdate(prevProps) {
  if (this.props.pageSize!== prevProps.pageSize) {
    this.setState({pageSize: this.props.pageSize});
  }
}
`
and then use it in table options
`options={{ pageSize: this.state.pageSize }}`

And again to avoid other issues it is better to use a material-table approach with remote data like [

[2020-05-28 22:37] vireshshah commented on #1921
Sure thing. I would take care of that. Thanks for your help!

[2020-05-28 23:59] tonypee commented on #1868
The placed docx is getting an error that it is not a valid PDF. I think there is something else going wrong
![image](https://user-images.githubusercontent.com/3086901/83205861-0129c300-a193-11ea-98f6-ae0eb8ce1b9e.png)

[2020-05-29 00:41] royliu007 commented on #261
in the options you can disable the pagination by using `paging: false`
[code]

[2020-05-29 00:55] oze4 commented on #1961
So you want to hide the green icon?

[2020-05-29 00:56] oze4 commented on #1960
Nice catch!

I'm sure they'd accept a PR for this, though. Let me know if you plan on knocking it out - if not I can do it in a little bit.

[2020-05-29 03:39] mikepricedev commented on #563
It seems internal state is being collocated on `rowData` passed in the `data` prop to MT.  If any of the `rowData` instances (representing the same data) change between renders, that state gets wiped out.

Could this be addressable with a public `onDetailPanelToggle(rowData, expanded:boolean)` cb and a `expanded` boolean on the `DetailPanel` or `Column` objects?  Allowing for state tracking indepe

[2020-05-29 06:37] Domino987 commented on #1962
@vignesh-udhay can you show us what you already tried and what did not work?
Maybe take a look at the row override and see if you can swap them there.

[2020-05-29 06:38] Domino987 commented on #1961
Or do you want to hide the arrow to the left? If that is true, you can override the icons via a prop and just pass null as the appropriate toggle icon.
See the readme for details.

[2020-05-29 06:40] Domino987 commented on #1959
Ordered Column id will be -1 if no sorting is taking place and the data is not sorted . You need to persist the current sorting for example adding it to the URL and set the default sorting of the columns of the URL has the appropriate parameters on render.

[2020-05-29 06:42] Domino987 commented on #1958
Can you create a PR and we will take a look at it ?

[2020-05-29 06:43] Domino987 commented on #1955
Related #1958

[2020-05-29 06:49] Domino987 commented on #1954
Hi , since this is not a issue with the table itself, could you close the issue, putbyiur code in a sandbox, post it to stack overflow and I will take a look at it, if you link me? Thank you.

[2020-05-29 06:50] Domino987 commented on #1953
Did you try to make the column type Boolean? Instead of lookup and use the render prop to show whatever the lookup provides?

[2020-05-29 06:53] Domino987 commented on #1948
Yes that is not supported. What you could do is override the render prop of the columns to be a textfield and handle the update yourself onChange

[2020-05-29 06:56] Domino987 commented on #1947
Can you elaborate on what you are doing? Why do you have a loading spinner in the first place? It only appears if you set is loading or use the asnyc data functionally.

[2020-05-29 07:01] hongjs commented on #1959
this could help
options: { thirdSortClick: false }

[2020-05-29 07:12] Domino987 commented on #1946
Seems like a good idea. Do you mind doing the individual delete lookup button as a PR?

[2020-05-29 07:26] #1961 closed

[2020-05-29 07:27] cmontois commented on #1961
@Domino987 thanks I didn't notice we could pass null my bad sorry for the issue ^^

[2020-05-29 07:38] DominikEngel commented on #1944
You can pass a function as the action and access the rowdata like this:
` rowData => ({
          icon: 'delete',
          tooltip: 'Delete User',
          onClick: (event, rowData) => confirm("You want to delete " + rowData.name),
          disabled: rowData.birthYear < 2000
        })`

[2020-05-29 07:47] thaind97git opened #1963 "Have any future to disable auto search when key-press completed."
Currently, I'm want to search text by the restful API. But after I key-press any character, the `onSearchChange` props always auto search with data on the client, and then the data inside table auto-refresh depends on the text search.

I read code inside your Github code, and I see the `this.onQueryChange(query)` always called.
[code]
Have any props option to modify this future?

_Ex: If we pass a

[2020-05-29 08:41] royliu007 commented on #888
I tried the justifyContent prop. but it is not working, I don't know why,
I used paddingLeft instead to move the icon to the center of the cell.
[code]

[2020-05-29 08:42] DominikEngel commented on #1390
Is this still valid? I cannot reproduce it anymore?
Here is a [sandbox](https://codesandbox.io/s/gracious-cannon-eb7bs?file=/src/App.js) with a clean install.

[2020-05-29 08:47] FroggDev commented on #888
Read the post of the 10 Apr then check JeffEmery commit

[2020-05-29 08:52] DominikEngel commented on #994
You can access via the passed event like this:
`
onRowClick={(event, rowData) => {
console.log(e.target.getAttribute('value'))}} // Baran
`

[2020-05-29 10:01] vignesh-udhay commented on #1962
![image](https://user-images.githubusercontent.com/20068785/83247207-d3f40980-a1c0-11ea-8a55-7ba967ef4537.png)

I've found out that I have to override the 'EditRow' component when mode === 'delete'. But I'm not quite sure how to go about it. Do I have to pass in some props to the 'MTableEditRow' component like actions prop or should I return an entirely new component by using the props from 'EditR

[2020-05-29 10:37] ganeshr43 commented on #315
This is an important feature! @mbrn have you picked this? If not, let me know, I will try to address this.

[2020-05-29 12:26] Clemios commented on #1888
I need the same kind of feature. Impossible to get data if i click on the expand icon. I can achieve it using `onRowClick`

[2020-05-29 12:48] JasonLunsford commented on #1888
I found a solution to this issue. Specifically a solution that allows us to fire an async process that gathers the data required when a row is toggled and display it upon delivery. The solution requires the use of functional components and the useEffect hook.

In the table pass an anonymous function to the `detailPanel` property:

`detailPanel={rowData => <SubTableComponent rowData={rowData} />}`

[2020-05-29 12:55] maitedev commented on #1947
Hi Domino, thanks for answering. In the app, I am using a load mask component, which will remain active until a response is received from the server. This load mask is activated on all asynchronous requests made in the application. The table material has its own load and since I am using the remote data function I am showing two load masks, mine and the table. The application can continue working

[2020-05-29 13:00] Clemios commented on #1888
Sure, i have something similar :

[code]
on `<MaterialTable>`

I fetch my data using `redux-saga` and when the action is done i store the line id to be able to to :
[code]
It's working fine, but ONLY if i click on the row, if i click on the expander icon, it do not trigger `onRowClick` so i do not fetch any data.
I need something like `onToggleDetailPanel` usable as `onRowClick`.
Thanks for your a

[2020-05-29 13:05] JasonLunsford commented on #1888
Right, that `onRowClick` thing is not helpful to us either. The thing about using the useEffect as I outlined is that it fires when the component mounts, that is when the row is toggled using the expander icon. I admit this is a work around but the code works as expected and we get data when the user expands the row (not on row click).

[2020-05-29 13:31] marjanatwork commented on #1930
@saikatstutorial  Hi,
I am wondering if you have any suggestion for any alternative way for implementing that.
I would appreciate it if you can help me in this regard.

[2020-05-29 13:57] c0c4i opened #1964 "Change icon on editable with another component (like button)"
Hello, is it possible to have button instead of icon on editable table?
I know that for actions is possble but i can't find a solution for editable.
https://imgur.com/a/yqCKV2x

[2020-05-29 14:04] saikatstutorial commented on #1930
@marjanatwork you may use customFilterAndSearch at column level to implement own search logic

[2020-05-29 14:43] arheinjohnson commented on #331
+1!

[2020-05-29 15:08] shasanka commented on #1959
I understand, Thankyou

[2020-05-29 15:08] shasanka commented on #1959
That worked, thankyou

[2020-05-29 15:24] Jhenri-silva commented on #1944
I didn't see the interface index, its able to receive a function that return Action<rowData>. Tks

[2020-05-29 15:24] #1944 closed

[2020-05-29 15:32] Jhenri-silva commented on #1944
I suggest admin to put a props on the function of property icon of interface Action<rowData>

![image](https://user-images.githubusercontent.com/34718184/83277328-45738e00-a1a8-11ea-9fd0-0f6647bb692a.png)

[2020-05-29 16:20] nickdnickd commented on #1887
Dealing with this now, it might have to do with how the action cell is styled.
I've been plugging in random style objects from [this](https://github.com/mbrn/material-table/issues/888) thread to get the action buttons to center. Not ideal.

[2020-05-29 20:54] vireshshah commented on #1921
@oze4 I am little bit struggling to fix couple of issues. Please see, if you can give some pointers. Thanks!

1. As we're updating state in `getData`, I am getting https://github.com/mbrn/material-table/issues/748 issue now where search focus gets lost.

2. When we're overriding toolbar, somehow it re-renders my child components even I am using React.memo. Please check below code. Even though `Cus

[2020-05-29 21:15] oze4 commented on #1921
@vireshshah I think it would be easiest if you could provide a minimal reproducible example using CodeSandbox or StackBlitz.. The search losing function is happening because of how you are setting state - something is setting state when you type, which causes the rerender and ultimately the loss of focus.

Does the demo I provided exhibit the same behavior? Meaning, if you type in the search does

[2020-05-29 21:38] carllau999 commented on #1141
Same issue here, when passing data from a remote source to a variable _data_ with useEffect, then passing _data_ to material table causes the same error

[2020-05-29 22:53] vireshshah commented on #1921
@oze4 Here we go. I forked from your shared code and updated it to show how I am using it. [Please check here](https://stackblitz.com/edit/vireshshah). So here are the issues, where I would really appreciate your help. Thanks!

1. As I mentioned, search does lost focus and it's happening in demo that you shared as well.
2. When we're overriding toolbar, somehow it re-renders my child component eve

[2020-05-30 01:33] ntai opened #1965 "MaterialTable type does not have onQueryChange declared"
**Describe the bug**
`When` using tableRef of MaterialTable, onQueryChange and other functions are not declared for TypeScript. For example, my app complains as:

[code]

**To Reproduce**
[Here is the sandbox](https://codesandbox.io/s/react-typescript-u9y71?file=/src/index.tsx
)
Look for onQueryChange(), and see the lint message.

**Expected behavior**
It should not cause TypeScript compilation er

[2020-05-30 03:40] carllau999 commented on #1074
I had the same issue as mentioned by @Steviebaa and @Miles-Garnsey .

I fixed it by setting data={JSON.parse(JSON.stringify(tableData))}

[2020-05-30 05:37] keshavashiya opened #1966 "Override horizontal scroll on hover at left and right side of table"
@oze4
How can we control horizontal scroll by hover on left and right side of the table to scroll columns.

[2020-05-30 06:25] oze4 commented on #1921
@vireshshah It doesn't look like the search feature and remote data feature play nicely together.

## This reason for this issue

 - Material Table sets state to whatever you type in the search bar, on each "key press"
 - When state changes, things re-render
 - Since we are using a function (aka remote data) and not just a plain JS object, that function gets called each re-render
 - Then you lose

[2020-05-30 08:36] raph90 opened #1967 "How to add styling to tableContainerDiv"
I need to alter the scrollbar on Material Table - the div that I need to target is the one that contains the height from the maxBodyHeight prop. I can see from the source code that there's a ref on it called tableContainerDiv, but my question is how to access the div and apply a css class to it?

I've tried this (with tableRef) but it doesn't work:
tableRef.current.tableContainerDiv.current.classL

[2020-05-30 08:37] sabbiu opened #1968 "Is it possible to create an action with confirmation message? (Similar to onRowDelete)"
Currently when I try to delete a row, I get a confirmation message `Are you sure you want to delete`.

How can I so similar confirmation dialog for my custom actions passed via `actions: any[]` props?

[2020-05-30 08:51] sabbiu commented on #1968
Simialr to this?

![image](https://user-images.githubusercontent.com/19733021/83324155-f64e5b80-a282-11ea-80bb-46d0f3e173db.png)

[2020-05-30 14:23] vireshshah commented on #1921
Thanks @oze4 for looking into this.

I think search and remote data works fine however issue seems when we override custom toolbar. Please see updated code [here](https://stackblitz.com/edit/vireshshah-wkn3t8). If you comment out `components` property on material table, it works fine. And I think issue no "2" which I mentioned in my previous comment is also related to that. Somehow focus is lost w

[2020-05-30 20:30] awarmfastbear commented on #439
code example:

[code]

[2020-05-30 22:37] awarmfastbear commented on #830
@LoicHa

Could you please provide an example as to how you were able to Style your AddButton in the upper left?

[2020-05-30 23:35] jardon commented on #1886
@oze4 While that does in fact work, it's less than ideal and aesthetically lacking.  The export implementation doesn't make any sense to me in its current form.  Clicking the export opens a menu that only has a single item?

For one of my projects, I need to be able to export the data to PDF, but I would also like to keep the CSV functionality.  Since there's already a menu implemented, I would th

[2020-05-31 01:12] oze4 commented on #1886
@jardon I don't disagree at all. There is def room from improvement.

In my opinion, being able to add export options to the existing menu, with custom handlers, would be awesome.

I'm sure they'd love a PR for this!

[2020-05-31 01:16] awarmfastbear opened #1969 "Duplicate Action Demo Not Working"
**To Reproduce**
Visit: https://material-table.com/#/docs/features/actions

Scroll down to the bottom to the duplicate action demo.
Click the duplicate action button, type in a name, and click the checkmark to confirm.

**Bug 1:** The example box should just collapse making it unusable.

**Bug 2:** If you don't type in a name and click the checkbox, the demo will collapse and be unusable.

**Expec

[2020-05-31 03:32] jardon commented on #1886
I just put one in for a pdf export option, but don't quite have an xls export feature figured out.  Architecturally I'm not sure if a custom export option is really all that practical as I kind of doubt it will be used all that much, but making the tooling more flexible definitely isn't bad.

But worst case CSV/PDF/XLS exporting is pretty inclusive imo.  I may put some time in to get this Excel ex

[2020-05-31 04:14] LuanScudeler opened #1971 "Duplicated Cell keys when rendering more then one table in the same component"
Hi,

I'm redering several tables in the same component and I'm getting warnings like below for every cell in the tables and I think is impacting perfomance:

`Warning: Encountered two children with the same key, "cell-1-5".`

**Is there a way to provide my own unique keys for the Cell comopents so I can make them different from table to table?**

I've tried by overriding the Cell component and pro

[2020-05-31 04:44] awarmfastbear commented on #1815
Are you using pagination?

[2020-05-31 05:13] keshavashiya commented on #1966
![gif](https://user-images.githubusercontent.com/20239068/83344985-8811a380-a32b-11ea-9d36-e1782e22d125.gif)

[2020-05-31 08:06] oze4 commented on #1966
Hi @keshavashiya hope all is well!

Would you mind providing the code for that? You can use StackBlitz or CodeSandbox for this.

Thanks!

[2020-05-31 08:10] keshavashiya commented on #1966
Hi @oze4  this is the example of material ui table but I want same as for material table.

[2020-05-31 08:48] ekremkenter commented on #1219
+1

[2020-05-31 09:13] oze4 commented on #1971
@LuanScudeler

I'm not quite sure how to reproduce this.. I rendered 10 tables in the same component but did not receive that error.  What do you mean when you say "rendering several tables in the same component"?

### [Check out a demo here](https://stackblitz.com/edit/material-table-starter-template-hupdp5)

[code]

[2020-05-31 13:42] oze4 commented on #1959
Looks like this has been resolved. Feel free to reopen if it's not resolved.

[2020-05-31 13:42] #1959 closed

[2020-05-31 13:44] oze4 commented on #1954
Closing per @Domino987 comment

[2020-05-31 13:44] #1954 closed

[2020-05-31 14:14] #1948 closed

[2020-05-31 14:16] oze4 commented on #1938
Please use pageSize under options.

[2020-05-31 14:16] #1938 closed

[2020-05-31 16:21] LoicHa commented on #830
@awarmfastbear,

Yes , SASS code bellow
[code]

[2020-05-31 16:45] oze4 commented on #830
This issue looks to be resolved. Thanks everyone! Feel free to reopen if you feel it should be open.

[2020-05-31 16:45] #830 closed

[2020-05-31 16:46] #1880 closed

[2020-05-31 16:46] #1926 closed

[2020-05-31 17:00] #1746 closed

[2020-05-31 17:06] #1745 closed

[2020-05-31 17:06] #1748 closed

[2020-05-31 17:08] oze4 commented on #1743
I believe you can also try the minBodyHeight option?

<img width="599" alt="image" src="https://user-images.githubusercontent.com/21092343/83358190-7930ee00-a337-11ea-8762-caff03bf51cc.png">

[2020-05-31 17:10] oze4 commented on #1743
Leaving this open because I agree - we should make it so you can scroll the body while the footer is sticky..

[2020-05-31 17:10] #1858 closed

[2020-05-31 17:16] oze4 commented on #1886
I think including export to CSV/PDF/XLSX out of the box would be useful.  I think the author would love some more PRs for this feature! Good stuff man, thanks for the help!

I suppose from here on out we can refer to PRs for this "issue" - not really a need to leave this open.

[2020-05-31 17:16] #1886 closed

[2020-05-31 17:17] oze4 commented on #1732
Issue is stale please reopen if needed.

[2020-05-31 17:17] #1732 closed

[2020-05-31 17:18] #1894 closed

[2020-05-31 17:18] #1891 closed

[2020-05-31 17:19] oze4 commented on #1890
Issue has become stale please reopen if needed.

[2020-05-31 17:19] #1890 closed

[2020-05-31 17:19] oze4 commented on #1897
Issue has become stale, please reopen if needed.

[2020-05-31 17:19] #1897 closed

[2020-05-31 17:22] oze4 commented on #1674
@Jsalvat the real issue here is with [react-beautiful-dnd](https://github.com/atlassian/react-beautiful-dnd/issues/1437), which is what Material Table uses under the hood.

As this is technically a duplicate issue, you can also check out [this open issue](https://github.com/mbrn/material-table/issues/930) for status updates.

Thank you!

[2020-05-31 17:22] #1674 closed

[2020-05-31 17:23] oze4 commented on #1899
This issue has become stale, please reopen if needed.

[2020-05-31 17:23] #1899 closed

[2020-05-31 17:26] oze4 commented on #1690
@g3n35i5 Material Table was designed to allow for this "overriding" type of behavior.  You can currently completely customize the Toolbar (or any main component).

There are currently multiple solutions for this issue from what I can see.

[2020-05-31 17:26] #1690 closed

[2020-05-31 17:27] oze4 commented on #1738
Refer to PR for more details.

[2020-05-31 17:27] #1738 closed

[2020-05-31 17:29] oze4 commented on #1707
***REMINDER FOR MYSELF***

Resubmit PR for m-table-body-row - these changes had to be removed from the PR referenced above.

[2020-05-31 17:30] #1901 closed

[2020-05-31 17:31] oze4 commented on #1904
For this you will have to override all actions - there is no native way to reorder those icons.

[2020-05-31 17:32] #1904 closed

[2020-05-31 17:32] #1118 closed

[2020-05-31 17:32] #973 closed

[2020-05-31 17:33] #1049 closed

[2020-05-31 17:34] #958 closed

[2020-05-31 17:35] #676 closed

[2020-05-31 17:37] oze4 commented on #820
This issue looks to be resolved. Please open if you feel it was closed in error.

[2020-05-31 17:37] #820 closed

[2020-05-31 17:38] #1662 closed

[2020-05-31 17:41] #1919 closed

[2020-05-31 17:42] oze4 commented on #1908
Closing this issue out - refer to PR for more info.

[2020-05-31 17:42] #1908 closed

[2020-05-31 17:43] #1925 closed

[2020-05-31 17:43] oze4 commented on #1924
Looks like you need the correct polyfills for this to work in IE

[2020-05-31 17:43] #1924 closed

[2020-05-31 17:45] oze4 commented on #1916
See PR for more info

[2020-05-31 17:45] #1916 closed

[2020-05-31 17:47] oze4 commented on #657
@mbrn can this be closed?

[2020-05-31 17:50] mbrn commented on #657
Sure.

[2020-05-31 17:50] #657 closed

[2020-05-31 17:55] amperera commented on #1964
Yes you can. you have to just override the Edit action
https://material-table.com/#/docs/features/component-overriding

[2020-05-31 18:30] kjanos0502 opened #1972 "CircularProgress custom coloring"
Hi,

Sorry if I'm mistaken but I haven't found an easy way to override the color of the spinner which is indicating that the table data is being loaded. I can see that I can override the entire component, but I would not like to reimplement the faded background, etc.

Would it be possible to expose this as a simple prop?

[2020-05-31 19:50] oze4 commented on #1968
Hey @sabbiu does your custom action delete the row or are you looking for something else?

It would be easiest if you could create an example of what you're looking for. [Please see here](https://github.com/mbrn/material-table/blob/master/.github/ISSUE_TEMPLATE/help.md) for demo starter templates, using either CodeSandbox or StackBlitz. This makes it easier for you to create a demo.

Thanks!

[2020-05-31 20:18] sabbiu commented on #1968
Hi @oze4 I have added an example,

[CodeSandbox illustrating my use case](https://codesandbox.io/s/material-table-starter-template-q43hz?file=/src/index.js)

I want to show that confirmation if a user tries to (let us take **Blog Project** as an example)

- user tries to archive the post
- admin tries to block the user

Currently, I am showing a popup modal to confirm the actions placed by the use

[2020-05-31 23:12] oze4 commented on #1942
Hi @saikatstutorial we can def put this on the list. Keep in mind, we are accepting PRs!

[2020-05-31 23:13] oze4 commented on #1934
Hi @Divisha-joshi please reopen this issue with more info please.

[2020-05-31 23:13] #1934 closed

[2020-05-31 23:17] oze4 commented on #1929
Hi @piekczyk would you mind creating a demo/example of the issue you are having? You can use the CodeSandbox or StackBlitz demo starter templates, which can be [found here](https://github.com/mbrn/material-table/blob/master/.github/ISSUE_TEMPLATE/help.md)

[2020-05-31 23:18] c0c4i commented on #1964
And can I have different button from every tipe of action?

[2020-05-31 23:18] oze4 commented on #1923
Is this still an issue in the latest version?

[2020-05-31 23:19] oze4 commented on #1915
Closing this issue out. Please reopen if needed.

[2020-05-31 23:19] #1915 closed

[2020-05-31 23:20] oze4 commented on #1912
Closing this issue as it looks like there is a solution. Please reopen if needed.

[2020-05-31 23:20] #1912 closed

[2020-05-31 23:21] oze4 commented on #1914
@ambar please reopen this issue with more details.

Thanks!

[2020-05-31 23:21] #1914 closed

[2020-05-31 23:23] oze4 commented on #1906
@Wint57 can you provide a demo of the issue? You can use fork a starter demo to make it easier - [see here for more](https://github.com/mbrn/material-table/blob/master/.github/ISSUE_TEMPLATE/help.md)

[2020-05-31 23:24] oze4 commented on #1902
Closing this issue for now. Please reopen if needed.

[2020-05-31 23:24] #1902 closed

[2020-05-31 23:25] oze4 commented on #1898
@nisly can you provide a demo of this issue? See more here https://github.com/mbrn/material-table/blob/master/.github/ISSUE_TEMPLATE/help.md

[2020-05-31 23:41] oze4 commented on #1884
@petegarvin1 thank you! We will add it to the list.

Currently accepting PRs for this!

[2020-05-31 23:42] oze4 commented on #1879
@suhasbhatta it looks like there is a solution for this. Please reopen this issue if needed.

[2020-05-31 23:42] #1879 closed

[2020-05-31 23:45] oze4 commented on #1877
Have you tried using the `style={{ ... }}` prop on material table?

[2020-05-31 23:47] oze4 commented on #1877
It looks like that is how you do it.. https://material-table.com/#/docs/all-props - do a CTRL+F and look for "style"

[2020-05-31 23:47] #1877 closed

[2020-05-31 23:50] oze4 commented on #1874
Your best bet is most likely going to be to override either the Body component or the Row component. [More here](https://material-table.com/#/docs/features/component-overriding).

[2020-05-31 23:53] oze4 commented on #1873
You should be able to override the Row component. Just add a check before rendering the row. https://material-table.com/#/docs/features/component-overriding

[2020-05-31 23:57] oze4 commented on #1871
I do not believe this is possible as things currently stand. I like the idea though!

Currently, this isn't on the radar but has been added to the list of long term projects, so I'm going to close this issue out. Please reopen if you feel it was wrongfully closed.

We're currently accepting PRs as well - just FYI! :smile:

[2020-05-31 23:57] #1871 closed

[2020-06-01 00:00] oze4 commented on #1869
Hey @krunalsheth3 porting this to Vue is not currently on the road map. Mostly due to the underlying framework that we use, doesn't support Vue. There are a couple great tables for Vue, though! Goodtable is pretty...well..good :smile:

[2020-06-01 00:00] #1869 closed

[2020-06-01 00:50] a-ditucalan commented on #404
I tried this but it wont works. i just want to remove the "S" in the action
![image](https://user-images.githubusercontent.com/58244709/83367006-ecdd0480-a3e4-11ea-8a92-949a1def09c3.png)

[2020-06-01 02:57] suhasbhatta commented on #1879
Sure. Thank you. :)

[2020-06-01 03:18] hongjs commented on #1868
yes, It seem like a bug,
defaultSort are inside "columns", Columns are changeable by useEffect.
so, defaultSort should be changeable as well.

[2020-06-01 04:06] ShadrackAdwera commented on #1912
Thank you for the assistance

[2020-06-01 10:26] Domino987 commented on #404
The code is correct and works. Can you put that in a sandbox to reproduce it?

[2020-06-01 14:34] amperera commented on #1964
yes you can. please check following example
` if (typeof action === "function") {
      let element = action(props.data);
      if (element.tooltip === "Edit") {
        return (
          <MButton
            id={'edit-btn'}
            aria-label={element.icon}
            size="small"
            onClick={(event) => element.onClick(event, props.data)}

           <Image
             style={styl

[2020-06-01 16:08] JohnHuClan opened #1976 "Is there a way to have a field be a push button?"
# Guidelines

 - #### Please include a demo of the issue/behavior/question you have

 - #### Please try to be as detailed as possible

 - #### You may fork one of the following starter templates if you would like:

   - #### [CodeSandbox](https://codesandbox.io/s/material-table-starter-template-xnfpo)
   - #### [StackBlitz](https://stackblitz.com/edit/material-table-starter-template)

[2020-06-01 16:11] JohnHuClan commented on #1976
Is there a way for a field to be a button?

I need a field to be a button that allows the user to go to a different screen based upon the row he picks?

Basically I wanted to do something like this:
                           <MaterialTable
                                icons={tableIcons}
                                options={{
                                    filtering: false

[2020-06-01 19:40] jackHedaya opened #1977 "Weird action column width changing"
**Describe the bug**

Action column width unattractively changing when adding row.

**To Reproduce**

[code]

**Expected behavior**

Column widths should not change. Perhaps the action column should hold enough space for the buttons to come up

**Screen Recording**
[Screen Recording.zip](https://github.com/mbrn/material-table/files/4713111/Screen.Recording.zip)

(Github doesn't allow .mov files)

[2020-06-01 20:04] sceptre12 commented on #211
Is the solution that you provided @zihad0292  the accepted solution to fix this issue?

[2020-06-01 20:04] #1976 closed

[2020-06-01 20:24] zihad0292 commented on #211
@sceptre12 I think there are many ways to solve a problem and you can choose any one of them. In my case, that worked and I moved on with it. Thanks

[2020-06-01 22:23] c0c4i commented on #1964
I understand but I'm not trying to override a "classic" action, I'm trying to override action of this specific action of editable table (see code).

I can override the icon for Add, Check and Cancel but I can't override two icon for Edit and Delete cause they don't have toolbar attribute.
![button](https://user-images.githubusercontent.com/45185144/83460573-04f56800-a467-11ea-9a9a-6c15c2d035e3.png

[2020-06-01 23:06] bbatalla92 commented on #1274
It would also be nice to have a way to check if a rows detail panel is open. Possibly a flag on the data row object.

[2020-06-02 00:39] oze4 commented on #1868
You can use the following workaround for now, if you would like..

[Live Demo Here](https://stackblitz.com/edit/material-table-starter-template-azqwfv)

[code]

[2020-06-02 00:42] oze4 commented on #1977
Hey @jackHedaya would you mind creating a demo of this issue? You can fork the CodeSandbox or StackBlitz start templates to make building a demo easier on you.  [You can find the demo templates here](https://github.com/mbrn/material-table/blob/master/.github/ISSUE_TEMPLATE/help.md#guidelines).

[2020-06-02 00:44] oze4 commented on #1966
Where is that example from? I can seem to find it in the Material UI docs..?

[2020-06-02 00:46] oze4 commented on #1966
@keshavashiya would you mind asking this question on Stack Overflow and I can help you there? Please make sure to reply to this thread with a link to the question.

Thanks!

[2020-06-02 00:46] #1966 closed

[2020-06-02 01:26] oze4 commented on #1965
It looks like the `tableRef` needs definitions created - currently, the [`any` type is being used](https://github.com/mbrn/material-table/blob/master/types/index.d.ts#L44) for this prop.

As a workaround, you could do:

[code]

[2020-06-02 02:50] peebles opened #1978 "Custom title component that is a dropdown; but overflow: hidden"
I want the Toolbar, with its Search and Export functions, but I want to replace the title with a component which happens to be a dropdown (react-dates, a date range picker).  The problem is that the title is styled with overflow: hidden on line #316 in m-table-toolbar.js.  This prevents the dropdown from displaying.  If I disable overflow:hidden in devtools, the dropdown behaves.

I have not found

[2020-06-02 03:32] keshavashiya commented on #1966
@oze4

https://stackoverflow.com/questions/62144339/override-horizontal-scroll-on-hover-at-left-and-right-side-of-table-in-material

[2020-06-02 03:49] Jyotiaggarwal235 commented on #213
Hi,I am facing the same issue...my icons are not displaying on web although added the library

[2020-06-02 05:16] amperera commented on #1964
You mean "tooltip" attribute ? You can access tooltip of edit or delete by calling action method with row data. It will return element

 let element = action(data);

[2020-06-02 07:20] da1z opened #1979 "TypeError: Cannot add property tableData, object is not extensible"
Hello.

Using this table with redux and react-redux.
 and getting error:

[code]

My code looks like:
[code]

Am I missing something. Thanks!

[2020-06-02 10:01] Domino987 commented on #1979
Can you reproduce that in a sandbox? Because I am using the same architecture and it works for me. Can you also share a console.log of the orders you are adding? Last but not least, can you verify if orders are frozen?

[2020-06-02 10:07] Domino987 commented on #1978
That is currently not supported. You have to override the whole toolbar and add the search bar yourself, which should be easy to implement, since the callbacks are already provided.
Here is an [example](https://material-table.com/#/docs/features/component-overriding).

[2020-06-02 10:32] Domino987 commented on #1021
The problem is, that material-table mutates the objects and adds a tableData object to the objects passed in the data prop. This tableData object contains stuff like id and expanded. By updating the data, this tableData object is lost and a new one will be added, but the default is collapsed.

So to persist the expansion, you need to keep track of this tableData object. This is connected to an und

[2020-06-02 14:19] da1z commented on #1979
@Domino987 Ok I will try in sandbox. What do you mean by frozen orders?

also if i do:

`  const orders = useSelector(state =>
    state.orders.map(o => ({...o, tableData: {}}))
  );`

it works, but this is workaround, not fix

[2020-06-02 14:31] Rymou commented on #1219
+1

[2020-06-02 14:38] Domino987 commented on #1979
Yes you are creating a new object with that map, what happens if you do not add the empty tabledata object to it?
It is possible you freeze your objects so they cannot be changed:  https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/freeze#:~:text=A%20frozen%20object%20can%20no,existing%20properties%20from%20being%20changed.

[2020-06-02 14:47] da1z commented on #1979
Ok check this sandbox.

https://codesandbox.io/embed/pensive-wilbur-j50qd?fontsize=14&hidenavigation=1&theme=dark

[2020-06-02 15:01] Domino987 commented on #1979
Object.isFrozen(tableData[0]) returns true, so redux toolkit in fact freezes your obejcts. That is causing the errors. I am closing the issue, since this is not a material table error. But the mutation of the passed objects will be removed in the future.

[2020-06-02 15:01] #1979 closed

[2020-06-02 15:10] vireshshah commented on #1921
Thanks @oze4. I would put the question on stackoverflow. @mbrn Just wanted to check with you whether you have any insights/workarounds on this as it's an interesting bug.

[2020-06-02 18:18] da1z opened #1981 "setting onFilterChange still triggers default filtering logic"
I want to do my own serverside filtering with redux and etc. but when I set onFileterChange it still triggers default table filtering logic. I think it should do nothing even if

`        onFilterChange={e => {}}`

[2020-06-02 20:39] peebles commented on #1978
I understand.  Re-implementing MTableToolbar isn't that easy, what with all the CSV export support.

I guess maybe being able to add another component between the title and the search field would be nice, and more scalable than just stuffing something into the title.

[2020-06-02 20:39] #1978 closed

[2020-06-02 22:05] ilemus commented on #878
Has anyone looked into the text being empty when using a render function?

[2020-06-03 00:35] da1z opened #1982 "Filtering multiselect is jumping on screen"
When you choose something in Filter multiselect, especially not first option, it jumps on screen.

Example:
[sandbox](https://codesandbox.io/s/material-demo-tyffl?fontsize=14&hidenavigation=1&theme=dark)

[2020-06-03 02:52] zhushenhang opened #1983 "Why is my header style lost when scrolling"
material-table
my style
`               options={{
                  cellStyle: {
                    borderLeft: '1px solid lightGray',
                    borderTop: '1px solid lightGray',
                    borderRight: '1px solid lightGray'
                  },
                  headerStyle: {
                    borderLeft: '1px solid lightGray',
                    borderTop: '1px solid lig

[2020-06-03 02:54] zhushenhang commented on #1983
options={{
                  cellStyle: {
                    borderLeft: '1px solid lightGray',
                    borderTop: '1px solid lightGray',
                    borderRight: '1px solid lightGray'
                  },
                  headerStyle: {
                    borderLeft: '1px solid lightGray',
                    borderTop: '1px solid lightGray',
                    borderRight

[2020-06-03 09:49] nagad814 commented on #1578
@thelazydogsback can you expand on the workaround. how to implement it.

PS: I am hating my decision to use the library as a whole.

[2020-06-03 10:19] FastAuth opened #1985 "Default value of the searchText is not passed to the field state"
**Describe the bug**
Default value of the searchText is not passed to the field state

**To Reproduce**
Steps to reproduce the behavior:
1. Set searchText in the table options

**Expected behavior**
The search field will have the default text

**Additional context**
Works in version 1.57.2, does not work in version 1.58.0

[2020-06-03 10:27] FastAuth commented on #1941
You should keep pageSize as a state variable and update it when the page size changes

Example: https://codesandbox.io/s/change-state-page-size-40sju
[code]

[2020-06-03 13:41] loolooii commented on #766
Sorry, but this is simply not true. Your solution also "bloats" the codebase and is actually worse. What you're suggesting is to add a `div` element just to remove the padding. React components should have `className`, period. This is just a matter of passing a prop.

[2020-06-03 13:43] zys opened #1986 "Is it possible to hide the row with the column titles"
I have a table and I'd like to don't show the entire row with the column titles. I wanted something like the toolbar, with I can set with `options.tollbar: false`. How can I do this?

[2020-06-03 15:48] thelazydogsback commented on #1578
@nagad814
I haven't worked on this project in a while.
In summary FWIR, the table stores the the selection state by adding it's own property to your data called `tableData`. (This is a bad idea for several reasons -- they should probably have a separate weak table on the side that stores table-specific state about your data, but that's the way it is...)
So to get your data checked, you need to set

[2020-06-03 15:56] shivam-c20y opened #1987 "react-select in editComponent"
I've been trying to create a custom edit component for one of my columns which is a select column. When I use 'material-ui/select' then it totally works but when i am trying to use 'react-select' the options are not being displayed correctly which is weird as outside the table same code is working fine.
Does anyone know, how can i fix this?

[2020-06-03 22:42] nettycoons-soft-team-hp commented on #261
@mbrn can you update the
m-table-header.js to have the width not being overridden by custom setup?

[2020-06-03 23:16] lpetrora commented on #1985
material-table@1.59.0 does not work either

[2020-06-04 02:29] LuanScudeler commented on #1971
Hi @oze4, thanks for looking into this.

I'm redering just like you did. Thats true, I don't see it throwing errors of duplicated keys in your demo. I don't get why it's happening in my case.

The thing I have different in my case is custom renders for most of my columns, but I don't know if that should matter.

I'm trying to tweak your demo to see if I can get the error to show up, but I didn't h

[2020-06-04 06:20] #1987 closed

[2020-06-04 08:50] radhey-sahaj commented on #1913
Am running into the same issue, did you find any fix?

[2020-06-04 09:03] Domino987 commented on #647
Closing due to updated docs.

[2020-06-04 09:03] #647 closed

[2020-06-04 10:23] rucsacman commented on #1219
Overriding row component I was able to give drag support. Please check may be helping you as well

[code]

[2020-06-04 18:11] dearpriyankasa opened #1988 "Align 'Actions' header title in left"
Hello,
I've been trying to align the 'Actions' text in the default actions header column to align to left. By default its 'text-align': 'center'. Need to override this and make it 'text-align': 'left'. How do I do it?
I tried
options: {{
headerStyle: {
    textAlign: 'left'
}
}}
But this does not get applied to Actions header column.

[2020-06-04 20:21] diegosps commented on #1821
Hi, @JonasZ95
[Here](https://codesandbox.io/s/mystifying-violet-yojqf) is your code sandbox with a working around that I used following @hikmert tip.

Just use:
[code]

[2020-06-04 20:32] scipe commented on #1662
I just wanna confirm that @oze4 PR resolve this problem. But its a kind of hammer and not a scalpel. The strange behavior still here.

[2020-06-04 20:56] harveysanders opened #1989 "Resolve custom columns with Remote Data fetch"
**Is your feature request related to a problem? Please describe.**
I'd liked to change column headers based on the results from remote data.

**Describe the solution you'd like**
I'd like to be able to pass resolve `columns` along with `data` in the Promise passed to data
https://material-table.com/#/docs/features/remote-data
[code]

**Describe alternatives you've considered**
I could use React's

[2020-06-05 07:41] c0c4i opened #1990 "Remove AM/PM from timepicker"
Is it possible to have 24h timepicker on table when field is type of "time"?

[2020-06-05 07:42] LeanderCoevoet commented on #1986
If I understand you right you want the hide the header?
This is indeed the same as you hide the toolbar:
`options.header: false`
[code]

[2020-06-05 09:28] danieladacruz opened #1991 "CellStyle to access the full rowData information and not only field"
I am trying to define the cell of a style using cellStyle but the information available on that is only the field associated to it. But I need to customize it according to other field information.

I saw this pull request  https://github.com/mbrn/material-table/commit/da0867689a0783b0c4c500ed90c6d924f52ca2d9 but still I am not being able to use it.

When I do something like:
[code]
rowData is unde

[2020-06-05 10:25] zys commented on #1986
It was so obvious that the only explanation is that I lost my ability to read.

Thanks!

[2020-06-05 10:55] Vinayak-SP commented on #1837
@t29gupta I'm working on something similar. I need a Material-UI Dialog to pop on the click of the edit button. Did you get any solution for this?

[2020-06-05 13:47] Abekonge commented on #1265
I've changed to react-table after looking into it, because of your comment. And I love it! So comments in the wrong place can be helpful too! ;-)

[2020-06-05 13:58] JoeryH commented on #1887
Hi guys, I managed to monkey patch this as follows. Basically we have to filter out hidden columns when setting the width and we need to recalculate that more often.

[code]

[2020-06-05 21:55] rjfredrick opened #1993 "treeData expand with defaultFilter is inconsistent"
Using the material-table with tree data auto expands parents when child nodes match the filter.  Additionally, when programmatically resetting defaultFilter to undefined collapses all rows including when a row has been selected.

I would like to see the following:
- Auto expand parent if a child is selected regardless of defaultFilter option
- Auto collapse parents when no child is selected regard

[2020-06-05 22:00] rjfredrick opened #1994 "Cannot programmatically select rows with tree data"
This is appears to be a general request but didn't see anything specific to using tree data.  I've seen examples how to do this using {tableData: {checked: true}} but that doesn't work with tree data.

Need a way to programmatically select rows.
- For instance loading up a tree view with previously saved path.

### Version
"material-table": "^1.57.2"

[2020-06-06 01:35] mrjdavidfg commented on #1830
Same problem here. This should be fixed in a similar way to what was done in this PR: https://github.com/mbrn/material-table/pull/1211

[2020-06-06 11:46] Vinayak-SP opened #1996 "How can I override Actions to have a dialog popup for entering new data instead of inline data entry of Material-Table"
I need to override the Add button (+ button) and edit button of material-table (marked in the sample image attached), instead of inline adding/editing feature of material-table I want to have a Dialog box (my customized component) should popup in which users will enter their data, then on clicking save button an API call will be performed.

Is there a way to do it? Can I use EditRow props of Mater

[2020-06-06 13:55] idanamit commented on #1941
Thank you for the suggestion I'll give it a go!

Anyway I do think that this behavior is a bug and it should be fixed

[2020-06-06 16:14] #724 closed

[2020-06-06 19:34] Domino987 commented on #1941
It seems like this line is the problem:
[code]
But I do not know, why the page size could be changed if the remote data is given.
So maybe we could remove the ` this.isRemoteData()` check and it would not happen again.

But clearly, there was a reason do add this condition, so maybe @mbrn could tell us, if this check is necessary or not?

It was added in #1353 so I do not think it could just be re

[2020-06-06 22:56] oze4 commented on #1988
Hi @dearpriyankasa thank you for your question!

Would you mind using [the links found here](https://github.com/mbrn/material-table/blob/master/.github/ISSUE_TEMPLATE/help.md) to create a reproducible demo? I think that will help streamline your question.

[2020-06-06 23:02] oze4 commented on #1994
Hey @rjfredrick thank you for your question!

Would you mind creating a demo [using the links found here](https://github.com/mbrn/material-table/blob/master/.github/ISSUE_TEMPLATE/help.md) so that we can better assist? Creating a demo is just easier and helps everyone involved.

Thanks!

[2020-06-06 23:04] oze4 commented on #1993
Hey @rjfredrick thank you for your question!

Would you mind creating a demo [using the links found here](https://github.com/mbrn/material-table/blob/master/.github/ISSUE_TEMPLATE/help.md) so that we can better assist? Creating a demo is just easier and helps everyone involved.

Thanks!

[2020-06-06 23:05] oze4 commented on #1996
@Vinayak-SP thank you for your question!

What you are looking for is called [actions](https://material-table.com/#/docs/features/actions) - there should be enough info in the docs to help you get this sorted out, but please feel free to reopen if you need additional help!

[2020-06-06 23:24] oze4 commented on #1921
@vireshshah very interesting bug for sure.  Even when commenting out the `components` the search does not work as expected.  Each time you type in the search, a request is sent to the server (open your devtools, go to the network tab).. So, even when commenting out `components`, the table is in fact re-rendering (which you can also see using React devtools extension).

[2020-06-06 23:32] oze4 commented on #1991
Hey @danieladacruz you're on the right track.. `rowData.color` won't be defined, unless you are defining it somewhere... keep that in mind...

What type does `rowData.color` have? Is it a string or an object?  If it's a string, you should be able to just do:

[code]

[Check out a live demo here](https://stackblitz.com/edit/material-table-starter-template-xfbddz)

[code]

[2020-06-06 23:34] oze4 commented on #1989
Hey @harveysanders thank you for your question! Would you mind using the [links found here](https://github.com/mbrn/material-table/blob/master/.github/ISSUE_TEMPLATE/help.md) to create a minimal reproducible example of the issue you are having?

With that being said, you should be able to put whatever data you are using for `columns` in your state, so that you can dynamically set it to whatever yo

[2020-06-07 01:14] jackHedaya commented on #1977
Absolutely will do when I get a chance.

[2020-06-07 04:32] Vinayak-SP commented on #1996
@oze4 I don't think you have gone through my issue completely. I know about actions and I don't think the examples and properties explained there will help me much. I'm asking how can I completely override the Actions and bring my own component for Adding/Editing instead of default inline adding/editing.

Please re-open this issue (I can't re-open myself as a contributor has closed it)

[2020-06-07 05:58] oze4 commented on #1996
@Vinayak-SP I have reopened the issue. Although, actions allow you to do exactly what you just said you want to do.

[2020-06-07 06:06] Vinayak-SP commented on #1996
@oze4 My bad for editing I overlooked it. I found for editing in Actions, but not for Adding from the toolbar of the table. Can you guide me to an example for adding by click add button of the toolbar ?

[2020-06-07 06:41] sachinagarwal010 commented on #43
I was trying to consume the material table with fixedColumns and taken the same sample as given in the documenattaion, but its seems whenever I am changing my screen resolution, my fixed column is not aligned with another columns.. As per below screen shots see the fixed column is moving upwards while changing the resolution, Any suggestion please.

![image](https://user-images.githubusercontent.c

[2020-06-07 07:11] sachinagarwal010 opened #2002 "Issues with column layout when using Fixed Columns at different resolution"
@mbrn   I was trying to consume the material table with fixedColumns and taken the same sample as given in the documentation, but its seems whenever I am changing my screen resolution from 100 % to 110%, my fixed column is not aligned with another columns.. As per below screen shots see the fixed column is moving upwards while changing the resolution, Any suggestion please.

![image](https://user-

[2020-06-07 07:32] oze4 commented on #1996
@Vinayak-SP sure - this is something I threw together real quick, please let me know if you have any questions.

You can [check out a live demo here](https://stackblitz.com/edit/material-table-starter-template-tqshgs)

### MyDialog.js

[code]

### index.js

[code]

[2020-06-07 07:45] Vinayak-SP commented on #1996
@oze4 I was unable to understand the use of `isFreeAction` property and I didn't tried it. This example showed me the light. A great example indeed, thanks a lot!
Closing this issue as it resolved my questions.

[2020-06-07 07:45] #1996 closed

[2020-06-07 08:56] kunalgoyal1992 commented on #676
How do I pass rowData to actions in this case?
I found this:
[https://github.com/mbrn/material-table/issues/1007]

But this method hides the icon right away. Actions won't show icon if we use his method.
[left-panel.txt](https://github.com/mbrn/material-table/files/4741602/left-panel.txt)

Here I have passed StoreId in props of Icon (Add Sub Store) but it completely hides the icon. Could you show

[2020-06-07 11:23] Domino987 commented on #877
The documentation has been updated.

[2020-06-07 11:23] #877 closed

[2020-06-07 11:26] Domino987 commented on #1004
This has been fixed

[2020-06-07 11:26] #1004 closed

[2020-06-07 11:29] Domino987 commented on #534
Cannot be reproduced anymore. IF this is still relevant, feel free to reopen this issue.

[2020-06-07 11:29] #534 closed

[2020-06-07 11:37] Domino987 commented on #810
Closed in favor of #1260

[2020-06-07 11:37] #810 closed

[2020-06-07 13:34] stasbamiza commented on #540
Hi!

I used DataTables for for old projects and I was wonder that I can change components positions. I tasted Material Table and it's nice lib. Unfortunately refused to use it. The main problem that I have design with different control position e.g. "Page Size selector" located over table in left side, "Pagination" with some changes located under table in right side, additionally have text "Show 1

[2020-06-07 13:47] oze4 commented on #1990
@c0c4i as far as I can tell, there is no way to pass props to the pickers (date/time/datetime).. This is something we have added to the list.

[2020-06-07 14:08] Domino987 commented on #1985
This should be fixed with #2005

[2020-06-07 14:08] #1985 closed

[2020-06-07 14:09] Domino987 commented on #1162
Escape is now supported #1691

[2020-06-07 14:09] #1162 closed

[2020-06-07 14:09] Domino987 commented on #1627
Fixed in #1642

[2020-06-07 14:09] #1627 closed

[2020-06-07 14:36] oze4 commented on #2002
What happens if you refresh the page after changing resolution?

[2020-06-07 16:37] Domino987 commented on #819
Can you elaborate on that?

[2020-06-07 16:37] Domino987 commented on #667
Is this still an issue?

[2020-06-07 16:42] Domino987 commented on #1982
That's a problem with the select from material-ui, not with this table.
We will upgrade the material-ui version soon, and this will be fixed.

[2020-06-07 16:42] #1982 closed

[2020-06-07 16:45] Domino987 commented on #617
Can you reproduce that in a sandbox s owe can take a look at it?

[2020-06-07 16:47] Domino987 commented on #1981
This will be called, if the filter changes, to override the filter, you have to override the customSortAndFilter of the column or use a promise for that data prop.
Closing this since this is not an issue with the library.

[2020-06-07 16:47] #1981 closed

[2020-06-07 16:48] Domino987 commented on #1707
Is this fixed?

[2020-06-07 16:49] Domino987 commented on #784
Is this still an issue since UNSAFE_componentWillReceiveProps has been removed?

[2020-06-07 16:53] Domino987 commented on #745
IS this still a problem?

[2020-06-07 16:59] oze4 commented on #1707
@Domino987 we can close it out if got these changes in a diff PR that hasn't been submitted yet.

[2020-06-07 16:59] #1707 closed

[2020-06-07 17:00] Domino987 commented on #571
That is not a problem with the table, but how you update the data. Feel free to ask on how to do that in the [gitter chat](https://gitter.im/material-table/Lobby) or SO.

[2020-06-07 17:00] #571 closed

[2020-06-07 17:02] Domino987 commented on #555
Close in favor of #175

[2020-06-07 17:02] #555 closed

[2020-06-07 17:02] Domino987 commented on #914
Can you reproduce that in a sandbox?

[2020-06-07 23:29] patrickp-dev commented on #1693
@chetankumars there's an `emptyRowsWhenPaging` property in the [table options](https://material-table.com/#/docs/all-props) that controls whether the empty rows are rendered or not. It defaults to true so setting it to
`
options={
  ...otherOptions,
  emptyRowsWhenPaging: false,
}
`

should fix the issue.

[2020-06-08 04:50] sachinagarwal010 commented on #2002
@oze4 on Refreshing the page it will align properly, but we cant refresh the page as my data will lose.

[2020-06-08 07:32] ShadrackAdwera opened #2009 "Adding Commas to currency column in the table"
Hi,

I am trying to add commas to currency columns in a table I am creating, fetching the data from a Restful API, is there a way to do this without including the $ sign?

Any help would be appreciated, thanks

[2020-06-08 07:38] #2009 closed

[2020-06-08 07:54] ShadrackAdwera commented on #1912
Hey, thanks but is there a way to completely remove the prefix from the currency code?

[2020-06-08 07:57] zhushenhang commented on #1988
I have a similar problem.
Have you solved this problem?

[2020-06-08 08:00] ShadrackAdwera opened #2010 "@ShadrackAdwera you can add currency format like this"
@ShadrackAdwera you can add currency format like this
`    {
      title: 'Curreny',
      field: 'field-name',
      type: "currency",
      currencySetting: { currencyCode: 'USD', minimumFractionDigits: 0, maximumFractionDigits: 2 }
    },
`

_Originally posted by @mtahir08 in https://github.com/mbrn/material-table/issues/1912#issuecomment-630732358_

Thanks for the assistance, works like a char

[2020-06-08 08:38] adsee42 commented on #1045
@mbrn
Hi. Is this fixed?
`tableLayout: "fixed"` seems not working neither.

[2020-06-08 10:59] marjanatwork commented on #1936
Hi,
The other question is that how I can align the content of the cell (data) to the top of the cell for a particular column in Material-Table.  I would appreciate it if you can respond to both questions.

[2020-06-08 11:42] scscgit commented on #950
I'm also voting for this to be added - and I'm curious, are there any reference requirements of UX guidelines that this project is trying to fulfill? For example, I found it's as high as # 2 here:

Also as a reference, there seems to be a similar paid product called DevExtreme out there which already supports this, as seen in their React Grid Tree Data example, so it may be useful as an inspiratio

[2020-06-08 11:56] scscgit commented on #1685
This issue is still there, even though [material-ui seems to document & implement it correctly](https://material-ui.com/components/tables/#custom-pagination-options) (material-table doesn't document it at all). There's also the issue of type safety, as the property is defined by `pageSizeOptions?: number[];`.

[2020-06-08 12:00] #2010 closed

[2020-06-08 12:43] robertabenassi opened #2012 "Detail Panel to maintain state open/closed after refresh of data."
**Is your feature request related to a problem? Please describe.**
A detail panel is very useful to show further info about a table row entry. The user can expand the detail to reach the info she needs. However, in complex scenarios (such as collaborative workflow and/or data refresh), the opened detail panels should remain open/closed even when the data displayed in the table refreshes (sure if s

[2020-06-08 13:43] vireshshah commented on #1921
@oze4 I think it is expected behavior to send request to server when you search because we are not fetching data up-front. Correct?

I asked question in stackoverflow: https://stackoverflow.com/questions/62162992/material-table-toolbar-losing-focus as well but have not heard back. Do you think, we would be able to prioritize and fix this bug soon?

Thanks!

[2020-06-08 14:48] ColinWDM opened #2013 "I am using jsx as title and its messing up everything"
As you can see i want to use a select in my column title but this mess up a lot of things in particular, the placeholders and the exports as csv, as it doesn't understand a non string value

[code]

![image](https://user-images.githubusercontent.com/56677067/84044096-678abe80-a9a7-11ea-93b3-da4dd405408b.png)

Is there any solutions or props i should be using instead of title to make it work the wa

[2020-06-08 15:52] rjfredrick commented on #1993
Link to[ demo app in codesandbox](https://codesandbox.io/s/material-table-tree-k0v66)

### Issue 1
- Initial default filter is set to "string"
  - Expect
    - Parents are not expanded by default
   - Actual
      - Parent with a children where the type is `string` are expanded by default

### Issue 2
- Select row under parent that has a child with type equal to `string`
- Toggle the Switch at the

[2020-06-08 16:07] rjfredrick commented on #1994
Link to [demo app in codesandbox](https://codesandbox.io/s/material-table-tree-k0v66)

Using the app I don't see a way to restore the initial state to where `text-2` a child of `container-1` is selected

[2020-06-08 20:45] ambuznego commented on #890
Thanks for sharing @pixelass - I was able to easily make this work by following your example. Here's what worked for me:

[code]

[2020-06-08 20:47] rjfredrick commented on #1994
This is looking more like a documentation issue as I am able to restore selection state with my [demo application](https://codesandbox.io/s/material-table-tree-k0v66).

There were essentially two changes that I needed to make which can be found in the demo project.

`row.tableData.isTreeExpanded = true;`
and
`current.onSelectionChange(selectedRow);`

However, I could not find supporting documentat

[2020-06-08 21:15] rjfredrick commented on #1993
### Issue 1
I'm not able to find any reasonable workaround using

` tableData: { isTreeExpanded: false },`

When a defaultFilter is applied and a parent contains a child with the filter setting that parent is always expanded, is this the correct behavior?

### Issue 2
### Issue 3
This is looking more like a documentation issue as I am able to expand parent nodes selection state with my demo applic

[2020-06-08 22:44] oze4 commented on #2013
Hi @ColinWDM - in order to get this to work you'll need to take advantage of `column.initialEditValue` (see demo below).

As far as exporting data when using JSX as a title, you'll have to use your own export logic for this.  [Please check out this question here](https://github.com/mbrn/material-table/issues/1916) - it contains a solution.

### [Live demo can be found here](https://stackblitz.com/

[2020-06-08 22:49] #2013 closed

[2020-06-08 23:31] oze4 commented on #2012
@robertabenassi

It is possible to show the detailPanel programmatically.  Please see the demo below:

### [Live demo can be found here](https://stackblitz.com/edit/material-table-starter-template-xhh4kr)

### Code for demo:

[code]

[2020-06-09 06:59] mihilmy commented on #2012
I also have the same request. I am doing a polled refresh of the data being shown in the table. The detail panel closes as soon as the next refresh comes in. Any solutions for this other than me doing a deep diff between API calls before calling `setState`?

[2020-06-09 07:22] Jsalvat commented on #1886
@jardon @oze4 That will be awesome, how it's going? Need any help? We've encontered 2 problems.
First of all as @jardon says, we can't put more types of exports in the list of 1 item. Second, if we do the export list mannualy, we can't access to filtered data and it sucks.

Anyway, if someone needs any help, /w me.

JS

[2020-06-09 07:56] Jsalvat commented on #1133
@ervikashkumar u can't atm and this is so sad XD

[2020-06-09 08:19] Ikpeba4ll opened #2015 "Access onFilterChange prop in the toolbar?"
Im trying to add a custom filter (date range with two input field) in my app but i can't access the onfilterchange prop. How can I access it in the toolbar?

[2020-06-09 10:45] danieladacruz commented on #1991
Thank you @oze4
That's what I was exactly looking for. For some reason I wasn't being able to access the "rowData" when using the second paramter.

[2020-06-09 10:45] #1991 closed

[2020-06-09 11:35] oze4 commented on #2012
@mihilmy in summary, you are requesting new data from your server on an interval?

If this is the case, your server/API/backend is acting as the single source of truth for the data that is rendered by material-table.

This means you will have to keep track of which detail panel is open by updating your database when someone opens a panel, or by caching which panels are open client side via cookies

[2020-06-09 11:59] oze4 commented on #2015
@Ikpeba4ll [per our guidelines](https://github.com/mbrn/material-table/blob/master/.github/ISSUE_TEMPLATE/help.md), can you please create a demo for this?

[2020-06-09 12:06] dilshadahmad372 opened #2016 "material ui popover causes the table scroll to top"
I have used the material ui popover in my application. when the popover is opened the table scroll to top automatically. This was the problem with the material ui Popover and they have fixed it recently. The issue might be due to version you are using of @material/core is old. Can you please fix it.

To reproduce the issue:
Add material ui popover. Scroll the table down and then open the popover t

[2020-06-09 12:55] Krempelj commented on #1530
It's because of how ordering of numeric indices work in js objects. If you can use string indices, you can manually sort the lookup before setting it.

[2020-06-09 15:03] cbaker opened #2017 "Limit rows <= results"
Heres my forked example
https://codesandbox.io/s/material-table-starter-template-890ih?file=/src/index.js

I don't want 400 rows to show when I put 400 & there is < 400 rows.
I suspect I can fix this by overriding the body component, curious if there's an easier way.

[2020-06-09 15:14] gamesterr opened #2018 "Sorting with diacritical marks"
When diacriticial letters are first (ł, ą, ć, ó, ń, ę, ż, ź) those records goes to the end of table

In order to reproduce this bug sort table with diacritical marks.
Also upper and lower case letters are sorted separately ...ABCDEF...abcdef

Expected behavior
Sorting should go like : Aa Ąą Bb Cc Ćć Dd Ee Ęę Ff Gg Hh Ii Jj Kk Ll Łł Mm Nn Ńń Oo Óó Pp Rr Ss Śś Tt Uu Ww Yy Zz Źź Żż -based on the Poli

[2020-06-09 15:28] cbaker commented on #2017
I decided to just slap
`tr:empty{
    display:none;
}`

in my css to fix it.

[2020-06-09 18:13] pierreleripoll commented on #1064
Still no official solution ?

[2020-06-09 18:33] DDynamic opened #2019 "Make row editable on double click"
Hello,
I am trying to make a row editable when double clicked. In my table, I set added an `onRowClick` prop to detect a double click:
[code]
I understand that I might need to force an update to make the row editable, could someone help me with this? I am using a Functional Component, not a class. Thank you.

[2020-06-09 18:44] eugenegordeiev opened #2020 "Switch Data from local to remote dynamically"
I would like to use the same material-table component for both local data (array) and remote (async function).

If I initially load remote data and then try to switch to local data, it works fine.  I can see the records reload in the table.

However, when I try to switch back to remote, I can see the pagination changes but the data in the table still shows local data.

Is there any way to refresh

[2020-06-09 19:50] awvala commented on #635
I'm currently struggling with implementing Formik and Yup into this solution.  This would be a godsend for our project.

[2020-06-09 21:03] proohit commented on #2019
I'm guessing you would have to override the row component in order to do this effectively.

[code]
I assume you would also have to design your own editable row.

[code]
This will not render correctly, but maybe it's a point from where you can continue.
[codesandbox example](https://codesandbox.io/s/mat-table-double-click-edit-row-ift3c)

[2020-06-09 21:29] oze4 commented on #2020
Hey @eugenegordeiev would you mind creating a demo for this ([per our guidelines](https://github.com/mbrn/material-table/blob/master/.github/ISSUE_TEMPLATE/help.md))?  Just makes things a million times easier for everyone.

In the link above you will find a CodeSandbox and StackBlitz demo template - you can fork either of them to help you bootstrap your demo and make things easier on you.

[2020-06-09 21:34] oze4 commented on #2019
@proohit offers the correct solution - material-table was designed to be malleable, as his solution demonstrates.

Closing this per the correct solution. Let me know if you need me to reopen this issue.

[2020-06-09 21:36] oze4 commented on #2018
@gamesterr while I agree this is a bug, you can override the search algorithm if you would like as a band-aid.  Thanks for pointing this out!

[2020-06-09 21:38] eugenegordeiev commented on #2020
Actually I think I fixed it.
After switching to remote data, I have to make a call to refresh the data.

tableRef.current.onQueryChange();

After this, everything works as expected.

[2020-06-09 21:38] #2020 closed

[2020-06-09 21:41] oze4 commented on #2017
@cbaker In addition to your solution, and [per the docs](https://material-table.com/#/docs/all-props), you can use `options.emptyRowsWhenPaging` to remedy this.

[code]
---
#### From the docs:

<img width="801" alt="image" src="https://user-images.githubusercontent.com/21092343/84203737-98362b00-aa6f-11ea-9fb6-84155f8033e7.png">

[2020-06-09 21:41] #2017 closed

[2020-06-09 21:44] oze4 commented on #2016
Hello @dilshadahmad372 [per our guidelines](https://github.com/mbrn/material-table/blob/master/.github/ISSUE_TEMPLATE/bug_report.md#guidelines), would you mind creating a demo for this?  Makes things a million times easier for everyone..

Within the guidelines you will also find links to material-table demo starter templates that you can fork for both CodeSandbox & StackBlitz..  This is to bootstr

[2020-06-09 21:51] cbaker commented on #2017
@oze4 Hey, thanks. What's the reasoning behind having it true by default?

[2020-06-09 21:51] DDynamic commented on #2019
Thank you for the start. Unfortunately, I haven't had any luck. Doubling clicking a row opens up the delete row confirmation, and I'm not sure how to fix that.

[2020-06-09 21:54] oze4 commented on #1921
@vireshshah I believe you are correct here.

My train of thought was just searching data for the current page, since material-table has that data in state, but just searching one page doesn't give you much (brain fart lol 😢 )

It would appear that the search functionality behaves differently when using remote data.  I am not too familiar with what is under the hood as far as searching when using r

[2020-06-09 22:04] oze4 commented on #2017
@cbaker that's a good question. I honestly don't have an answer for you, unfortunately.. I'm not the author, just a contributor and fanboy 😁..

@mbrn (author) would you be so kind to elaborate on this?

[2020-06-09 22:21] cbaker commented on #2017
Furthermore @mbrn are you open to changing the default from true to false? I can make a pull request if so.

[2020-06-09 22:24] DDynamic opened #2021 "Empty filters array on Query object with lookups"
On v1.60.0, lookup filters are not available in the Query object when using remote data. However, this issue is not present on v1.59.0.

Please see [this](https://codesandbox.io/s/query-object-has-no-lookup-filters-dwv41?file=/src/App.js) sandbox.

**Steps to Reproduce**
1. Switch to v1.59.0, choose a `Birth Place` filter, click out of the table window, and observe the following console output: `{

[2020-06-09 22:46] oze4 commented on #2017
Worth noting that some folks may consider this a breaking change. Just as you prefer the default to be false, I suppose some out there may expect for it to be true and we could really mess with existing projects that are expecting true.  Or I could be wrong...food for thought at the least.

FWIW - like 55% of me thinks that the default should be false.

[2020-06-09 23:50] timurista commented on #1820
@bergkvist try version bumping to 1.6.0. Works for me so far

[2020-06-10 02:52] DDynamic commented on #2021
Did some testing, looks like: https://github.com/mbrn/material-table/commit/559577455f92bed6d36f7868f39b7afa4cf10b53 broke it. It is working on 264b050.

[2020-06-10 03:21] DDynamic commented on #2021
Please see #2022 for a fix. I would love to see this merged as soon as possible, thanks!

[2020-06-10 03:54] mihilmy commented on #2012
Yes exactly but I do not want to enable selection. Similar logic does not seem possible with the detail panel alone right? Unless you make the selection work with a detail panel.

[2020-06-10 04:29] oze4 commented on #2012
@mihilmy it's the logic you'll need to focus on. Look at the example above that shows how I control the detail panel for any row programmatically.

Just as I control the selection programmatically while keeping track of what is selected, you can apply that logic to track which row should have it's detail panel open.

**Suppliment selection for detail panel**

[2020-06-10 04:31] proohit commented on #2019
@DDynamic I give MTableEditRow the fault for that as I don't know in detail whats happening in the background.

You can try to write your own "EditableRow" instead of using the one from material-table. I doubt material-table was designed to be used that way.

Replace the <MTableEditRow> component inside the ternary operator with your own editable row. You're in control what's shown and what's not

[2020-06-10 04:43] oze4 commented on #2019
It doesn't matter that the demo shows the `onRowDelete` after double click, though.

The important thing, and what you should focus on, is the fact that you can handle double clicking a row.

This means you can handle that double click however you please.

There have been a number of issues opened asking about programmatically setting a row to edit state, which have solutions. [See here for one ex

[2020-06-10 05:50] mbrn commented on #2017
Hi @cbaker

Actually pageSize is mostly 5 or 10. So When navigating on pages we don't want that footer position changes. So it is true by default.

[2020-06-10 11:36] ParVKS commented on #522
any update on this @mbrn

[2020-06-10 12:24] ParvathyVinod opened #2023 "Filter values depending on the previous column filter"
Is there an option to have filtering like that in excel? like there are 4 values a,b,c,d in column A, and
i am selecting the value 'a'. then in column B, the values in the filter dropdown should only have values of the rows having column A='a'

[2020-06-10 20:19] lpetrora opened #2024 "currentPage attribute not updating on pagination"
On version 1.60, when using remote data fetch, MaterialTable is not updating currentPage state on pagination

**To Reproduce**
Steps to reproduce the behavior:
1. Start with RemoteData example
2. currentPage on MaterialTable state is  0
3. Change to the next page
4. currentPage on MaterialTable state is still 0.

**Expected behavior**
On another page different from first one currentPage should not

[2020-06-10 23:01] thedmeyer commented on #1865
@mbrn Do you have an example of how this can be done? Many thanks

[2020-06-10 23:18] oze4 commented on #2024
I'm not sure how exactly how you're using currentPage (or why) - if you wouldn't mind providing a demo, there are starter templates you can fork [here](https://github.com/mbrn/material-table/blob/master/.github/ISSUE_TEMPLATE/help.md#guidelines)..  With that being said, [the docs](https://material-table.com/#/docs/features/remote-data) have good demos for using remote data.

[2020-06-10 23:21] oze4 commented on #2023
I'm not exactly sure what you mean.. would you mind creating a demo ([per our guidelines](https://github.com/mbrn/material-table/blob/master/.github/ISSUE_TEMPLATE/help.md#guidelines)) you can fork an issue template for either CoseSandbox or StackBlitz - that link has URLs to both starter templates. That should help you streamline demo creation.

[2020-06-11 01:37] thedmeyer opened #2025 "How to put multiple rows into edit mode?"
I would like to be able to select multiple rows and that selection would in turn reveal the EditRow for each row without closing the previous and no opacity changes to the background.

So far, I have been able to reach into the dataManager and trigger `changeRowEditing(row, 'update')` but this doesn't work for more than one selection...

[code]

Second to this, can the edit pen icon be removed onc

[2020-06-11 04:10] Hybrid-Force opened #2026 "When adding new row, undefined passed to columnDef.editable"
**Describe the bug**
When column definition `editable` is a function, the passed in `rowData` is the data from props, not from state.

https://github.com/mbrn/material-table/blob/5a5eca0114f5a81c96c3c848bb6308c241828d91/src/components/m-table-edit-row.js#L68-L70

That means, when editing an existing row, the `rowData` passed to `editable` is the original data, not the editing data that reflects th

[2020-06-11 09:32] amit1910 opened #2027 "Fixed column width in percentage"
How to set a fixed column width with percentage,
The percentage doesn't seem to be working,

Any idea about how to achieve this.

[2020-06-11 12:45] chiranthaw commented on #1004
Is there a way to use custom icons instead of material icons?

[2020-06-11 17:57] mrjdavidfg opened #2028 "Default column sorting with remote data"
The API im using doesnt support sorting, so, when I click the sort icon it doesn't work, and makes senses because material-table assumes that the remote data funcion will handle the sorting (I can see the `orderBy` property).

I need to know if there is any way to have the remoteData function but let material-table handle column sorting.

[2020-06-11 18:56] thedmeyer commented on #1610
What about the opposite? I want to be able to put multiple rows in edit mode at the same time.

[2020-06-11 19:39] thedmeyer commented on #1631
Doesn't work anymore in 1.60.0.
@mbrn How do we do this now?

[2020-06-11 19:55] thedmeyer commented on #1631
Solution:

[code]

[2020-06-11 21:24] csforbes commented on #466
For anyone else dealing with this issue, I was able to get past this issue by writing a "customRender" utility function.

[code]

[2020-06-11 23:02] vireshshah commented on #1921
Thanks @oze4. I wish I could contribute but somehow not able to take time out now a days but will see.

BTW, on side note, how can I make sure that action having toolbarOnSelect position is always visible? If I add freeAction property to true, toolbar button appears but as soon as you select any row, it disappears. My requirement is to show that button all the time along with `selection` capabilit

[2020-06-11 23:28] DDynamic commented on #2019
Resolved on Stack Overflow: https://stackoverflow.com/questions/62316709/material-table-make-row-editable-on-click. It would be nice if there was a cleaner way to do this, though.

[2020-06-12 01:57] usahai commented on #145
I had a follow up question - is there a prop exposed for footerStyle, or pagination style? I would like to make my toolbar color and the footer color to be the same. Thanks for your help!

[2020-06-12 02:41] usahai commented on #1945
Hey, I'm fiddling around with some of this stuff as well, so I thought I'd share how I got it working
[code]
And I had exported the tableIcons from the other file:
[code]

[2020-06-12 04:55] usahai opened #2031 "MTablePagination styles changes UI styles"
Hey, thanks for the great library!

**Describe the bug**
I am trying to change the color of the pagination/footer row to match my toolbar. When I apply styles to the toolbar, it moves the components into a flex style display, and the number of rows selector disappears completely.

**To Reproduce**
https://codesandbox.io/s/material-table-starter-template-lxgit?file=/src/index.js

**Expected behavio

[2020-06-12 07:56] ParVKS commented on #2023
<img width="788" alt="Screen Shot 2020-06-12 at 1 22 00 PM" src="https://user-images.githubusercontent.com/40163489/84479077-f2bdca00-acaf-11ea-859a-75dcb8ebf50a.png">
So this is the first case, columnB has these many values to select from. That is these are the "lookup" data.
<img width="595" alt="Screen Shot 2020-06-12 at 1 22 35 PM" src="https://user-images.githubusercontent.com/40163489/844790

[2020-06-12 08:18] chiranthaw opened #2033 "How to use different icons on material-table"
How can I change the default icons of the material table? I do not want to use the material-icons package as described it the material-table package. Any idea?

I would like to use the 'zmdi' font instead of default icons. This is what i did already just want to know what I am doing is right?

Thanks in advance.

const tableIcons: Icons = {
Search: forwardRef((props, ref) => <span className="zmdi

[2020-06-12 12:31] Ido112 opened #2034 "Events when onRowUpdate happened"
Hey,
I use material-table 1.57.2, and I search for the option to get an event when someone clicks on update or cancel the update or the row.
editable={{
 **onRowUpdateCancelled**: rowData => console.log("Row editing cancelled"),
 **onRowUpdateTriggred**: rowData => console.log("Row editing opend"),
 onRowUpdate: (newData, oldData) => new Promise((resolve, reject) => {
  resolve();
  })
}}
To be mo

[2020-06-12 13:13] vireshshah commented on #1119
@iqasim-com Can you please share sample code? Thank you!

[2020-06-12 13:54] batuhanarslan commented on #1953
What about i have 3 or more states like enum?

[2020-06-12 15:41] lfsando commented on #1906
Same thing happening with me. If I use columnsButton and hide a few columns, this happens:
![image](https://user-images.githubusercontent.com/10608706/84520443-f6e6e900-aca9-11ea-9b71-0a18a3d2a3e8.png)

[2020-06-12 15:52] pellejacobs opened #2035 "Remote data with groupings"
**Is your feature request related to a problem? Please describe.**
Generic question: is grouping supported with remote data? I've played around with the remote data sample code, but it doesn't seem like the `data` prop fires the query when the grouping gets changed.

**Describe the solution you'd like**
Given I'm using remote data
When I'm grouping by a certain column
Then it would be great if MT

[2020-06-12 17:50] Buuntu opened #2036 "How to change selected rows from outside of component?"
I'm unable to find anything in the documentation about how to do this, I imagine it's using the `tableRef` property but I don't know what properties that contains that would be able to change the selected rows.  I am using a table with selection enabled, basically I want somewhere outside of this component to handle the selected rows as well (like remove certain rows).

[code]

[2020-06-12 20:13] jazzdragon opened #2037 "Allow multiple headers"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
something like this: https://www.w3.org/WAI/tutorials/tables/multi-level/

[2020-06-13 10:56] wassafr opened #2039 "Display actions column when selection is true"
**The problem**
When you have the `selection` option enabled and `actions` configured, the actions column will not be displayed and the action buttons will be displayed in the top right corner only when a selection is made.

While this is acceptable for multiple selection, I find it not intuitive at all for a single selection where one could expect to find actions buttons within each row. It also

[2020-06-13 11:00] #2039 closed

[2020-06-13 11:01] wassafr commented on #2039
Closing as I've just seen a PR about that

[2020-06-13 15:37] fflsogliani commented on #1806
any updates ?

[2020-06-13 15:49] fflsogliani opened #2040 "Export Csv Programmatically"
Hi,
i need to export csv programmatically. I overwrite Toolbar so export button is not visible.

Can i call export programmatically for example with ref ?

Thanks

[2020-06-13 19:27] #873 closed

[2020-06-13 19:31] ManalLiaquat opened #2041 "Can I use "export as csv" method by using ref?"
# Guidelines

 - #### Please include a demo of the issue/behavior/question you have
I have a button and I want to **export data as CSV format** on behalf of button's `onClick` function.
 - #### Please try to be as detailed as possible
Is there any way to do this or can I use ref to call methods of material-table?
 - #### You may fork one of the following starter templates if you would like:

   -

[2020-06-14 03:35] charliema7 opened #2042 "How to change date filter format?"
# How to change date filter format?

 - #### When I set a filter column type as Date or Datetime, the format is "MMMM do". How do I change it to show the format? Mainly I want to be able to show the year (YYYY) as well.

Thank you!

[2020-06-14 08:28] ivan-koltsov commented on #2034
@Ido112 This can be done by customization of EditRow in components: `components={{
                EditRow: props => {
                    return (
                        <MTableEditRow
                            {...props}
                            onEditingApproved
                            onEditingCanceled`