[2019-03-21 10:58] mbrn commented on #351
Hi @arpitalopa ,

Can you explain the problem with more detail, please?

[2019-03-21 11:10] ShawTim commented on #291
i face the same issue. setting width in `headerStyle` doesnt work for me. but `cellStyle` does.

[2019-03-21 11:16] wandrzejczak commented on #350
Hi @mbrn,

Thank you!

p.s.
I really like your implementation of the table grid, simple and elegant :)
Aswome job, thanks for all your effort :)

Wojtek.

[2019-03-21 11:22] mbrn commented on #350
@wandrzejczak

You can star repo :) Thanks. I love opensource communities.

[2019-03-21 11:23] mbrn commented on #291
Actually, material-ui table components do not let to change width of columns. It set all columns' width automatically. But i will try to broke it with css.

[2019-03-21 11:27] arpitalopa commented on #351
For edit a row, data of that particular row is showing empty and actions
and detail row also have same problem as well as delete also , all are not
getting row data hence not get column data like id to  delete particular
data.
But as I do npm install some times it start working fine but later again it
create same problem and again after several npm install it starts working.
Its not like after eve

[2019-03-21 11:33] mbrn commented on #351
I publish a lot of versions weekly. So you may install buggy versions sometimes. Please be sure you at the latest version of material-table. it is 1.26.1

[2019-03-21 11:38] arpitalopa commented on #351
ya i installed the latest one previously it was working fine after
installing new one it is creating problem

On Thu, Mar 21, 2019 at 5:03 PM Mehmet Baran <notifications@github.com>
wrote:

[2019-03-21 11:40] mbrn commented on #351
can you share your code (only table usage piece)

[2019-03-21 11:42] arpitalopa commented on #351
<MaterialTable
components={{
Toolbar: props => (
<div>
<MTableToolbar {...props} /><br />
<div align="left" style={{ paddingLeft: 20 }}><Button variant="contained"
color="primary" onClick={this.handleClickOpen}>Add New Rule</Button></div>
</div>)
}}
columns={[
{ title: 'Rule Id', field: 'ruleId' },
{ title: 'Name', field: 'ruleName' },
{ title: 'Class', field: 'ruleClass' },
{ title: 'Active', fie

[2019-03-21 11:42] arpitalopa commented on #351
Not all time it fails sometimes it is working

On Thu, Mar 21, 2019 at 5:12 PM Arpit Srivastava <asrivastava@alopasoft.com>
wrote:

[2019-03-21 12:04] symnetry opened #352 "can i get remotedata from detailpanel"
something like this
[code]

[2019-03-21 12:11] mbrn commented on #352
You can return a new component in detail panel render:

[code]

Then your data componentDidMount function of YourComponent

[2019-03-21 12:35] guludo commented on #211
Thank you!

[2019-03-21 12:37] symnetry commented on #352
thanks!
it works

[2019-03-21 13:38] eluchsinger commented on #119
@mbrn  yes, thanks. I could solve it already. I was just giving feedback so you could add an official example as it wasn't easy to find the example hidden in this issue.

[2019-03-21 14:39] orestes22 commented on #291
Hi, please check this in order to analyze why is working for me https://codesandbox.io/s/8y77w4yr40

Maybe you have to import this HOC from material-ui  to your class and wrap the class name at the end with that, like this:

import { withStyles } from "@material-ui/core/styles";
import stylepage from "stylepage";

class App extende React.Component
.
.
export default withI18next(["home", "common"])

[2019-03-21 15:20] thebetterjort opened #353 "Nothing renders"
[code]

Errors:

`Warning: Failed prop type: Invalid prop `data` supplied to `MaterialTable`.
    in MaterialTable (created by WithStyles(MaterialTable))
    in WithStyles(MaterialTable) (at pages/index.js:8)
    in div (at pages/index.js:5)
    in _default (created by HotExported_default)
    in AppContainer (created by HotExported_default)
    in HotExported_default (created by PageRenderer)

[2019-03-21 16:26] wandrzejczak commented on #353
hej,

you are returning array list with map(), you should return {} object.

so you create list of object list [[{....}]] instead of [{}]

could you replace:

with

please let me know if this will help :)

Wojtek.

[2019-03-21 18:29] bjhm opened #354 "Toggle detailPanel on click of a cell"
Currently there is options to use the preset buttons at the beginning of the table OR onRowClick to toggle the detailPanel. Is it possible to add a solution to allow the togglePanel function upon clicking of a cell (td or button within td) trigger this functionality?

[2019-03-21 18:34] bjhm commented on #354
Or possibly the ability to update a detailPanel toggle button with a class / ID we can target to trigger a click upon?

[2019-03-21 18:41] malix1 commented on #347
Thank you
And i'm sorry. I could not help :(

Have a nice day

Mehmet Baran <notifications@github.com>, 21 Mar 2019 Per, 13:36 tarihinde
şunu yazdı:

[2019-03-21 18:58] mbrn commented on #354
I may add a onCellClick feature. You can toggle detail panel or anything else with this event.

I will add this asap.

[2019-03-21 18:59] mbrn commented on #347
Not important @malix1 , You give us a new simple feature idea :)

[2019-03-21 19:04] #352 closed

[2019-03-21 19:28] fernandes commented on #288
hi @mbrn , better late than never I'm working on this issue 😉

one question, on exportCsv function, it receives the `renderData`, that comes form `DataManager`, that is the data already paginated... so the custom export csv function is receiving only 5 itens

any suggestion on how to solve this? get the ordered / non paginated data from data manager and pass to the toolbar?

[2019-03-21 19:46] fernandes commented on #288
I think I managed to get it working... PR in a few minutes

ps: is there no test suite? I couldn't figure out, so I'm adding no tests, is that correct?

[2019-03-21 20:05] TatiTheFreaK opened #356 "Sorting doesn't work when fields shown are null"
**Describe the bug**
I have a column that has lots of null values. When only null values are shown on page, and you try to sort, nothing happens. If you go to a page where a value is shown, and you click to sort, it goes back to page 1 and it still doesn't sort. No error appears on console.

Column definition:
[code]

**Expected behavior**
Sorting should work fine

**Desktop (please complete the f

[2019-03-21 20:23] #335 closed

[2019-03-21 20:26] mbrn commented on #335
This is done with 1.27.0

[2019-03-21 20:26] mbrn commented on #265
This is done with 1.27.0

[2019-03-21 20:30] mbrn commented on #356
Hi @TatiTheFreaK ,

I will take a look at this case asap.

[2019-03-21 21:58] ColinKrist commented on #325
This is sort of off topic, how did you trigger the detailPanel to hide via a button? I'm curious for my own implementation of a custom edit row form and having a submit button that would close the detailPanel.

[2019-03-21 22:03] ColinKrist commented on #356
I also face this issue, I think its possible to get around it until the fix lands though. In the docs there is `customSort` under columns props that could be implemented by you to handle null values for each of your columns.

[2019-03-22 04:37] mbrn commented on #325
@ColinKrist I can send the closeDetailPanel function as a second parameter.

[2019-03-22 04:53] brittanywang commented on #291
I figured out how to address sub-issue 2...

- [x] (not having the top chart expanded with the Detail Panel is shown).

It is entirely dependent on the data generated. One of my data fields happens to be really, really long so the width is adjusted accordingly. To fix this, I adjusted the css overflow.

Hoping someone can find a way to

- [ ]  change the font for the generated data

[2019-03-22 05:06] mbrn commented on #291
@brittanywang

You can change fonts with css too,

[2019-03-22 06:45] #288 closed

[2019-03-22 08:19] #322 closed

[2019-03-22 08:22] mbrn commented on #322
This is done with 1.27.1

[2019-03-22 08:57] FlavyP opened #357 "Close detailPanel when leaving the page?"
I have a table with detailPanel. When I open the detailPanel of any rows, leave the page, and then come back to the page where the tables are, the detailPanels are still opened. Is there any way to close the detailPanel when leaving the page/unmount de component?

Also, when I come back, if I want to close the detailPanel by clicking on the row, I need to click twice. I think somehow it thinks tha

[2019-03-22 10:13] shabeelsyed commented on #322
Thanks, I verified!

[2019-03-22 10:19] mbrn commented on #357
Hi @FlavyP ,

Can you share code of table code please?

[2019-03-22 11:10] FlavyP commented on #357
Hi, sure.
[code]

[2019-03-22 11:48] mbrn commented on #357
It saves some data (about table, detail panel etc.) to your rows. When you mount table with same data again it will remember the detailpanel state. So if you want to reset table completely. You can delete tableData field on every row.

[2019-03-22 11:49] FlavyP commented on #357
Could you help me with some code example of that?

[2019-03-22 11:51] mbrn commented on #357
const newData = oldData.map(row => ({...row, tableData: {}}));

[2019-03-22 11:54] FlavyP commented on #357
Should this be when I unmount the component?

[2019-03-22 11:54] mbrn commented on #357
unmount or mount.

[2019-03-22 11:58] FlavyP commented on #357
Thank you!

[2019-03-22 11:58] #357 closed

[2019-03-22 14:26] thebetterjort commented on #353
How did I miss this? Thanks!

[2019-03-22 14:27] #353 closed

[2019-03-22 15:26] orestes22 commented on #67
I know it is close this, but I need Help
 the filter box dont appear for me if I dont write field:
so I dont understand how you can made a filter with this customFilterAndSearch if the box dont appear

Best Regards

[2019-03-22 17:01] ariverak opened #360 "editable problem"
Hello everyone, someone knows if I can select the columns I want to edit.
![image](https://user-images.githubusercontent.com/29168528/54840034-cf71be00-4caa-11e9-9df1-510be755a102.png)

[2019-03-22 17:10] mbrn commented on #67
You are right @orestes22

It is a bug. I fixed it. I will publish it asap.

[2019-03-22 17:17] mbrn commented on #360
Hi @ariverak ,

Unfortunately, you can not. It does not support for cell editing. Perhaps, later I can add this feature. But now i am focused other issues and adding some complementary enhacements on editing row.

[2019-03-22 20:47] orestes22 opened #361 "Help to understand how update totalCount using remote connection outside the table"
Hello,
I understand how to updated totalCount using your example Remote.

But let me ask> There is another way to access to totalCount? or page, etc , because I manage my API request outside of table, and only update the Array of object I passed to data={myData}
so if my database have 1000 element and only want pass 10 element per page, in my actual case the totalCount is always 10 because it obta

[2019-03-22 21:17] mbrn commented on #361
Hi @orestes22 ,

Why do you manage you api request outside of table?

If you want to manage pagination you can override the pagination component like this:

[code]

[2019-03-22 21:19] orestes22 commented on #361
TablePagination ?

[2019-03-22 21:19] orestes22 commented on #361
import from ?

[2019-03-22 21:20] mbrn commented on #361
import { TablePagination } from '@material-ui/core';

[2019-03-22 21:28] orestes22 commented on #361
Works !!
But, How I override the "Next PAge" button the event onClick, ?
Sorry, if Im asking dummy question and Im taking to much time from you

[2019-03-22 21:28] orestes22 commented on #361
I want use all the footer buttons

[2019-03-22 21:30] mbrn commented on #361
You already did it. All of them call onChangePage function with different values. So pagination component has only 2 event.
1. page number change
2. page size change

[2019-03-22 21:33] orestes22 commented on #361
yes, Im wrote wrong my last idea, thanks for your faster answer.

I will work by my side, an try to find the solutions of my new doubt by my own. I will let you know.

Thanks again !!!

[2019-03-22 21:37] mbrn commented on #361
So we can close this issue:)

Why you don't star this repo if you like it?

[2019-03-22 21:37] #361 closed

[2019-03-22 21:41] orestes22 commented on #361
I believe dont have enought experience, also and I dont have modified any repo before.
So probably you will reject my change, :)

[2019-03-22 21:42] mbrn commented on #361
No i didn't mentioned about contribution. Just star repo to support it :) Press the star button :)

[2019-03-22 21:47] orestes22 commented on #361
:D

[2019-03-23 10:50] #265 closed

[2019-03-23 10:52] mbrn commented on #318
This is done. I added maxBodyHeight to options.

[2019-03-23 10:52] #318 closed

[2019-03-23 10:59] revskill10 commented on #43
This is useful feature to have , @mbrn when will it be landed ?

[2019-03-23 11:04] mbrn commented on #43
I opened this issue on the first days of material-table. But i am only one developer of material-table and it is my hobby project. So i can not promise a date about issues. But as you know, i resolve issues, add features day by day :)

[2019-03-23 11:16] revskill10 commented on #43
@mbrn The intended behaviour is ability to freeze header, footer, columns on the right, columns on the left. This is nessessary when our table has about 30 columns.
In my use case, i have a table with columns like `day1, day2,...day31` for a month.

[2019-03-23 11:23] mbrn commented on #43
You are right. I will add this feature asap.

[2019-03-23 17:46] revskill10 opened #362 "Custom grouping action ?"
In my case, i use graphql query to fetch data.
So when doing grouping, i'd love to have custom grouping action, so that i could do refetch data based on the grouping data as new variables.

[2019-03-23 20:13] mbrn commented on #362
Do you want add some actions to group row?

[2019-03-23 20:19] revskill10 commented on #362
@mbrn I prefer keeping current behaviour, but exposing an event handler, like `onGrouping` which arguments is the `field` array of grouping headers ?

[2019-03-23 20:21] #362 closed

[2019-03-23 21:32] kasajian opened #363 "Get red in the console window when typing anything into"
**Describe the bug**
Get red in the console window when typing anything into

Editable Examples (https://mbrn.github.io/material-table/#/docz-examples-15-example-editable)

I get:
Warning: A component is changing an uncontrolled input of type text to be controlled. Input elements should not switch from uncontrolled to controlled (or vice versa). Decide between using a controlled or uncontrolled in

[2019-03-24 05:22] mazzini opened #364 "Cant import MTableEditRow"
im trying to customize the textfield by overriding the components, but MTableEditRow import doesn't work.

import MaterialTable, { MTableEditRow } from 'material-table';

console.log(MTableEditRow);
undefined

[2019-03-24 08:43] mbrn commented on #363
Hi @kasajian ,

Thanks for opening issue. It is a small bug. I will resolve it asap.

[2019-03-24 08:45] #364 closed

[2019-03-24 08:46] mbrn commented on #364
Hi @mazzini ,

I have forgotten exporting the MTableEditRow. I fixed it. It will be in next release in a few days.

[2019-03-24 10:40] Jim25 opened #365 "Table colSpan support"
Hi,

I want to do colspan in table column. Is there any way to do by this library ?

Thanks in advance.

[2019-03-24 10:50] mbrn commented on #365
Hi @Jim25 ,

It does not support for colspans. But as a workaround you can override the Row and Cell component to change their behaviour.

Look at overriding example:
https://mbrn.github.io/material-table/#/docz-examples-10-example-component-overriding

[2019-03-24 11:10] Jim25 commented on #365
Thank you mbrn!

I will give it a try.

[2019-03-24 11:10] #365 closed

[2019-03-25 07:56] kasajian opened #366 "'data' is modified by library code, requiring post-processing prior to saving it to disk"
**Describe the bug**
I need to "save" the data to disk as json, enabling admin to modify the file on disk if the want.  However, the library code seems to add additional bits to the data that need to be stripped out before file can be saved.

Right now, before saving the data to disk, we have to do the following

Code that needs to run once:

        var columnNames = columns.map(_ => _.field);

P

[2019-03-25 10:21] mbrn commented on #366
Table add a tableData field to every row to store some related data on it such as checked, detailPanel etc.

You should remove tableData field for every row if you want to save data to anywhere

[2019-03-25 14:46] orestes22 commented on #361
Hi, For some reason when I click the button Previous Page  the onChangePage dont reduce a page it add another page, for example if Im in page 2, and I clicked Previous Page button then onChangePage give me page 4, and Im waiting page 1.
Do you have any comment it could help me?

Thanks for your time and Best Regards

[2019-03-25 15:00] rayray93 opened #367 "onFilterChange"
Is there event witch can handle the filter changes?

Im currently set table state in url, for now i can track table state with these handlers..
*
onChangePage | func |   | To handle page changes (page)
onChangeRowsPerPage | func |   | To handle rows per page changes (pageSize)
onOrderChange | func |   | To handle order changes (orderedColumnId, orderDirection)
onRowClick | func |   | To handle row

[2019-03-25 15:21] domekol opened #368 "HTML output contains "[object Object]""
**Describe the bug**
HTML output has alot unknown 'html' properties.
Seems the "material-table" library properties are passed trough to MUI-components.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://mbrn.github.io/material-table/#/docz-examples-01-example-basic'
2. Open rendered HTML Sourcecode
3. Inpsect the rendered output of the table
4. See alot xxx="[object Object]"

**E

[2019-03-25 16:12] apsrcreatix opened #369 "Cannot find name MTableToolbar in index.tsx"
**MTableToolbar error**
(148,25): Cannot find name 'MTableToolbar'.
Let me know about this.

**Additional context**
![Screenshot from 2019-03-25 21-38-14](https://user-images.githubusercontent.com/24192742/54935611-a40aff80-4f46-11e9-901d-1756341a4d99.png)

[2019-03-25 16:39] kfirshahar opened #370 "When using lookup with integer value 0 the filtering returns empty results"
**Describe the bug**
When defining a Material table with column lookup field which defines a key with integer 0  for filtering, the data is not properly filtered and ignores records with integer 0 on the relevant column. When using non-zero number or with the string '0' there is no problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Define a Material table is it appears in the example i

[2019-03-25 16:49] kasajian commented on #366
Yeah, I get that.   Having the tableData field in each row is implementation detail and leaky abstraction.  I was just proposing that the library shouldn't modify the data that's supplied to it by the application.   If you disagree, that's fine.   Obviously it's your choice.

At the application layer it can be addressed, as you indicated.  Although, I wouldn't add code to the application layer tha

[2019-03-25 16:53] orestes22 commented on #361
I finded how to resolve it.  Thanks

[2019-03-25 17:09] orestes22 commented on #361
But, I can resolve the case when I change the Number of Row per page, the Table dont show all the values, only show 5, but in data it receiving 10.
How I can render again the Material Table and show all the element inside the data?

components={{
                      Pagination: props => (
                        <TablePagination
                          {...props}
                          rows

[2019-03-25 18:22] mbrn commented on #367
Hi @rayray93 ,

Did you see remote data feature? It lets you to manage all events.

https://mbrn.github.io/material-table/#/docz-examples-14-example-remote-data

[2019-03-25 18:22] mbrn commented on #368
Hi @domekol ,

I will resolve them asap.

[2019-03-25 18:25] mbrn commented on #369
Hi @apsrcreatix ,

It is a bug about typescript typings. If you have problems with compiling your typescript, you can add skipLibCheck: true to your tsconfig.json as a workaround.

I will resolve it in next release asap.

[2019-03-25 18:28] mbrn commented on #370
Hi @kfirshahar ,

Thanks for clear description about but. I will resolve it asap.

[2019-03-25 18:30] mbrn commented on #366
Hi @kasajian ,

To follow changes on a row with every render i have to add a additional field. Or i need to unique id of every row. So i decided to use tableData field. Thanks for clear comment.

[2019-03-25 18:31] orestes22 commented on #361
I tried with pageSize in option but I can change it after it appear first time.

[2019-03-25 18:31] mbrn commented on #361
You should set rowsPerPage to 10. Can you check it?

[2019-03-25 18:40] orestes22 commented on #361
Yes, I did, check my code before. Im doing this:
rowsPerPage={this.state.numberRowPerPage}
And that state I set it, with the value of onChangeRowsPerPage

[2019-03-25 18:43] orestes22 commented on #361
I found a patch with PageSize option, .....It only show the element I have in my array that I sent in data={my Array} , if the quantity of element are < or = to PageSize
BUT I cant change PageSize after the first time

[2019-03-25 18:59] mbrn commented on #361
Can you check here please?

[2019-03-25 19:05] TatiTheFreaK opened #371 "Select is missing localization?"
**Describe the bug**
In https://github.com/mbrn/material-table/blob/master/src/material-table.js , line 252 it looks like "rows" is hardcoded, so we can't localize it. Is this the case?

**Expected behavior**
Have a prop or something to allow us to localize the string

**Screenshots**
![image](https://user-images.githubusercontent.com/11199668/54946854-c6395900-4f17-11e9-932e-b1f900c516a2.png)

[2019-03-25 19:07] orestes22 commented on #361
Please, Could you give an example of how I can do that?

[2019-03-25 19:10] CalebCox opened #372 "When options={selection: true} is set the actions column does not appear for the table"
**Describe the bug**
When `options={selection: true}` is set the actions column does not appear for the table.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a standard MaterialTable component
2. Add props `options={{selection: true}}` and `actions={[{ icon: 'account_circle', tooltip: 'test', onClick: (event, rowData) => { console.log(rowData);}}]}`
3. View table in browser
4. Notice

[2019-03-25 19:18] CalebCox opened #373 "Selecting row causes header to only display search bar instead of search bar and isFreeAction: true actions"
**Describe the bug**
When selecting a row (checkbox) any actions set to `isFreeAction: true` for tables that have `options={{selection: true}}` are hidden by the red styled header causing these actions to be unusable.

**To Reproduce**
Steps to reproduce the behavior:
1. Create basic MaterialTable component
2. Assign props: `options={{selection: true}}` and `actions={[{ icon: 'settings', tooltip:

[2019-03-25 19:24] CalebCox opened #374 "Set default columns for columnsButton"
**Is your feature request related to a problem? Please describe.**
I have a table with over 40 different columns, this causes the table to be quite lengthy so I use `columnsButton: true` to allow users to select columns.

**Describe the solution you'd like**
By default, all columns listed render automatically and are selected within the Show/Hide columns window, It would be nice to have a key/valu

[2019-03-25 19:42] orestes22 commented on #361
This is what you mean? :

onChangeRowsPerPage={event => {
                            props.onChangeRowsPerPage(event)
                            this.handleChangeRowPerPage(event.target.value);
                          }}

[2019-03-25 19:52] mbrn commented on #371
I developed it a few days ago. I will add localization for it asap. Or why you dont contribute: )

[2019-03-25 19:53] mbrn commented on #372
Hi @CalebCox ,

Thanks for very clear description. But this is not a bug. This is normal behaviour of table. Because actions are related with row. If you open selection this mean a action will work on multiple row. To see actions on the right top corner of table, select a few rows.

[2019-03-25 19:54] mbrn commented on #373
This is not a bug, too. free actions mean that they can work without data. Such as add a new item.

[2019-03-25 19:57] mbrn commented on #374
You can add hidden: true to your column definition. It will hide these columns by default.

[2019-03-25 19:57] mbrn commented on #361
Yes. did you try with this?

[2019-03-25 19:57] CalebCox commented on #372
@mbrn Thank you for clarifying! I couldn't see anything in the docs that mentioned this behavior and since the Actions are listed in their own column in the examples, not seeing the actions on the rows was quite confusing!

Perhaps it would be a nice feature to allow the actions to display on the row itself if nothing is selected? Unfortunately I'm not sure of a good way to display that transition

[2019-03-25 19:59] CalebCox commented on #373
@mbrn Thanks again for clarifying, I was attempting to use this as a "global" action of sorts for items such as mass delete/remove but it appears your response to #372 clears up how to handle that for multiple items.

[2019-03-25 19:59] #373 closed

[2019-03-25 19:59] mbrn commented on #372
It could be nice, but i would not prefer this type of actions. Because it will be frustrating for both developer and users. So if you have special case to show a action always on row although selection is open, you can use custom render feature to draw your own actions.

[2019-03-25 20:03] orestes22 commented on #361
Yes, I did, and it is working. Thanks for the advice.
I thought you will saying me more deep code.

Last thing, if the data only have 12 element, and the user select 20 Rows Per Page,  how I can avoid that appear empty space. ?
Do you have better solutions that control the selection in "rowsPerPageOptions" ?

[2019-03-25 20:04] mbrn commented on #361
:) Just add emptyRowsWhenPaging: false to options of table

[2019-03-25 20:06] CalebCox commented on #374
@mbrn that's exactly what I was looking for, apologies for the confusion on my end, I didn't see the hidden value in docs at first! Thank you for pointing me in the right direction.

[2019-03-25 20:06] #374 closed

[2019-03-25 20:07] orestes22 commented on #361
LOL !!!!! WDF
:D
Thanks!!

For give me If I disturb you to much!!!

[2019-03-25 20:07] mbrn commented on #374
No problem @CalebCox , feel free to ask. I can help as possible as

[2019-03-25 20:08] mbrn commented on #361
No problem @orestes22

[2019-03-25 20:52] apsrcreatix commented on #369
I have changed it to type **any**. It worked for me. Thanks.

[2019-03-25 21:01] kasajian opened #375 "How to make toolbar take less space"
When turning off search, sorting and showTitle, toolbar takes too much space -- how would one make the height shorter and the remaining "Add" button closer to the edge:

![image](https://user-images.githubusercontent.com/2384797/54953814-5ec6dd80-4f06-11e9-8b86-5d11fa78a03e.png)

        <MaterialTable
            components={{
                Toolbar: props => (
                    <div style={{

[2019-03-25 21:01] kasajian commented on #375
Providing this example in the docs will also help new users on how to locate additional props within the source and how to override them.

[2019-03-26 00:21] mazzini commented on #364
Tnx! Amazing work btw

[2019-03-26 01:57] hsluoyz opened #377 "How to go to a specific page when number of pages is very large?"
I have used the new server-side pagination feature here: https://github.com/mbrn/material-table/issues/64 and it is awesome. Thanks for your work!

The issue I encountered is that there can be 100 pages in my scenario. And somehow I need to go to the 50th page. But the there's no a "go to page x" way for me to directly go to a page. I have to click the "left" and "right" buttons for many times to

[2019-03-26 04:42] mbrn commented on #375
Hi @kasajian ,

You can change its minHeight with css like this.

[code]

[code]

[2019-03-26 04:43] mbrn commented on #377
Hi @hsluoyz ,

Can you try adding paginationType: 'stepped' to options of table. It may resolve your requirements.

[2019-03-26 05:39] kasajian commented on #375
Thank you.   I would have never assumed that a <style> section would have been required for this.   I tried doing the above with a style attribute in the MTableToolbar component, and it didn't work.

But what you have shown there does work, so thank you!

[2019-03-26 06:57] mbrn commented on #375
Actually i don't prefer classes. I should transfer style to TableToolbar from MTableToolbar.

[2019-03-26 08:31] HaswinVidanage commented on #297
Hi @jonasvag , @mbrn can you I know how this is done ?
also is it possible to create a custom add row button and replace it with the existing add row button on the toolbar ?

Thanks in advance.  :)

[2019-03-26 08:38] mbrn commented on #297
Hi @jonasvag

You can override Action component. So you can draw your own add row button on toolbar.

[2019-03-26 11:23] mbrn commented on #288
Hi @fernandes

Why do you need MTableToolbar as first parameter on exportCsv. Because i removed it in 1.27.2,

If it is important i can resolve it with another way.

[2019-03-26 11:23] mbrn commented on #369
This is done with 1.27.2

[2019-03-26 11:23] #369 closed

[2019-03-26 11:29] TatiTheFreaK commented on #371
It works now, thank you for the quick merge :D

[2019-03-26 11:29] #371 closed

[2019-03-26 11:55] fernandes commented on #288
@mbrn because was the only way to close the tooltip

[code]

otherwise it stays open after the exporting

thank you!

[2019-03-26 12:12] mbrn commented on #288
We may add a optional callback to export csv button for after jobs.

[2019-03-26 12:14] fernandes commented on #288
Yeah, my only problem was to close the button heheh If this optional callback solves this problem, ✅

[2019-03-26 14:35] orestes22 opened #379 "custom filtering"
Hi, crack, :). How to render a custom Filter?, I mean : I have a columns where I render different options, so I will want make a Filter where the user can select from this options and show the rows that have those options.

Best Regards

[2019-03-26 15:28] crotten opened #380 "Two warnings appear if multiple groups are set via defaultGroupOrder"
**Describe the bug**
I currently have defaultGroupOrder set to 0 and 1 for the two columns and it works as expected but I get a warning saying certain attributes are not defined (isTreeData and onTreeExpandChanged).

**To Reproduce**
Steps to reproduce the behavior:
1. Add defaultGroupOrder to two different columns with the values of 0 and 1
2. Open the console for the web browser
3. Expand one of

[2019-03-26 21:21] kuantayevs opened #382 "custom pageSizeOptions does not accepts array of options"
I am trying to set `pageSizeOptions = {[10,20,50,100]}` but still see default values which are **5,10,20**

[2019-03-26 21:42] orestes22 commented on #67
Still not working. If you dont have Field with something between "" , it isnt works.

Also I would like add in the Filter a Selection of checkbox with the option that appear in the colums. Can I implement that in the customFilterAndSearch ?

Best Regards

[2019-03-26 23:55] kasajian commented on #375
I tried that, but it didn't work because you can't put "!important" in style attribute I don't think

[2019-03-27 02:39] #291 closed

[2019-03-27 03:52] #351 closed

[2019-03-27 03:53] arpitalopa commented on #351
close

[2019-03-27 04:51] mbrn commented on #382
Hi @kuantayevs ,

You should add it to options prop:

[code]

Can you try this please?

[2019-03-27 04:54] mbrn commented on #67
you should have field or customFilterAndSearch in column definition. Can you check it again please?

[2019-03-27 04:55] mbrn commented on #375
You can not set it as style. You should use css classes. Look at this:

https://material-ui.com/customization/overrides/

[2019-03-27 08:43] rayray93 commented on #367
@mbrn Thanks u for response :)

Yes, i saw feature but problem is when i navigate away from that table and came back im loosing page, pageSize, filters.. etc.

so i switch to static data, so i fetch(fetching by url) data in array assign it to table data and then handle url by events onPageChange, onSortChange etc but there is no event for filterChange...

so far i get my table state via url when i

[2019-03-27 09:05] billBeOK opened #383 "How to refresh remote data programmatically"
Help me pls,

I have bind data to MaterialTable with remote feature without problems.
But now i want to be able to refresh this data with a trigger. I don't know if it is possible?

I know how to do it when data is an array. (with state)
but when data is a promise ....

Thks,

[code]

[2019-03-27 10:13] symnetry commented on #291
i face the same issue, one of my data is so long
but can set cellstyle:{whiteSpace:'nowrap'}
and it works for me

[2019-03-27 10:48] mbrn commented on #367
I got your requirement. I will add this event asap.

As a workaround you can do this:

[code]

[2019-03-27 11:15] #383 closed

[2019-03-27 11:18] mbrn commented on #383
Hi @billBeOK ,

Your requirement makes sense. I resolved it with tableRef with new version 1.28.0

[code]

[2019-03-27 11:21] mbrn commented on #307
Hi,

I added a tableRef feature to table. So you can call onQueryChange from outside of table. Please look at #383

Don't forget to upgrade 1.28.0

[2019-03-27 11:21] #307 closed

[2019-03-27 12:08] kuantayevs commented on #382
it is already inside of options

On Wed, Mar 27, 2019 at 00:51 Mehmet Baran <notifications@github.com> wrote:

[2019-03-27 12:10] mbrn commented on #382
Can you share table usage code, please? Because i tried it and it is working.

[2019-03-27 12:10] mbrn commented on #382
Which version of material-table do you use?

[2019-03-27 12:13] billBeOK commented on #383
it's work like a charm !

Bravo

[2019-03-27 13:27] orestes22 commented on #367
How do you implement a debounce in this situation? when is trigger this function is after the debounce ?

Best Regards

[2019-03-27 13:33] mbrn commented on #367
This is a workaround. so in this solution i avoid the debounce.

[2019-03-27 13:36] orestes22 commented on #367
customFilterAndSearch  have a debounce ?

[2019-03-27 13:39] orestes22 commented on #67
In your example works , but in my code doesnt, Im not sure why, because I check your code and you only have and "if" for show or not show that. but this is a minor things.

What comment do you have for this:
I would like add in the Filter a Selection of checkbox. Can I implement that in the customFilterAndSearch ?

[2019-03-27 13:59] orestes22 commented on #67
I would like that people choose the word and after that I will filter using that

[2019-03-27 14:29] kuantayevs commented on #382
I just updated. Everything work! Sorry for that!

On Wed, Mar 27, 2019 at 08:10 Mehmet Baran <notifications@github.com> wrote:

[2019-03-27 14:29] #382 closed

[2019-03-27 15:09] crotten opened #384 "When data is grouped the exported csv only contains the column titles"
**Describe the bug**
When I try and export grouped data the csv only contains the column titles. If I remove the groups the exported csv has all the expected data.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a table with groups
2. Drag a group to the top to make it active
3. Export the data
4. Open exported csv file

**Expected behavior**
When exporting grouped data the data would

[2019-03-27 16:10] kasajian commented on #375
Thanks. Let me study that.

On Tue, Mar 26, 2019 at 9:55 PM Mehmet Baran <notifications@github.com>
wrote:

[2019-03-27 16:41] mbrn commented on #367
yes, table calls customFilterAndSearch in a debounce.

[2019-03-27 16:42] mbrn commented on #67
You can do this by customFilterAndSearch .

[2019-03-27 16:42] mbrn commented on #382
Not problem @kuantayevs , feel free to ask.

[2019-03-27 19:02] revskill10 commented on #379
@mbrn This is i think essential for better UX ;)
For example, for `date` column type, i'd love to implement a range filter instead of "one date" filter.

How do you think about expose a `filterRender` function ?

[2019-03-27 19:41] mbrn commented on #379
Of course this will be useful. But firstly i want to apply filter with default operations such as string contains, startswith etc.

[2019-03-27 20:12] jakeleventhal commented on #328
This change breaks when upgrading from 1.24->1.25+

[2019-03-27 20:33] arunasri opened #385 "unable to test react-test-render"
**Describe the bug**
react-test-render throwing exception

**To Reproduce**
Steps to reproduce the behavior:
renderer
    .create(
      <div>
        <StaticRouter location="someLocation" context={{}}>
          <MaterialTable
            columns={columns}
            data={[]}
            options={{
              filtering: true,
              pageSize: 20
            }}
            title="Confi

[2019-03-28 05:19] #328 closed

[2019-03-28 05:21] mbrn commented on #385
Hi @arunasri ,

I have not used react-test-render. I will try it on material-table asap.

[2019-03-28 05:28] mbrn commented on #328
Hi @jakeleventhal ,

It is fixed with 1.28.1.

[2019-03-28 08:59] hasankhalid commented on #291
Is there anyway to perhaps change the padding properties in material ui's TableCell component? I want to decrease the width of the column which contains only a number but using cellStyle:{width: '75px'} won't work.

[2019-03-28 14:37] themausam commented on #300
Is there an ability to mark certain rows as selected when table is loaded?

[2019-03-28 15:19] revskill10 opened #386 "Typescript warning"
**Describe the bug**
I got this warning with version 1.28.1.

[code]

**Expected behavior**
No Typescript warning should be throw.

[2019-03-28 16:34] mbrn commented on #300
@jonasvag

You can add defaultFilter property to your boolean column definition like this:

{ title: 'Evli', field: 'isMarried', type: 'boolean', defaultFilter: 'checked' }

[2019-03-28 16:36] mbrn commented on #300
Hi @themausam ,

Just add  tableData: {checked: true} to row that you want to default selected.

[2019-03-28 16:36] #300 closed

[2019-03-28 16:39] mbrn commented on #386
Hi @revskill10 ,

could it be related with a library that used by material-table.

[2019-03-28 16:44] #380 closed

[2019-03-28 16:44] #375 closed

[2019-03-28 16:45] #372 closed

[2019-03-28 16:54] #370 closed

[2019-03-28 17:04] revskill10 commented on #386
@mbrn THere're two files that causes the error:
[code]
and
[code]

[2019-03-28 17:06] #368 closed

[2019-03-28 17:08] mbrn commented on #386
It seems about material-ui/core bugs. There is already issue about them. If it effects your build you can add skipLibCheck: true to tsconfig.json.

https://github.com/mui-org/material-ui/issues/15075

[2019-03-28 17:27] revskill10 commented on #386
@mbrn It was resolved with latest 3.9.3 version.
So i think the library should upgrade to use 3.9.3 , too ?

[2019-03-28 17:32] mbrn commented on #386
Of course. I upgraded it. Waiting travis to publish 1.28.2

[2019-03-28 17:32] #386 closed

[2019-03-28 18:33] mbrn commented on #380
This is done with 1.28.2

[2019-03-28 18:33] mbrn commented on #370
This is done with 1.28.2

[2019-03-28 18:33] mbrn commented on #368
This is done with 1.28.2

[2019-03-28 18:33] mbrn commented on #386
This is done with 1.28.2

[2019-03-28 19:23] taranto commented on #327
I am currently with the same issue.

[2019-03-28 20:07] crotten opened #387 "Warning: Invalid prop `variant` of value `contained` supplied to `Chip`, expected one of ["default","outlined"]."
**Describe the bug**
This warning appears anytime a component with the table is loaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the material table component
2. Go to the view that contains it
3. Open and view console

**Expected behavior**
This warning is gone.

**Screenshots**
<img width="642" alt="Screen Shot 2019-03-28 at 3 03 37 PM" src="https://user-images.githubusercontent.

[2019-03-28 21:14] v1nns opened #388 "Question about tree data"
How could I get the status when the tree has expanded by Parent component? Should I need to override some component like Body or Row?

[2019-03-29 05:55] mbrn commented on #388
Hi @v1nns

What do you mean by expanded? Do you want to handle expand event?

[2019-03-29 09:14] Daniel0827 opened #389 "Details panel colspan miscalculated"
**Describe the bug**
Detail panel's td colspan only counts the data columns, but not the automatically added columns for actions or the Detail panel buttons.

You can also see this on the Details panel examples.

**Screenshots**
![kép](https://user-images.githubusercontent.com/11861569/55221247-5245cc00-5209-11e9-868c-22513dc71f36.png)

![kép](https://user-images.githubusercontent.com/11861569/552

[2019-03-29 10:39] v1nns commented on #388
Hi @mbrn, I would like to get a event every time the tree has expanded, for example, there is the event **OnRowClick**, but it's not called when you click on the button (icon: >) to expand the tree data.

[2019-03-29 10:59] mbrn commented on #389
Hi @Daniel0827

I will resolve it asap.

[2019-03-29 11:01] mbrn commented on #388
@v1nns ,

I will add event that you want asap for next release. Generally i publish new releases in a few days.

[2019-03-29 12:43] v1nns commented on #388
@mbrn, alright, thank you. Congratulations for the work done, material-table is really useful, especially on the project I've been working.

[2019-03-29 15:49] fernandes commented on #288
@mbrn could you manage how to handle the close of the tooltip? I've looked in the source and couldn't  find anything... maybe on solution could be encapsulate the export behavior and then call the `setState`

[code]

I've seen no occurrences of async/await in the code, but you don't like this style, but at least I could give an example of the idea heheh

see you

[2019-03-29 16:02] revskill10 commented on #64
@mbrn Is there any update ?
I need filtering server-side, too.

[2019-03-29 16:10] CalebCox opened #390 "Columns that are unhidden from remote data not displaying filter input?"
I've got a table that's using the `data=query` function to grab remote data, this query is also grabbing parameters (vary in amount based on user inputs) and turning these parameters into hidden columns. When one of these additional columns is unhidden, the filter input is not being displayed below the column name.

**Table Query Code**
[code]

This is setting up all of our hidden columns in the s

[2019-03-29 16:22] ezulfiqar opened #391 "Dropdown keeps resetting the value after new data is loaded"
First of all I would like to thank the author for material-table.

I started playing around with the demos and created a table with custom filtering and live data feed that updates the table. The problem I came across is that it kept resetting the custom filter and there was no way for me to keep the option selected after the table refreshes with new data.

Can anyone help with this? Am I doing so

[2019-03-29 16:59] revskill10 commented on #387
Upgrading `@material-ui/core` to 3.9.3 and latest `material-table` seems fix this issue.

[2019-03-29 19:20] crotten commented on #387
@revskill10 awesome, thank you! I will try that.

[2019-03-30 15:20] mbrn commented on #288
Hi @fernandes ,

I added setState after calling export function like this:

[code]

[2019-03-30 15:21] mbrn commented on #64
Sorry, i have forgotten add a comment here:).

query already has a filters field.

[2019-03-30 15:25] mbrn commented on #390
Hi @CalebCox,

You didn't add 'field' to your newColumn. So material-table does not know how to filter or search on this area. You should add a field area or add a customFilterAndSearch function to column.

[2019-03-30 15:32] mbrn commented on #391
Hi @ezulfiqar ,

Thanks for making me proud :).

I looked your codesandbox example. You have used columns directly as an array to give table. Table stores filter data on columns. After every refresh it creates columns from zero. So you can move your columns to state.

Look at example that i fixed the problem:
https://codesandbox.io/embed/xj36358myp

[2019-03-30 15:32] #391 closed

[2019-03-30 19:53] fernandes commented on #288
you made it, awesome, thank you very much... 👏 😄

[2019-03-30 20:48] ColinKrist opened #392 "actions prop error with newest release"
**Describe the bug**
A clear and concise description of what the bug is.
* actions prop types must have changed in a recent release. It used to accept array of objects or functions where the functions get rowData passed to them. The functionality still works, but now I'm getting prop errors.

**To Reproduce**
Steps to reproduce the behavior:
create table with actions have one of these actions be a

[2019-03-30 20:57] #392 closed

[2019-03-30 20:58] mbrn commented on #392
Hi @ColinKrist ,

Thanks for bug issue. I fixed it and it will be in next release.

[2019-03-31 03:01] barbieri opened #393 "Filter and Export do not use field accessor for complex data"
**Describe the bug**

If I have a complex object as below, the data is properly displayed, but export do CSV and filtering do not work as it doesn't use `byString()` accessor:

[code]

**Expected behavior**
All access should be the same.

[2019-03-31 10:33] rssluca commented on #297
HI!
How so? It looks to me that Action/Actions overrides each row actions not the toolbar..

I would like to see and example too as I would like to add custom button to the toolbar!

Thanks!!

[2019-03-31 14:36] mbrn commented on #393
Hi @barbieri

I will take a look at it asap. If you need a quick workaround you can override exportCsv feature to solve your problem.

[2019-03-31 14:37] mbrn commented on #297
Hi @rssluca

You should set isFreeAction: true to see buttons on toolbar. I will add a example to actions asap.

[2019-03-31 23:59] ColinKrist commented on #389
To all facing this issue, https://github.com/mbrn/material-table/issues/380 introduced bug and is not present in 1.28.1.

[2019-04-01 02:29] barbieri commented on #393
no hurry, I was just investigating... the actual project will use flat data structure, so won't be affected.

[2019-04-01 03:25] theofournier opened #394 "Warning: Failed prop type: Invalid prop `detailPanel` supplied to `MaterialTable`"
Hi,
First thanks for your awesome package.

I have this error when I put an array of detailPanel as props to the MaterialTable component.
![image](https://user-images.githubusercontent.com/25389865/55301589-65aa9e80-5478-11e9-8ac3-a130349a807f.png)

Here my code :
![image](https://user-images.githubusercontent.com/25389865/55301666-a4405900-5478-11e9-9bcc-10196f1c7b09.png)

But all is working well

[2019-04-01 04:38] rssluca commented on #297
Done it, I also added a PR to add a searchFieldAlignment option so that the search field can be moved to the left as well.

For anyone else, you can add a custom element in the action component, for example:

[code]

[2019-04-01 05:13] mbrn commented on #394
Hi @theofournier ,

I guess that it is a PropTypes warning. I will take a look at it asap.

[2019-04-01 07:07] sshanzel commented on #96
Is it working now? Cause i am implementing the tableData with checked property but it is not being checked.

[2019-04-01 07:32] kfirshahar commented on #370
Hi @mbrn ,
Thanks for the quick fix, it works fine now :)

[2019-04-01 08:01] imajindev opened #396 "Something wrong with detailPanel"
[code]
tried to do this
it doesnt work

but tried to do this
[code]

which is basically the render in CustomComponent and it works
any idea?
does it need to be PureComponent? really no idea whats going on here

[2019-04-01 08:24] imajindev commented on #396
hmm seems like for detailPanel, the component inside of it should not be doing any fetching to remove server for more data to display in the detail panel component?

[2019-04-01 09:54] ivakarlec opened #397 "Export csv: close menu when using custom exportCsv from tables options"
**Describe the bug**
When I want to use a custom defined exportCsv method, the menu with the exportCsvButton can not be closed.

**To Reproduce**
Steps to reproduce the behavior:
1. define some exportCsv function and pass it to the table in the options array as designed
2. Click on the export icon and than on the menu item 'Export as CSV'
3. After the export, the menu can't be closed

**Expected b

[2019-04-01 10:11] ivakarlec opened #398 "exportCsv column with lookup data"
**Describe the bug**
Data in column with lookup are exported with the lookup-keys, not the lookup-values.

**To Reproduce**
Steps to reproduce the behavior:
1. Define a column with the lookup feature
2. Export the table
3. In the exported table are in the column with lookup the lookup keys

**Expected behavior**
In the exported table should be the lookup values.

**Screenshots**
If applicable, add

[2019-04-01 11:09] mbrn commented on #396
Actually you can. Detail panel works very simple. It only renders you component when you expand detail panel.

[2019-04-01 11:37] ivakarlec commented on #397
thanks a lot for fixing :)

[2019-04-01 11:37] #397 closed

[2019-04-01 14:04] ezulfiqar commented on #391
Thank you so much for the quick response!

That solves the problem for me. Still new to React so thank you for your patience :)

[2019-04-01 15:13] CalebCox commented on #390
@mbrn Thank you for the response! I didn't see the 'field' used in the remote data example in the documentation so that never crossed my mind!

Regarding that 'field' value, the field I need is in an object, nested inside of another object which is part of an array of objects being returned from the fetch, I know the 'field' expects a string, is there any way to do dot notation to drill down the t

[2019-04-01 15:24] crotten commented on #387
@revskill10 I upgraded `@material-ui/core` to 3.9.3 and have `material-table` on 1.28.2 and am still seeing this error.

cc: @mbrn

[2019-04-01 19:36] mbrn commented on #390
You can use this kind of field: 'names.surname'

I guess that you asked for this?

[2019-04-01 20:21] mkong66 commented on #367
Yes, exactly as here:
<MaterialTable
components={{
Body: props => <MTableBody {...props} onFilterChanged={(columnId, value) => {
props.onFilterChanged(columnId, value);
// Do you job here :)
}}/>
}}

[2019-04-01 20:56] ColinKrist commented on #389
@mbrn is this issue addressed in an upcoming release? the version I mentioned was the last release and 1.28.2 is current release.

[2019-04-01 23:21] tkarpeichik opened #400 "Error in update for inline editing"
Nice component.   Is the inline editing ready for use?  Have you come across the following?

Trying to use the inline edit feature but getting the following error after clicking save:

[code]

The line tossing the error is:

_this5.props.editable.onRowUpdate(newData, oldData)

Here's the function containing the above line:
[code]

[2019-04-02 01:38] mkong66 commented on #367
[code]

I have the paging prop specified above, have no idea why it won't pass, with this error msg:
bundle.js:82021 Uncaught TypeError: Cannot read property 'paging' of undefined

Any idea?  Thanks.

[2019-04-02 03:16] mkong66 commented on #367
components={{
                            Toolbar: props => <MTableBody
                                options={{
                                    pageSize:10,
                                    paging:false,
                                }}
                                {...props}
                                onFilterChanged={(columnId, value) => {

[2019-04-02 05:45] mbrn commented on #389
@ColinKrist

Let me check it. I fixed it but i will check again.

[2019-04-02 05:46] mbrn commented on #400
I published inline editing but it needs many improvements. I will check this case asap.

[2019-04-02 05:47] mbrn commented on #367
No. This is not a good solutions. props should contain these fields. Can you check props please? Rename it to avoid name conflicts

[2019-04-02 10:24] symnetry opened #402 "sometimes want fixed the action panel"
sometimes my data are too long ,
i want my action panel at the last and aways fixed position
like this↓
![1554200629(1)](https://user-images.githubusercontent.com/20887001/55395674-97089480-5574-11e9-9886-c4b5aba96bba.png)

[2019-04-02 10:30] mbrn commented on #402
we already have a issue that is about freezed columns. #43

[2019-04-02 11:41] VladTsybulskiy opened #403 "Add custom handler for each actions button"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-04-02 13:38] javierxbrenes1 opened #404 "Custom the "Actions" Column name."
Hi guys, I'm wondering how can I customize the "Actions" column name, I can't find a way to do this, my site is in spanish so instead of "Actions" I have to call the column as "Acciones", How can I do this ?

[2019-04-02 14:01] HenryTux opened #405 "Get grouping feature Chips list"
Hi there mbrn!

Your component has been very very useful for a project I am currently working on, but I came across with a minor issue when the view I am rendering refreshes (i.e. receives new props) and I have grouped columns by dragging their headers to the grouping component, where chips are then displayed. The grouping is reset to default, displaying no chips at all and sorting the columns as

[2019-04-02 14:46] Rassilion commented on #404
You can change it wit localization prop

https://mbrn.github.io/material-table/#/docz-examples-09-example-localization

[2019-04-02 15:03] Rassilion opened #406 "Dark theme does not work in column headers"
**Describe the bug**
Dark theme does not work in column headers

**To Reproduce**
https://codesandbox.io/embed/5zzvv984rk

**Screenshots**
![image](https://user-images.githubusercontent.com/1886248/55413220-91f61600-5571-11e9-9c6b-19f744ed1486.png)

**Desktop (please complete the following information):**
 - OS: windows
 - Browser: chrome
 - Version: 73

[2019-04-02 15:24] crotten commented on #393
@mbrn thanks for the tip about the workaround. :)

[2019-04-02 16:29] mbrn commented on #405
Hi @HenryTux ,

You can store columns in your store. table add a field as 'tableData', and store everything on it. If you keep columns in your own state, problem will be resolved.

Otherwise problem is same with #263

[2019-04-02 16:29] #404 closed

[2019-04-02 16:39] #406 closed

[2019-04-02 16:43] mbrn commented on #406
This is published with 1.28.3

[2019-04-02 16:44] mbrn commented on #392
This is published with 1.28.3

[2019-04-02 16:44] mbrn commented on #288
This is published with 1.28.3

[2019-04-02 16:44] mbrn commented on #398
This is published with 1.28.3

[2019-04-02 16:44] #398 closed

[2019-04-02 16:51] fernandes commented on #288
thank you, my friend, such a pleasure to contribute to your project... keep going the awesome work! cheers!

[2019-04-02 19:27] orestes22 commented on #316
Hi, Do you finished this?
Is there a option already to insert a Select component in a column that I want to Edit or Add ?

Best Regards

[2019-04-02 19:40] mbrn commented on #316
Hi @orestes22

I didnt started this issue yet. But if you add a lookup to your column definition it will draw a select instead of textfield

[2019-04-02 19:53] orestes22 commented on #316
It could be solutions for Select, and I will use it. Thanks !!!

However, Is there a way to Edit this Lookup, because the underline is appearing very short and I will add some color to the options. ?

[2019-04-02 19:54] orestes22 commented on #316
Also how Add color to the Actions buttons in the "Inline Edit option"

[2019-04-02 19:55] mbrn commented on #316
After i publish this issue you can:). But now you can not

[2019-04-02 19:57] orestes22 commented on #316
Sorry for not understand very well, your answer is No, for my 2 questions?

[2019-04-02 20:04] orestes22 commented on #316
Kindly recommend to add in your next release in this area, the possibility to capture onClick in the "Add" button before happens.
Also create a a property to limit how many rows the user can insert.

[2019-04-02 20:06] orestes22 commented on #316
Im not going to use the Inline option, I will wait your release where I can style.
Best Regards

[2019-04-02 20:44] mbrn commented on #316
Ok @orestes22 . I will consider your opinions. Thanks.

[2019-04-03 06:16] spazzarama commented on #350
@wandrzejczak @mbrn I have the same requirement and have created a pull request with a solution.

I didn't find this issue until after making the change, so hopefully it suits what you had in mind.

The change allows you to make a column readonly when editing, while remaining editable when adding a new row.

[2019-04-03 08:01] mbrn commented on #350
Thanks @spazzarama

Let me test it and i will publish it today.

[2019-04-03 08:10] mbrn commented on #350
I published it with 1.29.0

[2019-04-03 08:15] spazzarama commented on #350
@mbrn thanks

[2019-04-03 08:23] Rassilion opened #408 "Detailpanel width problem"
**To Reproduce**
Bug starts with 1.28.2, 1.28.1 version work as expected.
https://codesandbox.io/embed/5zzvv984rk

**Expected behavior**
A clear and concise description of what you expected to happen.
![image](https://user-images.githubusercontent.com/1886248/55463763-62dbb500-5602-11e9-84e6-ae74638d656c.png)

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](ht

[2019-04-03 08:28] #408 closed

[2019-04-03 08:29] Rassilion commented on #408
duplicate of #389

[2019-04-03 08:35] mbrn commented on #408
This is done with 1.29.1

[2019-04-03 08:35] mbrn commented on #389
This is done with 1.29.1

[2019-04-03 08:35] #389 closed

[2019-04-03 13:49] namy16 opened #410 "Option to add a new row at the beginning of the table"
Hello @mbrn,

I had a chat with you recently about adding a feature so that we can add a new row at the beginning of the table while clicking on the default Add Icon. You talked about adding an option of addRowPosition field. Can you please add this feature ?, I need it asap.

[2019-04-03 13:52] namy16 opened #411 "how to add a new row with my own customised Add Button"
Hi @mbrn

Can you please share a code snippet which describes how to trigger the same functionality that the default add Icon button is doing i.e to create a new row, with my customised action button placed at the left of the toolbar.

`<button> Add New Task </button>`

[2019-04-03 16:46] 1981ats opened #412 "New column option next to readOnly"
Please excuse my bad English.
Please give the option on the column next to readOnly to define second option that it will not be editable to insert a new value After inserting the new data I send it to the server where it is inserted into the database with id according to the sequence. If the id is displayed, it is not desirable to allow it to be edited. When editing, I set a new property of the re

[2019-04-03 17:27] 1981ats opened #413 "Pagination wrong if my theme specify padding for MuiIconButton"
Please excuse my bad English.
If i overrides **padding** for **MuiIconButton** **root**, because default is unnecessarily big for me, display pagination in table foother is wrong.

[code]

![material-table-pagination-wrong](https://user-images.githubusercontent.com/49246481/55499116-7e1be400-5645-11e9-84a5-b521df7df49b.png)
The problem is probably in the **m-table-pagination.js** line
<Typography

[2019-04-03 20:44] mbrn commented on #412
Hi @1981ats

I will add this feature asap.

[2019-04-03 20:44] mbrn commented on #413
I will test this case asap and try to find a custom solution

[2019-04-03 21:17] orestes22 opened #414 "Material Table is adding the tableData element to the Data"
**Describe the bug**
A clear and concise description of what the bug is.

Hi, I have this code:

data={this.state.rooms}

where this.state.rooms, is an array of rooms.

but for some reason the Material Table added to my this.state.rooms , the element TableData.
I checked very well this, and checked that I dont have anything in my code that could adding TableData like an extra element in my array o

[2019-04-03 22:17] spazzarama commented on #414
@orestes22 that property is used internally by material-table (track selections and the like).

I use something like this to strip out the tableData when committing changes from onUpdate/onSelected events:

[code]

[2019-04-03 23:47] spazzarama opened #415 "onChangeRowsPerPage is not triggered if remote data"
**Describe the bug**
The onChangeRowsPerPage event is not triggered if using remote data.

**To Reproduce**
Steps to reproduce the behavior:
1. Add onChangeRowsPerPage={(pageSize) => {console.log('Page size changed!'};} to remote data example (like in https://mbrn.github.io/material-table/#/docz-examples-14-example-remote-data)
2. Change page size
3. Do not see "Page size changed!" in console

**E

[2019-04-03 23:47] spazzarama commented on #415
@mbrn I can make this change, but not sure if you want to make this or just update documentation?

[2019-04-04 02:26] imajindev commented on #396
yeah i also thought thats how the behaviour will be, but somehow it just dont work

[2019-04-04 03:50] ColinKrist opened #416 "Zindex of table header gets in the way of react-select dropdowns"
**Describe the bug**
We have a form above a table that has a react-select component that when opening it causes issues with the header of material-table.

perma-link to the index set in the header:
https://github.com/mbrn/material-table/blob/92b55a4e88858c45218beacfeb8234ff3274a8c7/src/m-table-header.js#L181

Is there a reason why the zIndex is set? I haven't dug around too much, but thought I'd i

[2019-04-04 05:11] spazzarama opened #417 "MTableEditRow to use DataManager getFieldValue to support nested data fields"
**Is your feature request related to a problem? Please describe.**
Existing values for nested fields display as blank when editing a row.

**Describe the solution you'd like**
MTableEditRow to retrieve the current value of a cell using the data manager getFieldValue function as per MTableBodyRow

**Describe alternatives you've considered**
Copying data from sub-objects onto properties of the root

[2019-04-04 06:36] #414 closed

[2019-04-04 06:39] mbrn commented on #415
Hi @spazzarama ,

We can do this. But firstly we should add a callback to onQueryChange function. This callback will be fired after setState completed.

If you want you can send a PR?

Thanks for your contributions.

[2019-04-04 06:41] yashSangai opened #418 "Searching in remote data"
**Describe the bug**
When I try doing searching in the table, where the data is the remote data the page keeps on loading and searching does not happen. On every key press the page loads but no search happens. Also If i go on to next page and then perform searching it sends me back to the first page and the same above thing happens

**To Reproduce**
Go to https://mbrn.github.io/material-table/#/do

[2019-04-04 06:46] mbrn commented on #396
@imajindev

Take a look at this:

https://codesandbox.io/embed/j41j6yr5k9

[2019-04-04 06:47] mbrn commented on #416
Hi @ColinKrist

Thanks for giving clear information about bug. It could be related with stickyHeaderStyle. I will take a look at this bug asap.

[2019-04-04 06:49] mbrn commented on #417
@spazzarama

Please send your PR. I will merge it if it has not a side effect. I will examine.

[2019-04-04 06:52] mbrn commented on #418
Hi @yashSangai

If you use remoteData feature searching, filtering, paging, sorting should be handle in your query function. Table call data function on every change.

In example that you sent, i want to just show how remoteData works. In code data function does not care about search term.

[2019-04-04 06:55] 1981ats commented on #413
Great. Thank you very much.

[2019-04-04 06:55] yashSangai commented on #418
Oh okay. Thanks for your response @mbrn
Can you tell me how to implement searching through the query function for the remote data?

[2019-04-04 06:55] 1981ats commented on #412
Great. Thank you very much.

[2019-04-04 07:00] mbrn commented on #418
Look at this sample code.

[code]

[2019-04-04 07:05] cesoftinfo commented on #418
Or maybe disable search on key press, it would be better to start search on Enter press rather than sending request for remote data on every key press.

[2019-04-04 07:15] yashSangai commented on #418
Oh okay. Thanks for the help @mbrn

[2019-04-04 07:23] mbrn commented on #418
Hi @cesoftinfo ,

It uses debounce to minimize server requests. Currently interval is 200ms but it could be change with debounceInterval in options.

[2019-04-04 07:25] cesoftinfo commented on #418
Yes,that can solve problem. Thanks

[2019-04-04 07:40] yashSangai commented on #418
Actually I am not able to implement the functionality @mbrn .
Can you please tell me in terms of code with respect to the remote data you have used in your example?

[2019-04-04 07:58] 1981ats opened #420 "How to set init order columnId and direction?"
Please, is any way to set init order columnId and direction, if i save this params in onOrderChange.

[2019-04-04 08:02] mbrn commented on #418
@yashSangai

You can use query.search in your server code to filter data.

[2019-04-04 08:03] mbrn commented on #420
Look at first example.

https://mbrn.github.io/material-table/#/docz-examples-04-example-sorting

[2019-04-04 08:30] symnetry commented on #127
same issues happened
Warning: Failed prop type: Invalid prop `action` of type `function` supplied to `MTableAction`, expected `object`.
my version is  1.23.6
here  my code
[code]

[2019-04-04 08:34] mbrn commented on #127
@symnetry

Can you upgrade to 1.29.1 please?

[2019-04-04 08:43] symnetry commented on #127
@mbrn
Great ,upgrade to 1.29.1 then resolve this problem,
Thank you for your reply!

[2019-04-04 08:44] truongtv22 opened #421 "Option to expand all rows by default"
Hello @mbrn,

I had a tree table, I want to option to expand all rows by default.
Can you please add this feature.

Thanks you.

[2019-04-04 08:52] yashSangai commented on #418
Okay.Thanks, I will try it.

[2019-04-04 08:52] #418 closed

[2019-04-04 10:25] 1981ats commented on #420
Thank you very much, I looked at examples, but this I unfortunately overlooked in the code.

[2019-04-04 10:25] #420 closed

[2019-04-04 10:58] malix1 opened #424 "When you select an item, display 2 search box"
**Displaying 2 Search boxes**
When you select item/items, displays 2 search boxes

**Screenshots**
![image](https://user-images.githubusercontent.com/18161682/55550718-9c372200-56e1-11e9-8c2d-6d119714c96c.PNG)

[2019-04-04 11:23] mbrn commented on #424
Interesting bug:) I will resolve this asap.

[2019-04-04 11:24] malix1 commented on #424
Thank you :)

[2019-04-04 13:20] romerorocha commented on #387
It seems that, in newer versions of Material UI, the "Chip" component doen't have this variant value (contained).

So, upgrading `@material-ui/core` will not solve this. Does `material-table` extend it, providing a new value for this enum?

[2019-04-04 13:32] hasankhalid opened #425 "Body Scroll Not working"
I am giving the table a maximum height in options but the table overflows the maximum height and the header is not sticky. In case the max height does not work, Is there any other way to make the header of the table fixed on scroll?
![Screen Shot 2019-04-04 at 6 31 44 PM](https://user-images.githubusercontent.com/20278920/55559596-f77c0b00-5707-11e9-98d6-c649ca11fb34.png)
![Screen Shot 2019-04-04

[2019-04-04 13:44] orestes22 commented on #414
Hi, Im agreed that TableData is an important assent and Im not talking to delete it.

I just saying that the component is adding this element automatically inside my object, and for that reason I had some problems during my remote connection, exactly when I doing PATCH.

I finded a solutions to avoid this problem but I will aprecciate a lot if you can take a look and comment if Im doing something

[2019-04-04 13:46] mbrn commented on #425
Hi @hasankhalid ,

Which version do you use?

[2019-04-04 13:48] hasankhalid commented on #425
Must have been a dependency issue or something. I just reinstalled the package and it is working fine.

[2019-04-04 13:48] #425 closed

[2019-04-04 13:48] mbrn commented on #414
Yes @orestes22 . it add a tableData field to your rows. You should remove them when you send rows to server. What is the problem.

[2019-04-04 13:49] orestes22 commented on #414
About your shared code @spazzarama , it is a solution, I implemented another way, but I will want understand why a child component can add that to my state in my component

[2019-04-04 13:52] mbrn commented on #414
Because i dont want to lose selected state of a row after a render. There is another option to do this. I could keep selected in another field of table state. But by this way i need a id field to map data.

[2019-04-04 13:58] orestes22 commented on #414
ok, noted, sorry for misunderstand, and thanks again for your time to answer me. Regards

[2019-04-04 14:03] mbrn commented on #414
Uwc

[2019-04-04 14:48] CalebCox commented on #390
@mbrn , apologies for the late follow up, this appears to have worked! Thank you!

[code]

[2019-04-04 14:48] #390 closed

[2019-04-04 18:15] jbkuczma commented on #411
I was able to mimic the default add button's functionality with the following:

[code]

[2019-04-04 18:38] CalebCox opened #426 "Update checkbox state onRowClick"
I've written an `onRowClick` function to change the rows `tableData.checked` value when the row is click as seen in the answer here #300

I can see the checked state updating in a console log but the checkbox itself does not change visibly until I actually click another rows checkbox. It will then show all the checkboxes that had their `tableData.checked` values updated. I'd like to be able to hav

[2019-04-04 21:11] orestes22 commented on #414
@mbrn Kindly ask help,
 Could tell me how eliminated the error that appear telling me that tableData it isnt part of my object, I dont want add to my model the "tableData" only to deleted later. Im using Typescript.

TableData is appearing in every object that use some value of the table, I dont know how it could happen but it happens, and when I tried to eliminated from every object it telling me

[2019-04-05 09:32] namy16 commented on #411
It works like a charm :) thanks a lot @jbkuczma @mbrn

[2019-04-05 13:36] orestes22 commented on #414
Hi, good day, I create only an object to work with the table.

For some reason your table jump my deep copy and appeared in my original object that doesnt have to do with the table.

I tried with conventional deep copy, nothing works, right now Im using a deep copy created by my own, that create a new elelement and I initialize the object elelement by element, but still not working

Do you have an

[2019-04-05 14:34] jbkuczma opened #428 "Changing default add icon"
How can I replace the default add icon with my custom React button component and keep the original functionality?

[2019-04-05 14:59] jbkuczma commented on #428
Looks like #423 may address this issue since my component is a button.

[2019-04-05 15:56] orestes22 commented on #414
I found a solutions, Im posting here because I noted there people following this case. I hope it could help to someone.

In my case I did others things but in general way this is a solutions to avoid the Material-Table change things in the same reference.  It is passing a clone of the object in data. So the material table lose the reference of the object and it cant modify it.

data={MyRealObject.

[2019-04-05 21:36] spazzarama commented on #412
@mbrn if you want you can change my implementation so that readonly means readonly in add too. I don’t use the add row feature in my project so it has no impact.

[2019-04-06 05:45] imajindev commented on #396
yeah my component is not as straight forward as the example
it fetch something from server then do a loop to render its own list
so the height of the component is a variable. i will give you code example next time. for now i have opt to not using this component.  i developed my own custom solution for this

[2019-04-06 05:45] #396 closed

[2019-04-06 23:48] spazzarama opened #430 "Keep track of column visibility state"
**Is your feature request related to a problem? Please describe.**
Column visibility state is not tracked between refresh of data. E.g. if paging a remote data source, each time you go to the next page, the columns shown/hidden reset.

**Describe the solution you'd like**
Column visibility state to be tracked between data refreshes (e.g. when paging a remote data source, or when updating the local

[2019-04-06 23:58] spazzarama commented on #430
One other option might be to expose the event when columns are hidden / shown so that the application can track this state.

[2019-04-07 16:37] mbwatson commented on #356
Good thinking. Something like this function works as a quick fix.

[code]

Implementation:

[code]

Perhaps the more sustainable solution is to convert nulls to empty strings, say, when the data is stored or when it's fetched?

[2019-04-07 20:07] apsrcreatix opened #434 "I can't figure out why it is coming"
![image](https://user-images.githubusercontent.com/24192742/55689129-bbaea300-599e-11e9-8f37-a07cf39140a2.png)
Please help.

[2019-04-07 21:34] pak11273 commented on #213
The clear icon is not working for me:

![image](https://user-images.githubusercontent.com/2309184/55690122-ebd05480-5952-11e9-9fd0-7e9db319b47d.png)

[code]

Is there a way to determine which icons we need to import for any particular layout?

[2019-04-08 01:31] jakeleventhal commented on #402
This feature would be awesome! Looking forward to it Mehmet and thanks for all the effort. I know I speak for everyone when I say we appreciate it.

[2019-04-08 14:29] jbkuczma commented on #434
How are you passing your data into your table? The `data` prop expects whatever you pass to it to be either an array or a function for fetching remote data.

[2019-04-08 14:45] apsrcreatix commented on #434
I am passing it as an array, I think it is because I had an issue in the data coming from the API. When I resolved it, this error got resolved for me. But this should not happen like this. There should be a better error handling mechanism. I will try to come up with a better suggestion in future if possible.

[2019-04-08 14:45] #434 closed

[2019-04-08 17:52] 1981ats commented on #430
A column visibility change event (with info of new state visibility on each column, so that I can save the current status to the configuration) would be very useful.

[2019-04-08 18:41] CalebCox opened #436 "Number of selected items not displayed in table header"
**Describe the bug**
When items are selected, the number of items does not display as shown in the demos/documentation, even with `selection: true`

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a new table similar to below:
[code]
2. Click on a rows checkbox
3. See the header not display the number of selected items.

**Expected behavior**
The number of selected items should be displ

[2019-04-08 18:55] gmichalec-pandora opened #437 "Allow customization of edit cell"
**Is your feature request related to a problem? Please describe.**
There are cases where the provided field types aren't sufficient. It would be nice to be able to customize the 'edit' mode of a particular field.

**Describe the solution you'd like**
Add a new column property to provide a function for a custom edit cell renderer.

**Describe alternatives you've considered**
Couldn't find any way a

[2019-04-08 19:12] gmichalec-pandora opened #439 "Move editRow to be the first row in table"
**Is your feature request related to a problem? Please describe.**
The current 'Add row' functionality renders the new row interface as the last row in the table. If you have a large table, this may be off the screen, leaving the user confused/unable to find the row edit interface.

**Describe the solution you'd like**
By moving the new row interface to be the first row in the table, it is much mo

[2019-04-08 19:25] mbrn commented on #426
Hi @CalebCox

You changed rowData but react does not know it. You should use setState to fire a render. You can find this rowData in your data and then update it with setState. Then it will be render.

[2019-04-08 19:26] #411 closed

[2019-04-08 19:28] #428 closed

[2019-04-08 19:29] mbrn commented on #414
Thanks @orestes22

[2019-04-08 19:32] mbrn commented on #213
Hi @pak11273

use: `ResetSearch`

You can look at here to complete list of icons.
https://mbrn.github.io/material-table/#/docz-props

[2019-04-08 19:34] mbrn commented on #402
Thanks @jakeleventhal

I love work for opensource:). I am very busy nowadays but i will resolve all issues asap. You know me:)

[2019-04-08 19:35] mbrn commented on #434
You are right @apsrcreatix . I should implement user friendly errors. But i don't have enough time nowadays.

[2019-04-08 19:36] mbrn commented on #430
I will implement a layout export import feature. So users can store it and then apply it later(even if browser restarted)

[2019-04-08 19:38] mbrn commented on #437
Hi @gmichalec-pandora

Thanks for contribution. I will check it asap and merge it.

[2019-04-08 20:01] CalebCox commented on #426
Ah, I hadn't thought of that at all, I had intended to create a current selection array for state but hadn't done it yet, after adding that and setting the checked items to the array in state it works!

Thank you as always!

[2019-04-08 20:03] ColinKrist commented on #439
omg yes

[2019-04-08 20:10] CalebCox commented on #426
@mbrn I just noticed, when using `onRowClick` and updating the UI this way, it doesn't trigger the tables selection features (ie: select all checkbox set to indeterminate, table header switched to read for selected actions etc). Is there a function for this?

[2019-04-08 20:12] mbrn commented on #426
Currently no. Because it calculates checked rows after a check event.

[2019-04-08 20:22] pak11273 commented on #213
Got it.  Should I leave these type questions on Gitter or StackOverflow?

[2019-04-08 20:23] mbrn commented on #213
I prefer stackoverflow or here. To someone else see them.

[2019-04-09 04:02] symnetry opened #442 "filtering bug,fetch too many"
like a strange bug
remote data in my own option such like this
[code]

in the first page and second page that works fine
but when i turn to page 3 and use filter
will do many fetch and the console error is
`Uncaught Invariant Violation: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number

[2019-04-09 04:21] symnetry commented on #442
dont know what wrong with filter ,turn to use search it's ok

[2019-04-09 07:01] stemarf50 commented on #290
Hey @mbrn, I understand that certain components can break on dense. But can you still please support such that dense can be applied if we do **not** use checkboxes and buttons in the table?

[2019-04-09 09:04] Minifish57 commented on #320
Hi, i have the 1.30.0 and the bug is still there with the example code
![Image of Code](https://media.giphy.com/media/QZIeLVn9ub69oX3bJh/giphy.gif)

[2019-04-09 09:12] Minifish57 opened #443 "Select row collapse the tree"
Hi, i have the 1.30.0 and when i select a row in a tree table all the expanded rows collapsed
(i have two search bar though)
I take the example code  from the docs site

**Expected behavior**
The rows which are expanded need to stay expanded

**Screenshots**
![Image of Code](https://media.giphy.com/media/QZIeLVn9ub69oX3bJh/giphy.gif)

**Desktop :**
 - OS: Windows 10 pro
 - Browser Chrome
 - Versio

[2019-04-09 10:00] spazzarama commented on #430
@mbrn if you can provide some pointers I may be able to assist on this one - the feature is fairly important for my use case.

[2019-04-09 11:25] Monteyne commented on #119
@mbrn Hello,
is there any other way to change container style ? i just want to change paper elevation to 0.
this method works; but seems like higher components can't access to DOM elements that rendered from props.children. Material-ui popover menu doesn't work on props.children elements

[2019-04-09 14:03] CalebCox commented on #426
@mbrn correct me if I'm wrong, from looking at the source it appears possible to modify `m-table-header` and `material-table` to update `selectedCount`on an `onRowClick` event. It should be possible to re-render these components with an updated `selectedCount` correct?

[2019-04-09 14:59] mariolazzari opened #444 "Toolbat icons alignment"
**Describe the bug**
After version 1.30 introduction, my 'isfreeAction's are not aligned in toolbat, as shown by depicted screenshots

vesionr 1.29.x

![image](https://user-images.githubusercontent.com/26960147/55811004-bb222380-5ae8-11e9-962f-edaca00b1aa2.png)

version 1.30

![image](https://user-images.githubusercontent.com/26960147/55811023-c5dcb880-5ae8-11e9-83e2-376468a8830a.png)

[2019-04-09 15:26] orestes22 opened #445 "How add Columns programatically?"
I must add Columns programatically, because my Data have fixed object but it can have 1 or 3 columns extra, dependes of user selection of his data.

So, my question is How add columns depending of this extra element that could be 1 or 2 or 3.

Thanks in advance for your time

Best Regards

[2019-04-09 15:47] orestes22 commented on #445
I want add that I working the table with "remote" using the query

[2019-04-09 16:04] pak11273 commented on #445
This sounds like a good use case for Map.  After you receive your data from your api you can construct a new array for the columns prop.

[2019-04-09 16:18] orestes22 commented on #445
Yes, i could, but in some columns I rendering so I having some errors.
For example check this: https://codesandbox.io/s/lx2v9pn91m
How to resolve that?

[2019-04-09 16:31] orestes22 commented on #445
I did that before ask but didnt work, but you are right it have to work, maybe I missing something, I will try again!!. Thanks for your support @pak11273

[2019-04-09 17:31] CalebCox opened #446 "Selectable Filtering options within filter row"
**Is your feature request related to a problem? Please describe.**
I'd like to allow users to select filtering options on a per column basis.

**Describe the solution you'd like**
Allow for the filter icon adornment to be used as a Mui `<IconButton>` with a Mui `<Menu>` if a user gives the table an option `filteringSelect: true` (False by default?) within the tables `options` property. If this opt

[2019-04-09 18:58] devel0 opened #447 "selection with search duplicate the control"
**Describe the bug**
search box displayed twice in the toolbar when select option enable and select checkbox ticked

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mbrn.github.io/material-table/#/docz-examples-05-example-selection
2. Click on a selection checkbox

**Expected behavior**
Only one searchbox should display

**Screenshots**

![image](https://user-images.githubuserco

[2019-04-09 19:41] mbrn commented on #290
of course. I will try to do it.

[2019-04-09 19:42] mbrn commented on #430
@spazzarama i will change datamanager like query for remote data. So query could be stored in anywhere. So firstly i should work on. Please be more patient:)

[2019-04-09 19:53] pak11273 commented on #447
Can you post this issue on Stackoverflow?  It seems more like a programming error, rather than a software bug.

[2019-04-09 19:55] pak11273 commented on #445
This question should go to stackoverflow!  Be the first and close this one hahaha!

[2019-04-09 20:00] mbrn commented on #119
@Monteyne

Try this:

<MaterialTable
                ....
                components={{
                  Container: props => <Paper {...props} elevation={0}/>
                }}
              />

[2019-04-09 20:00] pak11273 commented on #444
I had a similar issue.  I would downgrade back to 1.29.1

[2019-04-09 20:01] mbrn commented on #426
but dataManager calculates selectedCount.

[2019-04-09 20:02] mbrn commented on #447
@pak11273 it seems a bug related with material-table. I think that we should forward only questions(help-wanted) to stackoverflow.

[2019-04-09 20:03] #445 closed

[2019-04-10 03:20] Monteyne commented on #119
@mbrn having same result, no difference.

[https://ibb.co/7260rf6](url) this is the screenshot of working version (without components)
[https://ibb.co/2hHMbWG](url) this is the screenshot of NOT working version (with components)

any idea ?

[2019-04-10 04:31] stemarf50 commented on #290
Thank you very much. I've chosen to use this for my project and this option will really help :)

[2019-04-10 06:38] revskill10 opened #448 "[Feature request] Event handler for group dragging"
I'd love to attach event handler when dragging column groups.

Main use case is to set query string based on group headers.

**Describe the solution you'd like**

In grouping options, allows an event handler like
[code]

[2019-04-10 06:49] mbrn commented on #119
link are broken. Can you fix them?

[2019-04-10 08:48] Monteyne commented on #119
@mbrn sure, updated

[https://ibb.co/7260rf6](https://ibb.co/7260rf6) this is the screenshot of working version (without components)
[https://ibb.co/2hHMbWG](https://ibb.co/2hHMbWG) this is the screenshot of NOT working version (with components)

[2019-04-10 11:49] saikatstutorial opened #449 "Need support to write unit test cases using jest"
It would be great if we can write unit test cases for material table. Need something like:
[code]

[2019-04-10 12:00] mbrn commented on #449
This is my dream :). But i need time

[2019-04-10 14:26] orestes22 commented on #447
@mbrn This is duplicated issues. The original is #424

[2019-04-10 14:27] orestes22 commented on #447
Im telling you to avoid doble tag

[2019-04-10 14:38] devel0 commented on #424
Sorry I mistake in search before submit I searched for "**selection search**" because _selection_ option of material table and _search_ boxes twice, but cannot found that thread that would found instead using "**select search**". Feel free to close this one. I'll look for the other one.

[2019-04-10 15:41] bchara opened #450 "initialPage in options does not work"
Using provided demo.js, as an ex. add to second table:
`          <MaterialTable
            options={{
              pageSize: 3,
              initialPage: 3,
            }}
            data={[
              { name: "Mehmet", surname: "Baran", birthYear: 1987, birthCity: 63 },
              { name: "Zerya Betül", surname: "Baran", birthYear: 1987, birthCity: 63 },
              { name: "Smith",

[2019-04-10 17:14] devel0 commented on #447
I confirm 23ece5a12c7b9c1cde46aa62120642cb13254749 fixed this issue.
I was out of sync from 6 days when I forked the project but the fix was issued meanwhile thanks to original issue #424

[2019-04-10 17:14] #447 closed

[2019-04-10 17:17] devel0 commented on #424
23ece5a12c7b9c1cde46aa62120642cb13254749 fixes this.

[2019-04-10 19:40] #424 closed

[2019-04-11 05:26] saikatstutorial opened #451 "Warning when using material table: Invalid prop `variant` of value `contained` supplied to `Chip`"
Getting following warning when using material table:

Proptypes:
[code]
[code]
package.json
[code]
![mat-table](https://user-images.githubusercontent.com/14033302/55932438-4adde400-5c47-11e9-85d8-f3f7841e06c2.PNG)

[2019-04-11 06:15] #451 closed

[2019-04-11 06:20] #450 closed

[2019-04-11 06:22] mbrn commented on #444
This is fixed. It will be in next release.

[2019-04-11 06:22] #444 closed

[2019-04-11 06:47] #443 closed

[2019-04-11 07:51] cybermizrach opened #452 "Disable field and auto ID in editable when adding new row"
**Is your feature request related to a problem? Please describe.**
Request: Disable field and auto ID in editable when adding a new row.

**Describe the solution you'd like**
I want to disable an ID field when adding a new row. That ID field should have the default value of the table row number(It should display 1 to 5 if I have 5 records).  If I click the add button, the ID field will be disabled

[2019-04-11 08:28] mbrn commented on #442
Hi @symnetry ,

I look at example and test it. But i could not reproduce bug. Can you create a codesandbox to reproduce bug, please?

[2019-04-11 08:36] #436 closed

[2019-04-11 08:40] #415 closed

[2019-04-11 08:41] mbrn commented on #320
This is fixed. It will be in next release.

[2019-04-11 08:41] #320 closed

[2019-04-11 10:30] symnetry opened #454 "how can i put the selected state in tree data by first render"
my data may like this
[code]

and i how can i control the checkbox selected
like this
![1554978571(1)](https://user-images.githubusercontent.com/20887001/55950585-d5463800-5c87-11e9-9c92-ca4e25b30132.jpg)

[2019-04-11 10:32] mbrn commented on #454
Hi @symnetry

We decided to forward help requests to stackoverlow. Can you ask this question on stackoverflow with material-table tag, please?

I will reply it with same speed :)

[2019-04-11 10:32] #454 closed

[2019-04-11 10:33] #366 closed

[2019-04-11 10:33] #367 closed

[2019-04-11 10:33] #377 closed

[2019-04-11 10:34] #405 closed

[2019-04-11 10:40] mbrn commented on #306
This is done.

[2019-04-11 10:40] #306 closed

[2019-04-11 10:43] mbrn commented on #327
This is done.

[2019-04-11 10:43] #327 closed

[2019-04-11 11:00] #356 closed

[2019-04-11 12:28] bjhm commented on #354
Hello @mbrn,

Wondering if this feature was still being considered?

Thanks!

[2019-04-11 12:42] #363 closed

[2019-04-11 12:42] mbrn commented on #354
Hi @bjhm ,

Yes i will. But now i am working on bugs firstly.

[2019-04-11 12:45] mbrn commented on #400
@tkarpeichik

Did you return a Promise in editable.onRowUpdate functions. it expects a Promise

[2019-04-11 12:58] #393 closed

[2019-04-11 13:24] mbrn commented on #400
If it does not work please ask a question on stackoverflow with a tag material-table

[2019-04-11 13:24] #400 closed

[2019-04-11 13:31] mbrn commented on #451
This is done with version 1.31.0

[2019-04-11 13:31] mbrn commented on #450
This is done with version 1.31.0

[2019-04-11 13:31] mbrn commented on #443
This is done with version 1.31.0

[2019-04-11 13:31] mbrn commented on #443
This is done with version 1.31.0

[2019-04-11 13:31] mbrn commented on #436
This is done with version 1.31.0

[2019-04-11 13:31] mbrn commented on #415
This is done with version 1.31.0

[2019-04-11 13:31] mbrn commented on #356
This is done with version 1.31.0

[2019-04-11 13:31] mbrn commented on #363
This is done with version 1.31.0

[2019-04-11 13:31] mbrn commented on #393
This is done with version 1.31.0

[2019-04-11 13:32] mbrn commented on #394
This is done with version 1.31.0

[2019-04-11 13:40] #417 closed

[2019-04-11 13:41] mbrn commented on #437
editComponent added.

[2019-04-11 13:41] #437 closed

[2019-04-11 13:41] mbrn commented on #439
editRowPosition feature added with version 1.31.0

[2019-04-11 13:41] #439 closed

[2019-04-11 13:42] mbrn commented on #410
addRowPosition field added to options with version 1.31.0

[2019-04-11 13:42] #410 closed

[2019-04-11 13:43] #316 closed

[2019-04-11 13:46] CalebCox commented on #426
@mbrn Thanks for that info! I'll try to get this working on my side, I feel I've gained a lot of help from you but haven't been able to contribute back. If I can get this working I'll submit a PR, I'm not very familiar with Typescript however so if I need to modify any of the TS files I'm not too terribly confident I can get this moving. 🤞

On another note, interestingly enough with 1.31.0, after

[2019-04-11 13:48] orestes22 commented on #447
This is published in the  version 1.31.0

[2019-04-11 13:53] orestes22 commented on #316
Hi, isthere a solution in this feature ?

[2019-04-11 13:57] orestes22 commented on #379
Hi, I know you are busy. but just in case, Is there any comment in this feature?

[2019-04-11 14:21] hsluoyz commented on #377
@mbrn Hi, I tried your solution, but it only gave me one more page. The length is too small. I may want at least buttons for next 10 pages, or provide a "Go To" input box.

![image](https://user-images.githubusercontent.com/3787410/55964892-10f0fa00-5ca8-11e9-948e-9fbc6bdefffe.png)

[2019-04-11 15:55] Whitebytes opened #455 "updating data through props causes all nested rows to collapse/ gives full render"
I do something like
render(){
<MaterialTable
data={this.state.data} ...

whenever new data arrives from the sever (progress-data server initiated) I modify the data within the changed rows, and do a setState{data:data}).. this causes a full render and all expanded nested rows are collapsed..
Wats the best way to update rowdata without a full render?

[2019-04-11 16:05] pak11273 opened #456 "rowData is undefined when adding a new row with auto numbering"
**Describe the bug**
Auto-numbering.  This is working:
https://stackoverflow.com/questions/55603449/is-there-a-way-that-i-can-create-a-custom-column-with-auto-numbering-in-material

But if you have an editable table and you add a row it breaks.

**To Reproduce**
Steps to reproduce the behavior:
Click on add row button

**Expected behavior**
A new row should be added with an auto column number.

**

[2019-04-11 16:17] #456 closed

[2019-04-11 16:24] v1nns commented on #388
@mbrn, any updates?

[2019-04-11 16:25] mbrn commented on #316
Look at 3rd example.

[2019-04-11 16:26] mbrn commented on #379
I will do it. But firstly i want to resolve bugs to make table more stable.

[2019-04-11 16:28] mbrn commented on #377
Hi @hsluoyz ,

I will do this but i need time.

[2019-04-11 16:28] orestes22 commented on #379
Noted. Thanks

[2019-04-11 16:30] mbrn commented on #455
Hi @Whitebytes ,

After changing data of table it requires calculate everything according to new data. This means you update table. So it needs a render. What is problem with this?

[2019-04-11 16:32] mbrn commented on #388
@v1nns , today i focused to bugs only. But this weekend i will resolve most of bugs and small issues like this.

[2019-04-11 16:36] orestes22 commented on #316
Good!!,, thanks!!,,,

[2019-04-11 16:50] mbrn commented on #339
This will be in next release.

[2019-04-11 16:52] mbrn commented on #442
@symnetry

I think this is done. If you still have same problem please reopen this issue.

[2019-04-11 17:24] mbrn commented on #416
Hi @ColinKrist ,

You can change z-index of header by giving a `headerStyle` to options.

[code]

[2019-04-11 17:24] #416 closed

[2019-04-11 17:29] Whitebytes commented on #455
Hello @mbrn,
thanx for your help. see attached pic. Everytime i get an update on the progress of the uploaded file from the server, all expended nested child elements collapse, and selections are lost. Is the a "proper" way to upload this row/cell info without rerendering the whole table?
![Schermafbeelding 2019-04-11 om 19 26 21](https://user-images.githubusercontent.com/1280960/55978462-26f2c080

[2019-04-11 17:39] bastienmenis commented on #455
I am facing the same issue. I think the way to fix it would be to add props to control the selection and which detail panels are expanded.

[2019-04-11 17:48] mbrn commented on #455
Actually material-table store selection, expand and other flags on your data and columns. Look at your data, everyrow has a tableData field after first render. If you can keep tableData and copy it to new row it will keep state of table.

[2019-04-11 18:18] Whitebytes commented on #455
Thats strange, i'm pretty sure i'm not refreshing de date, this is the code for the updated:
subscribe(this.props.token, 'uploadProgress',
                (message) => {
                var payload = JSON.parse(message.payload);
                var data = this.state.data;
                var row = data.find((row)=>{return row.mediaRawId == payload.mediaRawId})

                if (row){

[2019-04-11 18:27] CalebCox opened #457 "Update data when using Remote Data after custom action?"
I have a custom action that is making an API call to my backend to delete data from my database, this in turn removes the item that is being displayed from the database.

How can I get the remote data to be queried again so that Material Table can re-render with the changes applied?

I initially thought to try to re-render the component using a setState change but that doesn't appear to be working

[2019-04-11 18:34] #413 closed

[2019-04-11 18:35] mbrn commented on #455
Can you ask this question on stackoverflow or create a codesandbox example to reproduce easily?

[2019-04-11 18:37] mbrn commented on #457
@CalebCox

We decided to forward help requests to stackoverflow. Can you ask this question on SO with `material-table` tag. I or another user will reply it asap.

[2019-04-11 18:37] #457 closed

[2019-04-11 19:06] CalebCox commented on #457
@mbrn posted to SO, see [here](https://stackoverflow.com/questions/55639565/update-data-when-using-remote-data-after-custom-action)

[2019-04-11 19:52] #388 closed

[2019-04-11 19:56] mbrn commented on #421
I think you added this already :) @truongtv22

[2019-04-11 19:56] #421 closed

[2019-04-11 20:23] amit-ametek commented on #285
Hi, Were you able to able to find any solution for this issue?. I am facing the same problem. Whole page gets distorted on first load. If I go to another page and then comes back, the issue is resolved.

[2019-04-11 21:46] bastienmenis commented on #455
@mbrn Thank you for your response, using `tableData` solved my problem.

[2019-04-11 21:46] jcg359 opened #458 "Grouping: Auto Expansion or workaround to Expand All"
Hello -

Is there a flag similar to defaultExpanded but for for grouping rather than trees?

Alternatively, is there a way i could programatically invoke an expand on all rows?

Thanks in advance!

[2019-04-12 04:33] mbrn commented on #285
Hi @amit-ametek , do you use react-helmet-async ?

[2019-04-12 04:37] mbrn commented on #458
Hi @jcg359 ,

1. I can use defaultExpanded prop to expand all groups by default.
2. Unfortunately. But i can add a button on group bar to expand/collapse all. Is this enough for your requirement.

[2019-04-12 04:43] mbrn commented on #388
@v1nns

This is done with version 1.32.0

[2019-04-12 04:43] mbrn commented on #413
This is done with version 1.32.0

[2019-04-12 04:43] mbrn commented on #339
This is done with version 1.32.0

[2019-04-12 07:37] Whitebytes commented on #455
here is the reproduce in sandbox
https://codesandbox.io/s/k3v7477417

[2019-04-12 08:10] mbrn commented on #455
@Whitebytes

I fixed this issue with version 1.32.0 . Can you upgrade it please?

[2019-04-12 08:34] namy16 commented on #410
works perfectly, thank you @mbrn

[2019-04-12 11:25] jcg359 commented on #458
That would be great thank you.

[2019-04-12 12:06] wandrzejczak commented on #331
+1 :)

[2019-04-12 15:37] orestes22 opened #459 ""Row Selected #" text appear and in the option section Im saying header=false"
**Describe the bug**
"Row Selected #" text appear and in the option section Im saying header=false.
In the version 1.28 this not happens, now happens

Best Regards

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applic

[2019-04-12 15:44] orestes22 commented on #459
Or maybe this is not a bug, and I not understand how to hide this.
I doing this right now:
localization={{
                      toolbar: {
                        nRowsSelected: ""
                      }
                    }}

[2019-04-12 15:45] #459 closed

[2019-04-12 16:20] bluryi opened #460 "What is the proper way to have a sum row?"
Hi-

Could anyone show me what is the proper way to have a sum/subtotal row that can be excluded from column sorting?
For example:
[code]
Now I want to add a sum row at the end which has "Total       5", and this row should be fixed at the bottom.
Is there a way to do this?

Thanks in advance!

[2019-04-12 17:51] mbrn commented on #460
Hi @bluryi ,

I am planning to add summary row feature (#27). It will be done asap.

[2019-04-12 18:14] bluryi commented on #460
Got it. Thanks a lot!

[2019-04-12 18:14] #460 closed

[2019-04-12 19:36] zanjan2010 opened #461 "onChangePage call error"
In the grid, onChangePage did not fire

[2019-04-12 19:44] mbrn commented on #461
Hi @zanjan2010 ,

I tested it and it works. Which version do you use?

[2019-04-13 09:51] Minifish57 commented on #443
thx a lot

[2019-04-13 19:38] zanjan2010 commented on #461
Thanks
I was using an old version.

[2019-04-13 19:42] zanjan2010 opened #463 "Refetch data from remote endpoint"
Is there any solution to refetch data from remote datasource?

[2019-04-13 19:45] #461 closed

[2019-04-13 19:46] mbrn commented on #463
Look at this:

https://mbrn.github.io/material-table/#/docz-examples-14-example-remote-data

[2019-04-13 20:12] rahmatya685 opened #464 "Error while deleting last item in last page"
Hi
There is an error in the grid while deleting last item of last page. Im getting  data from a remote endpoint using Promise

this is the error log

 An error has occurred while a drag is occurring. Any existing drag will be cancelled. > Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the numb

[2019-04-13 21:13] mbrn commented on #464
Hi @zanjan2010
Can you create a codesandbox example to examine bug, please?

[2019-04-14 08:51] cybermizrach opened #465 "Disable add button when Editable if the field in last row has x value"
**Is your feature request related to a problem? Please describe.**
I have a table that some rows. If the last row has either an ID 3 or Allocation % of 100, I want to disable the add button

| ID | Allocation % |
| 1 | 25% |
| 2 | 55% |
| 3 | 100% |

**Describe the solution you'd like**
The editable should have the functionality to disable the add button based on the value of some fields.
Another

[2019-04-14 11:45] mbrn commented on #465
@cybermizrach

As a workaround: Currently if you set `onRowAdd` function as undefined it will remove add button. So you can set `onRowAdd` according to your conditions.

But i will add a options to editable table to configure buttons according to some conditions. For example some rows may not be updateable or removable.

[2019-04-14 20:00] zanjan2010 commented on #464
Sorry currently It's not possible
The error happens when the last item deleted and grid tries to load the current page (eg page 5) data and when the totalCount property of zero passed to resolve function grid tries to load page 4 and this time it never gets inside then{} block code and it traps on an inifinitive loop

this is the code I used to load data

[code]

[2019-04-14 21:54] revskill10 opened #466 "Don't use custom render for grouping"
Currently, group dragging doesn't work if a column has a custom render function.

## Solution

Use a `dragRender` function which specify the string to show when grouping

[2019-04-15 04:49] mbrn commented on #464
I will try to reproduce this case.

[2019-04-15 07:21] zanjan2010 commented on #464
Thanks man

[2019-04-15 12:50] v1nns commented on #388
@mbrn Thank you!

[2019-04-15 14:41] CalebCox opened #467 "onRowDblClick function"
**Is your feature request related to a problem? Please describe.**
Having the ability to differentiate actions based on single row click and double click similar to MUI's `<TableRow />` component from within the `<MaterialTable />` component would be nice.

**Describe the solution you'd like**
A property `onRowDblClick` that takes a function that has access to the `event` and `rowData` values.

**

[2019-04-15 19:46] Zariyan opened #468 "filtering broke on 1.32"
filtering on 1.32 does not work anymore when you upgrade from 1.30 to 1.32

the filtering still gives me options but when i filter down results are blank.

[2019-04-16 01:58] kyapwc opened #469 "onSelectionChange and setState not working well"
**Describe the bug**
Checkboxes do not get selected when `setState` is used alongside `onSelectionChange`. Currently using version 1.32.0

**To Reproduce**
Steps to reproduce the behavior:
1. Create a table and set a `onSelectionChange()`
2. do a `this.setState()` with the data taken from `onSelectionChange`
3. Checkboxes does not get checked
4. Example:
[code]

**Expected behavior**
Checkboxes to

[2019-04-16 03:57] jafstar commented on #384
I see this bug when using data in a sub-object such as form.info.location as opposed to just 'location'

[2019-04-16 04:54] jafstar commented on #384
In /dist/m-table-toolbar.js I simply check for a '.' and split the string, it renders the export csv as expected. Not sure where this is in source, but will see if I can submit a PR for this.

`var data = _this.props.renderData.map(function (rowData) {
          return columns.map(function (columnDef) {
            let splitField = columnDef.field.split('.')
            return String(columnDef.fie

[2019-04-16 06:06] kyapwc commented on #469
Nevermind this issue, realized it was due to re-rendering of the component that made it not checked.

[2019-04-16 06:21] zanjan2010 commented on #463
I didnt get any idea about the example
I need to force material table to get data from remote endpoint in the current page programmatically

[2019-04-16 07:59] amit-ametek commented on #285
Hi @mbrn , no I am not using react-helmet-async. But yes, I am loading my components asynchronously. I have created my own component to do this i.e. to load other components asynchronously.

[2019-04-16 08:02] amit-ametek commented on #285
Forgot to add one important point: The issue occurs only in deployed version. Locally, table loads perfectly.

[2019-04-16 08:08] ambr89 commented on #291
Hi @hasankhalid to change padding size, I've set

`<MaterialTable
                    columns={[

                        { title: 'Nome', field: 'name', cellStyle:{ padding: '5px'} }, // chage cell pading
                        { title: 'Valido ', field: 'isValid', cellStyle:{padding: '5px'} }
                    ]}
                    data={[
                               .... my data

[2019-04-16 09:21] Antsol74 opened #471 "Editcomponent Rowdata parameter"
Hi, with regards to the effective possibility that editcomponent provides, I would like if it were possible, that when editing the line, to be able to read the values contained in the variable rowdata.
For example, if I use a select in a column as an editcomponent, if I wanted to change the value assigned, which is currently being edited, the value of the select is not displayed.
I think that if i

[2019-04-16 13:14] hsluoyz commented on #64
Hi @mbrn , how to use the server-side filtering? I didn't find an example in: https://mbrn.github.io/material-table

[2019-04-16 13:54] oliviertassinari opened #472 "Make Material-UI a peer dependency?"
What do you think of making Material-UI a peer dependency? You probably don't want people to bundle the library twice. It's what *notistack* and *material-ui-pickers* are doing.

[2019-04-16 18:09] #469 closed

[2019-04-16 18:10] mbrn commented on #463
You can use tableRef to take ref of table. Then call tableRef.onQueryChange().

If you could not, please ask a question in Stackoverflow with material-table tag.

[2019-04-16 18:12] mbrn commented on #285
@amit-ametek ,

Do you use nextjs or razzle or something like them?

[2019-04-16 18:13] mbrn commented on #291
Material-ui table components uses auto layout. So columns are being auto width. Currently i cant change them.

[2019-04-16 18:24] zanjan2010 commented on #463
Thanks It's done

[2019-04-16 18:30] mbrn commented on #471
Hi @Antsol74 ,

I can add this easily. So developer would have more options.

[2019-04-16 18:32] mbrn commented on #472
Of course i can. Just one thing. It makes development harder, reason of npm install --no-save @mate... everytime dependencies updated.

But i will do. I can change demo/test page as a another module by using lerna.

[2019-04-16 18:32] #463 closed

[2019-04-16 19:00] mastercoks opened #474 "When using lookup the filtering returns empty results"
**Describe the bug**
When using the filter using lookup, it returns "No records to display"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mbrn.github.io/material-table/#/docz-examples-10-example-component-overriding
2. Select the filter with option 'Şanlıurfa' on the column 'Doğum Yeri'
4. See 'No records to display'

**Expected behavior**
Data records with value 'Şanlıurfa'

[2019-04-16 19:16] oliviertassinari commented on #472
@mbrn I'm not 💯 sure it's the right approach either. A few points to take into account:

- We should take https://bundlephobia.com/result?p=material-table into account. Something might be wrong with tree shaking, it's a different problem.
- Bundling multiple versions of Material-UI can create class name mismatches and bundle bloat.
- It makes installation more painful. It's true.

[2019-04-16 19:42] mbrn commented on #474
Hi @mastercoks

I will resolve this issue on next release. It will be published in a few days.

[2019-04-16 20:19] udayreddy commented on #379
@mbrn can we also inject css styles to different filter types in the row, please ?

[2019-04-17 00:56] sfDev001 commented on #93
Specifying icons and using Editable together will result in an error. Is there a way to use it together?
https://mbrn.github.io/material-table/#/docz-examples-15-example-editable
<img width="824" alt="img" src="https://user-images.githubusercontent.com/6834723/56253252-8b7da780-60f6-11e9-849c-c3cd8d3c7bdc.png">

[2019-04-17 05:24] mbrn commented on #379
I will consider this when start to improve filtering.

[2019-04-17 07:19] ambr89 commented on #291
Thanks!

[2019-04-17 20:21] jatinvmehta opened #478 "Link as cell data"
In our requirement, we have to display list of titles in one of the column. Each title should be a link and on hover over we need to display modal which display details about each title. How can i achieve this ?

[2019-04-17 20:34] mbrn commented on #478
Hi @jatinvmehta ,

I think that you can use custom render feature to achive this case. Look at example.

https://mbrn.github.io/material-table/#/docz-examples-07-example-custom-render

If it works, why you dont ask this question on Stackoverflow with `material-table` tag? This would be helpful for other developers :)

[2019-04-17 20:48] jatinvmehta commented on #478
Will try that. Can i put any component inside that render method ? like link or button

[2019-04-17 20:49] mbrn commented on #478
Of course. It gives you rowdata and expect a component to draw

[2019-04-17 21:07] revskill10 commented on #478
@mbrn In case of using `Link` (or custom React component), grouping doesn't work.

[2019-04-17 21:19] mbrn commented on #478
I will find a solution to this case @revskill10

[2019-04-17 22:51] revskill10 opened #479 "Grouping for Boolean cell doesn't work"
**Describe the bug**
When grouping a Boolean column, header is empty

**To Reproduce**
Grouping a Boolean column

**Expected behavior**
Grouping Header should show True/False value

[2019-04-18 07:26] GESTIFANOS opened #480 "File uploader on inline edit"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-04-18 07:42] mbrn commented on #480
This feature will be wonderful. I will do this.

As a quick workaround, now you can use editComponent to do it.

[2019-04-18 10:48] sshanzel commented on #288
I updated my version to latest but this thing still persists, should we reopen this issue?

[2019-04-18 13:26] hiroshifariassaito opened #482 "Issue with filters while using data as function for remote data"
**Describe the bug**
Filters do not work when i try to use data as function for remote data

**To Reproduce**
1. Set a function to get remote data
2. enable any filter
3. Try to filter

**Expected behavior**
Filter the data from that page

**Desktop (please complete the following information):**
 - OS: iOS 10.14.2
 - Browser Chrome 73.0.3683.103
 - Version 1.31.0

[2019-04-18 15:04] Monteyne commented on #119
@mbrn any luck ?

[2019-04-18 15:30] bherzberg96 commented on #275
I second the implementation of this feature.

[2019-04-18 19:48] udayreddy opened #483 "Header background color injection with MuiThemeProvider"
**Describe the bug**
MuiTableCell or MuiTableHeader theme overrides do not work for background color.
It gets overriden by MTableHeader-header

**To Reproduce**
Steps to reproduce the behavior:
1. Inject header backgroundColor through MuiThemeProvider

        MuiTableCell: {
            root: {
                padding: '2px 5px 2px 5px',
            },
            head: {
                fontSize

[2019-04-18 20:01] hiroshifariassaito commented on #482
I'm getting the filter data through the query function, but in the exported `interface Query` (which is the interface for the query parameter) there is no `filters` field

[2019-04-19 03:22] stemarf50 commented on #290
Hey @mbrn, any update on this one?

[2019-04-19 07:29] malix1 opened #484 "When you select searched item, it does not return all selected items."
**Describe the bug**
When search item and then select that item. It returns just 1 element not all selected items.

**Expected behavior**
Should return all selected items.

**Screenshots**
![img1](https://user-images.githubusercontent.com/18161682/56412572-5c4d6e80-628d-11e9-8e58-f571558ee922.PNG)
![img2](https://user-images.githubusercontent.com/18161682/56412571-5c4d6e80-628d-11e9-8d35-f566c820d

[2019-04-19 07:33] mbrn commented on #119
@Monteyne

I still can not access to screenshots. Can you create a codesandbox please?

[2019-04-19 07:34] mbrn commented on #483
Hi @udayreddy,

You can add a headerStyle to options of table.

<MaterialTable options={{headerStyle:{...}}} />

[2019-04-19 07:35] mbrn commented on #290
@stemarf50 unfortunately. I am working on new documentation nowadays.

[2019-04-19 12:51] Monteyne commented on #119
@mbrn sure
[https://codesandbox.io/s/p9my8o9on7](https://codesandbox.io/s/p9my8o9on7)

[2019-04-19 13:30] mbrn commented on #119
It is related with using a functional component when overriding Container.

Look at this: https://codesandbox.io/embed/1301mq3knj

[2019-04-19 14:13] WejusT1k opened #485 "Change Order of columns"
Hey, i have some question:)

Can I change order of columns by drag'n'drop or change width of columns using mouse?)

Maybe i can hang the event handler on the column?

[2019-04-19 14:14] orestes22 opened #486 "Add Chips in the header which the data was filtered"
I would like to recommend to add the feature of add in the header a Chips component which the data that was filtered, because in that way the user will keep track all filtered he made.

And also it can delete the chip if he doesnt doesnt want more that filtered

Best Regards

[2019-04-19 14:25] WejusT1k commented on #486
You can override Toolbar Component:)

[2019-04-19 14:56] orestes22 commented on #486
Yes, I know, and i already using it in that way

but my advice is because @mbrn is updating the table in that area to affer custom filtering so I could be nice it appear by default and more easy to handler.

[2019-04-19 17:03] pak11273 commented on #485
These features are not available yet.

[2019-04-19 17:07] jakeleventhal commented on #333
this would be awesome

[2019-04-21 04:17] jakeleventhal opened #489 "Current step on stepped pagination shouldnt be clickable"
**Describe the bug**
When using stepped pagination, you shouldnt be able to click on the current page. Meaning if you are on page 3, you shouldnt be able to click 3.

[2019-04-21 04:19] jakeleventhal opened #490 "Remote paging default sort not working"
**Describe the bug**
For remote data, the orderBy prop of the query is null if a field is set as the default sort.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a column with default sort
2. Use remote data and console log `query.orderBy` - it is set to null instead of the defaulted column.

[2019-04-21 05:49] jakeleventhal opened #491 "Filtering states reset upon rerendering remote table"
**Describe the bug**
When re-rendering a remote table, all the filter states reset - meaning the search text gets reset.

**To Reproduce**
Steps to reproduce the behavior:
1. https://codesandbox.io/embed/j2jo7j91ky
2. Enter text into one text field
3. The other filter goes away, but the text disappears

**Expected behavior**
The filter text should remain

**Additional context**
This is relevant be

[2019-04-21 06:06] jakeleventhal opened #492 "Need the ability to use radio buttons on filters"
**Is your feature request related to a problem? Please describe.**
When filtering from lookup, there should be an option to filter using radio buttons instead of checkboxes. This way you can limit the user to only selecting one option

**Describe the solution you'd like**
An option to add radio buttons to the filter

[2019-04-21 06:11] jakeleventhal opened #493 "Need ability to use different operators on numeric filters"
**Is your feature request related to a problem? Please describe.**
There should be a way to select operators on number filters (>, >=, <, <=, etc.)

[2019-04-21 10:44] dogrultan opened #494 "TypeError: Cannot read property '0' of null while using Tree Data"
**Describe the bug**
Tree Table view does not work as expected. I receive `TypeError: Cannot read property '0' of null` even structure of data and used methods are correct.

**To Reproduce**
Steps to reproduce the behavior:
1. Render the data from this gist: https://gist.github.com/burakcan/ca77e8fc11a1455cc1962ad7318b8fbc
2. Make table a tree table by giving the following prop:
[code]

**Expected

[2019-04-21 18:18] jakeleventhal opened #495 "No way to refetch data on remote data when props change"
**Describe the bug**
I have a table that uses a function to fetch remote data. The function uses a prop that can change. However, when the prop changes, data query function does not get called again so the data never gets updated - and there is no way to force the call to get called again.

**To Reproduce**
1. Create a table with remote data that calls a function to fetch the data
2. Use a prop in

[2019-04-21 19:47] mbrn commented on #485
Hi @WejusT1k

I am working on a new documentation of material-table. After documentation completed i will start to features like this.

[2019-04-21 19:48] mbrn commented on #333
I need time @jakeleventhal

I am working on a new documentation of material-table. After documentation completed i will start to features like this.

[2019-04-21 20:05] jakeleventhal opened #496 "Default expanded does not work on grouped tables"
**Describe the bug**
If you use the default expanded option on a table with a default grouping, the group is not expanded

[2019-04-21 20:25] mbrn commented on #493
This is in my plans

[2019-04-21 20:26] mbrn commented on #495
You may fire the onQueryChange of table manually. Look at tableRef

[2019-04-22 00:56] jakeleventhal commented on #495
This works, but it resets all the filter values. Also, when applying a filter, it doesnt go back to page 1

[2019-04-22 08:24] WejusT1k commented on #485
Hi:)

Thanks a lot

[2019-04-22 15:56] ozandogrultan opened #498 "Nested expanded rows collapses on selection"
**Describe the bug**
Related issue #443 . Still not fixed for nested rows that have depth more than 1.

**To Reproduce**
Steps to reproduce the behavior:
1. Render a table that is nested more than 1 level
2. Select any nested child or parent row

**Expected behavior**
Row collapse/expand not triggered by selection.

**Screenshots**
![Apr-22-2019 18-58-15](https://user-images.githubusercontent.com/

[2019-04-22 16:01] angelelizalde21 opened #499 "TypeError: Generic type 'ReactElement<P>' requires 1 type argument(s)."
**Describe the bug**
On v1.32.0

../node_modules/material-table/index.d.ts
(18,20): Generic type 'ReactElement<P>' requires 1 type argument(s).

[2019-04-22 16:12] devel0 opened #500 "render fires even no changes on data source"
**Describe the bug**
Changing a textfield outside the material table cause column render fire.

**To Reproduce**
https://codesandbox.io/s/github/devel0/repros/tree/2f37d7e3d240d36791ae24572e441c08f1ac35c7/material-table/test01

**Expected behavior**
rerender should limited to data source

**Screenshots**
![Peek 2019-04-22 18-08](https://user-images.githubusercontent.com/13405008/56510284-9d61af00-

[2019-04-22 16:16] mbrn commented on #500
Hi @devel0

Actually i didn't worked on performance of material-table. But i know it has some performance issues. I will examine them asap.

Thanks

[2019-04-22 19:16] behrouz-s opened #501 "How can I get selected row's data"
I'm going to use material-table with it's features like grouping, sorting, selecting etc. how could I get selected row's data from table, after user manipulate tables and send the manipulated data back to server.

[2019-04-22 20:03] dogrultan commented on #501
[check this](https://mbrn.github.io/material-table/#/docz-examples-05-example-selection).

[2019-04-22 20:06] #501 closed

[2019-04-22 22:44] devel0 commented on #500
Hi @mbrn,
I wondering if render shouldn't be controlled through a table prop ( a number ) that user can connect to a state variable, so that table render proceed only on internal events ( page changed, etc ) or when this prop "age" changes respect to previous received values.
For example I can increment that number in my app when I know datasource changed and this way material table know that data

[2019-04-23 11:25] mbrn commented on #500
Thanks for recommendation. I will consider this way when working on performance.

[2019-04-23 16:04] CalebCox commented on #426
@mbrn

Re-visiting this finally, from what I can see, dataManager uses a function called `changeRowSelected` which is called by an `onChange` from `m-table-body-row.js` through a prop `onRowSelected` that's being passed by `material-table.js`, since this is getting triggered by an `onChange` function on the MUI `<Checkbox />` what's stopping the `onChange` from firing when updating the checkbox co

[2019-04-23 17:00] behrouz-s opened #502 "How can I show hierarchical data?"
How to show hierarchical data like this:
`[
  {
    "header": {
      "a": "1",
      "b": "2"
    },
    "details": [{ "x": "1", "y": "2" }, { "z": "1", "w": "2" }]
  },
  {
    "header": {
      "a": "1",
      "b": "2"
    },
    "details": [
      { "x": "1", "y": "2" },
      { "z": "1", "w": "2" },
      { "z": "1", "w": "2" }
    ]
  }
]`

[2019-04-23 18:14] behrouz-s commented on #502
I solved the problem by using detail-panel.
[](https://material-table.com/#/docs/features/detail-panel)

[2019-04-23 18:15] behrouz-s commented on #502
I solved the problem by using detail-panel.
[detail-panel](https://material-table.com/#/docs/features/detail-panel)

[2019-04-23 18:15] #502 closed

[2019-04-23 18:42] behrouz-s opened #503 "How can I select a grouped rows"
How can I select a group of rows with a single checkbox?

[2019-04-23 18:47] behrouz-s opened #504 "Table is too slow with 800 rows"
**Describe the bug**
I load table with 800 rows, and each of them has 2 or 3 nested data, but it is to slow, specially after grouping the rows.
every row has 220 columns and every nested data has 20 columns

**Desktop:**
 - OS: [Ubuntu 18.04]
 - Browser [chromium]
 - Version [Version 73.0.3683.103]

[2019-04-23 19:26] felipe989 opened #505 "All rows with detailpanel expanded by default"
Hello.

How can I set an initial default (all lines expanded or not) to a detailpanel?
Or how can I expand the detailpanel of all rows at once?

I'm currently expanding via single line click, but would like to leave an initial default for the entire table.
`onRowClick = {(event, rowData, togglePanel) => togglePanel ()}`

Edit:
I found de `defaultExpanded: true`, but it does not seem to work.

[2019-04-23 20:12] mbrn commented on #503
Hi @behrouz-s ,

Do you use tree data feature?

[2019-04-23 20:13] mbrn commented on #504
Hi @behrouz-s

I didn't work on performance issues. Nowadays i am working on documentation(material-table). Then i will return back to issues. And my first focus will be performance problems.

[2019-04-23 20:15] mbrn commented on #505
Hi @felipe989 ,

defaultExpanded is about tree data feature. currently there is way to open all detail panels. But i may find a solution.(not immediately)

[2019-04-23 20:16] behrouz-s commented on #503
No, I use dragable row grouping

[2019-04-23 20:25] mbrn commented on #503
Currently nested selection is active only for tree data. But it makes sense to same behaviour with grouping. I will add this feature asap. But firstly i will work on performance issues and bugs

[2019-04-24 13:31] LTank opened #506 "Make Edit Button disabled or removed based on condition for rows"
Right now there seems to be no way to disable the edit button on each row based on conditions.

For example like in this picture where the button is grayed out based on a condition.
![image](https://user-images.githubusercontent.com/24596368/56663172-b8f1c480-66a5-11e9-8f32-3bd842af3397.png)

[2019-04-24 20:37] fgenoese opened #508 "Remove box-shadow around table"
Hi,

I am trying to figure out how to remove the box-shadow around tables. The styling exercises show how to edit columns, rows and cells but the shadow seems to be outside the table.

Any hint?

[2019-04-24 21:05] mbrn commented on #508
Hi @fgenoese

You can try overriding container:

[code]

[2019-04-24 21:36] blackbadgerltd opened #509 "Table flashes on render"
**Describe the bug**
A clear and concise description of what the bug is.

When using a Mui theme which is dark, a rerender of the table due to navigation or data change results in selected areas of the table flashing white, then returning to dark.

**To Reproduce**
Steps to reproduce the behaviour
1. Create a table with a dark theme
2. Update data from a remote source

**Expected behavior**
Table

[2019-04-25 05:42] fgenoese commented on #508
Unfortunately, the code has no effect, i.e. the resulting HTML still says:
`<div class="MuiPaper-root-8 MuiPaper-elevation2-12 MuiPaper-rounded-9">...</div>`

[2019-04-25 05:44] mbrn commented on #508
sorry. Make component => components.

import { Paper } from '@material-ui/core';

[code]

[2019-04-25 05:48] fgenoese commented on #508
Works like a charm - and I learned something new about Material UI styling I guess.
Thanks!

[2019-04-25 05:48] #508 closed

[2019-04-25 07:30] Mihier-Roy opened #510 "Pagination not working on Internet Explorer 11"
**Bug Description**
The pagination options do not render on Internet Explorer 11, thus preventing the use of the pagination functionality. It instead shows the following:
![image](https://user-images.githubusercontent.com/31336766/56716935-24e13500-6759-11e9-8d8d-04e3a6d5b5f8.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Open a page with material-table on IE11
2. Check the Pagination

[2019-04-25 07:55] Bulletninja commented on #9
Are there any plans to add this feature?

[2019-04-25 08:03] mbrn commented on #9
@Bulletninja i may add this feature. But currently i need to work on more important issues.

[2019-04-25 16:36] geohuz opened #511 "Add row render function"
I'm wondering if I can highlight a row based on specific condition? I couldn't find the feature.
Have a row rendering function I can conditionally change the row styles.

[2019-04-25 16:38] mbrn commented on #511
Hi @geohuz ,

Look at 3rd example at: https://material-table.com/#/docs/features/styling

It uses conditional rowStyle feature. You can apply your own condition.

[2019-04-25 17:12] geohuz commented on #511
I have read the doc, in this code:
[code]

I can't figure out how to add a condition like ```if (field.value===true) { backgroundColor: '#eee'}```?

[2019-04-25 17:13] geohuz commented on #511
ah! I see!

[2019-04-25 17:30] #511 closed

[2019-04-25 21:19] JoeKyy commented on #455
This error has not been fixed, I found it today on 1.32.0
![GIF](https://user-images.githubusercontent.com/2018763/56769052-75bb5280-6786-11e9-986e-0f160b69528a.gif)

[2019-04-25 21:20] JoeKyy commented on #455
This error has not been fixed. I found it today on 1.32.0

![GIF](https://user-images.githubusercontent.com/2018763/56769188-d185db80-6786-11e9-87f3-087dfb397d31.gif)

[2019-04-25 21:25] JoeKyy commented on #455
This error has not been fixed. I found it on 1.32.0

![wertwerwerwe](https://user-images.githubusercontent.com/2018763/56769426-8d470b00-6787-11e9-9002-625063c9d92e.gif)

[2019-04-25 21:33] JoeKyy opened #512 "Update data thru XHR cause error on checkboxes"
**Describe the bug**
When I update something on XHR on my website all checkboxes are unchecked

**Expected behavior**
Checkboxes are unaffected if a update has occurs

**Screenshots**
![wertwerwerwe](https://user-images.githubusercontent.com/2018763/56769733-794fd900-6788-11e9-99a7-b0250c22c058.gif)

[2019-04-26 10:07] Foosballfan opened #513 "material-table modifies global styles"
**Describe the bug**
When material-table is on screen it modifies the global styles which cause the material-ui menu drawer and more to render incorrectly.

This is only since upgrading from 1.18 to 1.32

**To Reproduce**
Steps to reproduce the behavior:
1) Run a site with a material ui menu drawer (https://material-ui.com/demos/drawers/#mini-variant-drawer)
2) Load a material-table instance in th

[2019-04-26 11:56] themausam opened #514 "onSelectionChange does not return selected rows when used with search"
**Description**
I have a requirement to show a separate list of records that are currently ticked before being finalised. **onSelectionChanged** works well and returns ticked rows when simply using pagination but does not work as expected when using it along with search.

**To Reproduce**
Steps to reproduce the behavior:
1. Assume records **A1, A2, A3, A4, A5** on Page 1 and **A6, A7, A8, A9, A10*

[2019-04-26 12:41] olehmelnyk opened #515 "Add API for selecting/deselecting rows programmatically"
I have a list of options with checkboxes and action buttons separated from the list/table.
When one or options checked - buttons become enabled.
Once button pressed - I send a request to the server with selected ids and want to deselect checkboxes, which will make buttons disabled again.

Also, it would be nice to have the ability to load the table with initially selected options.

[2019-04-26 14:02] terapepo opened #516 "Table flashes and delete words when searching in remote data table"
**Describe the bug**
After implementing the remote data table as the example provided, if the user types on the search input, the table flashes for every word typed and sometimes if you type really fast, it will delete some of the words you typed, I would recommend to implement a debounce or throttling for the search input. Also and I know it's a already reported bug, but the filters state also re

[2019-04-26 14:38] behrouz-s opened #517 "How to get selected columns in columnsButton?"
I am going to send selected column to server to save client's table customization.
how can I get list of selected columns in columnsButton?

[2019-04-26 16:15] behrouz-s commented on #448
How can I get groups list after user drag groups?

[2019-04-26 18:31] behrouz-s opened #518 "selection error on selecting grouped row's items."
When I select an item in grouped rows, these errors are shown:
[code]

[2019-04-27 01:59] barbieri opened #519 "cellStyle should receive the rowData as second parameter"
Sometimes the cell style is not determined by the cell data and needs to be checked how it relates to sibling columns.

For instance if I have 2 columns: `type` and `value`, I may highlight the `value` according to thresholds defined for `type`.

`cellStyle` could pass the full `rowData` as second parameter and make it possible :-)

[2019-04-27 19:27] jakeleventhal opened #521 "No way to edit the edit value"
**Is your feature request related to a problem? Please describe.**
There is no way to edit the value that appears for default editing.
For instance, if the column uses field X but the column has a render function that displays product of fields X and Y, when I click edit it currently just shows the value for X.

**Describe the solution you'd like**
I want to be able to show either no value in the

[2019-04-28 03:23] #482 closed

[2019-04-28 10:21] finbar123 opened #522 "Setting Column Width when column has filter"
Hi great solution very easy to use.

Is there a way to style the filter cell, the situation we have is a column that we want to set as a small width.

We can set the Heading and Cell styles to say "10px", but if the column has a filter enabled the column width will be set to the default for the filter.

Thanks

Finbar

[2019-04-28 13:03] mbrn commented on #522
Hi @finbar123 ,

I can add filterCellStyle feature asap.

[2019-04-28 14:00] finbar123 commented on #522
Mehmet

That would be an excellent solution

Second suggestion J as well as an Icon Disable option a Hidden option would be good so we can toggle a line of actions and not have any spaces, we tried using  iconProps:this.state.showDeleted ? ({style:{visibility:"hidden", width:”0px”}}):{}, but if leaves a space in the toolbar !

Thanks

Finbar

From: Mehmet Baran [mailto:notifications@github.com]
Se

[2019-04-28 14:38] mbrn commented on #522
I will consider it.

[2019-04-28 20:07] blackbadgerltd opened #523 "Adding textfield in toolbar only allows single char typing"
**Describe the bug**
A clear and concise description of what the bug is.

When adding a textfield to the toolbar component, typing into it allows allows 1 character before it renders the whole component and focus is lost.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a textfield to the toolbar component
Link it’s value to this.state and attach a change handler
Run
Type into the text fi

[2019-04-28 22:05] jakeleventhal opened #524 "Shouldn't be able to hover over the actions column header"
**Describe the bug**
When hovering over the actions column header of a table, the text gets bold, like the other columns (indicating that it could be sortable).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a table with actions
2. Hover over the column header that says "Actions"

**Expected behavior**
Nothing should happen

**Screenshots**
If applicable, add screenshots to help expl

[2019-04-29 10:46] john-pc commented on #474
@mbrn any updates 🥇  ?

[2019-04-29 10:50] mbrn commented on #474
Hi @john-pc

I am very busy nowadays. But i will start to resolve issues in a few days.

[2019-04-29 10:51] john-pc commented on #474
@mbrn I will make a PR

[2019-04-29 10:55] mbrn commented on #474
@john-pc This would be nice. Thanks.

[2019-04-29 11:36] MaxGorshkov commented on #465
but how I can do it with some condition? ex, only for rows with id > 10?

[2019-04-29 11:57] mbrn commented on #465
You can not. I will add some features editable like this case.

[2019-04-29 13:45] behrouz-s commented on #518
To fix the issue, just change line 180 in material-table.js to:
`findSelecteds(_this.state.originalData);`

[2019-04-29 19:30] alyssonmessias commented on #350
The change to the `"editable"` property was not changed in the documentation.

It still has the old example: `"readonly: true"`. And now to work it should use `"editable: true"`.

https://material-table.com/#/docs/features/editable

[2019-04-30 04:50] #519 closed

[2019-04-30 05:01] mbrn commented on #298
I developed a new documentation site. material-table.com

[2019-04-30 05:01] #298 closed

[2019-04-30 05:09] #474 closed

[2019-04-30 05:10] mbrn commented on #468
I fixed a bug about filtering. Columns that has lookup did not work for filtering. I fixed it. Do you mean this case?

[2019-04-30 05:10] uplsaurabhA commented on #469
How did you solve this issue?I am calling a function inside onSelectionChange inside which i am changing state. I there another way?

[2019-04-30 05:23] #490 closed

[2019-04-30 05:24] mbrn commented on #517
Do you mean selected 'ROWS'?

[2019-04-30 05:25] #494 closed

[2019-04-30 08:00] mehuljariwala opened #526 "How to add Select/ Dropdown in action"
How can i add Dropdown in action button and after click on selection how to get data of whole row.

[2019-04-30 10:40] wojtonow opened #527 "Remote data - orderBy null even if column defaultSort was set"
**Describe the bug**
When use remote data, query.orderBy has null value even if column has set defaultSort.

**To Reproduce**
https://codesandbox.io/embed/4wy3loo469

**Expected behavior**
When fetching data with the API, it is a good solution to set the order in the backend, especially when only portions of data are returned.

[2019-04-30 12:01] behrouz-s commented on #517
No, I'm going to get a list of selected columns (checked columns) in columnsButton.

[2019-04-30 12:35] uplsaurabhA opened #528 "Wrong row getting selected with onSelectionChange."
**Describe the bug**
I am using  pageSize: 20 for pagination; on going to second page(that is from row 21), if try to select a row, the visual effect of checkbox selection is not happening and if i try to select row 1 from second page (that is row 21 in actual table  ) row 1(from actual table ) is getting selected instead of 21(from page 1).

**To Reproduce**
My code-
 onSelectionChange={data => t

[2019-04-30 15:33] artanisdesign commented on #513
Experienced similar issue..

[2019-04-30 17:04] geohuz opened #529 "How can I change the color of the table header color on over and sorting?"
Currently the header color changed to black when hover or click and sorting, when I changed the table background color to blue it looks not highlighted, what if I want to change the font color to "white"? I can't find a solution for this requirement.

[2019-04-30 18:47] alyssonmessias commented on #350
This `readonly` property of the **columns** component is not working. When included, the field is still editable.

[2019-04-30 23:36] angelelizalde21 commented on #499
I still have this problem in v1.34.0 a have to install v1.29.0 for now to use the table.

I would appreciate a solution to this problem, it really helps me in my project

[2019-05-01 00:10] jakeleventhal commented on #490
I don't see this change reflected in the latest version (1.34.0). Is this in an unreleased version?

[2019-05-01 15:53] DreadCube opened #531 "date filter: picker language customizable"
**Is your feature request related to a problem? Please describe.**
Actually, if i filter a row of the type date, the datepicker is always in english. For my webapp and german clients isn't that cool.

**Describe the solution you'd like**
I need to define in some way the date picker language. Maybe this way:
`options={
   {
       datePickerLocale: require('@date-io/date-fns/locale/de')
   }
}`

**

[2019-05-01 17:40] blackbadgerltd opened #532 "search from external field"
I would like to have my search field external to the table. For remote datasources this is fine as I can intercept the query object and modify it, but for local data objects I cannot apply the filter it seems. Is there a way to do this?

I would also like to do the same for filters if possible also.

Cheers
BB

[2019-05-01 18:25] lazeebee opened #533 "Make action column header optional"
**Is your feature request related to a problem? Please describe.**
I would like to be able to have actions without the column header name

**Describe the solution you'd like**
Action column header name should be optional

[2019-05-01 19:44] mbrn commented on #526
Hi @mehuljariwala ,

Did you check custom rendering feature. You can render anything inside a cell?

https://material-table.com/#/docs/features/custom-column-rendering

[2019-05-01 19:45] mbrn commented on #527
Hi @wojtonow

I fixed this bug. It will be in next release. Thanks for feedback.

[2019-05-01 19:48] mbrn commented on #517
You can filter your columns data. MT adds a tableData field to your columns.

1. Use columns from your state.
2. Then this.state.columns.filter(a => a.tableData.hidden === true) gives you selected columns.

[2019-05-01 19:49] mbrn commented on #513
I will test this case asap.

[2019-05-01 19:50] mbrn commented on #529
Can you add headerStyle: {color :'white'} to options?

[2019-05-01 19:50] mbrn commented on #350
We change it as editable. Can you try it?

[2019-05-01 19:52] mbrn commented on #499
Hi @angelelizalde21 ,

I will take a look at it asap.

As a workaround you can add `skipLibCheck: true` to your tsconfig file

[2019-05-01 19:52] mbrn commented on #490
yes. it is not released yet.

[2019-05-01 19:55] mbrn commented on #532
Hi @blackbadgerltd ,

Look at 3rd example. It lets you to override filtering and search algorithm. So you can search on external fields.

https://material-table.com/#/docs/features/filtering

[2019-05-01 19:56] mbrn commented on #533
You can override it with localization

localization={{
  header : {
     actions: ''
  }
}}

[2019-05-01 21:48] blackbadgerltd commented on #532
Cheers, I was hoping for more of a ‘set the search text’ and let the magic happen, otherwise I would have to reimplement the standard search on every column, and filtering.

[2019-05-02 01:21] lazeebee commented on #533
That will do. Thanks for all your work!

[2019-05-02 01:32] icharge opened #534 "Editable Currency type render "ok""
**Describe the bug**
I'm using Editable field data and set type as `currency` and then in inline editing **ok** is show up!.

**To Reproduce**
Steps to reproduce the behavior:
1. Set Columns and field type as `currency`.
2. Define editable `onRowUpdate` callback.
3. Run & click edit icon.
4. "ok" will show up.

**Expected behavior**
Inline Textbox for currency format.

**Screenshots**
![image](htt

[2019-05-02 04:09] mehuljariwala commented on #526
Yeah i check but i like to have dropdown and checkbox both together!

@mbrn

[2019-05-02 04:46] #532 closed

[2019-05-02 04:46] #533 closed

[2019-05-02 04:48] mbrn commented on #526
You can return many elements in a fragment or div.

render: rowData => <div><DropDown/><Checkbox/></div>

[2019-05-02 04:50] #499 closed

[2019-05-02 04:53] #468 closed

[2019-05-02 04:54] mbrn commented on #498
Please upgrade to 1.34.0

[2019-05-02 05:00] mbrn commented on #528
Hi @uplsaurabhA ,

Which version do you use? I tested it in latest version and it seems working properly.

[2019-05-02 05:04] mbrn commented on #474
Published with 1.34.1

[2019-05-02 05:04] mbrn commented on #490
Published with 1.34.1

[2019-05-02 05:04] mbrn commented on #499
Published with 1.34.1

[2019-05-02 05:05] mbrn commented on #527
Published with 1.34.1

[2019-05-02 05:34] mehuljariwala commented on #526
not working i tried to many thing

[2019-05-02 05:37] mbrn commented on #526
![image](https://user-images.githubusercontent.com/7895451/57057966-79366880-6cb5-11e9-80f0-98fc53dc4513.png)

render: rowData => (
            <>
                <select>
                  <option>Select a value</option>
                </select>
                <input type="checkbox"/>
            </>

          )

[2019-05-02 05:55] uplsaurabhA commented on #528
1.17.0

[2019-05-02 05:58] mbrn commented on #528
Latest version is 1.34.1 now :). I fixed it on previous version.

[2019-05-02 05:58] #528 closed

[2019-05-02 06:20] uplsaurabhA commented on #528
Thanks, issue resolved after updating.

[2019-05-02 07:58] wojtonow commented on #527
Thanks for the improvement but the change does not work as you would expect. In the first query, as orderBy, we get a column index, and after a manual sort change we get an object with a column definition. The data returned as orderBy should be the same in each case

I updated the example on codesandbox
https://codesandbox.io/embed/4wy3loo469

[2019-05-02 08:18] #527 closed

[2019-05-02 08:20] mbrn commented on #527
I published 1.34.2. Try it please

[2019-05-02 09:36] mehuljariwala commented on #526
Okay Let me check to implement on my project!

Thanks Buddy!

[2019-05-02 09:45] wojtonow commented on #527
Now work's perfectly

[2019-05-02 12:03] XHMM commented on #516
[The demo](https://material-table.com/#/docs/features/remote-data) on doc site is a living bug example： when input something, table always fetching remote.  Waiting for fix. 🧐

[2019-05-02 12:37] #529 closed

[2019-05-02 12:37] #526 closed

[2019-05-02 12:40] #524 closed

[2019-05-02 13:03] mbrn commented on #523
Actually this is not about material-table. If you use functional component to override toolbar it will rerender your textfield on every change. So it will be another textfield and loses focus.

But you can use it in a component like this.

[code]

[code]

[2019-05-02 13:03] #523 closed

[2019-05-02 13:14] mbrn commented on #517
I guess it works.

[2019-05-02 13:14] #517 closed

[2019-05-02 13:22] #506 closed

[2019-05-02 13:25] mbrn commented on #506
Hi @LTank ,

I added isEditable and isDeletable fields. I will publish it tomorrow. You can look at usage on documentation.

[2019-05-02 14:13] terapepo opened #536 "Readonly columns in editable table not working"
**Describe the bug**
When using the readonly property on column in a editable table, the column can still be modified. The [demo](https://material-table.com/#/docs/features/editable) it's the perfect example that showcase the bug. I remember this was working in previous versions.

- material-table version: material-table@1.34.2

[2019-05-02 18:11] terapepo commented on #536
Found on the source code that this property is now called "editable" and you can set it to one of this:  'always' | 'onUpdate' | 'onAdd' | 'never'. Please update the docs and the [demo](https://material-table.com/#/docs/features/editable)!

[2019-05-02 18:12] #536 closed

[2019-05-02 20:15] orestes22 opened #537 "Issues when las row in a page is deleted"
**Describe the bug**
An error appear after the last row in the second page was deleted.

These are the messages:
"The above error occurred in the <DragDropContext> component"

Uncaught Invariant Violation: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent i

[2019-05-02 20:20] mbrn commented on #536
Hi @terapepo ,

I updated docs. It will be published tomorrow.

[2019-05-02 20:20] mbrn commented on #350
Hi @alyssonmessias ,

I added to documentation. It will be published tomorrow.

[2019-05-02 20:20] #350 closed

[2019-05-03 04:26] mbrn commented on #537
Hi @orestes22 ,

I could not reproduce this case. Can you create a sandbox please?

Or how do you delete? Show me code.

[2019-05-03 04:28] mbrn commented on #521
I think this is the correct way. Actual value should be shown in edit component. You can use custom edit component if you want to change it.

[2019-05-03 04:28] #521 closed

[2019-05-03 04:31] mbrn commented on #512
Hi @JoeKyy ,

MT keeps check flag on your own data. You should use data from state to avoid check disappear on every rerender.

But you make a xhr and i think it refresh data. So it is a new dataset for MT and it can not keep the check flags.

[2019-05-03 04:41] mbrn commented on #503
I checked this request. It will take my time. But i will do it.

[2019-05-03 05:05] #489 closed

[2019-05-03 05:09] mbrn commented on #524
1.35.0 published

[2019-05-03 05:09] mbrn commented on #522
1.35.0 published

[2019-05-03 05:09] mbrn commented on #506
1.35.0 published

[2019-05-03 05:09] mbrn commented on #489
1.35.0 published

[2019-05-03 05:10] mbrn commented on #506
https://material-table.com/#/docs/features/editable

[2019-05-03 06:39] tsuga opened #538 "How to work with LastEvaluatedKey for pagination?"
I have my backend with AWS DynamoDB.
The pagination mechanism there is to use "LastEvaluatedKey".
Reference: https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Query.html#Query.Pagination

How can material-table deal with this type of pagination?

[2019-05-03 08:15] mbrn commented on #538
Actually, i dont have any experience with aws dynamodb. i dont know i understand it correctly. But i can give you an advise.

Store LastEvaluatedKey on your components' state. Then call your rest service with this parameter.

[2019-05-03 09:26] rayray93 opened #539 "Remote data with table state"
Hi there, great work done (y)

Is there a way to write in pagePerRow, Search and Filter values from query?

Currently in remote data fetch before api call I saved query in localStorage(need so if user refreshes page), and if its first fetch I re-write query with my localStorageQuery, so i expected to have all values in place after refresh(Also i see that resolved remote data have all those values)

[2019-05-03 10:53] p34m5 opened #540 "Changing position of the pagination element"
Hi,

Thank you for the great library. I have a question about the position of the pagination component. Is there a way to move it from the bottom to the top of the table?

I went through the documentation but couldn't find any way to do that.

Thank you for your help!

[2019-05-03 10:57] mbrn commented on #539
Currently you cant. But i can add this simple feature asap.

[2019-05-03 11:02] mbrn commented on #540
Hi @p34m5 ,

Thanks. Currently you can not. But i can add a option to paginationPosition (top|bottom|both) asap.

[2019-05-03 11:20] rayray93 commented on #539
Thanks, it would be great :)

[2019-05-03 11:35] P3y4m commented on #540
Great, looking forward to having it.

[2019-05-03 11:48] kadirguloglu opened #541 "Mutliple Sorting"
How can i multiple sorting ?

[2019-05-03 12:35] JoeKyy commented on #512
But I use state for the data, and the XHR controls other state from another component that is not in use from material table, that why I think this is a bug.

For you understand this XHR controls the notification badge on my aplication

[2019-05-03 12:40] JoeKyy commented on #512
Here is the code:

[code]

[2019-05-03 12:43] #471 closed

[2019-05-03 12:45] mbrn commented on #541
Hi @kadirguloglu ,

Currently, material-table does not support for multiple sorting. I am planning to add it for future releases. But now i am working on bugs and performance issues firstly.

[2019-05-03 15:36] orestes22 commented on #537
I have the same remote Get request that you have in your example.

I believe I found the problem. After a Delete API call, i called this.state.tableRef.current.onQueryChange();
in order to update the table, but this call create infinite loop if I delete the last row in a page.
So like isnt another way now to refresh the table after outside API call,  my idea to solve the problem is to save the pag

[2019-05-03 17:39] mbrn commented on #537
It is a strange case @orestes22 :). Can you create a sandbox for this case? We can play on it together. You can use reqres.in for remote data sample.

[2019-05-03 18:42] orestes22 commented on #537
Ok, I will create sandbox asap and i will let you know.

[2019-05-03 18:51] #479 closed

[2019-05-03 18:56] mbrn commented on #484
Hi @malix1

I tested this case with last version and could not find any problem. I will close this issue. If you still have problem please reopen this issue.

[2019-05-03 18:56] #484 closed

[2019-05-03 19:43] mbrn commented on #491
Hi @jakeleventhal

This is not a bug. You used columns directly. I advise you to use them in parent components' state. So tableData of columns will not be disappear when you setState in data function.

[2019-05-03 19:44] mbrn commented on #495
Same case:

https://github.com/mbrn/material-table/issues/491#issuecomment-489216996

[2019-05-03 19:44] #495 closed

[2019-05-04 08:06] #496 closed

[2019-05-04 08:17] #509 closed

[2019-05-04 08:30] #510 closed

[2019-05-04 08:47] mbrn commented on #512
Hi @JoeKyy ,

I tried this case but didn't find any problem. Can you try with latest version please?

My code:
[code]

[2019-05-04 08:53] mbrn commented on #513
Hi @Foosballfan , @artanisdesign ,

I could not find any problem with drawer and MT. Can you check this sandbox please? https://codesandbox.io/embed/71z24v9k81

[2019-05-04 08:57] mbrn commented on #512
I am closing this issue. You can reopen if you need.

[2019-05-04 08:57] #512 closed

[2019-05-04 08:57] mbrn commented on #513
I am closing this issue. You can reopen if you need.

[2019-05-04 09:40] mbrn commented on #471
This done with 1.35.1

[2019-05-04 09:40] mbrn commented on #479
This done with 1.35.1

[2019-05-04 09:40] mbrn commented on #496
This done with 1.35.1

[2019-05-04 09:40] mbrn commented on #509
This done with 1.35.1

[2019-05-04 09:40] mbrn commented on #510
This done with 1.35.1

[2019-05-04 16:47] #514 closed

[2019-05-04 16:58] ejerry opened #542 "breaking change with react-redux@^6.0.0 / ^7.0.0"
**Describe the bug**
Error message on import of 'material-table' along with `react-redux@^6.0.0` or `react-redux@^7.0.0`:

`Uncaught Invariant Violation: storeKey has been removed and does not do anything. To use a custom Redux store for specific components, create a custom React context with React.createContext(), and pass the context object to React Redux's Provider and specific components like:

[2019-05-04 17:04] mbrn commented on #516
Hi @terapepo

This is not a bug. You used columns directly. I advise you to use them in parent components' state. So tableData of columns will not be disappear when you setState in data function.

[2019-05-04 17:04] #516 closed

[2019-05-04 17:05] mbrn commented on #516
Actually it has a debounce. It is default 200ms. You can change it with options.debounceInterval

[2019-05-04 17:07] mbrn commented on #542
Hi @ejerry ,

Actually react-beautiful-dnd uses redux. But i will look at this case asap.

[2019-05-04 17:20] mbrn commented on #93
It should be resolved with latest versions.

[2019-05-04 17:20] #93 closed

[2019-05-04 17:44] john-pc commented on #505
@mbrn Maybe better to add an option details open by some key value array

[2019-05-04 18:02] ejerry commented on #542
Thank you very much @mbrn for the fast review! This is a great component.

[2019-05-04 18:16] ejerry commented on #542
woops I missed the react-beautiful-error line @mbrn, I will post an issue there.

[2019-05-04 18:17] ejerry commented on #542
Perhaps it can be excluded if there are no DND configurations required?

[2019-05-04 18:57] mbrn commented on #505
@john-pc , I will consider this.

[2019-05-04 18:58] mbrn commented on #542
I can try it.

[2019-05-04 20:06] #504 closed

[2019-05-04 20:07] mbrn commented on #504
Hi @behrouz-s ,

I improved grouping code. In my tests it is now 10 times faster when grouping data. I test with 100K row and group the worst case(each row different value) and it takes about 500ms-1000ms

[2019-05-04 21:14] cybermizrach opened #543 "Some fields are not exported in the CSV"
**Describe the bug**
Fields are missing in the exported CSV.

I've just noticed that fields with custom value are not exported in the CSV. See code below that concatenates the year and month.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. In the table, click the Export to CSV.

**Expected behavior**
The CSV should contain the custom field.

**Screenshots**
Table
![image](https://use

[2019-05-04 21:34] cybermizrach commented on #465
Thanks @mbrn ! How can I set `onRowAdd` function as undefined and where should I add that logic?

[2019-05-05 07:32] mbrn commented on #465
editable={
// Do not use onAddRow here. So it will be undefined.
}

[2019-05-05 07:32] #465 closed

[2019-05-05 08:07] #285 closed

[2019-05-05 08:08] #297 closed

[2019-05-05 08:27] #302 closed

[2019-05-05 08:28] mbrn commented on #302
Hi @igloocube ,

You can override OverlayComponent in component to create overlay according to your requirement.

[2019-05-05 08:35] #317 closed

[2019-05-05 08:36] mbrn commented on #317
actionsCellStyle added to options. So you can add any style to cell, such as background color

[2019-05-05 08:38] mbrn commented on #340
No need this feature.

[2019-05-05 08:38] #340 closed

[2019-05-05 08:42] mbrn commented on #317
This is done with 1.35.2

[2019-05-05 08:42] mbrn commented on #302
This is done with 1.35.2

[2019-05-05 08:42] mbrn commented on #504
This is done with 1.35.2

[2019-05-05 08:42] mbrn commented on #514
This is done with 1.35.2

[2019-05-05 14:46] mbrn commented on #221
Hi @jakeleventhal ,

On next release you would be select or unselect all rows. Using tableRef

[code]

[2019-05-05 14:46] #221 closed

[2019-05-05 14:47] mbrn commented on #412
editable feature added to options.

[2019-05-05 14:47] #412 closed

[2019-05-05 14:51] #483 closed

[2019-05-06 03:24] Mihier-Roy commented on #510
Thanks a bunch! Figured it would be something with the Pollyfill!

Cheers! 🍺

[2019-05-06 03:35] Mihier-Roy commented on #510
Looks like it's working now!
Figured it would be something wrong with the polyfill.
Also, I believe babel-pollyfill is in the process of being deprecated in favor of importing stuff directly from core-js 3. Nothing too urgent but you might have to change it sometime in the future!
Here is a full explanation of why and how to replace it : [Babel-pollyfill deprecation](https://github.com/zloirock/co

[2019-05-06 03:39] mbrn commented on #510
Uwc.

Of course. I will do it asap.

[2019-05-06 04:53] #200 closed

[2019-05-06 04:56] mbrn commented on #200
This is done with 1.36.0

[2019-05-06 08:41] artanisdesign commented on #513
Hi @mbrn ! Thanks for looking into this.

What i meant by similar issue is that, it seems somehow the module affects the styles of other components out of its scope.

Let me add 2 screenshots:
![Screenshot 2019-05-06 at 10 34 36](https://user-images.githubusercontent.com/1002099/57214654-ee25dd00-6fea-11e9-81ef-834d8c932172.png)
![Screenshot 2019-05-06 at 10 34 42](https://user-images.githubuserco

[2019-05-06 08:43] mbrn commented on #513
Hi @artanisdesign ,

I could not find problem. Can you create a sandbox to reproduce case, please? I want to play on it

[2019-05-06 08:45] artanisdesign commented on #513
Hi @mbrn
Will try to create one later on

[2019-05-06 10:48] Foosballfan commented on #513
A potential factor is that I'm using material-ui/styles (https://material-ui.com/css-in-js/basics/).

Tomorrow I will be able to spend some time working on this issue.

[2019-05-06 10:56] artanisdesign commented on #513
Hi again! @mbrn

So here is what i found.. i noticed in production i got class collision..
I believe your module uses the same class generator (jss ) as material-ui, and since the counter starts at 0 on both, we can end up with collissions..

Once i changed the class prefix in my project [see link](https://next.material-ui.com/css-in-js/api/#creategenerateclassname-options-class-name-generator) it

[2019-05-06 11:25] mbrn commented on #513
I will take a look at it.

[2019-05-06 12:07] john-pc commented on #542
@mbrn any update ? my app crashes because of dnd feature

[2019-05-06 12:40] mbrn commented on #542
Hi @john-pc ,

Why does it crash?

[2019-05-06 16:16] ejerry commented on #542
@mbrn and @john-pc seems this _was_ already addressed over at [react-beautiful-dnd](https://github.com/atlassian/react-beautiful-dnd/issues/1056#issuecomment-489679488)

Simply remove your own `react-redux` dependency and all will be well.

[2019-05-06 16:16] #542 closed

[2019-05-07 07:56] kyapwc commented on #469
Hey @uplsaurabhA, there is a way, which is to do it like this:
[code]

You can override the checkbox to be checked using `material-table`

[2019-05-07 07:59] mbrn commented on #469
With latest version you can call functions of material-table with tableRef. Did you check it?

[2019-05-07 11:42] MaxGorshkov opened #544 "Column.grouping = false doesn't work"
I set grouping={false} on some column. Nevertheless it can be grouped.

bug come in material-table version 1.36.
in version 1.35 bug is not reproduce

[2019-05-07 14:22] allennyzhang opened #545 "CheckAll box not working probably"
**Describe the bug**
if any records' was selected, then will dynamic display the button `Schedule`, but the `CheckAll` checkbox doesn't selected correctly.

![image](https://user-images.githubusercontent.com/24515577/57306787-03e3f100-7116-11e9-9306-202dd26f202d.png)
![image](https://user-images.githubusercontent.com/24515577/57306818-11997680-7116-11e9-9863-2a04aa1a6b2e.png)
![image](https://user

[2019-05-07 14:32] fredbast opened #546 "Handleclick on tablecell"
The new method handleClickCell has changed and doesnt take into account the props onclick:

handleClickCell = e => {
if (this.props.columnDef.disableClick) {
e.stopPropagation();
}
}

and the old one was:

handleClickCell = e => {
const { columnDef, rowData, onClick } = this.props;
if( columnDef.disableClick || typeof onClick !== 'function') return;
onClick(e, rowData);
}
The correction suggested:

[2019-05-07 14:34] fredbast commented on #546
the new method has changed and doesnt take into account the props onclick:

 handleClickCell = e => {
    const { columnDef, rowData, onClick } = this.props;
    if( columnDef.disableClick || typeof onClick !== 'function') return;
    onClick(e, rowData);
  }

[2019-05-07 14:36] fredbast commented on #546
and the new method is
handleClickCell = e => {
    if (this.props.columnDef.disableClick) {
      e.stopPropagation();
    }
  }

[2019-05-07 20:08] kuantayevs opened #547 "Clickable Row"
I am trying to override component Row so it can be clickable and pass some action to it.
I have action buttons which do call, however I want to do the same call on row click. Can you give me advise how to solve it?

[code]

[2019-05-08 01:41] jakeleventhal opened #548 "Column ordering gets reset on pagination"
**Describe the bug**
If you reorder columns, they get reset if paginated data is fetched

**Expected behavior**
Column ordering should not reset

[2019-05-08 01:45] YongZhangEmbed opened #549 "Is it able to move the detail panel `Icon` from left to right"
![image](https://user-images.githubusercontent.com/46992381/57343440-f5580280-7132-11e9-948e-90f3c2f7fea9.png)

[2019-05-08 04:16] mbrn commented on #547
Hi @kuantayevs ,

Look at 3rd example at https://material-table.com/#/docs/features/detail-panel. MT already has a onRowClick prop.

[2019-05-08 04:16] #547 closed

[2019-05-08 04:18] mbrn commented on #548
I think that it is about you are not storing columns on state. After rerender it lost order data on columns. But i will take a look at it.

[2019-05-08 04:19] mbrn commented on #549
Currently no. But you can use onRowClick to toggle detail panel.

Look at 3rd example at:
https://material-table.com/#/docs/features/detail-panel

[2019-05-08 05:22] YongZhangEmbed commented on #549
Is it possible to remove the `Icon`?

[2019-05-08 05:28] NathanHealea opened #550 "Multi Table Row Delete"
Hi I'm running in to a interesting situation when there are two Material Tables on the same page, each with a different table source. When I used the editable action to delete a table from Table 2, after confirming the delete, Table 1 delete confirmation shows up.

I believe the issue is that both table share a row key={num}. So Table 1 and Table 2 first row would have the same key. Is there a way

[2019-05-08 07:44] MaxGorshkov commented on #192
thank you for great component!

If you improve filter (like a google docs excel), it will be absolutely best)

![image](https://user-images.githubusercontent.com/14037804/57358495-fd459000-718e-11e9-80ab-2cdd540e0e10.png)

[2019-05-08 08:22] JosefSchmidt opened #551 "Data deletes in row when clicked outside of editing row."
**Describe the bug**
When you edit a row, if you by mistake click outside the row, the row is unselected and all typed data is deleted.

**Expected behavior**
It would be nice if it wouldn't be possible to click outside of the row being editing and have the row unselected.

**Screenshots**
![image1](https://user-images.githubusercontent.com/37302151/57360717-265c2580-717b-11e9-9621-fc5822e07bd1.pn

[2019-05-08 08:47] GienekGenin commented on #498
@mbrn Still not fixed for nested rows that have depth more than 1.

![BitStreamGoogleChrome20190](https://user-images.githubusercontent.com/27743401/57362073-450feb80-717e-11e9-8a25-00afd604182e.gif)

Desktop:
OS: Windows 10
Browser: Chrome
Version `"material-table": "^1.36.1"`

[2019-05-08 10:24] denis-sk opened #552 "Change Header row Height"
Make it possible to change the header row height.

Now I do not know how to do it. I can change only header cell style.

[2019-05-08 13:50] wandrzejczak opened #553 "react, react-dom version"
I've noticed that in package.json react and react-dom have different versions.
It is recommended to have both versions the same.

https://stackoverflow.com/questions/53024307/typeerror-dispatcher-usestate-is-not-a-function-when-using-react-hooks

[2019-05-08 15:47] orestes22 commented on #426
@mbrn It is a way to update checkbox state programatically without use the onRowClick event.
Using the material-table in remote mode.

[2019-05-08 16:19] #550 closed

[2019-05-08 16:22] NathanHealea commented on #550
The issue must be with some code that I wrote. In the a code sandbox I set up the same scenario and it worked as expected.

[2019-05-08 22:03] exp0nge commented on #231
@mbrn I think it's broken again on 1.36.1

[2019-05-08 22:25] roseak opened #554 "rowStyle being overwritten by MuiTableCell-root"
**Describe the bug**
Seems like despite rowStyle adding the styles for rows, MuiTableCell-root is overriding them (trying to increase the font size of the data in the table).

[2019-05-09 01:44] exp0nge opened #555 "Uncaught TypeError: Cannot read property 'tableData' of undefined after first page"
**Describe the bug**
From page 2 and onwards, when you click on the detail pane / chevron, the table errors out with: `Uncaught TypeError: Cannot read property 'tableData' of undefined`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**S

[2019-05-09 04:15] mbrn commented on #549
You can not. But you i can add this feature. Because a lot of developer asked for it.

[2019-05-09 04:16] mbrn commented on #192
I have plans for a new filtering component but now i am focused on stability and performance. Then i can work for new features

[2019-05-09 04:17] mbrn commented on #498
Hi @GienekGenin,

I will look at this asap.

[2019-05-09 04:21] mbrn commented on #552
Hi @denis-sk
 You can use options.headerStyle to change header rowHeight.

![image](https://user-images.githubusercontent.com/7895451/57427077-f8361e80-722a-11e9-8cc0-6e47ab975e2c.png)

[2019-05-09 04:21] mbrn commented on #426
You can call `tableRef.onAllSelected(true)`

[2019-05-09 04:22] mbrn commented on #553
Absolutely.

[2019-05-09 04:23] mbrn commented on #231
I will take a look at it.

[2019-05-09 04:25] mbrn commented on #554
Actually rowStyle does not effect the inside cells. You may try MuiThemeProvider

[2019-05-09 04:25] #554 closed

[2019-05-09 06:58] YongZhangEmbed commented on #549
thanks for your feedback, hope this feature coming soon

[2019-05-09 09:34] Foosballfan commented on #513
@mbrn do you need any more info for this bug?

[2019-05-09 09:38] Foosballfan commented on #543
Hi,
I got around this issue by using a custom export function that uses the render method for the column.
This way the data exported matches the data in the table exactly.

[code]

[2019-05-09 19:15] blackbadgerltd opened #556 "maxBodyHeight does not take a percentage"
**Describe the bug**
When trying to have a table fit within a flexible area, providing a string of 'x%' makes the table expand to its full height

**To Reproduce**
Steps to reproduce the behavior:
1. provide a maxbodyheight of say 20% inside a div of fixed size

**Expected behavior**
Table should render to max height of percentage of parent

**Desktop (please complete the following information):**

[2019-05-09 19:26] jatinvmehta opened #557 "Ability for Striped column or style for group of column"
I start using this library and it is pretty amazing. I am looking for following feature and wondering if it is already available or on your roadmap.

1. Ability to style rows based on certain condition. I am rendering employee information and i wanted to style all employees by department. So HR needs to be green, Tech should be yellow etc. I am already having data sorted such a way while getting b

[2019-05-09 23:54] exp0nge commented on #555
@mbrn for reference the code: https://github.com/mbrn/material-table/pull/175#issuecomment-459372239

[2019-05-10 01:58] theamanbhargava opened #558 "CONTRIBUTING.md URL is broken inside README.md"
**Describe the bug**
The URL to CONTRIBUTING.md is broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to README.md
2. Click on hyperlink for CONTRIBUTING.md
3. See 404 error

**Expected behavior**
CONTRIBUTING.md should open up

**Platforms**
Issue is there across all platforms.

[2019-05-10 06:24] theamanbhargava commented on #543
@Foosballfan Created a PR based off of your solution, also added example to the demo page.

[2019-05-10 06:36] theamanbhargava commented on #548
@jakeleventhal can you add reproduction steps please?

[2019-05-10 07:13] Foosballfan commented on #543
There is one issue with my solution, which is also discussed in my open PR.
The render() function is able to return non primitive values (such as JSX elements).

The change that @mbrn seemed to suggest (still waiting to hear back from him)is to use the 'type' parameter on the render function.

That way when configuring your columns, if you use a render function then you should accept the parameter

[2019-05-10 07:23] jabstein opened #563 "Detail Panel Collapse When "onClick" Actions is Used Within The Detail Panel"
**Describe the bug**
I want to add a form inside the detail panel, and with the button within it i want it to initiate a dialog prompt with "@material-ui/core/dialog" and the user returns to the open detail panel after successfully submitting the form. But for some reason whenever i click the button the detail panel all open panels collapse and the dialog box does not show until after you open the

[2019-05-10 07:31] theamanbhargava commented on #543
@Foosballfan going through the comments on your PR, I think a displayValueAccessor might be the best way to go.

[2019-05-10 07:38] Foosballfan commented on #543
Yeah, I did mention it here https://github.com/mbrn/material-table/pull/530#discussion_r280312890 but it didn't really get acknowledged. I've also since lost all communication with @mbrn. Maybe you would stand a better chance fo getting a reply from him.

[2019-05-10 07:58] theamanbhargava commented on #543
Well. I have emailed him a while ago, let's see how that goes.

[2019-05-10 08:38] ismaildervisoglu opened #564 "Conditional column rendering"
Hi,

I've got many columns. I want some of these columns to be rendered depending on the condition.

Thanks

[2019-05-10 10:40] denis-sk commented on #552
No. Header Style change th cell style, but tr style not changes.

![image](https://user-images.githubusercontent.com/26207133/57521379-cb683100-7328-11e9-9335-a6c9355a2631.png)

[2019-05-10 12:53] finbar123 commented on #522
Mehmet

Hi thanks for adding the feature, but I am having trouble getting it to work, I have defined as below cell and header both get applied but filter is ignored, have I misunderstood how it should work ?   I upgraded to 1.36.1

columns={[

              {title: 'Id', field: 'id' ,type:"numeric",searchable:true,filtering:true,sorting:true,

                cellStyle:{maxWidth:100,padding:"5px",

[2019-05-10 14:26] Flash619 opened #565 "Large pagination count results in scrollbars."
**Describe the bug**
When pagination goes in the hundreds, scroll bars appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a table with a few hundred items.
2. Set the max rows per page to 100 or 200.

**Expected behavior**
Overflow should be hidden, or pagination should expand.

**Screenshots**
![image](https://user-images.githubusercontent.com/1608113/57534468-b037fa00-7305-11e9

[2019-05-11 01:24] soufianeAe55 opened #567 "Invalid hook call. Hooks can only be called inside of the body of a function component"
**Describe the bug**
Hi guys i tried to install materiel-table inside my project but i got this problem.
Invalid hook call. Hooks can only be called inside of the body of a function component

any one now how to fix it
"devDependencies": {
        "axios": "^0.16.2",
        "babel-preset-react": "^6.23.0",
        "bootstrap-sass": "^3.3.7",
        "cross-env": "^5.0.1",
        "file-loader": "

[2019-05-11 02:06] aramkoukia commented on #9
why do you close the issue? shouldn't it be open to be addressed?

[2019-05-11 06:23] victor-accarini opened #568 "Table crashes when providing components prop."
**Describe the bug**
Table crashes when providing `components` props.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `components` prop on table with just a `Container: (props) => <div {...props} />`
2. Set `isLoading={true}` prop on table
3. See crash

**Expected behavior**
Not crash...

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please comp

[2019-05-12 06:15] haqisaurus opened #570 "how to add new row data manually?"
I want to add new row data from outside, not from feature that provide by material-table, I did something like this
[code]
this code purpose to add new row directly but when echo-ing at console data added but not rendered? someone can help me out this case?

[2019-05-12 10:54] cesoftinfo opened #571 "Delete selected rows"
Hi, after update deleting selected rows does not work and selected rows remain selected. Rows are removed from state but not from table?

[2019-05-12 15:49] flyingangel opened #572 "How to display the row add automatically"
When the table is rendered, display the "add row" automatically (the row that appear when you click on the "+" icon)

And after clicking the "V" to validate a row, re-display the add row to add another line

[2019-05-12 16:17] flyingangel opened #573 "Add and control table footer"
Not talking about the footer with pagination. But the last row where you can display the sum or the percentage of one column.

The row must be fixed when navigating with pagination, must not have any empty space between this footer row and the last row of a table

We can set footer for all or just one chosen column but the number of declared footer must be the same as header columns

The footer, b

[2019-05-12 16:45] mbrn commented on #513
i need just time :)

[2019-05-12 16:47] mbrn commented on #557
Hi @jatinvmehta ,

1. This is possible right now: 3rd example: https://material-table.com/#/docs/features/styling
2. This is in my roadmap. I will add pagination position option.
3. Do you ask for file upload component for editable feature? If so, you can override EditComponent of column.

[2019-05-12 16:48] #558 closed

[2019-05-12 16:48] mbrn commented on #558
Thanks

[2019-05-12 16:51] mbrn commented on #563
Can you move your column definitions to state? Because MT stores detailpanel open flag on your column definition.

[2019-05-12 16:52] mbrn commented on #543
Hi @theamanbhargava ,

I saw you prs. I will check them and merge asap. You may know, this is the Ramadan for muslims and i am very busy nowadays. Thanks for your patience.

[2019-05-12 16:53] mbrn commented on #564
Hi @ismaildervisoglu ,

You can set your columns hidden property true according to your condition.

[2019-05-12 16:53] #564 closed

[2019-05-12 16:54] mbrn commented on #552
I will add cellStyle to options to effect all cells.

[2019-05-12 16:58] mbrn commented on #9
Hi @aramkoukia ,

Because it has a export feature. Users could use export feature for printing.

[2019-05-12 16:59] mbrn commented on #570
Hi @haqisaurus

1. Store your data on your state.
2. Add a new row to array that stored on state.
3. Just setState

[2019-05-12 17:01] mbrn commented on #572
Hi @flyingangel

This is not in my road map. But i will solve validation problem with a effective way.

[2019-05-12 17:01] #572 closed

[2019-05-12 17:02] mbrn commented on #573
This is my roadmap. I will add a summarize row feature asap.

[2019-05-12 23:06] haqisaurus commented on #570
I use data from remote API not from array state, is there a function to trigger reload data from API server?

[2019-05-13 01:28] priemd commented on #570
Whatever triggers you’re remote call for new data should set the state and you’re all set.  Could easily be a custom action inside material-table.  I’m using custom actions and redux with redux thunk for custom search, add,modify, delete all works great with reducers updating the state.

[2019-05-13 04:26] mbrn commented on #570
@haqisaurus

if you use data and you want to add new row please check editable feature. It lets you to create a new row with a form.

But if you want to refresh data you can use tableRef and call onQueryChange manually.

[2019-05-13 04:34] #568 closed

[2019-05-13 04:59] jakeleventhal commented on #521
I am unable to use both remote data paging and custom components
https://codesandbox.io/embed/n9572w936j

[2019-05-13 06:26] MarcelMitzkus opened #574 "Make table responsive"
Hello,

is it possible to make this table responsive?
Here's a specifiation how the responsiveness is described for material.io: https://material.io/design/components/data-tables.html#anatomy

Thanks in advance.

[2019-05-13 07:06] stemarf50 commented on #372
Hey there, I'm having a case where I want an EDIT action button for each row, and a common DELETE (free action) on the toolbar for selected rows (if any). Is it possible for you to add a prop/param for every action (maybe called `bool multiple`) that will let me choose the appropriate behaviour for each action button?

[2019-05-13 07:43] jabstein commented on #563
updated post

[2019-05-13 08:05] haqisaurus commented on #570
@mbrn

Okey I got it now, thank you for helping me 👍

[2019-05-13 08:06] #570 closed

[2019-05-13 09:09] denis-sk commented on #552
Do you mean the cellstyle will be applied to the header cell and row cell? If yes, I think they should work independently of each other.

[2019-05-13 12:48] theamanbhargava commented on #567
This might not be a material-table component but a hooks usage error in your project instead.

[2019-05-13 12:49] theamanbhargava commented on #553
@mbrn Can we close this issue?

[2019-05-13 13:04] jatinvmehta commented on #557
Thank you very much for your quick reply. I will try item 1. Do you have any ETA on 2nd item ? Also for item 3, looking for ability where we can upload 1000+ item through upload ability so not sure if EditComponent can work here or not

[2019-05-13 19:34] pwork2015 opened #577 "Really need forceUpdate() method"
Hello! Please, make the method forceUpdate() or refresh(), which will do the next:

_this.onQueryChange(_this.state.query);

I need it for working with remoteData. Your algorithm with data: (query) => ... is NOT suitable for my hard project. Thank you for help!

[2019-05-14 00:47] dalenhughes commented on #491
Are you sure this isn't a bug? You can see here that my table has the state of my filters but doesn't display the 'nar' filter in its appropriate filter field. Disappears after the search happens.

<img width="1360" alt="Screen Shot 2019-05-13 at 2 26 32 PM" src="https://user-images.githubusercontent.com/11064822/57663011-fb246c80-75a6-11e9-8fb0-9ac18e48fbc8.png">

[2019-05-14 01:26] jakeleventhal commented on #491
This is the problem i was having @dalenhughes

[2019-05-14 04:29] mbrn commented on #521
Can you open this as another issue, please?

[2019-05-14 04:30] mbrn commented on #372
isFreeAction property is not enough?

[2019-05-14 04:31] mbrn commented on #563
Did you try it?

[2019-05-14 04:32] mbrn commented on #552
No it will be applied to all cells(not headers)

[2019-05-14 04:38] mbrn commented on #553
Of course.

A trick:
If you write you comments like this : "This closes #ISSUE_NUMBER, bla bla bla", after merging issues would be closed automatically.

https://help.github.com/en/articles/closing-issues-using-keywords

[2019-05-14 04:38] #553 closed

[2019-05-14 04:41] mbrn commented on #557
Actually i work a lot for MT but i can not promise on any date. Because MT is my hobby project. I work for a company and upwork(freelance) on various projects. But i will do it asap.

For 3: I think if you use a well component you can upload many files. It does not depend to MT.

[2019-05-14 04:42] theamanbhargava commented on #577
Can you share a code snippet so we can see the exact use case?

[2019-05-14 04:50] mbrn commented on #577
Hi @pwork2015,

I wrote a example for this case. Please check 2nd example at:

https://material-table.com/#/docs/features/remote-data

[2019-05-14 04:50] #577 closed

[2019-05-14 04:51] mbrn commented on #491
@dalenhughes

Can you share your code please? If possible with a codesandbox.

[2019-05-14 05:15] #544 closed

[2019-05-14 05:18] mbrn commented on #544
This is done with 1.36.3

[2019-05-14 09:14] JKrymarys commented on #485
Hi,
I see that can drag&drop columns to change their order, It seems to not be working completely well, tho.
So what's the status of this feature? :)

[2019-05-14 10:37] mbrn commented on #485
Hi @JKrymarys ,

Which version of MT do you use?

Try examples:
https://material-table.com/#/docs/features/grouping

[2019-05-14 10:51] stemarf50 commented on #372
Thanks for the response, but that is not what I am looking for. I want a row-specific EDIT and a selection-specific DELETE. The current setup does not seem to allow that as selection boxes remove action buttons from individual rows.

[2019-05-14 10:54] JKrymarys opened #578 "Drag&drop is not moving filter field"
When I try to move column, that  has been already filtered, the column is moved properly, but not the filter. It stays in the old position (it's still working, tho).

**To Reproduce**
Steps to reproduce the behavior:
1.  Turn on features of table like drag&drop and filter
2. Activate some filter
3. Move column with filtered values

**Expected behavior**
I expect that filter will "stick" to the col

[2019-05-14 10:56] JKrymarys commented on #485
Hi!
Thanks for the fast reply :)
I am using newest version that is released.

I've tried the examples and the issue still exists, thus I described it in an [issue](https://github.com/mbrn/material-table/issues/578)

[2019-05-14 11:07] pwork2015 commented on #515
need this to. It's so easy to release. Please...

[2019-05-14 11:15] orestes22 commented on #515
Hi, there is way to do that. In the response of the API you have to set to true the variable "checked ".
This variable is inside of dataTable.
Example:
response.DataTable.checked=true

[2019-05-14 11:20] pwork2015 commented on #515
What is "response of the API"? Can you provide more deep example?

[2019-05-14 11:33] orestes22 commented on #515
Sorry, i thought you are asking for remote connection.

In your case try to do this in onClick event of your button: data.tableData.checked=true

[2019-05-14 11:35] orestes22 commented on #515
If it is an array your data:
data[numberRow].checked=true

[2019-05-14 11:40] eps1lon commented on #472
Might be a good idea to specify the peer version of react as well.

[2019-05-14 11:42] eps1lon commented on #255
@mbrn  There are no more breaking changes planned for the upcoming v4 release i.e. the API should be stable now. Would like to assist making this project ready for v4. We should start by solving #472.

[2019-05-14 19:40] bretep commented on #515
What if you don't know the row number in the array, just the key that is checked?

For my use case, the user searches for something, gets a table of results back, they select a few items, then may modify their search to select more items.

I store the selected items in a separate variable, using an "onClick" function.

If the user searches again for a previous query, the table loads, but values he

[2019-05-14 19:53] orestes22 commented on #515
Hi @bretep , you at least need have an "Id" of that information, or something that you can difference some information from another, using that element you can cheked the row that you want.

If you use the material-table not in remote mode it keep that reference but if you used it in remote mode you must keep that reference in your state and tell to the table when you need it mark something or cha

[2019-05-14 23:26] krunalsheth3 opened #579 "Fixed columns request"
**Is your feature request related to a problem? Please describe.**
The data in my table is huge. Both row wise and column wise. At times a user needs to horizontal scroll and I would like to add a feature where the 1st column always remains fixed.

**Describe the solution you'd like**
Fixed columns when a user performs horizontal scrolling

**Describe alternatives you've considered**
Something lik

[2019-05-15 00:50] oliviertassinari opened #580 "Server side rendering warning"
**Describe the bug**
Hydration mismatch warnings are raised when server-side rendering the components.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://next.material-ui.com/components/tables/#material-table in dev mode
2. Open the console

**Expected behavior**
No warnings.

Version 1.35.2. I believe it's related to i18n props that leak to the DOM node.

[2019-05-15 07:19] CatLover94 opened #581 "How to use tableRef prop to pass ref over withStyles"
Hi,

I am trying to provide a className to the component to be able to override the CSS of the table component (without using JSS or changing my MaterialUI theme).

In the docs, I found this "tableRef" props but I couldn't find an example of how to use it and what I can benefit from passing this props.

Thanks!

[2019-05-15 09:32] adwiser opened #582 "Missing Icon on Group Header Chip"
**Describe the bug**
Chip used in Grouping Functionality is missing up and down arrow icon

**To Reproduce**
Steps to reproduce the behavior:
Add a column to drag and drop area.

**Expected behavior**
Should see Chip with Close Icon as well as sort icon.

**Screenshots**
<img width="363" alt="Screenshot 2019-05-15 at 11 28 44" src="https://user-images.githubusercontent.com/48380286/57765079-0ee5e5

[2019-05-15 10:48] adwiser commented on #582
Just added <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> to my index.html file and all is well.

[2019-05-15 10:48] #582 closed

[2019-05-15 11:02] sabarigr opened #583 "How to customize styles using MuiThemeProvider?"
I was trying to change the font family from Roboto to a custom font. For this I tried this,

[code]

and imported this theme to my app. Only the default styles are being generated and not the one I gave through the theme object.

Does this approach work or using the cellStyle / headerStyle options the only way to style the table?

Please help

[2019-05-15 11:08] YuuwakU opened #584 "Hide first and last page option in pagination"
I want to hide the first page and last page option in pagination as in our backend pagination we do not provide that option.

[2019-05-15 12:31] matiasthompson opened #585 "Support Validation to record edition"
**Is your feature request related to a problem? Please describe.**
The library seems great to me, I'm just starting with it. But I came across a particular problem. Validation of the fields in the insert or update operation.

**Describe the solution you'd like**
I think it would be a plus to be able to define the type of validation for each field or a scheme like Yup, which only works when inserti

[2019-05-15 12:42] Likurg2010 opened #586 "Placeholder for search input"
HI. Is there some possibility to add placeholder for "Search" input?

[2019-05-15 14:18] krunalsheth3 commented on #579
Seems like a duplicate of - https://github.com/mbrn/material-table/issues/43
Closing this

[2019-05-15 14:18] #579 closed

[2019-05-15 14:19] krunalsheth3 commented on #43
+1 to this request.

[2019-05-15 14:33] #403 closed

[2019-05-16 04:30] mbrn commented on #372
Yes. You can use custom render feature to render your own actions even if selection is true.

[2019-05-16 04:33] mbrn commented on #255
Hi @eps1lon

You are right. We should make material-ui, react and react-dom peer dep.

[2019-05-16 04:34] mbrn commented on #581
Which component of MT do you want to apply a style?

[2019-05-16 04:36] mbrn commented on #583
Hi @sabarigr,

You can use cell styles and header style. Did you try override to Typography in your theme?

[2019-05-16 04:53] #578 closed

[2019-05-16 04:53] mbrn commented on #571
Hi @cesoftinfo ,

Can you share a code sample to reproduce case?

[2019-05-16 05:00] mbrn commented on #556
Hi @blackbadgerltd ,

Actually this is not a bug. % height could not be applied cause of parent component that is not specified a height.

Trick: You can use maxBodyHeight: **'80vh'** :)

[2019-05-16 05:00] #556 closed

[2019-05-16 05:02] mbrn commented on #548
I test it and it works.

[2019-05-16 05:02] #548 closed

[2019-05-16 05:11] mbrn commented on #546
Hi @fredbast ,

Why you dont send your suggestion as a PR. I can merge it if you send

[2019-05-16 05:13] mbrn commented on #545
Hi @allennyzhang ,

Which version of MT do you use? Because i tested it with latest version and it works.

[2019-05-16 05:21] mbrn commented on #231
@exp0nge

I tested it with both normal and remote data and it works. Can you check it again?

[2019-05-16 05:21] #231 closed

[2019-05-16 05:21] #426 closed

[2019-05-16 05:37] mbrn commented on #586
This is done with 1.36.4

[2019-05-16 05:37] mbrn commented on #578
This is done with 1.36.4

[2019-05-16 06:14] urirahimi opened #588 "Adding a actionHeaderStyle prop just like the headerStyle prop"
**Is your feature request related to a problem? Please describe.**
Please add an actionHeaderStyle prop just like the headerStyle prop

**Describe the solution you'd like**
When you use the editable feature, it automatically colors the column header without allowing you to edit that color. Create a prop to solve the header style problem in the codesandbox below.

See this codesandbox: https://4pg4

[2019-05-16 09:45] JKrymarys opened #590 "Support drag&drop without grouping"
Hi,
I would like to have a possibility to change order of columns by drag&drop mechanism.

Currently, it's only possible together when grouping is activated. It would be great if this could be a separate feature.

[2019-05-16 11:56] AmeddahAchraf opened #591 "Showing examples first in documentation"
**It would be better if you show the examples section first in the documentation for better visualisation of the feature**

<img width="714" alt="Screen Shot 2019-05-16 at 12 54 55 PM" src="https://user-images.githubusercontent.com/33070929/57851989-dbc15580-77d9-11e9-9f0b-791992d47f07.png">

[2019-05-16 12:31] exp0nge commented on #231
@mbrn can you post your examples? More than one page

[2019-05-16 12:42] feleko commented on #43
+1 to this request

[2019-05-16 16:37] Flash619 commented on #9
I would also be interested in this functionality for a few apps I'm working on. Users don't always like an extra step. 😊

[2019-05-16 18:08] Stetchy opened #592 "Creating new action overrides pre-existing actions' component"
**Describe the bug**
Creating a new action/component pair changes any pre-existing actions' component to the new one.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new component/action pair like the following:
[code]
2. Bug will render on reload.

**Expected behavior**
Pre-existing actions' components remain unchanged while the new action is added.

**Screenshots**
![Capture](https:/

[2019-05-16 18:29] kkomaz commented on #478
@mbrn

Instead of avatar like the example if we hook a component inside with a onClick or onChange function?  How do we stop the propagation if we utilize a `onRowClick` on the `<MaterialTable />` component?

[2019-05-16 18:48] dalenhughes commented on #491
@mbrn When you say 'You used columns directly. I advise you to use them in parent components' state' what do you mean by 'you used columns directly'? Do you mean that we can't use a parent's components state to dynamically create the columns like this?  Here is my render function:
`
[code]

[2019-05-16 19:02] kkomaz commented on #478
Example:

[code]

![demo](http://g.recordit.co/iA7pcNsz1z.gif)

[2019-05-16 19:38] kkomaz commented on #478
Nevermind figured it out via `disableClick: true` on the column!

[2019-05-16 20:47] dmetzler2012 commented on #9
I would also like this feature.

[2019-05-16 20:55] jakeleventhal opened #593 "Unable to use both remote data and custom components"
**Describe the bug**
Referenced from #521

**To Reproduce**
Steps to reproduce the behavior:
https://codesandbox.io/embed/n9572w936j

**Expected behavior**
Should be able to have custom components with remote data

[2019-05-16 20:56] jakeleventhal commented on #593
works on 1.36.4

[2019-05-16 20:56] #593 closed

[2019-05-16 22:48] dalenhughes commented on #491
Okay I found the problem. Calling `setState` or `this.props.history.push({ search})` anywhere inside Promise that you pass into the `data` attribute causes this effect. In the sandbox below I took @jakeleventhal 's same program and removed the `setState` calls from the Promise and the filter text stay.

In my case, when I query my data I want to maintain it outside of the table. I also want my url

[2019-05-17 04:33] mbrn commented on #591
I think examples at the end is more effective. Why do you want this?

[2019-05-17 04:36] mbrn commented on #231
Look at first example at https://material-table.com/#/docs/features/remote-data:

- I added just this to table: detailPanel={rowData => rowData.first_name}

![image](https://user-images.githubusercontent.com/7895451/57903382-72dbeb00-7876-11e9-899e-0411e6c2a019.png)

[2019-05-17 13:30] Flixbox commented on #421
@mbrn Could you share how you were able to accomplish this?

[2019-05-17 13:31] alyssonmessias commented on #260
@priyankakumari1011 can you show example that how resolved this problem?
I have the same problem and I am not getting it to work, when the page changes it does not update the component.

[2019-05-17 13:34] Flixbox commented on #421
Nevermind, I found the PR with the change:

https://github.com/truongtv22/material-table/pull/13/commits/e8b015fae34b52fb28e5dd16c24765a58c52d4d9

I simply added `defaultExpanded: true` to the table options.

[2019-05-17 20:16] serge20 opened #597 "Editable not updating my row properly when field is a nested object"
Hi,

I am using the table on an object that has nested objects.

for example:

`{
  name: "My Name",
  nest: {
       nested: {
          address: "My Address"
      }
   }
}`

The table can display the values by setting the field to "nest.nested.address".

When I make the table editable and I update the field. Instead of it updating the value in nest.nested.address

It created a new key in the ob

[2019-05-17 23:30] diegosps commented on #539
For completeness, I think ordering properties should be included too, basically all query properties.

In my case I want a "page to item" function with remote data from an external component.
I can do it with tableRef and onQueryChange as stated in #383 , but i need some way to reset the table state to not produce divergent information.

Thanks

Off topic: your work here is amazing, congrats.

[2019-05-18 01:44] gxwheel152 commented on #139
I have the opposite problem --- rows are not striped, but I would like them to be.
Is there an options such as ...
row: {
    '&:nth-of-type(odd)': {
      backgroundColor: theme.palette.background.default,
    },

OR

  rowStyle: rowData => ({
    backgroundColor: **rowIndex** % 2 === 0 ? "#EEE" : "#FFF",
  }),

When I use the following, it seems to reference the original order of the data instea

[2019-05-18 01:50] gxwheel152 opened #598 "How to get Striped Rows possibly using the displayed RowIndex"
I have not been able to enable striped rows, but I would like to.

I think it would be possible if the displayed RowIndex were available in props or styling (such as discussed in https://github.com/mbrn/material-table/issues/273)

Are there other options such as ...
row: {
'&:nth-of-type(odd)': {
backgroundColor: theme.palette.background.default,
},

OR

rowStyle: rowData => ({
backgroundColor: **

[2019-05-18 16:18] CatLover94 commented on #581
Is it possible to provide a way to assign className to components like:

[2019-05-19 03:10] IraSkyx opened #599 "Allow default search algorithms on remote data"
A useful feature I see would be to allow search in remote data to apply default search algorithms on cached data and not passing through the query function again. The current implementation causes blank flash of the spinner on key pressed and you can't type in quickly or some characters will be ignored.

[2019-05-19 08:05] HanaaAbbas opened #600 "Is there a way to insert new row at a certain index, rather than at end or beginning of table?"
I have a counter data field. If I make this field editable "onAdd" only. Is there a way I can make it change the insertion point from the first row or last row according to options to the index specified and render the remaining rows accordingly?

Thank you very much.

[2019-05-19 12:21] pak11273 commented on #598
@gxwheel152 https://stackoverflow.com/questions/55611733/applying-specific-theme-for-react-material-table

[2019-05-19 14:57] gxwheel152 commented on #598
I'll take a look at https://material-table.com/#/docs/features/component-overriding and let you know

[2019-05-19 15:28] gxwheel152 commented on #598
Thanks for the reference to component-overriding. I tried this for the Row component, but am still having trouble. Probably something on my side, so thanks in advance for the help. Code BELOW, Results HERE:

1st example utilizing with MTableBodyRow gives an error:

2nd example utilizing Row does not give an error, but also does not adjust the style of any of the rows:

`          <HodgeChartsWOR

[2019-05-19 15:40] sabarigr commented on #583
@mbrn Exactly. I couldnt override the default typography in theme overrides.

[2019-05-19 21:23] pak11273 commented on #598
I think you're making this out to be more harder than it is.  There is no need to override the component.  This can be done through the options:

[code]

[2019-05-20 04:39] mbrn commented on #597
Actually it is a bug. I can resolve it asap.

[2019-05-20 04:41] mbrn commented on #139
Hi @gxwheel152 ,

I will add stripeRows to options asap.

[2019-05-20 04:44] mbrn commented on #581
No. But you can use JSS to apply a class.

Check this: https://material-ui.com/customization/css-in-js/

[2019-05-20 04:44] #581 closed

[2019-05-20 04:46] mbrn commented on #600
Currently you cant. But i think to add a newFieldValue function to let users assign a initial value to fields.

[2019-05-20 04:52] mbrn commented on #583
Check this:
https://codesandbox.io/embed/epic-almeida-ykjlw

[2019-05-20 04:54] mbrn commented on #598
Hi @pak11273 ,

This a great solution. But i realized that if you sort data stripes wont be correct. So we may pass dynamic index of row to this function as a second parameter.