[2018-08-07 08:38] mbrn opened #1 "Implement defaultProps"
Implement defaultProps

[2018-08-07 08:39] mbrn opened #2 "Add selection feature"
Users can select rows

[2018-08-07 08:39] mbrn opened #3 "Add sort feature"
Users can sort columns

[2018-08-07 08:40] mbrn opened #4 "Add filtering feature"
Users can filter rows

[2018-08-07 08:40] mbrn opened #5 "Add show columns feature"
Users can select shown columns

[2018-08-07 08:41] mbrn opened #6 "Add search feature"
Users can search rows

[2018-08-07 08:41] mbrn opened #7 "Add lookup data feature"
Add lookup data feature

[2018-08-07 08:42] mbrn opened #8 "Add export feature"
Users can export table data as pdf or excel file

[2018-08-07 08:42] mbrn opened #9 "Add print feature"
Users can print table data

[2018-08-07 08:42] mbrn opened #10 "Add paging feature"
Add paging feature

[2018-08-07 08:43] mbrn opened #11 "Add title feature"
Users can add title to table head

[2018-08-07 08:43] mbrn opened #12 "Add add/update/delete form features"
Add add/update/delete form features

[2018-08-07 08:44] mbrn opened #13 "Add localization feature"
Users can change strings for table

[2018-08-07 08:44] mbrn opened #14 "Add custom render feature"
Users can render a cell

[2018-08-07 08:45] mbrn opened #15 "Add eslint"
Add eslint

[2018-08-07 08:45] mbrn opened #16 "Configure travis"
Configure travis to deploy npmjs on every commit to master branch

[2018-08-07 10:34] mbrn opened #17 "Publish code examples on codepen"
Publish code examples on codepen

[2018-08-07 12:05] #11 closed

[2018-08-07 12:09] mbrn opened #18 "Fill readme.md file"
Fill readme.md file

[2018-08-07 13:08] #1 closed

[2018-08-07 18:30] #5 closed

[2018-08-08 06:27] #2 closed

[2018-08-08 07:09] mbrn opened #19 "Add Scroll Feature"
Add Scroll Feature

[2018-08-09 08:39] #10 closed

[2018-08-09 13:34] #3 closed

[2018-08-09 17:53] #7 closed

[2018-08-09 17:54] #14 closed

[2018-08-09 17:54] mbrn commented on #14
closed with commit for #7

[2018-08-10 11:42] mbrn opened #20 "Add actions feature"
Add actions feature

[2018-08-10 11:43] #4 closed

[2018-08-10 11:44] mbrn commented on #20
Closed with #4 's commit

[2018-08-10 11:44] #20 closed

[2018-08-10 21:13] #6 closed

[2018-08-11 15:08] #15 closed

[2018-08-11 17:45] #16 closed

[2018-08-12 18:04] mbrn opened #21 "Publish Demo Page"
Publish Demo Page

[2018-08-12 18:27] #21 closed

[2018-08-13 08:38] mbrn opened #22 "Organize options property"
Organize options without nested objects

[2018-08-13 08:38] mbrn opened #23 "Divide Table to smaller components"
Divide Table to smaller components such as Cell, Header, Row

[2018-08-13 20:15] mbrn opened #24 "Do release publishing"

[2018-08-13 20:16] mbrn opened #25 "how to decrease installation size"

[2018-08-14 06:57] mbrn opened #26 "Add row sub component render feature"
Add row sub component render feature. Every row can render an collapse panel which could be rendered according row data

[2018-08-14 06:59] mbrn opened #27 "Add summary row feature"
Add summary row feature

[2018-08-14 07:01] mbrn opened #28 "Add data formatting feature"
Data formatting for datetime, money etc.

[2018-08-14 07:03] mbrn opened #29 "Add inline editing feature"
Add inline editing feature

[2018-08-15 07:42] mbrn opened #30 "Add index.d.ts for typescript"
Add index.d.ts for typescript

[2018-08-16 05:58] mbrn commented on #18
ok.

[2018-08-16 05:58] #18 closed

[2018-08-16 13:33] mbrn commented on #28
rendering boolean or datetime values cause exception or nothing to render. getValue method must return back string or react component for every case

[2018-08-16 13:44] mbrn opened #31 "Actions buttons new line"
When multiple actions rendered on a small width table every button uses new line to render. min-width of td should be buttonsCount * 48

[2018-08-16 13:44] mbrn opened #32 "Configure issue template"
Configure issue template

[2018-08-16 18:33] #31 closed

[2018-08-16 18:39] mbrn opened #33 "Action icon properties could be calculated with a function"
For example instead of this

[code]

[2018-08-16 19:42] #33 closed

[2018-08-17 07:57] mbrn opened #34 "Add actions without selection"
For example add new record button could be shown when nothing selected

[2018-08-19 11:05] mbrn commented on #23
MTableCell divided into subcomponent

[2018-09-03 12:43] mbrn opened #35 "Filter is not working accurately when column type is one of date, time or datetime"
Filter is not working accurately when column type is one of date, time or datetime.
We can use https://github.com/dmtrKovalenko/material-ui-pickers

[2018-09-04 06:02] mbrn commented on #34
closed with
https://github.com/mbrn/material-table/commit/450ff197b122f758ab16b82dc17c1440ecebcb48#comments

[2018-09-04 06:02] #34 closed

[2018-09-04 08:07] mbrn opened #36 "Refactor code and publish version 1.0.0"

[2018-09-04 08:07] mbrn opened #37 "Upgrade material-ui to version 3.X.X"

[2018-09-05 06:33] mbrn opened #38 "Actions column is rendering when there is freeaction buttons and nonfreeaction buttons."
Actions column is rendering when there is freeaction buttons and nonfreeaction buttons.

[2018-09-07 13:09] mbrn opened #39 "Add github link to demo page."

[2018-09-07 13:14] mbrn opened #40 "Add theme options to demo page"

[2018-09-08 17:55] #39 closed

[2018-09-09 18:43] #40 closed

[2018-09-09 18:43] mbrn opened #41 "Upgrade to material-ui 3.0.3"

[2018-09-10 17:20] #41 closed

[2018-09-10 19:17] #28 closed

[2018-09-10 19:25] mbrn opened #42 "Use docz for documentation"
Use docz for documentation

[2018-09-13 17:34] mbrn commented on #24
Do not need this issue for now

[2018-09-13 17:34] #24 closed

[2018-09-13 17:34] mbrn opened #43 "Add freezed columns feature."
Add freezed columns feature.

[2018-09-14 17:56] mbrn opened #44 "Add cell styling feature"

[2018-09-14 18:18] #12 closed

[2018-09-14 18:19] mbrn commented on #17
This will be done with #42

[2018-09-14 18:19] #17 closed

[2018-09-18 07:40] mbrn opened #45 "Upgrade to material-ui 3.1.0"

[2018-09-19 15:31] #45 closed

[2018-09-19 16:21] ModPhoenix opened #46 "Error: Element type is invalid"
Hi guys,

What am I doing wrong? I just add code like in the example, but I get an error.

[code]

[code]

[2018-09-19 16:38] mbrn commented on #46
Hi @ModPhoenix ,

how do you import `Material-Table` ?

[2018-09-21 05:46] mbrn commented on #46
@ModPhoenix , Problem resolved. you can take latest version(0.6.5).

Code is too fresh:). If you find any other bugs please submit a issue.

[2018-09-21 05:46] #46 closed

[2018-10-01 16:49] mbrn opened #47 "Fix pagination section for rtl direction"
Fix pagination section for rtl direction

[2018-10-02 15:51] #13 closed

[2018-10-03 21:06] mbrn opened #48 "Split inline styling to css files or default styles"

[2018-10-06 19:37] #44 closed

[2018-10-09 08:29] KKrisu opened #49 "Fix errors in console"
Hi there.

I've just installed the `material-table` which looks very promising, however it throws multiple errors in console. The same issue happens on your demo page

![image](https://user-images.githubusercontent.com/577112/46656369-317fb080-cbae-11e8-9c01-1889b73c7d57.png)

[2018-10-09 08:51] mbrn commented on #49
Hi @KKrisu,

All of them are warning but i will resolve them as soon as possible. Thanks for giving information.

[2018-10-09 13:50] #49 closed

[2018-10-09 13:52] mbrn commented on #49
@KKrisu. Problems resolved. You can upgrade to version 0.8.2

[2018-10-09 14:44] KKrisu commented on #49
Thank you @mbrn

[2018-10-11 14:45] hoschi opened #50 "Demo not working"
Loading bundle.js results in a 404

[2018-10-11 16:48] #50 closed

[2018-10-11 16:49] mbrn commented on #50
Problem resolved. Thank you @hoschi

[2018-10-12 06:47] Diaver commented on #30
It will be great.
I was trying to do by my self, but failed.

[2018-10-12 07:56] #30 closed

[2018-10-12 09:22] mbrn commented on #30
@Diaver, @KKrisu

You can install version 0.9.12 for typescript support.

[2018-10-12 12:53] Diaver opened #51 "Missing icons"
Hello!
Looks like, there is an issue with missing icons on the latest version 0.9.12:
![image](https://user-images.githubusercontent.com/644716/46870333-4fdaeb80-cdfc-11e8-8af3-f0d9785eb6c8.png)

[2018-10-12 12:57] mbrn commented on #51
Hi @Diaver,

Can you add material icons to your html page' head sections

`<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">`

[2018-10-12 13:19] Diaver commented on #51
Issue fixed, thanks!
Maybe, make sense add and use icons from npm package, not cdn ?

[2018-10-12 13:51] mbrn commented on #51
It increases the bundle size too much. So i decided to cdn

[2018-10-12 13:51] #51 closed

[2018-10-12 18:28] #22 closed

[2018-10-12 18:28] #23 closed

[2018-10-14 03:39] #42 closed

[2018-10-16 10:41] FaXaq opened #53 "cellStyle prop on Column interface is mandatory"
As the title says, cellStyle property on Column interface is mandatory even if I don't want to apply style to it. Could it be optional ?

[2018-10-16 10:49] #53 closed

[2018-10-16 10:49] mbrn commented on #53
You are right @FaXaq , It was a mistake and resolved with 0.9.13 version.

Please try it.

[2018-10-17 17:03] #8 closed

[2018-10-17 17:04] mbrn opened #54 "Add links on Props page to sub props"
User could access the subprops section by clicking from the main props

[2018-10-17 17:05] mbrn opened #55 "Edit dependencies, peerDependencies, devDependencies"

[2018-10-17 17:07] mbrn opened #56 "Edit issue template"

[2018-10-17 17:08] mbrn opened #57 "Add contribution section to readme and docz"
A contributing.md file should be added main path
short description should add to readme and this should refer the contributing
contribution page should be added to docz as last page on the menu tree

[2018-10-17 20:42] luizbaldi opened #58 "Build error - 'MenuProps' is not exported from '@material-ui/core'"
Hi,

I recently started a project using `material-table` and when the server starts I get this error:

[code]

What do you guys think is the best solution for this? I'm also available to open a PR and fix this error.

[2018-10-17 20:53] #58 closed

[2018-10-17 20:55] mbrn commented on #58
Hi @luizbaldi,

Thanks you for issue. Bug resolved with version 1.0.0-rc.2 please try it

[2018-10-17 21:00] luizbaldi commented on #58
Thanks @mbrn, it worked just fine!

And sorry for creating an unnecessary issue.

[2018-10-17 21:04] mbrn commented on #58
No it was not unnecessary @luizbaldi. Thank for your issue :)

[2018-10-18 04:21] jonjoncronin opened #59 "Table with empty rows gives console Warnings"
When using a MaterialTable component in my react app I'm seeing console log Warnings.
I was able to track the problem down to the MTableBody component definition where a div is rendered if emptyRowCount is > 0.

Warning: validateDOMNesting(...): div cannot appear as a child of tbody.
in div
in tbody (created by TableBody)
in TableBody (created by WithStyles(TableBody))
in WithStyles(TableBody)
...

[2018-10-18 06:24] #59 closed, assigned to mbrn

[2018-10-19 05:35] mbrn commented on #32
ok

[2018-10-19 05:35] #32 closed

[2018-10-19 05:35] mbrn commented on #36
ok

[2018-10-19 05:35] #36 closed

[2018-10-19 05:35] mbrn commented on #55
ok

[2018-10-19 05:35] #55 closed

[2018-10-19 05:36] mbrn commented on #56
ok

[2018-10-19 05:36] #56 closed

[2018-10-19 19:30] mbrn commented on #57
- A contributing.md file should be added main path
- short description should add to readme and this should refer the contributing
- contribution page should be added to docz as last page on the menu tree

[2018-10-20 14:48] luizbaldi commented on #57
Hi, I'm taking this one :)

[2018-10-20 14:52] mbrn commented on #57
of course. You can check other big projects in github and write a similar one.

[2018-10-20 15:47] luizbaldi commented on #57
PR open in #60.

[2018-10-20 15:56] #57 closed

[2018-10-20 21:36] mbrn opened #61 "set pull request template"
set pull request template

[2018-10-20 23:11] luizbaldi commented on #35
I'm taking this one and I'll use this `material-ui-pickers` lib.

[2018-10-21 18:45] mbrn commented on #35
Close with #62

[2018-10-21 18:45] #35 closed

[2018-10-25 16:31] rbkumar88 opened #63 "Sorting on a field with render property is not working"
Hi,

Is there any way to get this working. Say I have a render property but still sort it using the field property. I have a date field in "2018-10-24T23:25:39.129Z" format, which I want to convert it to a new Date("2018-10-24T23:25:39.129Z").toString() .Currently I have used a render with a dummy div and just the converted date inside it, and sorting doesn't work on that too. So ,in short, I want

[2018-10-25 16:49] mbrn commented on #63
Hi @rbkumar88,

Can you share your columnDefinition?

[2018-10-25 16:52] rbkumar88 commented on #63
Sorting doesn't work on either of these.
1. This one just add styles.
[code]
2. This one just converts to new Date()
[code]

[2018-10-25 17:03] mbrn commented on #63
@rbkumar88,

When you cover your datetime string with div tag, every row return a React element that could not be compared or sorted. We may take a sort function on column definition to sort this kind of data.

For your case you can remove div tags and return only string value of datetime as:
[code]

[2018-10-25 17:10] rbkumar88 commented on #63
Thanks. How about the first case. Sorting still doesn't work on that.

[2018-10-25 17:13] mbrn commented on #63
As i told, I will add a custom sort feature for next release. Star repo and wait for it about 3-4 days.

[2018-10-25 17:21] mbrn opened #64 "Add Server side paging, filtering, sorting feature"
Add Server side paging, filtering, sorting feature

[2018-10-26 00:45] luizbaldi commented on #61
_PR opened at #65 🕺_

[2018-10-26 04:36] #61 closed

[2018-10-29 05:38] DmitryNefedov opened #66 "Can't resolve 'material-ui-pickers/utils/MuiPickersUtilsProvider'"
**Describe the bug**
React app cant start with freshly installed `material-table`

**To Reproduce**
Steps to reproduce the behavior:
1. yarn add material-table
2. use MaterialTable
3. yarn start

**Expected behavior**
MaterialTable rendered and shown

**Actual behavior**
`Can't resolve 'material-ui-pickers/utils/MuiPickersUtilsProvider'` error is shown, app cant start

**Cause**
"material-ui-picke

[2018-10-29 07:16] mbrn commented on #66
Thanks @DmitryNefedov, I updated the version of material-ui-pickers as 1.0.1 and set it to specific version. Problem resolved and material-table 1.0.1 can be use.

[2018-10-29 13:59] DmitryNefedov opened #67 "Search doesnt include columns with custom `render`"
**Describe the bug**
Using column with custom `render` function exclude it from search.

**To Reproduce**
Steps to reproduce the behavior:
1. Use columns with `render` for id
2. Search by partial id

**Expected behavior**
Search results show columns with matching id

**Actual behaviour**
Search cant use columns with render

**Additional context**
E.g. columns
[code]
As a result, we have links with

[2018-10-29 14:06] mbrn commented on #67
Hi @DmitryNefedov,

I will do this feature asap

[2018-10-30 05:34] #67 closed

[2018-10-30 05:38] mbrn commented on #67
@DmitryNefedov ,

I change search to run on field value of every column. Not on render result. Because render result is a React.Element and it is not searchable. if you want to make  a column that has custom render method searchable, you should specify the field for it

[2018-10-30 05:38] mbrn commented on #67
If you have any trouble or requirement please feel comfort to ask me?

[2018-10-30 23:34] caseychoiniere opened #69 "Actions on the right side of table"
**Is your feature request related to a problem? Please describe.**
I think this is just a question rather than a feature request

**Describe the solution you'd like**
I'd like to have the actions show up on the right and I'm wondering if there's a way to apply colors to the icons?

**Describe alternatives you've considered**
I'm thinking that instead of the Actions props I might need to use the cu

[2018-10-31 17:39] mbrn commented on #69
@caseychoiniere ,

Try version 1.1.0 to styling a action button with iconProps.  Look at the actions example at https://mbrn.github.io/material-table/#/docz-examples-example-actions

[2018-11-01 21:16] rbkumar88 commented on #69
Instead of always keeping it on the left or right side, is there a possibility to keep it anywhere(before or after any field) we want in the table.?

[2018-11-04 04:43] tadeuqc opened #70 "Customize toolbar rendering"
**Describe the solution you'd like**
rendering a custom toolbar would allow to render controls like the title and the search textbox in different orders, or even add button like add/edit Records in a modal.

**Describe alternatives you've considered**
It could be done creating a custom component and pointing it on a prop. So we could incorporate the behaviors with a totally custom UI

[2018-11-04 07:51] mbrn commented on #70
Hi @tadeuqc,

This is a good idea. I can add `components` property that could allow user to customize any component such as toolbar, search input, footer etc.

Please star repo and wait for next releases. I will add this property.

[2018-11-04 09:35] #63 closed

[2018-11-04 09:36] mbrn commented on #63
Hi @rbkumar88,

You can use version 1.1.1. Search and sort algorithms runs on field value of column instead of render result.

[2018-11-04 09:54] mbrn commented on #54
docz markdown navigation is not working.

[2018-11-04 09:54] #54 closed

[2018-11-04 15:53] tadeuqc commented on #70
Great! Thats awesome! If you need any help reach me out! I'm quite new to react but i've been doing a lot of stuff by myself lately!

[2018-11-04 16:04] mbrn commented on #70
@tadeuqc

if you want to contribute you can look at the issues which i labeled as good first issue. You can contribute to resolving them.

If you have any trouble i can help you.

[2018-11-05 21:17] rasheedb opened #71 "Warning: Failed prop type: You are using a deprecated typography variant: `title` that will be removed in the next major release."
When using the material-table 1.1.1 package, I receive the following warning in the browser console output.

Warning: Failed prop type: You are using a deprecated typography variant: `title` that will be removed in the next major release.

Reproduce
- Just place material-table in any render method
- Currently using REACT 16.6.0

[2018-11-06 13:19] mbrn opened #72 "Props is not working properly with two different table-option"
**Describe the bug**
Second table does not render toolbar

**To Reproduce**
Steps to reproduce the behavior:
1. Add a table to component with toolbar `false`
2. Add a table to component with toolbar `true`
3. Open first component
4. Open second component

**Expected behavior**
second table should render toolbar

[2018-11-09 06:08] #72 closed

[2018-11-10 22:49] balibou opened #74 "Warning: Failed prop type: Invalid prop `data` of type `array` supplied to `MTableActions`, expected `object`."
**Describe the bug**
When I copy paste the code of https://mbrn.github.io/material-table/#/docz-examples-example-selection in a new create react app and I select a row, I have the following warning:

```Warning: Failed prop type: Invalid prop `data` of type `array` supplied to `MTableActions`, expected `object`.```

**To Reproduce**
Steps to reproduce the behavior:
1. install last create-react-app

[2018-11-10 23:19] balibou opened #75 "Fix sorting numbers when hiding column"
**Describe the bug**
On https://mbrn.github.io/material-table/#/docz-examples-example-options when hiding column 'name' and sorting multiple times column 'birth year', the sorting is broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mbrn.github.io/material-table/#/docz-examples-example-options
2. Click on 'Show columns'
3. Uncheck 'name'
4. Sorting multiple times column 'b

[2018-11-10 23:23] balibou opened #76 "Displaying number 0"
Hello !

It would be nice to have the possibility to display number 0 in the row (for now it is hidden)

Thanks !

PS: awesome package 😃

[2018-11-11 07:35] #74 closed

[2018-11-11 07:35] mbrn commented on #74
Hi @balibou,

Thanks your your issue. I resolved it and it will be in next release. Please star repo and wait for next releases

[2018-11-11 07:46] #75 closed

[2018-11-11 07:46] mbrn commented on #75
Thanks @balibou , I resolved it. It will be in next release.

[2018-11-11 08:19] mbrn commented on #76
@balibou ,

i didn't understand what you mean. Can you explain, please?

[2018-11-11 08:49] #76 closed

[2018-11-11 08:50] mbrn commented on #76
I got it and resolved it:). It will be in next release. Thanks for your all contributions @balibou .

[2018-11-11 08:56] balibou commented on #76
😃 thanks for these quick replies and fixes !

[2018-11-11 12:55] balibou opened #77 "Enhancement: Accessing search bar while selecting rows"
example on: https://mbrn.github.io/material-table/#/docz-examples-example-selection

1. Select a row
2. Search bar is unreachable

When selecting a row with a checkbox, I would like to still access to search bar (moreover, all the tooltip menu)

[2018-11-11 12:57] balibou opened #78 "Enhancement: Filtering selecting rows"
example on: https://mbrn.github.io/material-table/#/docz-examples-example-selection

1. Select a row
2. Try to display only selected rows

When selecting a row with a checkbox, I would like to filter only selected rows

[2018-11-11 12:59] mbrn commented on #77
Why not? I will work on it.

[2018-11-11 13:00] mbrn commented on #78
Good idea. I will work on it.

[2018-11-11 13:01] mbrn commented on #78
@balibou,

Why you don't fork repo and try something like that?

[2018-11-11 13:02] balibou commented on #78
@mbrn I will have a look 😃

[2018-11-14 17:46] luizbaldi commented on #78
Hi @balibou, feel free to ask here if you have any doubts or suggestions 😄

[2018-11-14 20:32] balibou commented on #78
Hi @luizbaldi, I'm already working on a branch 😄Just a bit tricky because the checkbox column is not a proper column, but I should figure a good solution ! Will pull request it soon

[2018-11-14 20:57] jakeleventhal commented on #64
+1 any idea on when this will be completed?

[2018-11-15 05:16] mbrn commented on #64
Hi @jakeleventhal,

Nowadays i am working very hard for another project. But i will do this as soon as possible. Please star project and wait for next releases.

Also why don't you fork this project and contribute it.

[2018-11-15 06:17] jakeleventhal commented on #51
So there are no plans to ever use the native material icons from material-ui?

[2018-11-15 06:28] jakeleventhal opened #79 "Table extending longer than it should"
**Describe the bug**
When the table is showing N rows but there are <N rows of data, the there is still space for N rows. For example, in the pagination if you say to show 20 rows at a time, but there are only 2 rows of data, the table extends and is very long and just shows blank white space.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a table
2. Select to show 20 rows when only 3

[2018-11-15 06:44] jakeleventhal commented on #29
Any update on when this will be added?

[2018-11-15 06:49] mbrn commented on #29
@jakeleventhal

I can't promise any date to close these issues. But i will do all them as soon as possible.

[2018-11-15 06:51] shelbaz commented on #71
hey @mbrn , whens next release ?...

[2018-11-15 06:54] mbrn commented on #71
@shelbaz

a few minutes ago :). You can upgrade to 1.2.0 now:)

[2018-11-15 06:54] #71 closed

[2018-11-15 06:57] jakeleventhal commented on #64
I'm a very busy guy haha I can wait. Thanks for all the effort though.

[2018-11-17 03:49] jakeleventhal opened #80 "Enhancements to sorting"
**Is your feature request related to a problem? Please describe.**
I am not able to disable sorting for certain columns (i.e. a column that just shows an image). I should be able to disable sorting on this. Also, I have no way of sorting an initial column by default (and showing that it is sorted with the arrow_

**Describe the solution you'd like**
Add a column prop that allows sorting to be disa

[2018-11-17 09:00] balibou commented on #78
@luizbaldi @mbrn Can I get the access rights for pushing my PR ? 😃

[2018-11-17 09:39] mbrn commented on #78
Thanks for your contribution @balibou.

Did you fork project? You can send your changes with this order:

1. Fork the project
2. Clone the your own repo to the local.
3. Change what ever you want
4. Commit and push your changes to your repo.
5. Create a pull request.
6. I will be very happy to accept it :)

[2018-11-17 09:42] balibou commented on #78
@mbrn ah ok actually I didn't fork it. Will do that then

[2018-11-21 03:34] jakeleventhal commented on #29
I think that what would make this great would be if you could edit by clicking on a cell rather than editing an entire row at once

[2018-11-21 10:32] mbrn commented on #29
I aggre with your opinion. When user click on the edit button, the row's data would replace with edit components and a submit button.

[2018-11-21 15:58] jakeleventhal commented on #29
I feel like it’d be cleaner to just have the “submit” button not exist. Instead, you could specify an onBlur which would submit after clicking away or pressing the enter key

[2018-11-21 16:39] mbrn commented on #29
Maybe, i will think about it

[2018-11-23 21:48] Monteyne opened #82 "Checked rows disappearing"
Hello,
checked rows keep disappearing after receiving next props,
i have looked into source, seems like new data from componentWillReceiveProps don't have "checked" property.

[2018-11-24 07:49] mbrn commented on #82
Hello @Monteyne,

You are right. This is a bug. I will resolve this asap.

[2018-11-25 19:30] veken1199 opened #83 "Typo in the documentation: `onSelectionChange` vs `onSelectionChanged`"
**Describe the bug**
In the documentation it mentions `onSelectionChanged`
however, in the code, it is `onSelectionChange`

**To Reproduce**
Steps to reproduce the behavior:
1. go to https://mbrn.github.io/material-table/#/docz-props

**Expected behavior**
The documentation should mention `onSelectionChange`

**Screenshots**
![image](https://user-images.githubusercontent.com/15069757/48983260-8e7d

[2018-11-25 22:19] jakeleventhal commented on #26
+1 this would be really awesome

[2018-11-26 19:55] SilviaJoyceBalraj commented on #67
@mbrn Hi, The Search works fine for this one.

 <MaterialTable
          columns={[
            { title: 'Name', field: 'firstname', type: 'string' }
          ]}
/>
However Search filter does not work for the below code:

<MaterialTable
          columns={[
             { title: 'Name',
             field: 'firstname,
               render: rowData =>{
                       return(<Link to = {`/

[2018-11-27 20:33] SilviaJoyceBalraj opened #84 "AlphaNumberic Sort"
Example:
Sorting works fine on the following values -  112300, 34500, 54300

But the below example does a string sort instead of an alphanumeric search:

$112,300
$34,500
$54,300

Expected O/P :
$34,500
$54,300
$112,300

Actual O/P:
$112,300
$34,500
$54,300

[2018-11-28 13:32] #69 closed

[2018-11-28 13:35] mbrn commented on #69
Hi @caseychoiniere ,

This issue resolved by @gulcann ( She is my wife:). I will publish new release in this week.

[2018-11-28 23:08] PhilipK2 opened #87 "Dynamic data in table"
Hello,
Just curious how one would structure the data prop if using componentDidMount for an api call. Thanks!

[2018-11-28 23:09] PhilipK2 commented on #87
NVM, figured it out!

[2018-11-28 23:09] #87 closed

[2018-11-29 16:12] mbrn commented on #84
Hi @SilviaJoyceBalraj ,

We almost done this issue :)

[2018-11-29 16:21] SilviaJoyceBalraj opened #88 "Material Table desktop view - overflow scroll"
When the table has more number of columns, it is not adding a scrollbar in desktop view. Instead it just overflows outside the container. Could you please check on this.

Thanks,
Silvia

[2018-11-29 20:45] SilviaJoyceBalraj opened #89 "Custom Text when there is no data in the table."
When there are no rows,I want to display a message like, "There is no data in the table " inside the table. Could you please check on that.

Thanks.

[2018-11-29 21:09] SilviaJoyceBalraj commented on #8
@mbrn Hi,
Could you show an example how to add export as PDF and Excel features to the table.

Thanks

[2018-11-29 21:15] luizbaldi commented on #8
Hi @SilviaJoyceBalraj! Have you checked [this documentation link?](https://mbrn.github.io/material-table/#/docz-examples-example-default-actions) Just press the _Export_ button and choose `"Export as CSV"`.

If it's not clear enough, could you tell us how it can get better?

[2018-11-29 21:15] SilviaJoyceBalraj commented on #79
@mbrn This is the same issue I am facing too. Could you please check on this.

[2018-11-30 06:04] mbrn commented on #79
@SilviaJoyceBalraj , I am very busy nowadays. But 3 developers are working on some issues. So we will resolve this too, asap.

[2018-11-30 06:05] mbrn commented on #8
There is no export as PDF feature yet. But it will be, after i add pdf construction feature to filefy project.

[2018-12-02 11:38] mbrn commented on #89
@SilviaJoyceBalraj , feature developed by @yildirims. It will be in next release which will be published in a few days.

[2018-12-02 11:41] mbrn commented on #78
This is in v1.3.0

[2018-12-02 11:41] #78 closed

[2018-12-02 13:36] bgits opened #93 "Do not require material icons to be imported from remote"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Often a project already has material-ui/icons in node_modules, so there is no need to load it from a remote resource and as pollute the global space.

**Describe the solution you'd like**
A clear and concise description of what you want to

[2018-12-02 14:40] #83 closed

[2018-12-02 14:42] mbrn commented on #93
Very clear alternative to cdn import. I will try and do this. Thank @bgits

[2018-12-03 04:44] bohrsty opened #94 "import failed in electron"
I'd like to use your data table component with electron and electron-forge, but the import failed with the following error message:
`Uncaught SyntaxError: Unexpected identifier`.

Searching the internet points to issues with css, but neither importing the icon css from i.e. `material-design-icon-fonts` nor loading it in HTML file (local and remote from i.e. google) let me use it...

Is there any k

[2018-12-03 04:47] mbrn commented on #94
Hi @bohrsty ,

You may the first person who want to use material-table in electron. I don't know how it works and how to help you?

@luizbaldi do you have any experience with electron?

If no one helps you, i will install elecktron and try material-table:)

[2018-12-03 12:33] luizbaldi commented on #94
I'll take a look at this, seems like a really interesting problem to solve :)

[2018-12-03 21:59] balibou opened #96 "Enhancement: Init already checked row"
**Is your feature request related to a problem? Please describe.**
I would like to be able to load data with already checked rows

**Describe the solution you'd like**
Implement it 😄 (can try the ticket)

[2018-12-03 22:49] alexxbull opened #97 "Handle page and rowsPerPage changes"
**Is your feature request related to a problem? Please describe.**
The default material-ui table pagination gives control over handling events when the page and/or rowsPerPage changes. I would like these options exposed/available in material-table as well

**Describe the solution you'd like**
Expose page and rowsPerPage event handling as implemented by material-ui table pagination.

**Additional c

[2018-12-04 06:32] mbrn commented on #97
Hi @alexxbull,

Why not. This is very easy and useful feature. We will implement this asap.

[2018-12-04 09:34] gulcann commented on #27
Hello, I started working on this.
Good work.

[2018-12-04 09:56] netbrain opened #98 "Should be a option to filter on hidden fields"
The following line:
https://github.com/mbrn/material-table/blob/master/src/material-table.js#L150

There should be a option to filter on hidden fields. Now the search functionality excludes fields that are hidden. But I would like ti include them in search, but not display them.

Should be simple enough to add a flag for this.

[2018-12-04 10:20] mbrn commented on #98
Hi @netbrain.

We can add this option easily. We will do it. But why you dont contribute project with this :)

[2018-12-04 11:21] #80 closed

[2018-12-05 18:07] balibou commented on #82
Hello @Monteyne @mbrn,
Is it possible to get a workflow please ?
Thanks !

[2018-12-05 18:10] mbrn commented on #82
1. Render table with table and onSelectionChange event.
2. select some rows and this fires onSelectionChange event. In onSelectionChange event do something with setState on your component that uses table. So the component will rerender. Then checked rows will be disappeared.

[2018-12-05 19:02] Andy1408 opened #104 "Hide certain filters"
Is it possible to hide only a few filters? I have a table with 7 columns but I only want 4 to have filters, couldn't found in the documentation anythinf usefull.

Thanks!

[2018-12-05 20:54] bgits commented on #26
Here is an example UX that this should enable. At 12:07 in this video the element under the row appears when the user clicks on it.

https://youtu.be/QKaNUX8ROG0?t=723

[2018-12-05 20:59] jakeleventhal commented on #26
I think that this would look really well if implemented with a dropdown animation and an arrow indicating that it can be dropped down

[2018-12-06 05:16] #84 closed

[2018-12-06 20:34] XinyiH opened #105 "got SyntaxError: Unexpected identifier with next.js"
Got this error when loading the index page

[code]

in page/index.js
[code]

[2018-12-07 00:02] margozzi opened #106 "Unable to get Actions working"
**Describe the bug**
I am unable to get "actions" to work

**To Reproduce**
I have code like this that refuses to render an icon in an actions column.
I took the action config straight from your demo code.
Also, you can't view the demo code without using the copy to clipboard way.

<MaterialTable
        columns={[
          { title: 'Name', field: 'name' },
          { title: 'Enabled', field: 'i

[2018-12-07 05:09] mbrn commented on #106
Hi @margozzi ,

What is this.state.tableOptions. If selection is true the actions will be rendered on the top right of table when you select at least one column.

**Also, you can't view the demo code without using the copy to clipboard way.**
Docz have a bug. If you click 11th-12th line of code the complete code will be shown.

[2018-12-07 05:12] mbrn commented on #106
One more thing:

Did you add material icons to your html as it described in documentation?

[2018-12-07 05:14] mbrn commented on #105
Hi @XinyiH,

I didn't try material-table with nextjs. But i will try it asap.

[2018-12-07 07:56] jakeleventhal commented on #26
https://devexpress.github.io/devextreme-reactive/react/grid/demos/featured/tree-data/

This seems to be the best implementation of this that i've seen so far

[2018-12-07 08:06] mbrn commented on #26
This is what i want to implement in material-table. We think same @jakeleventhal  :)

[2018-12-07 10:32] bgits commented on #26
How would tree-data work in this example: https://github.com/status-im/liquidpledging/blob/embark-dapp/app/components/PledgesTable.jsx#L72 ?

Here `WithdrawCard` should be appended directly under the row that triggers it rather than the table?

[2018-12-07 16:37] margozzi commented on #106
this.state = {
        data: [],
        tableOptions: {
          selection: true,
          columnsButton: true,
          exportButton: true,
        }
    };

Yes, selection was true. I never thought to select a row as all the examples showed the icons in the rows themselves.
I actually think I like the icons up in the header.

Thank you for the tip about the source code viewing.

The action i

[2018-12-07 16:37] margozzi commented on #106
Yes, and everything is working after I select a row. Thanks again.

From: Mehmet Baran [mailto:notifications@github.com]
Sent: Thursday, December 6, 2018 9:12 PM
To: mbrn/material-table <material-table@noreply.github.com>
Cc: Margozzi, Mike <michael.margozzi@hpe.com>; Mention <mention@noreply.github.com>
Subject: Re: [mbrn/material-table] Unable to get Actions working (#106)

One more thing:

Did

[2018-12-07 17:05] mbrn commented on #106
If you want to an action to be shown without selection please add __isFreeAction:true__ to action definition. This action will work with no related selection.

[2018-12-07 17:05] #106 closed

[2018-12-07 19:53] jakeleventhal commented on #26
@mbrn they also seem to have implemented column resizing and scrolling very well too (but that is for another issue)

[2018-12-08 02:21] TITAN9389 opened #107 "How i can change styling of the table ?"
@mbrn this mui-tables looks good one, tried others before but i'm facing some issues,
i need to change the Rows background color , how i can access to that level deep ?
and how i can pass props to real MUI elements ? like giving TableRow hover props true ?

[2018-12-09 21:59] chris-stormideas commented on #97
@yildirims @mbrn I have had a quick crack at this as I need these features just now

[2018-12-10 06:50] mbrn commented on #107
Hi @TITAN9389,

You can add style for cells. But it doesn't have row styling yet. In next releases we will add. Also we can add props feature for mui elements. Why don't you fork the project and send your first PR to repo:)

https://mbrn.github.io/material-table/#/docz-examples-example-cell-styling

[2018-12-10 06:57] mbrn commented on #97
And you did :). I will check it and publish new release today.

[2018-12-10 06:57] #97 closed

[2018-12-10 06:57] #105 closed

[2018-12-10 11:23] #70 closed

[2018-12-10 11:24] mbrn commented on #70
Hi @tadeuqc ,

Sorry for late job:(. But this is done. You can change any component of material-table in next release.

Next release will be published in a few days.

[2018-12-10 11:34] #77 closed

[2018-12-10 11:34] mbrn commented on #77
This is done @balibou . It will be in next release.

[2018-12-10 12:18] #79 closed

[2018-12-10 12:19] mbrn commented on #79
This is done @jakeleventhal, @SilviaJoyceBalraj,

I added a __emptyRowsWhenPaging__ options to prevent render empty data rows.

It will be in next release.

[2018-12-10 12:25] mbrn commented on #88
Hi @SilviaJoyceBalraj,

Can you check it again. Because i added more than 40 columns and it works properly.

![image](https://user-images.githubusercontent.com/7895451/49732438-c88ce580-fc8f-11e8-8920-b1979b62e28b.png)

[2018-12-10 12:25] #88 closed

[2018-12-10 14:53] balibou commented on #77
Thanks @mbrn !

[2018-12-10 14:53] balibou commented on #82
still working on it but didn't find a good solution

[2018-12-10 17:35] bohrsty commented on #94
this has been fixed in current version (maybe through [pull request 111](https://github.com/mbrn/material-table/pull/111) by @codebutler... so it wasn't css but babel/env preset...

[2018-12-10 17:35] #94 closed

[2018-12-10 18:02] PhilipK2 opened #112 "Failed to minify the code for production."
Hello, while trying to use this component in production my build always fails.
Here is the log from my CI

10-Dec-2018 11:46:35 | Rendering Complete, saving .css file...
-- | --
10-Dec-2018 11:46:35 | Wrote CSS to /app/src/styles/index.css
10-Dec-2018 11:46:35 |  
10-Dec-2018 11:46:35 | > scaffold-react@0.1.0 build-js /app
10-Dec-2018 11:46:35 | > react-scripts build
10-Dec-2018 11:46:35 |  
10-De

[2018-12-11 07:54] #98 closed

[2018-12-11 07:55] mbrn commented on #104
I am working on this.

[2018-12-11 08:04] #104 closed

[2018-12-11 08:05] mbrn commented on #104
It will be in next release in a few days.

[2018-12-11 08:06] mbrn commented on #107
Please try component customization :

https://mbrn.github.io/material-table/#/docz-examples-10-example-component-overriding

[2018-12-11 08:06] #107 closed

[2018-12-12 18:28] bohrsty opened #113 "make component completely translatable"
**Is your feature request related to a problem? Please describe.**
I want to use the component in a translatable project (and even if it never will be translated, my projects default language is german)

**Describe the solution you'd like**
An object of translation strings as prop

**Additional context**
I tried to solve it my self and want to give it back upstream (if you like), pr follows...

[2018-12-12 18:32] mbrn commented on #113
Why not?

Let us see your improvements.

[2018-12-12 18:44] bohrsty commented on #113
see it in [pr114](https://github.com/mbrn/material-table/pull/114)

[2018-12-13 16:55] SilviaJoycePHMS opened #115 "ordering"

[2018-12-13 16:57] #115 closed

[2018-12-13 21:41] SilviaJoycePHMS opened #116 "Please add functionality to make multi sort possible"
What is the current behavior?
I can only sort for one column. After I click on a second one, it clears the one before.

What is the use-case or motivation for changing an existing behavior?
That I can use a multiple sort based on year followed by month as well.

[2018-12-14 05:32] jakeleventhal commented on #29
Something that needs to be in this issue is the ability to have a callback function.

so that the user can write code after the cell has been edited.

[2018-12-14 14:21] hrafaelveloso opened #117 "Filtering just one column"
**Describe the bug**
It is impossible to choose the filter in only one column. If you have the option `filtering: true` in the `options`, all the `columns` have the filter active, even if you put `filtering: false` in the `columns` where I do not want the filter to be active

**To Reproduce**
Steps to reproduce the behavior:
1. Add one `filtering : true` to one column;
2. Filter don't appear;
3. A

[2018-12-16 19:11] mbrn commented on #117
Hi @hrafaelveloso ,

Which version of material-table do you use?. Because i try it with latest and it works properly.

can you check it again?

[2018-12-16 19:14] mbrn commented on #113
I merged pr114 @bohrsty . Thank you for your contribution. It will be in next release after tests

[2018-12-16 19:14] #113 closed

[2018-12-17 09:43] hrafaelveloso commented on #117
Hi @mbrn, the version that I'm using is `1.7.0`

[2018-12-17 10:18] mbrn commented on #117
This is strange. I tried it in docz and it works.

![image](https://user-images.githubusercontent.com/7895451/50080861-1f4d6e80-01fe-11e9-97fc-479bf5fa7390.png)

[2018-12-17 10:21] mbrn commented on #117
And I tried it in demo.js and it works again. Please run `npm ls material-table` in your project. And be sure it is 1.7.0

[2018-12-17 10:34] mbrn commented on #117
I found the problem :). It is my mistake. It will be in next release. I added to release notes mistakenly.

https://github.com/mbrn/material-table/blob/v1.7.0/src/m-table-filter-row.js#L122

Sorry for this.

[2018-12-17 10:36] hrafaelveloso commented on #117
No problem :) Waiting for next release then :+1:

[2018-12-17 19:59] SilviaJoycePHMS commented on #8
@mbrn  Could you please let me know when this enhancement will be added?

[2018-12-17 20:16] mbrn commented on #8
Hi, we should add pdf feature to filefy. I cant promise, but it is not very close. You can export as csv only.

[2018-12-17 21:26] ghost opened #119 "Make Paper Container Optional"
Could we make the table wrapper optional? I prefer my table style without a Paper container.

[2018-12-18 05:14] mbrn commented on #119
Why not. I will add a Container property to components.

[2018-12-18 15:43] SilviaJoyceBalraj opened #120 "Export as CSV doesnot work on Microsoft Edge"
This might help : https://stackoverflow.com/questions/48375996/export-to-excel-doesnt-work-in-edge-browser

[2018-12-18 15:46] wboyle-erwin opened #121 "Pre-select/check table data"
Looking at the selection example, I am not sure if there is a means to pre-select/check table data. Would you happen to have an example that demonstrates pre-selection?

[2018-12-18 15:52] mbrn commented on #121
Hi @wboyle-erwin ,

Do you look something like this:

https://mbrn.github.io/material-table/#/docz-examples-05-example-selection

[2018-12-18 16:33] wboyle-erwin commented on #121
Yes, I was looking at that example. However, the initial state of data is unselected. Is there an example where a row is preselected?

[2018-12-18 16:39] schatterjee-erwin opened #122 "Styling on material table"
Is there a way to remove the box shadow at the bottom of the table?

<img width="372" alt="page shadow" src="https://user-images.githubusercontent.com/27771746/50168443-719f9580-02b9-11e9-909b-5494aded06b2.PNG">

[2018-12-18 19:37] mbrn commented on #121
Yes we will do it. This is duplicate issue of #96. So i am closing this. Please wait for next releases

[2018-12-18 19:37] #121 closed

[2018-12-18 19:38] mbrn commented on #122
I will add an option to remove paper component. So you can do this. I hope in this week it will be in new release.

This is duplicate issue of #119 . So i am closing this.

[2018-12-18 19:38] #122 closed

[2018-12-18 20:33] jakeleventhal opened #123 "Add an option to conditionally render a different value if data is undefined"
**Is your feature request related to a problem? Please describe.**
For the currency type, if the value is null or undefined, it makes sense in most scenarios that I can think of to display something like 'N/A' or nothing at all (preferably 'N/A') instead of $0.00. This could probably apply to most other types as well that have a default value in the case of null or undefined.
For example, if one c

[2018-12-19 05:02] mbrn commented on #123
Another good feature request @jakeleventhal :) Thanks

[2018-12-19 11:35] mbrn commented on #117
You can try 1.8.0 @hrafaelveloso :)

[2018-12-19 11:35] #117 closed

[2018-12-20 14:52] rfrerebe opened #124 "Warning: Failed prop type: "numeric" is deprecated for TableCell"
**Describe the bug**
React warning about "numeric" being deprecated for TableCell
See : https://material-ui.com/api/table-cell/

**To Reproduce**
Open a Material-Table with React 16.6.0
Look at console

**Expected behavior**
No warning

**Additional context**
React 16.6.0

[2018-12-21 07:35] yildirims commented on #123
Hi, I will work on this issue

[2018-12-21 14:13] LJEsp opened #126 "Tooltip causing flickering bug in pagination buttons / Request to have option to disable tooltips"
I believe the tooltip is causing a flickering bug in the pagination buttons. It would be nice if there's an option to disable tooltips.

Video link: https://youtu.be/ouzkjLeaiJk

[2018-12-22 08:19] halvardssm opened #127 "Warning: Failed prop type: Invalid prop `actions[0]` supplied to `MaterialTable`."
This error shows up in the console. I have tried to remove each singular line inside of the 'actions' but the error only goes away if I remove 'actions' itself or everything inside.

This is my 'actions' code:
`actions={[`
`            {`
`              icon: Print,`
`              tooltip: 'Print',`
`              onClick: (event, rowData) => {`
`                this.setState({ rowData })`
`

[2018-12-22 10:18] mbrn commented on #119
I am working on this.

[2018-12-22 10:25] #119 closed, assigned to mbrn

[2018-12-22 10:33] mbrn commented on #119
This is done. This will be in next release in a few days.

How to use:
If you dont want nothing to cover component you can use React.Fragment. Or div like in example below.

[code]

[2018-12-22 10:57] mbrn commented on #124
This closed with #125

[2018-12-22 10:57] #124 closed

[2018-12-22 11:08] mbrn commented on #126
Hi @LJEsp,

I could not reproduce this case. But i think this is related with material-ui's tooltip component.

What is your envoirenment (browser, os, etc...)

[2018-12-22 11:11] mbrn commented on #127
Hi @halvardssm ,

I could not reproduce case. Which version of material-table do you use?

[2018-12-22 12:04] bohrsty commented on #127
I have that error too, first (but not sure) in version 1.6 and definitely in 1.7 and 1.8... my code hasn't changed since 1.6 (except localization and icons) and looks like this:

[code]

I've ignored this error until now, because everything is working afaik...

[2018-12-22 13:09] LJEsp commented on #126
I've updated material-ui from 3.6 to 3.7 and the bug was gone. The changelog describes a fix for this. Thanks!

[2018-12-22 13:38] LJEsp commented on #126
But this error now appears..
![image](https://user-images.githubusercontent.com/36854142/50375017-e9f7b500-0631-11e9-9034-00909ec719b6.png)

[2018-12-22 18:18] halvardssm commented on #127
@mbrn Thanks for looking into this. I recently updated to 1.8 from 1.2, I am not completely sure but I don't think I had the error in 1.2.

[2018-12-22 18:35] mbrn commented on #126
Ok. This error will be resolved with next release. Thanks to developer of #124  :)

[2018-12-22 18:35] #126 closed

[2018-12-22 18:37] mbrn commented on #127
@bohrsty You should look at the new localization props. It has more details and your current localization may not handle new ones.

[2018-12-22 18:37] #127 closed

[2018-12-22 18:53] halvardssm commented on #127
Here is my code in case it helps:
[code]

[2018-12-22 19:35] halvardssm commented on #127
Thank you for your support, let me know if you would like me to make a PR on it :)

[2018-12-22 19:37] mbrn commented on #127
Why not @halvardssm ? You will just change line that i show on previous post.

Currently:
__icon: PropTypes.string.isRequired,__

Will change with:
__PropTypes.oneOfType([PropTypes.element, PropTypes.func, PropTypes.string]).isRequired,__

[2018-12-22 19:39] halvardssm commented on #127
Will do then 👍

[2018-12-24 06:07] #123 closed

[2018-12-26 22:10] glenarama opened #133 "Pass in default filter set"
Would be great to pass in an initial filtervalue for each row - this would allow the table state to be set through URL parameters or passed in state.

An example would be:

[code]

[2018-12-27 10:46] mbrn commented on #133
Hi @glenarama,

This is a good idea. We will do it. Wait for next releases :)

[2018-12-27 22:51] martindeanlund opened #134 "Sort doesn't support Date or Datetime data types"
Despite setting a column as type "date" or "datetime" the column sorting applies comparisons based on simple alphanumeric comparisons as if the data was just of type "String."

1. ) Go to example column exhibit here:
https://mbrn.github.io/material-table/#/docz-examples-02-example-column-types#column-types-example
2.) Edit code
3.) Swap years of sample data rows
4.) Click for ascending sort

**Exp

[2018-12-28 19:58] jakeleventhal commented on #26
Any ballpark estimate on when this will be release? I need to have something figured out kind of soon or find another library in the meantime.

[2018-12-28 20:05] mbrn commented on #26
I think i can do this in a few days. So i hope it will be released next week.

[2018-12-28 20:07] mbrn commented on #134
Hi @martindeanlund ,

You are right. I will resolve it asap.

[2018-12-28 20:10] martindeanlund commented on #134
I think it might just be an issue with the example. I was able to sort correctly if the data provided is a proper JS Date and I use "dateTime" as the type for the column definitions, but I have to add Render arguments to convert back to a datestring for display purposes. I don't know if you want to support date strings as the data type and convert them to Date for sorting or support Date for the d

[2018-12-28 20:15] mbrn commented on #134
I just look at example at docs now. I will look at code and test it with many cases. I may add support for string dates to be sorted properly. Thanks for giving detailed information

[2018-12-29 14:10] mbrn commented on #82
This problem resolved with #132. Thanks to @balibou

[2018-12-29 14:10] #82 closed

[2018-12-29 14:12] mbrn commented on #96
You can send already init checked row with adding tableData:{checked: true} to your row-data.

[code]

[2018-12-29 14:12] #96 closed

[2018-12-29 14:12] #48 closed

[2018-12-29 14:19] #133 closed

[2018-12-30 09:34] mbrn commented on #26
Hi @jakeleventhal ,

You can try it with v1.10.0.

Look at example: https://mbrn.github.io/material-table/#/docz-examples-11-example-detail-panel

[2018-12-30 10:39] bgits commented on #26
How can one choose the icon for the detail panel? Can a row have multiple detail panels?

[2018-12-30 11:09] mbrn commented on #26
How can one choose the icon for the detail panel?
Try this:

[code]

Can a row have multiple detail panels?
What do you mean? You can render everything you want on detail panel.

[2018-12-30 11:12] bgits commented on #26
For example you can have two detail icons, one triggers a detail panel for a video another triggers a form.

[2018-12-30 11:17] mbrn commented on #26
I got it. You can not do it easily. But i will work on it and change detailPanel to be accept array of panels.

[2018-12-30 14:40] jakeleventhal commented on #26
How does this work if you want to have more table data as a sub row as in the link i shared earlier in the thread?

[2018-12-30 15:07] mbrn commented on #26
You can return a new MaterialTable in detailPanel.

Example:

[code]

![image](https://user-images.githubusercontent.com/7895451/50548449-c51cc680-0c5d-11e9-8ad3-a5afe6c3b771.png)

[2018-12-30 16:38] urirahimi commented on #26
@mbrn I liked the dropdown style that @jakeleventhal posted earlier. Do you think that your implementation for returning another row will change into a smoother transition from row to subrow or is that not to be expected.
<img width="925" alt="screen shot 2018-12-30 at 8 35 59 am" src="https://user-images.githubusercontent.com/19512370/50549226-1dc47300-0c0e-11e9-97ec-bca36c10ab84.png">

[2018-12-30 16:59] mbrn opened #135 "Adding Tree data feature"
Adding Tree data feature for data has parent-child relationship. Something like this:

https://devexpress.github.io/devextreme-reactive/react/grid/demos/featured/tree-data/

[2018-12-30 17:00] mbrn commented on #26
I think that this is another feature. It is tree data feature. So i opened another issue(#135) and i can work on it.

[2018-12-30 17:01] urirahimi commented on #26
@mbrn I really appreciate it. I'm working on an accounting system that could use the tree structure very badly and as you know your table is already one of the better ones and I'd like to stick to it

[2018-12-30 17:03] mbrn commented on #26
Thank @urirahimi :)  I will do it asap.

[2018-12-31 15:08] urirahimi commented on #135
Any idea when this may be done?

[2018-12-31 15:31] urirahimi opened #136 "Is it possible to get rid of column headers"
Is it possible to get rid of the column headers?
<img width="930" alt="screen shot 2018-12-31 at 7 53 34 am" src="https://user-images.githubusercontent.com/19512370/50563384-35b0fb00-0cd1-11e9-8c49-d921d8365d85.png">

[2018-12-31 15:42] urirahimi commented on #136
<img width="905" alt="screen shot 2018-12-31 at 7 41 41 am" src="https://user-images.githubusercontent.com/19512370/50563205-9e977380-0ccf-11e9-9874-51e618dbae6b.png">
<img width="843" alt="screen shot 2018-12-31 at 7 41 28 am" src="https://user-images.githubusercontent.com/19512370/50563206-9e977380-0ccf-11e9-8e4b-31da96b5e951.png">
would like to have those two columns fill the width entirely of

[2018-12-31 16:31] mbrn commented on #136
I can add this feature for next release.

But i can give a workaround:

1. set `paging` and `toolbar` to false in options
2. override Header components with null

[code]

[2019-01-01 17:17] jakeleventhal commented on #27
What would this look like/what would it be?

[2019-01-01 18:53] urirahimi commented on #29
Hi @mbrn is there any update on this feature?

[2019-01-01 19:30] mbrn commented on #29
Hi @urirahimi ,

Firstly i will resolve #135. After resolving #135 i can look at this.

[2019-01-02 02:03] jakeleventhal opened #138 "Emptyvalue doesn't work on undefined values"
**Describe the bug**
When a value is supposed to render the `emptyValue` (i.e. when it is null) it only works if the value is null. If the value is undefined, it doesn't work properly

**To Reproduce**
Add data that is null instead of undefined.

**Expected behavior**
The empty value should be rendered if the dat is null, undefined, or an empty string

[2019-01-02 16:46] #136 closed

[2019-01-03 05:49] TimCodes opened #139 "How to override style for tablerow"
how do i get rid of striped styling for table rows

[2019-01-03 06:04] mbrn commented on #139
Unfortunately it does not have a feature about row styling. But i can add it. It would be usefull feature.

If your requirement is urgent you can override Row completely.
https://mbrn.github.io/material-table/#/docz-examples-10-example-component-overriding

[2019-01-03 06:19] yildirims commented on #138
Hi,
I will work on this issue.
Can you paste your sample code here

[2019-01-03 18:46] #139 closed

[2019-01-03 18:48] mbrn commented on #139
Hi @TimCodes ,

I added rowStyle feature to options. You can set a style object directly or return it with a function that takes rowData as parameter.

Example:
[code]

This will be in version 1.12.0

[2019-01-04 01:19] jakeleventhal opened #140 "Table extends page when many columns"
**Describe the bug**
When there are many columns, the table just stretches out the page instead of being contained by width of the page.

**To Reproduce**
Create a table with many columns in a structure as such
[code]

**Expected behavior**
The table should have room to scroll within the table instead of expanding the page.

**Screenshots**
Notice how before the table renders, my loading component

[2019-01-04 22:21] martinvergara26 opened #141 "Add optional horizontal double scroll"
**Is your feature request related to a problem? Please describe.**
When columns and rows amounts are large, you can't see the horizontal scrollbar until you reach the bottom. This is a common behaviour, but in my case it's a requirement to also have a scrollbar at the top of the table.

**Describe the solution you'd like**
[code]
**What I've tried**
I've tried many workarounds to achieve this, but

[2019-01-05 14:12] mbrn commented on #141
Good idea @martinvergara26 . I think use react-custom-scrollbars instead of default scrollbar

[2019-01-06 18:17] martinvergara26 commented on #141
Thanks, looking forward to this feature!

[2019-01-06 19:48] aswamina opened #142 "Cannot customize column header styles"
I noticed that I cannot customize the column header font or any other styles for the column header. Would it be possible to address that as a component, so that I can style it for fonts, background color etc. etc.

[2019-01-07 05:45] #142 closed

[2019-01-07 05:47] mbrn commented on #142
This is done. It will be in version 1.12.0.

How to use?:

1. Add headerStyle to options to apply a style to all headers.
2. Add headerStyle to column to apply a style to specified header.

[code]

[2019-01-07 06:31] #141 closed

[2019-01-07 06:32] mbrn commented on #141
This is done. It will be in v1.12.0

[2019-01-07 11:52] #138 closed

[2019-01-07 11:53] mbrn commented on #138
This is done. It will be in v1.12.0

[2019-01-07 11:53] mbrn commented on #140
Hi @jakeleventhal i could not reproduce the case. Did you use a div with width style to cover MaterialTable

[2019-01-07 11:54] mbrn commented on #134
No need improvement.

[2019-01-07 11:54] #134 closed

[2019-01-07 14:44] martinvergara26 opened #143 "Is it possible to user server paging?"
Something like [mui-datable](https://github.com/gregnb/mui-datatables):

[code]

[2019-01-07 15:57] mbrn commented on #143
Hi @martinvergara26 ,

This is duplicate issue with #64, I think work on this issue nowadays.

[2019-01-07 15:57] #143 closed

[2019-01-08 15:15] kaleshasheik commented on #142
Please confirm when this new version (1.12.0.) will be released ?

[2019-01-08 16:32] mbrn commented on #142
Hi @kaleshasheik ,

I think tomorrow it will be released.

[2019-01-08 17:32] aswamina commented on #142
Fantastic.  Thanks Mehmet

On Tue, Jan 8, 2019 at 8:32 AM Mehmet Baran <notifications@github.com>
wrote:

--
Anand Swaminathan

[2019-01-09 10:45] mbrn commented on #142
v1.12.0 published. You can upgrade.

[2019-01-09 10:45] mbrn commented on #142
v1.12.0 published. You can upgrade.

[2019-01-09 11:26] jvlobo opened #144 "Warning: Failed prop type: The prop `detailPanel` is marked as required"
I don't know why I'm getting this "Warning" that shows as an error in the console.

This is my definition of the component:

[code]

<img width="1105" alt="screenshot 2019-01-09 at 21 24 23" src="https://user-images.githubusercontent.com/5671420/50896569-16df0100-1455-11e9-937a-f3f9a862b59e.png">

Is this normal?

Thanks.

[2019-01-09 11:43] mbrn commented on #144
Hi @jvlobo ,

This is not normal. It was my mistake on previous version. I fixed it on new version (1.12.0). Can you check your version. I published it today.

[2019-01-09 11:52] jvlobo commented on #144
Right! I had v1.10, just updated and working great 👍
Thanks!

[2019-01-09 11:52] #144 closed

[2019-01-09 15:07] aswamina opened #145 "Errors in overriding components"
1) I tried to use the component override as follows :
<MaterialTable
  components={{
    Header: props => (
      <div style={{ backgroundColor: '#e8eaf5' }}>
        <MTableHeader {...props} />
      </div>
    ),
  }}

Where do I import MTableHeader from ? I could not find this anywhere in my node_modules even though I have npm installed material-ui and material-table.
2) I tried to use componen

[2019-01-09 15:09] aswamina opened #146 "Unable to sort when using render property in columns"
I used render in the columns because I wanted to concatenate firstname and lastname. Here is the code example :
const columns = [
    {
        title: 'Name',
        type: 'string',
        render: rowData => rowData.first_name + ' ' + rowData.last_name,
        searchable: true,
        cellStyle: {fontSize: 14}
    },
However, once I do this, when I search by either first name or last name the

[2019-01-09 15:14] aswamina opened #147 "Warnings about invalid prop type in cases where I do not specify type or I specify type"
I get the following warning in my dev tools console.

Warning: Failed prop type: Invalid prop `columns[0].type` of value `string` supplied to `MaterialTable`, expected one of ["boolean","numeric","date","datetime","time","currency"].

The columns property is set as follows :
const columns = [
    {
        title: 'Name',
        type: 'string',
        render: rowData => rowData.first_name + ' ' +

[2019-01-09 16:09] kaleshasheik commented on #142
Thank you.

[2019-01-09 16:16] mbrn commented on #145
You can import it as :
```import MaterialTable, { MTableHeader } from './material-table';```

But you don't need it to give style. Try this:

[code]

[2019-01-09 16:19] mbrn commented on #146
There is no bug but it can not search/sort in your render result. Because it could be react component or string. I added customSearch feature and i will add customSort function feature. You can do something like this:

[code]

But in 1.13.0 version of course.

[2019-01-09 16:22] mbrn commented on #147
This is a props bug. I fixed it. It will be resolved in 1.13.0. You can ignore warning.

[2019-01-09 16:23] #147 closed

[2019-01-09 16:23] #145 closed

[2019-01-09 18:56] aswamina commented on #146
Thanks Mehmet. Will wait for 1.13.0 to use the customSort. Hopefully that
will be soon.

BTW, I felt that using render was better, than the way I was doing it,
which was initalizing a new array with the same fields as the old array,
except for name which was the concatenation of first_name and last_name and
then passing this new array to the data property of MaterialTable.

On Wed, Jan 9, 2019 at

[2019-01-09 19:51] anand-swaminathan opened #148 "Increase the font in the Pagination component ..."
I tried to use component overriding for Pagination as follows :
<MaterialTable
components={{
Pagination: props => (
<div style={{ backgroundColor: '#e8eaf5', fontSize: 14 }}>
<TablePagination {...props} />
),
}}

The intent was that the text "Rows per page" and the text "1-20 of 500" (for example) would be in font size of 14.  I could not get this to work. Is this doable ?

[2019-01-09 20:22] martindeanlund commented on #146
Yeah, the Search, Filter, and Sort functionality on a table should be based on the data governing the table, not the potentially rendered object in most cases. Render is for display transformations, generally, but the purpose of a Table is to govern the logical display of tabular data - so the data always takes precedence.

[2019-01-09 20:59] martindeanlund commented on #146
I think the point here is that by Default sorting, searching, and filtering behavior should always be applied based on the RowData element used for that column, not the result of the Render() function or a the absence of Render.

If a developer is using a Render function to computer / transform the relevant Data into other Data then he or she is writing code in the wrong place.  **Separation of co

[2019-01-09 21:14] anand-swaminathan opened #149 "Increase the size of the input text for Search field"
The search input field is showing too close to the top edge and also the input text when entered for searching is showing up in a smaller font. Is there any way to style the search box such that the fontSize for the input text can be increased and I can add a paddingTop ?

[2019-01-10 02:10] aswamina commented on #146
Ok in that case the best way for me is to construct an array with the data
in my constructor because I have the data available via props and then pass
that array to the material table ?

On Wed, Jan 9, 2019 at 3:21 PM martindeanlund <notifications@github.com>
wrote:

--
Anand Swaminathan

[2019-01-10 05:22] aswamina opened #150 "Invoking a click handler on row selection"
Is there a way to invoke a handler function when clicking on a row in the table ?  The Selection example of using the onSelection does not seem to invoke the handler.

[2019-01-10 06:32] mbrn commented on #150
onSelectionChange event only invove if you set selection true in options.

[2019-01-10 11:05] aswamina commented on #150
But selection true causes a checkbox to appear.  I don’t want the checkbox but want to click anywhere on the row and have a modal popup that prompts me for a confirmation of action .

[2019-01-10 11:38] mbrn commented on #150
This is new feature for us. I will work on this. But i am very busy nowadays. I can do this later.

Why don't you fork the project for first contribute:)

[2019-01-10 19:27] bgits opened #151 "Allow for filter date time column by greater or less than parameters"
**Describe the solution you'd like**
It would be very helpful to be able to to specific a greater or less than modifier for date time column filters.

[2019-01-11 03:16] aswamina commented on #148
This worked well. Thanks so much

[2019-01-11 03:30] #148 closed

[2019-01-11 04:57] aswamina commented on #150
The  UX design calls for just a row with no checkboxes or radio buttons or
icons.  The design asks for clicking on a row to launch an alert dialog
where the user confirms with a YES or NO.  I can try to talk to the product
team.

On Thu, Jan 10, 2019 at 8:27 PM Mehmet Baran <notifications@github.com>
wrote:

--
Anand Swaminathan

[2019-01-11 06:46] #140 closed

[2019-01-12 13:30] kaleshasheik opened #152 "Is there a way to open modal to edit the row data when user clicked on action ?"
Hi,

 I believe, we don't have in-line editing data feature.

Is it possible to open modal to modify the row data and submit it when action was clicked ?

Thanks,

[2019-01-12 16:09] mbrn commented on #152
Hi @kaleshasheik ,

You can use actions to open your own dialog.

Example:

[code]

[2019-01-12 16:09] #152 closed

[2019-01-12 19:16] serotonyn opened #153 "An action to clear selection"
Is there a way to clear current selection without having to click on the checkbox on the table header ? I mean by implementing a button.

[2019-01-12 19:35] mbrn commented on #153
Hi @serotonyn ,

Unfortunately. It is controlled data by table.

[2019-01-12 19:51] serotonyn commented on #153
Thank you @mbrn for your reply. In this case, I'm thinking about forcing component to update.

[2019-01-13 09:54] kaleshasheik commented on #152
I tried this.. But no dialog opened.

<MaterialTable
          columns={[
            { title: 'Adı', field: 'name' },
            { title: 'Soyadı', field: 'surname' },
            { title: 'Doğum Yılı', field: 'birthYear', type: 'numeric' },
            { title: 'Doğum Yeri', field: 'birthCity', lookup: { 34: 'İstanbul', 63: 'Şanlıurfa' } }
          ]}

          data={[
            { name: 'Me

[2019-01-13 10:46] kaleshasheik commented on #152
Thank you

[2019-01-14 04:45] aswamina commented on #146
Any idea when 1.13 will be released ?

[2019-01-14 04:49] mbrn commented on #146
I hope today or tomorrow.

[2019-01-14 08:33] mbrn commented on #146
This is ok and version 1.13.0 is ready to download.

[2019-01-14 10:13] duongdev opened #157 "Warning: Failed prop type: Invalid prop `components.Toolbar` supplied to `MaterialTable`."
**Describe the bug**
Warning: Failed prop type: Invalid prop `components.Toolbar` supplied to `MaterialTable`.

**To Reproduce**
Steps to reproduce the behavior:
Working with Typescript & this component (just like example):
[code]

**Expected behavior**
Should not display prop types warning.

[2019-01-14 10:20] mbrn commented on #157
You didn't use toolbar at example. I could not reproduce the case. Can you look at the example again, please?

[2019-01-14 10:21] duongdev commented on #157
@mbrn oh I've just copied the example [here](https://github.com/mbrn/material-table#usage)

[2019-01-14 10:23] mbrn commented on #157
Ok, but it does not cause a warning.

[2019-01-14 11:02] duongdev commented on #157
@mbrn  I've injected some `console.log`s. The `components.Toolbar` prop seems difference to the others (it has `render` method while the others don't). Is it normal?

![image](https://user-images.githubusercontent.com/9253690/51108906-2760f400-1826-11e9-9676-f5258eaf0104.png)

[2019-01-14 11:09] mbrn commented on #157
I don't know why it has a render method but it should be normal. Can you take a screenshot of warning that in your console?

[2019-01-14 11:14] duongdev commented on #157
Here @mbrn
![image](https://user-images.githubusercontent.com/9253690/51109446-d3570f00-1827-11e9-98cb-003c2abd5ae1.png)

By the way, I am using:
- @material-ui/core^3.8.1
- react@16.8.0-alpha.0
- react-dom@16.8.0-alpha.0
- prop-types@15.6.2

Not sure if it's because of the alpha version of react & react-dom but it should not be. I never heard about any prop-types issues of this react alpha versio

[2019-01-14 11:17] duongdev commented on #157
I am currently working around by adding `components={{}}` prop to the `<MaterialTable />`. The prop-types warning's gone and the table changes nothing.

[2019-01-14 11:21] mbrn commented on #157
Interesting. Can you paste your material-table usage completely?

[2019-01-14 11:23] duongdev commented on #157
Here you are
[code]

[2019-01-14 11:24] mbrn commented on #157
How did you override the components.Toolbar? Do not remove it.

[2019-01-14 11:37] duongdev commented on #157
Ok, I will keep the workaround and wait for the next major release of React with hooks. Thanks for your support.

[2019-01-14 11:38] mbrn commented on #157
You welcome. Dont forget sharing your experince with us:)

[2019-01-14 11:38] #157 closed

[2019-01-14 13:47] kaleshasheik opened #158 "Any way to display icon conditionally based on specific column value ?"
Hi,

  Is there any way to display icon based on specific column value ?

I have column,

{      title: 'Status',
      field: 'status',
            },

I want to display icon based on status value. If status value is requested, then show 'edit' icon, else, show 'cancel icon' .

Thanks in Advance,

[2019-01-14 13:54] mbrn commented on #158
Yes you can. Use a funtion that takes rowdata and return icon. Look at more actions example. Second action is conditional. You can change icon, size, color, enability, onclick of action according your row data.

https://mbrn.github.io/material-table/#/docz-examples-03-example-actions

[2019-01-14 15:11] #158 closed

[2019-01-14 16:00] aswamina commented on #146
Thanks Mehmet.  I noticed that issue#147 is still present and i am getting
warnings in my console

On Mon, Jan 14, 2019 at 12:33 AM Mehmet Baran <notifications@github.com>
wrote:

--
Anand Swaminathan

[2019-01-14 18:07] mbrn commented on #147
@aswamina , there was another bug that is `The prop value is marked as required in MTableCell, but its value is undefined.`. I fixed this one too. But this is not a blocking bug. So it will be in 1.14.0

[2019-01-14 23:18] jakeleventhal commented on #140
Sorry, I took a while to get to this problem but it still persists. Here is [an example](https://codesandbox.io/s/p3p5v0z7q) of the issue. This is based off the Material UI Docs' example for using a persistent drawer. As you should be able to see, I added a bunch of columns to simulate my table and the page gets extended instead of allowing scrolling from within the table.

[2019-01-15 04:42] mbrn commented on #140
Hi @jakeleventhal ,

material-table fill content available in parent. You should have a limited width parent that cover table. Such as:
[code]

or width should be `90vw`, '100%'. So i mean you should have a parent which has a width.

[2019-01-16 00:52] jakeleventhal commented on #140
That doesn't seem to fix the problem, try messing with code sandbox i linked in my previous comment. It works if I hardcode a fixed pixel width (i.e. 500) but not if I want to have the table fit in a dynamically sized window

[2019-01-16 06:33] mbrn commented on #135
Hi @urirahimi,

Unfortunately. Because it effects many place to be changed. So i need time to work on it and nowadays i am very busy.

[2019-01-16 06:35] mbrn commented on #140
Yes. Because one of the parent of material-table has not limit something percent or vw. You should add 100vw or 100% to body of your html. Can you try this?

[2019-01-16 07:15] jakeleventhal commented on #140
I figured out the problem, but it is still not resolved. in the sandbox i linked ([here it is again](https://codesandbox.io/s/p3p5v0z7q)), if i add `style={{ width: '100%' }}` to the <main> tag on line 163, it works properly. However, if I add a material-ui <Grid container> around the table, it no longer works and stretches out again. How should this be resolved?

[2019-01-16 08:02] mbrn commented on #140
Just add the width:'100%' to content class of demo component like this:

![image](https://user-images.githubusercontent.com/7895451/51234594-365aba00-197e-11e9-90ce-4f4ce306e2ca.png)

[2019-01-16 08:11] jakeleventhal commented on #140
That doesn't fix the problem when I add a grid container around the material table.
[Check out this new sandbox](https://codesandbox.io/s/72kww5oqj) that I made where I added the `width: 100%` and the grid container.

If you remove the container prop on line 171, it doesn't fit in the page properly.

In my app and in many others I imagine, there will be a need for having a table inside a grid.

Mo

[2019-01-16 10:20] mbrn commented on #140
Look at this.

https://codesandbox.io/s/9oxvlzv074

[2019-01-16 19:15] martindeanlund opened #160 "Filters reset / ignored on parent state change"
Whenever the state of a parent is set the table loses its filter controls.

1 - Add a value to a column filter
2 - Trigger setState on the parent component
3 - Observe that the table is no longer filtered (even if the HTML input box has text)

Expected behavior: Filter selections persist in the table state and are applied whenever the table is rendered.

I suspect this has to do with the UNSAFE_co

[2019-01-16 19:17] mbrn commented on #160
Hi @martindeanlund ,

I will look at it asap.

[2019-01-16 20:35] jakeleventhal commented on #140
Thanks so much!

[2019-01-16 20:46] slevy85 commented on #150
Hi,
Thank you for this great lib, I have made a small pull request to handle the row click.
I hope you can accept it.

Thank you very much.

[2019-01-17 03:23] jakeleventhal opened #162 "Unable to use nested data as field"
**Describe the bug**
If each row of data is like this:
`{
   'a': 1,
   'b': 2,
   'c': {
         'nested': 3
      }
}`
and I set the field for the column to `field: 'c.nested'`, the table doesn't allow searching and sorting on that field

**Expected behavior**
I should be able to use a nested attribute in the field prop.

[2019-01-17 06:14] mbrn commented on #150
Thank you @slevy85 . I accepted it. After i test it, it will be in next release in a few days.

[2019-01-17 06:15] mbrn commented on #162
I didn't do something like this. But it will be good feature if it works. I will try @jakeleventhal :)

[2019-01-17 07:34] slevy85 commented on #106
Hi,

Why not showing actions column and selection column at the same time ?
This would be useful because we can have actions that only apply to one row (edit, show details, etc.) and actions that applies to many (delete, move, etc).

What do you think ?

[2019-01-17 07:45] mbrn commented on #106
Hi @slevy85,

This would be. But it will make action definitions very complex. So i decided to do not implement this. If you need this, you can add a column with render property of column.

[2019-01-17 07:46] slevy85 commented on #106
Yes you are right I can have a custom column actions, thank you.

[2019-01-17 14:43] slevy85 opened #165 "Warning when using the actions columns : Each child in an array or iterator should have a unique "key" prop."
When using the action columns i see this in my console :
[code]

I will make a pull request for this.

[2019-01-17 18:38] jakeleventhal commented on #136
Just curious, why is it that there are two sets of curly braces on options. I.e. why do you have to type `options: {{ paging: false }}` instead of just `options: { paging: false }`

[2019-01-17 18:40] mbrn commented on #136
Because first brace for react props. Second one means options is a json object. So you cant give many props with one brace. It is same with style props of component:

[code]

[2019-01-17 19:07] jakeleventhal commented on #146
Does the customSort prop just sort based on whatever is rendered?
I feel like this doesn't quite make sense if what is being rendered is more than just a string.

For example, my tables use rendering to show images and several data attributes in one column. There should be a way to custom sort columns based on attributes.

So @aswamina should be able to pass in a list of data points that it should

[2019-01-17 21:16] urirahimi commented on #43
Ideally freezed columns would work as they do in this demo https://devexpress.github.io/devextreme-reactive/react/grid/demos/featured/tree-data/

Where it has a fixed initial width and allows the user to drag/adjust after it is rendered

[2019-01-17 22:32] aswamina opened #167 "adding material-table package has caused IE11 to report syntax errors"
I added code to use material-table.  worked great on all browsers except on IE11. On IE11, when I launch my page, it reports syntax errors.
![screenshot 1](https://user-images.githubusercontent.com/9165565/51353077-5e244d80-1a64-11e9-8f3c-320a7c2cf55a.png)

The way we traced this problem, is that we got to the exact commit that worked on IE11. Then the next commit was me committing the package.jso

[2019-01-18 05:09] mbrn commented on #167
I will look at this @aswamina

[2019-01-18 05:18] aswamina commented on #167
Thank you so so much. Your component is amazing and fits our needs
perfectly.  I really appreciate if you can help me with this.

On Thu, Jan 17, 2019 at 9:09 PM Mehmet Baran <notifications@github.com>
wrote:

--
Anand Swaminathan

[2019-01-18 05:44] mbrn commented on #167
Thank you @aswamina , I will :)

[2019-01-18 10:24] aswamina commented on #167
Hi Mehmet,

I found this article :
https://dev.to/errietta/-how-to-fix-your-node-dependencies-es6-causing-browser-errors-37di
which is closest to the problem I described. I was wondering if this will
help get closer to the dependency that material-table has in terms of the
IE error.  I am going to try that out today as well on my webpack.config.js.

Thanks,
Anand

On Thu, Jan 17, 2019 at 9:44 PM M

[2019-01-18 14:54] JoeKyy opened #169 "How change this colors?"
![intimacoes beta 1](https://user-images.githubusercontent.com/2018763/51393903-0519ef80-1b20-11e9-81e7-d3aa736f4a0c.png)

How i change this color? I was trying to search this on the documentation and the issues tab and didn't find it

[2019-01-18 17:09] mbrn commented on #169
This is related with your theme.
https://material-ui.com/customization/themes/

Example:
[code]

[2019-01-18 17:09] #169 closed

[2019-01-21 14:00] slevy85 opened #173 "Add feature: disable action depending on row data"
I have noticed that we can only declare an action disabled with `true/false` :

[code]
I would like to disable it depending on a  condition on the row data, something like this :

[code]

Is it possible ?

Thank you very much.

[2019-01-21 15:44] mbrn commented on #173
Yes it is possible to return action data completely according to rowData:

[code]

Look at this:
https://mbrn.github.io/material-table/#/docz-examples-03-example-actions
More Actions 2.icon

[2019-01-21 16:14] slevy85 commented on #173
Thank you !
I forgot about this.
It solves my problem so this feature I proposed is not needed I think.

[2019-01-21 18:12] #173 closed

[2019-01-22 16:48] plummer-flex commented on #135
Doesn't `detailPanel` already cover this?

[2019-01-22 16:56] plummer-flex opened #174 "Allow for external `count` prop"
**Is your feature request related to a problem? Please describe.**
When handling filter/sort/pagination in external state, a user needs to be able to specify the total count of records in a set.

**Describe the solution you'd like**
A root level prop for `count` that, if set, will override the value passed to the `Pagination` component.

**Describe alternatives you've considered**
Overriding the `

[2019-01-22 17:37] mbrn commented on #135
Maybe but they need something like this:

https://devexpress.github.io/devextreme-reactive/react/grid/demos/featured/tree-data/

[2019-01-22 21:14] sarates commented on #67
@mbrn how I can make custom rendered field searchable?

[2019-01-22 23:00] plummer-flex commented on #135
Right, but it seems like a broken UX.  In the example provided, the child-rows are still rendered inline with the parent-rows.  This causes jumps and incomplete content to be loaded.

Doesn't mean something similar shouldn't/can't be done, but important to note usability when putting effort toward features.

[2019-01-22 23:01] plummer-flex commented on #64
@mbrn I see what you mean in regard to #174 to merge these issues?

[2019-01-23 05:45] mbrn commented on #67
@sarates ,

Add customFilterAndSearch field to your column definition.

[code]

[2019-01-23 05:48] mbrn commented on #135
You are right. But sometimes we need something like this. So i think implement this by overriding the Row component.

[2019-01-23 07:45] kaleshasheik opened #176 "How to add style to ToolBar"
Hi,

  I tried with below to add style to Toolbar as mentioned in Docs.  When I click on link to display table, webpage is not responding. It got hung. No errors in console as well.  Any issue with this code ? Or any way to add style to Toolbar?

import MTableToolbar from 'material-table'

 components={{
    Toolbar: props => (
      <div style={{ backgroundColor: '#e8eaf5' }}>
        <MTableTool

[2019-01-23 07:52] mbrn commented on #176
Hi @kaleshasheik,

Example on material-table docs is working. Can you share your material-table usage?

[2019-01-23 07:54] #165 closed

[2019-01-23 08:27] #150 closed, assigned to mbrn

[2019-01-23 08:46] kaleshasheik commented on #176
Hi,

  Even i tried with example mentioned in Docs. Same issue

import MaterialTable from 'material-table'
import MTableToolbar from 'material-table'

<MaterialTable
  components={{
    Toolbar: props => (
      <div style={{ backgroundColor: '#e8eaf5' }}>
        <MTableToolbar {...props} />
      </div>
    ),
  }}
  columns={[
    { title: 'Adı', field: 'name' },
    { title: 'Soyadı', field: '

[2019-01-23 10:21] mbrn commented on #176
Use

[code]

instead of

[code]

[2019-01-23 10:51] kaleshasheik commented on #176
I am getting below error if i use , import MaterialTable, {MTableToolbar} from 'material-table'

TS2305: Module '"D:/React/inventory/node_modules/material-table/index"' has no exported member 'MTableToolbar'.
Version: typescript 3.1.6, tslint 5.11.0

[2019-01-23 10:53] #162 closed

[2019-01-23 10:54] mbrn commented on #176
Which version of material-table do you use?

[2019-01-23 10:55] kaleshasheik commented on #176
"material-table": "^1.13.0",

[2019-01-23 11:11] mbrn commented on #176
I am not sure why it is not working. I will try it with Typescript.

[2019-01-23 11:20] mbrn commented on #160
MaterialTable store sorting, filtering and other values of every column on columnDefinition. If you send columns as renewed every time it will be resetted. So try giving columns array to columns from state of your component instead of giving [array] directly.

[2019-01-23 11:21] #160 closed

[2019-01-23 11:46] kaleshasheik commented on #176
Ok. Thanks

[2019-01-23 18:01] sarates commented on #67
@mbrn thanks a lot!

[2019-01-23 19:14] jakeleventhal opened #179 "Getting unnecessary console warning when not rendering header"
**Describe the bug**
When the option for `header` is set to false, there are no titles to be shown for each column. However, if you don't include a title attribute in the `columns` prop, you get the following console warning:
``index.js:2178 Warning: Failed prop type: The prop `columns[0].title` is marked as required in `MaterialTable`, but its value is `undefined`.``

**To Reproduce**
Create a ta

[2019-01-23 19:41] mbrn commented on #179
You are right @jakeleventhal . I will look at this for next release.

[2019-01-23 22:50] michaeljtobias commented on #93
im having issues doing this/it's not working as advertised.  I used the code above (except the property icons needs to be lower case). But then it gives this error:

TS2739: Type 'typeof import("/Users/michael/path/to/projecti/node_modules/@material-ui/icons/index")' is missing the following properties from type 'Icons': DetailPanel, Export, NextPage, PreviousPage, ThirdStateCheck

So then I do so

[2019-01-24 00:06] michaeljtobias commented on #93
this worked:

import { SvgIconProps } from '@material-ui/core/SvgIcon'

import Search from '@material-ui/icons/Search'
import ViewColumn from '@material-ui/icons/ViewColumn'
import SaveAlt from '@material-ui/icons/SaveAlt'
import ChevronLeft from '@material-ui/icons/ChevronLeft'
import ChevronRight from '@material-ui/icons/ChevronRight'
import FirstPage from '@material-ui/icons/FirstPage'
import L

[2019-01-25 04:47] mbrn commented on #51
Look at this:

https://github.com/mbrn/material-table/issues/93#issuecomment-457015457

[2019-01-25 06:37] sfDev001 commented on #93
Thank you! It worked
[code]

[2019-01-25 10:10] IllusiveBagel commented on #64
This feature would be super useful for a project im doing. Any heads up on when this will be implemented?

[2019-01-25 10:16] netbrain opened #181 "Broken search functionality"
[code]

The addition of the customFilterAndSearch functionality has partially broken the search functionality depending on where customFilterAndSearch is used.

If for instance customFilterAndSearch was the last column in the column definition list (worst case) then only this field would be included in the search logic as it would overwrite any results from previous findings.

I'll be submitting a

[2019-01-25 10:31] IllusiveBagel commented on #64
ahh ok cool thanks this will be a good enough solution for now

[2019-01-25 12:34] IllusiveBagel opened #183 "Icon Props not being parsed to component override"
**Describe the bug**
When Parsing the Props to a Component Override the Icons are not parsed across

**To Reproduce**
Steps to reproduce the behavior:
1. add component override
2. parse props to new component
3. attempt to use Icon defined in props in new component
4. See error

**Expected behavior**
I would expect to be able to use the pre-defined icons in my new component

**Desktop (please comp

[2019-01-25 13:40] IllusiveBagel commented on #183
[code]

This then gives this error:
![image](https://user-images.githubusercontent.com/11215553/51749263-d1524300-20a6-11e9-9d56-0d50ba59c1e9.png)

[2019-01-25 14:40] kaleshasheik opened #185 "Any way to customize columns ?"
Hi,

  Is there any way to customize the columns by adding something like columnstyle ?

Actually, I wanna reduce space between columns . so that, i can place the 2 tables side by side without scrolling.

Thanks,
Kalesha sheik

[2019-01-25 14:42] IllusiveBagel commented on #185
Yeah you can use headerStyle

[2019-01-25 14:43] IllusiveBagel commented on #185
Not sure if its exactly what you are looking for but when creating the columns you can add custom css using headerStyle

[2019-01-25 14:44] kaleshasheik commented on #185
I tried with below

 {
      title: 'Name',
      field: 'name',
      headerStyle: {color: 'white', fontSize: 15,width: '1%'}

    },
    {
      title: 'Status',
      field: 'status',
      headerStyle: {color: 'white', fontSize: 15, width: '1%'}

    },

But, still width is not considering for columns

[2019-01-25 14:47] IllusiveBagel commented on #185
Ok yeah I just tried a similar setup and everything apart from the width is changing for me too

[2019-01-25 21:01] roseak opened #186 "Ability to toggle detail panels from location other than front of row."
Just like there's now a way to display action icons based on column index, it would be great to be able to toggle the detail panel row from other locations than the beginning of the row.  I'd like to be able to click on or next to a specific column that has info or buttons related to it and then be able to see that content in the detail panel by clicking there.  Basically allowing the placement of

[2019-01-25 21:17] mbrn commented on #186
Hi @roseak,

That would be really great feature. Such as rowclick of any other event should fire the detailPanel toggle. Now i am working data grouping feature. Then i will consider this feature.

[2019-01-26 15:01] aswamina opened #187 "validateDOMNesting warnings when using material-table with data"
Attached screenshot.
![screen shot 2019-01-26 at 6 57 08 am](https://user-images.githubusercontent.com/9165565/51788928-f5666080-2148-11e9-81bc-3ff62d63ffdc.png)

[2019-01-28 14:19] mbrn commented on #167
Hi @aswamina,

Can you explain how did you resolved this problem. I know more developers that ask for this problem.

[2019-01-28 15:20] slevy85 opened #188 "Having a custom render prop for actions"
Hi,

I am trying to have a custom action component that provides `onClick` functionnality and I didn't succeed to do it.
I know I can change the icon to be a component and pass him properties like this :
[code]

[code]

But then the click handler is not called.

I am not sure why, I have in the code that the action icon is wrapped in a `IconButton` which provides onClick event, so maybe this event

[2019-01-28 15:36] mbrn commented on #188
Hi @slevy85,

I tried something like this: You should not use onClick on your own icon component. It already has an click handler and call your onClick.

[code]

![image](https://user-images.githubusercontent.com/7895451/51846916-a4629200-232b-11e9-9404-341c5089906a.png)

[2019-01-28 18:25] martindeanlund commented on #185
You're looking for the "cellStyle" property of "columns" if you're looking to work with column width.

[2019-01-28 18:49] aswamina commented on #167
I was use WebStorm IDE and was adding the line "export const withStyles(styles)".   When I did this, WebStorm automatically imported withStyles from "@material-ui/core/es/styles/withStyles" instead of "@material-ui/core/styles/withStyles".   This happened in two files. Similarly there were two other lines where I used Typography and WebStorm automatically imported Typography from "@material-ui/cor

[2019-01-29 07:55] slevy85 commented on #188
Yes but in my case I already have the click handler in the custom component, it is reused in other place so I don't want to duplicate the logic.

[2019-01-29 08:02] mbrn commented on #188
Did you try event.stopPropagation(); in your click handler.

[2019-01-29 08:17] slevy85 commented on #188
Yes it ididn't work, it is like this :
[code]
The button tag is the `IconButton` component, it has `onClick` handler, my component is inside, it is the svg icon. It also has an click handler, but it is never called because the top level button is the one receiving the click event

[2019-01-29 11:02] mbrn commented on #188
Why do you need your own click handler. If you remove button from your code and use span>svg as icon, is it working?

[code]

[2019-01-29 12:37] slevy85 commented on #188
My initial problem is to make the component reusable, I use this action outside of the table in other components.

For example I have the delete action, this action can be executed in the table via the action button, and also can be executed in the detail page of the item.
The deletion logic is encapsulated in a component which provides onClick event and others.
I wanted to use this component in m

[2019-01-29 23:20] lookitsatravis opened #189 "TypeScript typings incorrect for onRowClick prop"
Related to PR #161.

The `onRowClick` prop works as expected, but the TypeScript typings do not currently match the callback signature.

Docs describe the signature as `To handle row click (event, rowData)` which is how it is implemented. But in [index.d.ts](https://github.com/mbrn/material-table/blob/ecee1140e4d34a68dbddcaedff11d1490fac1199/index.d.ts) as of ecee114, the signature looks like this

[2019-01-30 05:38] vijthang61 opened #190 "how to do custom search in material table"
I want a method through which I can set up a hook to add custom search functionality, I dont see a way to add custom search.

If there is some prop or options through which we can set up custom search. Let me know. Any example code will be great

[2019-01-30 05:44] mbrn commented on #190
You can add a custom search function for every column separetely. Add `customFilterAndSearch` field as function to column that you want to customize search algorithm

[2019-01-30 05:47] vijthang61 commented on #190
thanks, will use that

[2019-01-30 05:47] #190 closed

[2019-01-30 05:48] vijthang61 commented on #135
any idea when we can expect this feature to be available.

[2019-01-30 05:52] mbrn commented on #135
I will complete data grouping in this week. Then i will start to tree data. So in 2-3 weeks(max end of feb) this will be ready.

[2019-01-30 05:56] vijthang61 commented on #135
Can you let me know what do you mean by data grouping, that by itself looks like tree structure.

[2019-01-30 05:58] mbrn commented on #135
Of course.

This is tree data: Data has parent-child relations
https://devexpress.github.io/devextreme-reactive/react/grid/demos/featured/tree-data/

This is data grouping:
https://devexpress.github.io/devextreme-reactive/react/grid/demos/featured/integrated-data-shaping/

[2019-01-30 08:52] slevy85 commented on #188
Thank you for you help I have made a workaround.
But what do you think of having `action.render` prop that would allow to render any component ?

[2019-01-30 10:38] mbrn commented on #188
It could be added. But for very special cases like this you can implement your own column with custom render.

[2019-01-30 12:34] vijthang61 opened #191 "TotalCount of Records for pagination cannot be specified in any props"
**Describe the bug**
Need to set count for pagination which does pagination from server side. Since I am not able to set the count of total records pagination function is not working as it takes pagesize as the count.

components={{
Pagination: props => (
<TablePagination
rowsPerPageOptions={[5, 10, 25]}
colSpan={3}
count={rows.length}
rowsPerPage={rowsPerPage}
page={page}
SelectProps={{
native: t

[2019-01-30 14:14] jlgreene2 commented on #167
My resolution to his issue was to install babel-polyfill from npm, and import it into my App.js file.  Worked like a champ.

[2019-01-30 14:31] jlgreene2 opened #192 "Filter Usability"
After using your control for a little while now, there are some aspects of how filters are handled that I'm wondering about whether they could be implemented in a different way.

I believe that having the filter input fields show up persistently on a separate header line of the Grid takes up a lot of screen real estate.  I'm wondering if it might be more useful to render the Filter icon to the far

[2019-01-30 17:30] mbrn commented on #191
Actually i am very with other features and my other projects. So this will take time. Also i am planning to implement fully server side feature that includes paging, filtering, search, sorting and so on.

[2019-01-30 17:35] vijthang61 commented on #191
for now if this count alone can be given global access, it will be great.  Since you will not be able to work on  that. Any planned deadlines for finishing serer side feature?

[2019-01-30 17:41] mbrn commented on #191
Actually there is no planned deadline. But it could be in 2 months. Because before server side feature i want o complete minor requirements and refactor code to be stay clean.

[2019-01-30 18:06] vijthang61 commented on #191
in that case would it be possible to add count in global props for now.

[2019-01-30 18:11] vijthang61 opened #193 "How to bring pagination controls after the last record"
![paginationcss](https://user-images.githubusercontent.com/47169215/52002597-75dde600-24e8-11e9-9d50-8bd8310855c8.png)

How to resolve this issue

[2019-01-30 18:15] vijthang61 commented on #191
components={{
Pagination: props => (
<TablePagination
{...props}
/>
),
}}

This is the example give in material for custom pagination component, is there a way to set/update count for the props.

I am new to React js so, could you let me know if there is a way through which I can set the count, can you give some sample code to do this

[2019-01-31 05:51] #167 closed

[2019-01-31 07:03] Prasad-YS commented on #8
Any way to change the Exported CSV file name ? Currently it's taking title of the table as CSV name

[2019-01-31 07:24] Prasad-YS opened #194 "Any way to get Serial Numbers in the data table ?"
In Addition to the data that I'm getting I want show the Serial Number in 1st Column ? Is this possible ?

[2019-01-31 09:50] mariolazzari opened #195 "Multiple Detail Panel Example not working"
**Describe the bug**
After updating to version 1.15, Multiple Detail Panel feature is broken.

**To Reproduce**
Go to https://mbrn.github.io/material-table/#/docz-examples-11-example-detail-panel
and try second example.

**Expected behavior**
Custom detail panel should be visible after custom icon click on the left side of the row table.

**Screenshots**
![image](https://user-images.githubusercont

[2019-01-31 10:22] mbrn commented on #8
Hi @Prasad-YS ,

Why not. I can do this easily. But this is another issue. Can you open a new issue for as export file naming, please?

[2019-01-31 10:33] #195 closed

[2019-01-31 10:36] mbrn commented on #195
Hi @mariolazzari ,

Thanks for bug report. I fixed the bug and it is now in npm as 1.15.1

[2019-01-31 10:46] mariolazzari commented on #195
I tested version 1.15.1 and all it is working fine now.
Thanks a lot for fixing so quickly: I really appreciate this!

[2019-01-31 10:49] Prasad-YS opened #196 "Can we customize the name of Exported CSV file"
As of now the exported CSV file will take Table title as CSV name, But Can we add our own CSV file name instead of the default name ?

[2019-01-31 10:50] Prasad-YS commented on #8
Done, raised new issue #196

[2019-01-31 12:51] JoeKyy opened #197 "Is there a option to put title in ViewColumn feature?"
I want to put some title in the column list in the View Columns feature, it is possible? And disable some checkboxes?

Example

![image](https://user-images.githubusercontent.com/2018763/52055305-2d551580-2546-11e9-83da-6e40cc171db7.png)

[2019-01-31 13:00] mbrn commented on #197
Unfortunately. But if it is very important you can override the component.

Additionally, this would be useful feature. I will try to implement this future.

[2019-01-31 13:42] Domino987 opened #199 "Localisation since 1.15"
**Describe the bug**
Since the newest version (1.15) localisation for MTableGroupbar has to be a function returning the localisation object.
But the table class still needs the localisation as a object without the function wrapping.

**To Reproduce**
1. Provide a localisation object
2. Error will be visible in console

**Expected behavior**
All tables expect a object as localisation prop.

**Stack

[2019-01-31 13:51] JoeKyy opened #200 "Add Column Reordering"
**Describe the solution you'd like**
Since you put grouping table, is possible to add column reordering?

**Describe alternatives you've considered**
Like.. https://devexpress.github.io/devextreme-reactive/react/grid/docs/guides/column-reordering/

[2019-01-31 13:54] Domino987 opened #201 "Error pagination and grouping if value is undefined"
**Describe the bug**
If a column field is undefined of one object, and it is grouped by that field, it crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to: https://mbrn.github.io/material-table/#/docz-examples-12-example-grouping
2. Add items with one field undefined
3. Sort for that field

**Expected behavior**
It should not crash, if one field is undefined, but should use the em

[2019-01-31 16:58] Domino987 opened #204 "Grouping and custom sort are ignored"
**Describe the bug**
If grouping is enabled, custom sort is ignored.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to: https://mbrn.github.io/material-table/#/docz-examples-12-example-grouping
2. Add custom sort to a column
3. Group and click on group pill => no custom sorting

**Expected behavior**
* The custom sort is respected

[2019-01-31 17:44] mbrn commented on #200
You are right @JoeKyy. I will add column reordering asap. Because we already have drag and drop feature on column headers.

[2019-01-31 18:01] #181 closed

[2019-01-31 18:10] mbrn commented on #174
Duplicate with #64

[2019-01-31 18:10] #174 closed

[2019-01-31 18:30] mbrn opened #205 "Add ts definition of all exported components"

[2019-01-31 18:32] #179 closed

[2019-01-31 18:38] #183 closed

[2019-01-31 18:38] #185 closed

[2019-01-31 18:40] #188 closed

[2019-01-31 18:40] mbrn commented on #189
This is fixed. It will be in next release

[2019-01-31 18:40] #189 closed

[2019-01-31 18:41] #191 closed

[2019-01-31 18:41] #193 closed

[2019-01-31 18:43] mbrn commented on #194
@Prasad-YS

You do this with current version. We already have an tableData.id field on every row of data. Just add a new column like this: columns:  { title: '#', field: 'tableData.id' }

[2019-01-31 18:43] #194 closed

[2019-01-31 18:49] #196 closed

[2019-01-31 18:49] mbrn commented on #196
This is done. It will be in next release.

[2019-01-31 18:50] Domino987 commented on #204
I love the grouping feature ( my boss as well). When will be able to expect a new release date with the fixes ?

[2019-01-31 19:06] #197 closed

[2019-01-31 19:07] mbrn commented on #197
This is done @JoeKyy ,

You can add removable: false to your column definition that you don't want to removed by user. And i added addRemoveColumns localization field to localization.toolbar.

This feature will be in next release.

[2019-01-31 19:10] mbrn commented on #204
I hope this weekend i can publish a new feature for new small improvements including this.

[2019-02-01 04:00] hcsgzh commented on #186
Hi @mbrn ,
I like the idea of row clicking to fire the detailPanel toggle.

Looking forward to it!

'data grouping feature'? Do you mean tree data structure?

Anyway, this is a nice, handy library!

Thank you!

[2019-02-01 04:04] Prasad-YS commented on #194
Sorry, Didn't get any number, just got a blank column

[2019-02-01 04:20] mbrn commented on #186
I will do this for next release. Data grouping is now done. You can use it. Look at examples. Tree data feature is another feature that i will do in 2 3 weeks

[2019-02-01 06:09] #186 closed, assigned to mbrn

[2019-02-01 06:11] mbrn commented on #186
This is done now. Usage is simple. I set toggleDetail function as third parameter onRowClick. You can use it like this:

[code]

[2019-02-02 09:46] mbrn commented on #187
I think that this is done.

[2019-02-02 09:46] #187 closed

[2019-02-02 09:52] #199 closed

[2019-02-02 10:01] #201 closed

[2019-02-02 10:17] #204 closed

[2019-02-02 10:18] mbrn commented on #204
I have completed this. But it requires a trick when applying a customSort:

[code]

[2019-02-02 10:30] mbrn commented on #199
v1.17.0 published

[2019-02-02 10:30] mbrn commented on #201
v1.17.0 published

[2019-02-02 10:31] mbrn commented on #204
v1.17.0 published

[2019-02-02 13:48] Domino987 opened #210 "Grouping ignored render prop"
**Describe the bug**
If a column is grouped, it ignores the render prop and if cannot render that value, it crashes.

**To Reproduce**
1. Go to https://mbrn.github.io/material-table/#/docz-examples-12-example-grouping
2. Change one field in data to be an object
3. Provide a render prop
4. Group that column

**Expected behavior**
The group row should render the render prop if provided

[2019-02-02 17:34] Domino987 commented on #210
Maybe provide an accessor prop which returns a string or number to group the items by and also display in the grouped row as "group header"?

[2019-02-02 18:48] mbrn commented on #210
Maybe. I will think more.

[2019-02-04 03:44] guludo opened #211 "Allow overriding individual actions"
Hi! Thanks for this library, it has been very useful for me.

I think it would be nice to wrap every action instead of the list of actions. Currently only the latter is possible via `components.actions`. The problem with that is that I would have to rewrite the logic that handles the configuration passed via the `actions`  prop, since it is written as method from `MTableActions`.

Given that, one

[2019-02-04 04:47] mbrn commented on #211
Hi @guludo ,

This is a great idea. This feature will make material-table more flexible. I will add this feature to next release.

Thanks.

[2019-02-04 06:36] Prasad-YS commented on #194
I'm using 6.8.6

[2019-02-04 06:42] mbrn commented on #194
Can you share your material-table usage code

[2019-02-04 06:43] Prasad-YS commented on #196
Thanks @mbrn , But how to use this ? What poprs added for this

[2019-02-04 06:46] mbrn commented on #196
Add exportFileName to options of table.

https://mbrn.github.io/material-table/#/docz-props

[2019-02-04 06:55] Prasad-YS commented on #196
Worked, Thanks for Support :)

[2019-02-04 07:06] Prasad-YS opened #212 "Export CSV not working in IE"
IE does not recognize the format of the downloading file, So IE asking to download the the external application

[2019-02-04 07:08] mbrn commented on #212
I will look at this asap.

[2019-02-04 08:19] mehuljariwala opened #213 "Icon not loading in react only label is showing"
When i install in my react app then icon not loading

[2019-02-04 08:31] mbrn commented on #213
Can you share screenshot and code usage of material-table.

[2019-02-04 08:34] mehuljariwala commented on #213
"dependencies": {
    "@material-ui/core": "^3.8.1",
    "@material-ui/icons": "^3.0.1",
    "@material-ui/lab": "^3.0.0-alpha.24",
}

<MaterialTable
              columns={[
                { title: "Name", field: "name" },
                { title: "Soyadı", field: "surname" },
                { title: "Doğum Yılı", field: "birthYear", type: "numeric" },
                {
                  title:

[2019-02-04 08:35] mehuljariwala commented on #213
![image](https://user-images.githubusercontent.com/30499320/52197554-f81e2f80-2885-11e9-8d63-59c4cf76e65f.png)

[2019-02-04 08:39] mbrn commented on #213
You should install icons with script tag in html or try to give icons like this: https://github.com/mbrn/material-table/issues/93#issuecomment-457015457

[2019-02-04 08:50] mehuljariwala commented on #213
in react you should pass props like that i solved
icons={{ FirstPage: FirstPage }}

[2019-02-04 09:00] #213 closed

[2019-02-04 09:05] mehuljariwala commented on #213
some icons is not working on this also

[2019-02-04 10:16] mbrn commented on #213
Which one?

[2019-02-04 10:29] mehuljariwala opened #214 "I need to add Checkbox when we doing grouping"
need help..!
when we used grouping that time i need checkbox on grouping header and change grouping title .

[2019-02-04 10:32] mbrn commented on #214
To change title you can override localization:
https://mbrn.github.io/material-table/#/docz-examples-09-example-localization
https://mbrn.github.io/material-table/#/docz-props

I didn't understand what you mean by checkbox on grouping header?

[2019-02-04 10:40] mehuljariwala commented on #214
![image](https://user-images.githubusercontent.com/30499320/52203518-67e8e600-2897-11e9-841e-c858e6515f93.png)
Here i need checkbox also with arrow.

[2019-02-04 10:42] mbrn commented on #214
If you set selection:true in options it will show checkbox for rows. unfortunately it wont on group rows. Do you want to something like group selection?

[2019-02-04 10:50] mehuljariwala commented on #214
Yes you got it..!
i want group selection feature also because i need to edit group label also.

Thanks
Mehul

[2019-02-04 10:51] mbrn commented on #214
Group name is your title of column. But you can't add a checkbox on group

[2019-02-04 10:51] #214 closed

[2019-02-04 16:20] Domino987 commented on #210
Maybe exchange the field prop to return a value instead if the field to enable custom fields like arrays ?

[2019-02-04 16:35] Domino987 commented on #210
This could also be used to omit the empty render prop, since it could also return the empty value.

[2019-02-04 23:02] rfones opened #216 "Make headers draggable only when grouping is true"
**Describe the bug**
Table headers are draggable when grouping is false. The only reason I can find to have draggable headers is for grouping.

**To Reproduce**
Steps to reproduce the behavior:
1. Look at any of the (non-grouping) demos.
2. Hover over a header, notice the ability to drag the header.

**Expected behavior**
Dragging on headers does nothing.
Hover over headers with no cursor change.

[2019-02-05 04:47] mbrn commented on #216
You are right @rfones ,

I will add columnReorder feature. When grouping and columnReordering are false , header could not be draggable.

Thanks.

[2019-02-05 17:46] robinzimmer1989 commented on #27
Are there any updates on this?

[2019-02-05 18:19] mbrn commented on #27
Hi @robinzimmer1989 ,

I could not look at this reason of other issues and projects. But i will add this feature on next month.

[2019-02-05 22:54] robinzimmer1989 opened #218 "Make columns with React elements sortable"
Right now when I add a select box or a textfield (@material-ui/core) or any jsx into a cell, the column is not sortable anymore. Is there a way to add a string as a hidden, sortable value to the cell?

Example:

[code]

[2019-02-06 05:08] mbrn commented on #218
You can.

Just add a `customSort: (a, b) => a.fieldX - b.fieldY` to your column definition. Additionally, you can add a `customFilterAndSearch` to add a search behaviour to your column.

[2019-02-06 14:05] Domino987 commented on #19
How would this feature look like exactly?

[2019-02-06 20:33] mbrn commented on #19
It will show a scroll on table-body if table is in a specific heighted div.

[2019-02-07 11:12] vijthang61 commented on #64
I have implemented server side implementation by adding custom handlers for pagesize, page change, searching, sorting, filtering. I can use that until the server side events are implemented as part of material table. Once available I can remove my custom code. For now I am able to manage without any issues

[2019-02-09 09:44] afenrir opened #220 "React will fail to compile if you install date-fns prior to installing material-table"
I am using `date-fns` in my project independently of `material-table`. I had installed `date-fns` before installing `material-table`. The current version of `date-fns` is 1.30.1. When I later installed `material-table`, importing it into my project caused a long list of import errors like this:

[code]

On further investigation, it appears that your dependency, `material-ui-pickers`, requires `dat

[2019-02-09 18:48] jakeleventhal opened #221 "Items not unselecting after action"
**Describe the bug**
When using a table with selection, after doing the action, the rows remain checked.

**To Reproduce**
Use selection table, select, rows, click action.

**Expected behavior**
Action performs and rows are unchecked after

[2019-02-09 18:54] jakeleventhal opened #222 "Add ability to delete rows"
**Is your feature request related to a problem? Please describe.**
There should be the ability to easily delete rows from an action since this is a common use case with selection

**Describe the solution you'd like**
After selecting rows, have an option to delete the rows via an action.

[2019-02-11 10:47] cybermizrach opened #224 "Nested MaterialTable"
Is it possible to create a Multiple Detail Panel in a MaterialTable that shows MaterialTable? I want to display a monthly sales summary that can show a detail panel table with a table of sales transactions.

[2019-02-11 11:35] mbrn commented on #221
I will take a return value to remove selections or not. So it will be optional.

[2019-02-11 11:36] mbrn commented on #222
Why you don't delete selected rows from  your state that you set as data to material-table?

[2019-02-11 11:38] mbrn commented on #224
You can. return a new table with detailPanel. https://mbrn.github.io/material-table/#/docz-examples-11-example-detail-panel

But you can try to use grouping feature: https://mbrn.github.io/material-table/#/docz-examples-12-example-grouping

[2019-02-11 17:57] jakeleventhal commented on #222
i currently am doing that but it seems inefficient to use a filter on my state array

[2019-02-11 19:19] cybermizrach commented on #224
Thanks @mbrn !

[2019-02-11 19:19] #224 closed

[2019-02-11 19:22] cybermizrach opened #225 "Changing the header background color, font size and font color"
How can I change the header background color,  font size and font color?

[2019-02-11 20:04] mbrn commented on #225
Add a header style on your column definition that you want to style:
{ title: '...', field: '...', headerStyle: {backgroundColor: 'red'}}

If you want to apply a style to all columns just add a header style to options.

[2019-02-11 22:31] roseak commented on #64
Is there a way to use `customSort` to trigger a function that would reload the data so that sorting can be done server side? I can't seem to get it to do anything.  I'd like to click on one of the table headers and then have that call a function that makes a call with the table header as a param to sort server side.

[2019-02-12 04:34] mbrn commented on #64
@roseak , unfortunately for now.

[2019-02-12 05:43] vijthang61 commented on #64
I have implemented server side sort by overriding the onOrderChange prop, I had written by custom implementation onOrderChange={this.handleOrderChange},
here I make a server side in the function handleOrderChange, which will update the table row state variable which will automatically render the UI.
In handleOrderChange function I update the a state variable for sort fields, once I set it it will

[2019-02-12 06:22] Prasad-YS commented on #212
Hi @mbrn , when can I expect this feature ? If you have any time line can please share that ?

[2019-02-12 08:10] cybermizrach commented on #225
Thanks! It works when adding the headerstyle per column.

I want to apply the style to all columns. It seems not working.

`<MaterialTable
  columns={[
    {
      title: 'Name',
      render: rowData => rowData.name + ' ' + rowData.surname,
    },
    { title: 'Birth Year', field: 'birthYear', type: 'numeric' },
    {
      title: 'Birth Place',
      field: 'birthCity',
      lookup: { 34: 'İsta

[2019-02-12 11:13] cybermizrach opened #226 "Custom Table Pagination Action"
Hi,

Can I use the something similar to the Custom Table Pagination Action  in https://material-ui.com/demos/tables/? If so, how?

I'm using Firestore so I won't download all records but 1 page at a time. I want to get the next or previous page from Firestore when I clicked the Next or Previous button.

Also, can I only display the  Next or Previous buttons.

Thanks!

[2019-02-12 12:16] vijthang61 commented on #226
Yes you an override the default pagination component and achieve it with server side calls for pagination

[2019-02-12 18:44] mbrn commented on #225
Use this:
[code]

[2019-02-12 21:09] cybermizrach commented on #226
Thanks @vijthang61!

Is there any guide or example how to do it? Should I use the overriding components?

[2019-02-13 04:35] mbrn commented on #226
@cybermizrach

https://mbrn.github.io/material-table/#/docz-examples-10-example-component-overriding

[2019-02-13 05:34] Prasad-YS opened #228 "How Can I add one more option to the ToolBar"
I want to add my own custom CSV export to toolbar, anyway to achieve this ? Please help me if it is feasible

[2019-02-13 05:40] mbrn commented on #228
1. Currently you can do with workaround. Copy toolbar code and change what you want. Then override toolbar component with yours'.

2. Add a actions which has `isFreeAction: true` property. You can export your data in onClick of this button.

[2019-02-13 06:14] Prasad-YS commented on #228
Thanks @mbrn , Thanks for your quick response, I'm working on your suggestion

[2019-02-13 08:16] xcksky opened #229 "One detailPanel at a time"
Hi,
Is there any way to have only one detailPanel show up at a time?
close the opened detailPanel when clicking another row and show detailPanel in a new row?

[2019-02-13 08:59] cybermizrach commented on #225
Thanks @mbrn!

[2019-02-13 08:59] #225 closed

[2019-02-13 11:03] mbrn commented on #229
Unfortunately. But i can do this feature for next release. Thanks @xcksky

[2019-02-13 13:18] shmoshkin opened #230 "rtl - hebrew support"
i put a div around the component which got rtl style.
its not working so much good... the table looks strange..
there is another solution for rtl ?

[2019-02-13 14:29] shmoshkin commented on #222
have same problem

[2019-02-13 15:51] DmitryVitd opened #231 "Detail panels doesn't work on 2nd page and so on."
When you are going to the second page and so on, all detail panels triggers for first page, instead of the current one

You could go to the 2nd page, click to expand panel on 1st row, for example, then go back to page 1 and 1st row will be expanded on the 1st page, instead of 2nd.

[2019-02-14 07:19] mbrn commented on #230
Sorry @shmoshkin ,

I did not test table with rtl languages such as arabic and hebrew. But i will sort out problems with rtl asap.

[2019-02-14 07:23] mbrn commented on #231
You are right @DmitryVitd ,

I resolve it in code. I will publish a new release today or tomorrow.

[2019-02-14 08:50] shmoshkin opened #232 "cant run my own function on click action"
icon: add
tooltip: Add,
onCLick(event, rows) => {
i cant access my own file so i cant run any function of mine... cant change my app state or anything else...
}

i also dont have access to this.setState or this.props....

[2019-02-14 08:55] mbrn commented on #232
You can run functions in your component with this.functionName.

But you should use arrow functions or binded functions

[2019-02-14 08:58] Domino987 commented on #232
You could just extarct that function like this:
[code]

[2019-02-14 09:51] mbrn commented on #205
This will be in v1.18.0

[2019-02-14 09:51] #205 closed

[2019-02-14 10:00] #210 closed

[2019-02-14 10:01] mbrn commented on #210
I let grouping if column has both render and field. And call render method with a (fieldValue, 'group') if gruped, else (rowData, 'row').

[2019-02-14 10:01] mbrn commented on #210
this will be in v1.18.0

[2019-02-14 10:07] mbrn commented on #211
Hi @guludo ,

I think on this feature and this is not necessary for material-table. You can add a custom rendered column to render your own mutations.

Look at examples:
https://mbrn.github.io/material-table/#/docz-examples-07-example-custom-render

[2019-02-14 10:08] mbrn commented on #216
This will be in v1.18.0

[2019-02-14 10:08] #216 closed

[2019-02-14 10:08] #218 closed

[2019-02-14 10:52] guludo commented on #211
Hi @mbrn ,

But, with that, wouldn't I miss out on any nice (and also future) features that `actions` could give me?

[2019-02-14 11:04] Domino987 commented on #210
That sound good. Thank you.

[2019-02-14 14:04] mbrn commented on #231
This will be in v1.18.0

[2019-02-14 14:04] #232 closed

[2019-02-14 14:05] #228 closed

[2019-02-14 14:40] mbrn commented on #211
ok. i will think again.

[2019-02-14 22:37] digitaltopo opened #235 "Warning: Failed prop type: Invalid prop value of type number supplied to Checkbox, expected string."
**Describe the bug**
When using `selection` option, console outputs this prop-type error:

`Warning: Failed prop type: Invalid prop 'value' of type 'number' supplied to 'Checkbox', expected 'string'`

Full stack trace:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `material-table`
2. Add `selection` to options
4. See error

**Expected behavior**
No prop-type error
**Desktop

[2019-02-15 00:55] kenecaswell opened #236 "disableClick column prop not disabling onRowClick function call"
**Describe the bug**
First, this a great library. Thank you!
I am using the `onRowClick` prop, it works as expected. However, for one column (called Review), I want to disable the `onRowClick` function from firing. So I added `disableClick: true` to that column. But the `onRowClick` function is still firing.

**To Reproduce**
Steps to reproduce the behavior:
1. Load the table
2. Click on a cell in

[2019-02-15 08:08] anjmao opened #237 "Details panel works only on the first page"
**Describe the bug**
If details panel is enabled and there is more than one page it works only on first page. Opening details panel on other pages actually opens it only on first page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create at least two pages of data.
2. Expand details panel on second page.
3. Go back to first page, only it's data is visible

**Expected behavior**
Details pan

[2019-02-15 09:23] mbrn commented on #235
Hi @digitaltopo ,

Which version do you use? Because i resolved this problem in v1.18.0

[2019-02-15 09:25] mbrn commented on #236
Hi @kenecaswell ,

We didn't add a disableClick feature to columns. But this could be add. I will consider this on next releases.

[2019-02-15 09:25] mbrn commented on #237
Hi @anjmao ,

Which version do you use? Because i resolved this problem in v1.18.0.

[2019-02-15 11:27] Favna commented on #213
@mehuljariwala as per referenced in https://github.com/mbrn/material-table/issues/93#issuecomment-457015457 and with a little bit of digging myself it turns out that the lib expects SortArrow while @material-ui/icons provides it under the name "Sort". This is working (TypeScript) code as of Material-Table v1.18.0

[code]

[2019-02-15 17:36] kenecaswell commented on #236
Hi @mbrn,
Thanks for the reply. However, I'm still confused. What is line 52 in the documentation referring to then (see link below)?

https://github.com/mbrn/material-table/blob/master/docz/props.mdx#L52

[2019-02-15 17:50] mbrn commented on #236
Hi @kenecaswell ,

You are right sorry. I forget this feature. Because someone else added it to material-table. But it is not working as expected. I will work on it fix it asap.

[2019-02-15 19:01] digitaltopo commented on #235
`"material-table": "^1.18.0"`

[2019-02-15 19:04] mbrn commented on #235
I will check it again

[2019-02-15 22:53] jaimealv994 commented on #220
the same happened to me. @afenrir  Have you managed to solve this problem?

[2019-02-16 01:27] jakeleventhal opened #238 "Column headers draggable when grouping is off"
**Describe the bug**
When grouping is turned off, you are still able to drag around the column headers.

**Expected behavior**
You should either be able to drag the headers to change the order of the columns, or dragging should not work at all

[2019-02-16 12:04] kaleshasheik opened #239 "Is it possible to add Tooltip if user action is disabled ?"
Hi,

If action is disabled, tooltip is not showing.

     rowData => ({
                tooltip: 'show details',
                disabled: rowData.tableData.id > 0,

Any other possible way to show, why action was disabled ?

[2019-02-17 19:02] hamdi-islam commented on #185
Hi, i've tried to use "cellStyle" for resizing one of the columns but it didn't work for me. Here's how i did it.

[code]

[2019-02-18 09:17] vijthang61 opened #241 "How to show the filters along with column name"
I want to show the filters in the same row along with column headers and not as a separate header. Let me know how to achieve this.

[2019-02-18 09:18] vijthang61 commented on #135
When can we expect this to be merged?

[2019-02-18 19:15] pcolbert opened #242 "Add search reset option"
**Is your feature request related to a problem? Please describe.**
No integrated search clear/reset

**Describe the solution you'd like**
Display the typical small, circled x in right of search bar to clear and reset search

**Describe alternatives you've considered**
Already have added custom action using isFreeAction (i.e. Add), so could also add a reset action icon, but I also like the column a

[2019-02-19 04:00] STamil opened #243 "Detailpanel hiding option"
Hi
 Is possible to show detailpanel and selection option based based on condition ?
close the opened detailPanel when clicking another row and show detailPanel in a new row?

[2019-02-19 05:43] mbrn commented on #239
Hi @kaleshasheik ,

Material-ui Tooltips is not working for disabled contents. But i will look at it again to find a solution.

[2019-02-19 05:45] mbrn commented on #241
Hi @vijthang61 ,

Material table does not provide this feature. But you can override header component to achieve this.

[2019-02-19 05:45] #241 closed

[2019-02-19 05:45] mbrn commented on #135
I will merge this until end of february. Now i am working on it.

[2019-02-19 05:46] mbrn commented on #242
I will do this enhacement for next releases.

[2019-02-19 05:47] mbrn commented on #243
I will do this features for next releases.

[2019-02-19 06:42] kaleshasheik commented on #239
@mbrn Thank you

[2019-02-19 06:53] vijthang61 commented on #241
Any example to override header component?

[2019-02-19 07:31] mbrn commented on #241
You can look at component overriding examples at docs:
https://mbrn.github.io/material-table/#/docz-examples-10-example-component-overriding

[2019-02-19 08:56] vijthang61 commented on #241
but I need some example on how to write code where I combine filter and header together in one line, can you help me with this

[2019-02-19 10:38] vijthang61 opened #244 "I want to show the filters in the same row along with column headers and not as a separate header. Let me know how to achieve this."
I am requesting this to avoid duplicating same code again while overriding components

[2019-02-19 10:43] shmoshkin opened #245 "Table with checkbox errors"
hi'
i copied the table from the doc and got this error:
failed prop type - invalid prop value of type number suplied to checkbox, expected string

[2019-02-19 11:55] anjmao commented on #237
@mbrn Awesome, it works now, thanks a lot!

[2019-02-19 11:55] #237 closed

[2019-02-19 12:16] mbrn commented on #245
I will look at this asap.

[2019-02-19 12:20] mbrn commented on #241
@vijthang61 ,

This is not a easy change. You should develop your own header component that handles every feature of default header and default filter row.

But i don't know what you exactly want? Can you show me an example? such as another datatable

[2019-02-19 12:21] mbrn commented on #244
@vijthang61 ,

This is not a easy change. You should develop your own header component that handles every feature of default header and default filter row.

But i don't know what you exactly want? Can you show me an example? such as another datatable

[2019-02-19 13:46] vijthang61 commented on #244
![image](https://user-images.githubusercontent.com/47169215/53019406-aaefaf80-347a-11e9-8b37-862ff0c16600.png)

I want to have filters on same line as column header in this image

[2019-02-19 13:52] vijthang61 commented on #244
I managed to get the filter on same line by setting the title

Whatever value i display in title that i had modified by creating custom function

renderColumnHeader = (title,field,lookup) => {
    return(
      <div style={{display:"flex"}}>
        <div>
          {title}
        </div>
        <div>
          {lookup===undefined &&<TextField
                id={field}
                value={this

[2019-02-20 09:46] shmoshkin opened #246 "link column type"
i would like to have a link type in column.
i think its very useful..

[2019-02-20 10:49] Prasad-YS opened #247 "Filtering not working for numeric columns ?"
Filtering of columns working for all string columns. but if I try for  numeric it's always shows blank table,
Even for data columns I'm unable to enter the date manually, for time it's taking 'PM' which is not there in my data

[2019-02-20 15:44] shmoshkin opened #248 "2 tables on same component"
i got 2 components, each of them with table.
i try to put them 2 in another component but only 1 table is rendered.
seem its impossible to render 2 components wi table - mega bug...

[2019-02-20 18:11] mbrn commented on #244
You may implement your own header component. So you can handle all events and manage them according to your project.

[2019-02-20 18:12] mbrn commented on #246
Good idea . Thanks @shmoshkin ,

You can use customRender feature until i add this feature.

[2019-02-20 18:12] mbrn commented on #247
I will look at this asap.

[2019-02-20 18:13] mbrn commented on #248
Hi @shmoshkin ,

I use multiple tables in same component in many cases. Can you share your code/structure with me to understand what is wrong with ?

[2019-02-20 18:16] digitaltopo commented on #235
Thank you @mbrn

[2019-02-20 18:39] john-pc opened #249 "Note this in documentation please."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-02-20 18:40] #249 closed

[2019-02-21 07:50] shmoshkin commented on #248
@mbrn
I wrote 2 components. then put them both is a new component and can see both. maybe id problem?

the code very simple:
render(){
<component1/>
<component2/>
}

a table in each of them is exactly like documentation. when put only each of them it works

[2019-02-21 07:51] shmoshkin commented on #246
@mbrn did it, thanks

[2019-02-21 07:53] shmoshkin commented on #245
@mbrnI have another problem that maybe connected to this one. when going through the next page and select checkbox, it always selects the one in the same row of the first page.

[2019-02-21 12:14] mbrn commented on #245
Yes this is known bug and i fixed it in v1.18.0. Please upgrade your material-table dependency

[2019-02-21 17:28] shmoshkin opened #252 "dark theme table"
dark theme is a common case in our days.
please if you can add option to dark theme table..

[2019-02-21 17:28] shmoshkin commented on #248
@mbrn fix my own bug, thanks

[2019-02-22 01:08] jakeleventhal commented on #252
+1

[2019-02-22 05:45] Prasad-YS commented on #67
@mbrn Can you please insert some example code of  customFilterAndSearch, I'm not understanding how to use this function

[2019-02-22 11:38] khwsab opened #254 "Failed to compile error when I try to import module"
**Describe the bug**
I have tried to import the module and straight away get this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Intall `material-table`
2. Import inside a react app (generated by create-react-app)
3. View in browser

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser: chrome, safari
 - Version: 72.0.3626.109 (Official Build)

[2019-02-22 18:08] rfones opened #255 "material-ui 4.0.0 support"
**Is your feature request related to a problem? Please describe.**
material-ui 4.0.0-alpha.1 introduces breaking changes. the current version of material-table does not work with it. I'm unsure if changes to get things working in 4.0.0 are backwards compatible with previous versions of material-ui, I'm guessing they are not. If not, it would break the use of material-table on the existing release

[2019-02-22 18:21] rfones commented on #239
Disabled elements do not fire a hover event. You need to wrap your disabled element in a span (or other element).

https://material-ui.com/demos/tooltips/#disabled-elements

[2019-02-22 18:45] #248 closed

[2019-02-22 18:47] mbrn commented on #252
We use material-ui library in material-table if you use its ThemeProvider component material-table will apply the same theme.

https://material-ui.com/customization/themes/

[2019-02-22 18:51] mbrn commented on #67
Hi @Prasad-YS ,

I think that would be enough for you

[code]

[2019-02-22 18:52] mbrn commented on #255
I will take a look at it asap.

[2019-02-22 18:53] mbrn commented on #239
@rfones ,

I will wrap actions with a span. Thanks.

[2019-02-23 05:42] apsrcreatix opened #256 "Duplicate data1"
**About the bug**

node_modules > material-table > index.d.ts > Line 41: `customSort?: (data1: any, data1: any, type: 'row' | 'group') => number;`

I have seen the code in the repository, it's (data2: any) instead of (data1: any).
But while installing the node module for version "material-table": "^1.17.0", it is showing this error because of duplicate data1.
Please update it and let me know.

**S

[2019-02-24 07:30] vinceliu21 opened #257 "Text Overflow: ellipsis"
I have created a smaller width table. The cell of one column sometimes will have very long pieces of text. Currently the cell body keeps wrapping/stacking on top of each other and the row grows exponentially large in the table. Is there a way to do turn this cell into an ellipsis? I tried using cellStyle with textOverflow: ellipsis, but it did not work.

![image](https://user-images.githubusercont

[2019-02-24 17:47] mbrn commented on #257
Hi @vinceliu21 ,

I will try your case asap.

[2019-02-24 18:09] vinceliu21 commented on #257
Thanks! Let me know if you want to see the code I tried or more pictures. Preferably, I would like the rows to stay the same size instead of having one row of data be 3x the size of another because the text in a cell was too long.

[2019-02-24 18:43] bezblue opened #258 "how to get array from Search data"
help me pls
ex.
 data = ['a','b','c']

Search b then get value array to state

[2019-02-25 03:15] ColinKrist commented on #254
I also am facing this issue, I believe it has to do with something regarding the renaming of date-fns'es folders from camelcase to dashed (addDays -> add-days). It doesn't make any sense to me because this library is locked to a certain version of date-fns, so I'm at a loss why this is happening.

[2019-02-25 03:27] ColinKrist commented on #254
I resolved this by manually adding material-table's `date-fns@2.0.0-alpha.16` to my dependencies. I forgot to mention I'm using yarn workspaces in this project, but I feel it has to do with material-table and material-ui-pickers having different date-fns requirements and for some reason npm / yarn isn't handling this properly but that is as much as I can figure out.

[2019-02-25 04:17] duongdev commented on #255
It still works on `@material-ui/core@4.0.0-alpha.0` but doesn't on `4.0.0-alpha.1`

[2019-02-25 04:49] Prasad-YS commented on #67
Thanks a lot

[2019-02-25 15:59] pedroknup opened #259 "Unable to use an array for data other than a constant."
I created my MaterialTable with some static data, everything was great. But when I started to fetch data from api, I'm getting this error:

![image](https://user-images.githubusercontent.com/15652671/53349322-9fc5d500-38fb-11e9-8571-b3efbf100347.png)

Using the same function on example to create an array

`const rows = [
    createData('14:25 21/02', "Delivery", 0, 'Pedro Knup', '(31) 98707-1755',

[2019-02-25 16:27] mbrn commented on #258
Hi @bezblue ,

Can you give us more detail please? Code especially.

[2019-02-25 16:28] mbrn commented on #254
I will try this case asap.

[2019-02-25 16:30] mbrn commented on #259
Hi @pedroknup ,

Can you try this?

call your api in componentDidMount() method and set your data to state. And use it in material-table.

If it is not working still, you can share code.

[2019-02-25 17:33] pedroknup commented on #259
I'm calling my API and setting the state on componentDidMount() already.

My jsx file looks like this

[code]

[2019-02-25 18:55] mbrn commented on #259
@pedroknup ,

Look at this. https://stackblitz.com/edit/react-rpbcta

[2019-02-25 19:23] pedroknup commented on #259
It worked, @mbrn!

First I deleted all unrelated things and I noticed that a dialog (with no relation with 'pedidos') was causing this error.

Then I could render with your fetchData() method you sent me. But again, when I changed to my API response array, I got the same error.

But then I noticed that I was passing an object into each array index, which was causing this error (although before I c

[2019-02-25 19:24] #259 closed

[2019-02-26 08:37] priyankakumari1011 opened #260 "How Can I pass rowData to custom rendered switch's on change method"
I have a custom rendered column in my table. I want to get rowData on change of that switch

![image](https://user-images.githubusercontent.com/41110363/53398671-349a0280-39d0-11e9-8fac-807016a603d6.png)

[2019-02-26 09:47] priyankakumari1011 commented on #260
I got the solution. I can get the rowData in render itself.

[2019-02-26 14:14] Foosballfan commented on #252
I can confirm that the table takes on the application's dark theme

![image](https://user-images.githubusercontent.com/15104463/53418949-c86bce80-39d0-11e9-80ca-2988dfc52add.png)

[2019-02-26 16:56] cwbuecheler commented on #254
Ran into this exact same issue, including the fact that I'm using Yarn Workspaces. I'm using the following Material-UI dependencies, if it helps any:

[code]

I was not able to resolve this by manually adding `date-fns@2.0.0-alpha.16` to my repo, unfortunately.

[2019-02-27 06:23] brittanywang opened #261 "How to adjust the width of the Material Table and how do I make the icons show up?"
Right now my icons are now showing up as shown in screenshot below:
<img width="1318" alt="screen shot 2019-02-26 at 9 02 43 pm" src="https://user-images.githubusercontent.com/35832643/53467237-31236d00-3a0a-11e9-802c-708de7ad25df.png">
would the code simply be:
[code]
I tried doing so, but I got this error:
![image](https://user-images.githubusercontent.com/35832643/53469941-b875de00-3a14-11e9-89

[2019-02-27 06:45] aqib1992 opened #262 "exportable : false for columns ?"
I don't want some of the column to be exportable. Can you provide Something like exportable : false for column ?

[2019-02-27 06:48] brittanywang commented on #261
Is there also a way to disable displaying:
<img width="310" alt="screen shot 2019-02-26 at 10 47 31 pm" src="https://user-images.githubusercontent.com/35832643/53471132-90887980-3a18-11e9-9af6-2329809f77a8.png">

[2019-02-27 19:20] rbeers opened #263 "How can I save state if I transition to another page and then come back"
I would like to click on a detail action to transition to a detail page (different route) and when I come back to the material table I want to keep where I was in my pagination, filters, etc....  Is there a way to do this with material-table?

[2019-02-27 22:12] John0x commented on #19
This would be neat

[2019-02-28 03:36] vinceliu21 commented on #261
I also have a similar question. Is there a way to adjust the width of both the table itself and respective columns of the table?

[2019-02-28 13:27] mbrn commented on #135
This is done with v1.19.0

[2019-02-28 13:27] #135 closed

[2019-02-28 15:09] lasren opened #265 "Responsive table footer"
**Is your feature request related to a problem? Please describe.**
On lower resolution screens & mobile we have table on vertical scroll -> responsive. But pagination is behind the scroll, so it's not responsive. For this reason on mobile resolutions we have all page vertical scroll (because footer text doesn't fit) and datatable scroll (2 vertical scrools on page is bad practice).
Problem screens

[2019-02-28 15:37] timrchavez opened #266 "Keep expanded groups, expanded, when searching"
**Is your feature request related to a problem? Please describe.**
Collapsing expanded groups on search is an awkward experience.

**Describe the solution you'd like**
When searching a table with groups, groups automatically collapse. It would be a better experience if groups that have search results in them are already expanded, to keep them expanded.

[2019-03-01 09:10] yungwiche opened #267 ""No records to display" even when there is data when using version 1.19"
**Describe the bug**
The table shows "No records to display" even when there's data. It seems like the upgrade to 1.19 might have caused this problem. The bug's behavior is the same as another closed issue, which can be found here: [https://github.com/mbrn/material-table/issues/259](url). When I downgraded to version 1.18, the table works as expected.

On closer inspection using Chrome's React Dev

[2019-03-01 14:25] mariolazzari commented on #267
I have the same problem after updating to 1.19.
Previous version is fine with same api calls.

[2019-03-01 15:03] JWLangford commented on #261
@brittanywang for your question about displaying the Rows per page:
`<MaterialTable
  options={{ paging: false }}
/>
`
That did it for me.

[2019-03-01 15:42] xadie commented on #267
same issue here. After mounting it doesn't refresh when data props change

[2019-03-01 15:52] mmind-hub opened #268 "pageSize in the options does not change the number of rows per page"
Hi,

Should i give more options to the MaterialTable so it can show more than five rows ?
I tried pageSize without success.

Thank you

 <MaterialTable
            options={{
              emptyRowsWhenPaging: false,
              pageSize: 10
            }} />

[2019-03-01 22:05] JoshSum opened #269 "TypeError: "tableData" is read-only"
hey i got this error
TypeError: "tableData" is read-only
after link to another page and return to the table page,
any solution?
![image](https://user-images.githubusercontent.com/36181034/53669148-b035d100-3ca8-11e9-93fa-67fd4f68c1ef.png)

[2019-03-01 22:28] brittanywang commented on #261
@JWLangford thank you!

[2019-03-02 16:37] heylenz opened #270 "TypeError: Cannot read property 'isExpanded' of undefined"
**Describe the bug**
When I set the options{"grouping":true} , click on the group name.
```Uncaught TypeError: Cannot read property 'isExpanded' of undefined```

[2019-03-03 15:45] heylenz commented on #270
#271 fixed it!

[2019-03-03 15:47] heylenz opened #272 "Right click menu"
I think it would be a good idea to add a right-click menu.

[2019-03-03 18:12] #260 closed

[2019-03-03 18:12] #252 closed

[2019-03-03 18:13] mbrn commented on #262
Unfortunately we don't have but i will add this feature.

[2019-03-03 18:16] mbrn commented on #263
Hi @rbeers,

Material-table has its own state, so it is uncontrolled component. When component would be unmounted, state is removed from memory. But we can add a feature such as `onStateChanged` & `state` to make material-table controlled component. I will consider this feauture

[2019-03-03 18:16] mbrn commented on #263
We need this feature our own projects.

[2019-03-03 18:18] mbrn commented on #266
Hi @timrchavez ,

Exactly. I will add this feature.

[2019-03-03 18:19] mbrn commented on #268
It seems a new bug after v1.19.0. I will resolve this for next release.

[2019-03-03 18:20] mbrn commented on #269
Hi @JoshSum ,

I will take a look t this.

[2019-03-03 18:24] mbrn commented on #261
To set width of columns use both cellStyle and headerStyle:

[code]

[2019-03-03 18:24] mbrn commented on #261
for table width you can cover table with a `div` that has its own width

[2019-03-03 18:25] mbrn commented on #272
Hi @heylenz ,

For what? Cell clicks

[2019-03-03 19:29] #268 closed

[2019-03-03 19:37] mbrn commented on #270
Thanks @heylenz

[2019-03-03 19:37] #270 closed

[2019-03-03 19:40] mbrn commented on #268
I fixed this with 1.19.1

[2019-03-03 22:07] brittanywang commented on #261
@mbrn thank you for your comments! I am still unable to display the icons. Do you have any suggestions? Currently I'm using:
[code]
Thank you for your time!

[2019-03-03 22:26] cesoftinfo opened #273 "How to get rowData index?"
Is is possible to get rowData index on click?

[2019-03-04 02:17] heylenz commented on #272
When I select a single row or multiple rows, I can right-click on the menu to edit and perform some operations, like excel

[2019-03-04 02:54] jakeleventhal commented on #267
I've created a sandbox that shows how dynamic updates break this.
https://codesandbox.io/s/6zrvx6opww

Installed on the sandbox is v1.18.0 - this works

When upgrading to 1.19.x, it no longer works

[2019-03-04 04:22] brittanywang opened #274 "Displaying icons"
I am unable to display the icons. Does anyone have any suggestions? Do I have to import MaterialUI? Currently I have:
![image](https://user-images.githubusercontent.com/35832643/53710414-f9456c80-3df1-11e9-8d13-6b1403cfb9ee.png)
And I get:
![image](https://user-images.githubusercontent.com/35832643/53710425-05312e80-3df2-11e9-92ff-6eb8cf4d06d3.png)

This was my code:
[code]
Thank you for your time

[2019-03-04 04:24] brittanywang commented on #274
resolved in (#93)

[2019-03-04 04:24] #274 closed

[2019-03-04 04:58] mbrn commented on #261
@brittanywang How did you import icons Search and NextPage

[2019-03-04 05:01] mbrn commented on #273
You can access id of rowData by `rowData.tableData.id`. But this is initial index. It is not index of sorted or filtered data.

[2019-03-04 05:02] mbrn commented on #272
I will consider this. It could be useful.

[2019-03-04 05:07] #267 closed

[2019-03-04 05:10] mbrn commented on #267
I resolved problem. You can upgrade to 1.19.2

[2019-03-04 05:13] #246 closed

[2019-03-04 05:31] mbrn commented on #254
Hi @cwbuecheler , @khwsab

Our project (https://github.com/Digiturk/wface) uses yarn workspaces and lerna too. components module dependent to material-table. And it has a dependency to date-fns@2.0.0-alpha.16. So we don't have any problem with them. Can you check our project please?

[2019-03-04 05:52] #229 closed

[2019-03-04 05:53] mbrn commented on #235
I didn't see any warning with version 1.19.2.

Can you try again please with newest version.

[2019-03-04 05:53] #235 closed

[2019-03-04 05:55] brittanywang commented on #261
@mbrn forgot to close this, resolved in (#93). Many thanks again!

[2019-03-04 05:55] #261 closed

[2019-03-04 06:13] #236 closed

[2019-03-04 06:17] heylenz commented on #272
hi @mbrn ,I found some references, it would be very useful if they could be combined.
https://github.com/fkhadra/react-contexify
https://github.com/valerybugakov/react-selectable-fast

[2019-03-04 06:19] mbrn commented on #238
This is done with v1.19.2

[2019-03-04 06:19] #238 closed

[2019-03-04 11:22] #239 closed

[2019-03-04 11:24] mbrn commented on #245
This is done with 1.19.2

[2019-03-04 11:24] #245 closed

[2019-03-04 11:50] #242 closed

[2019-03-04 12:17] #256 closed

[2019-03-04 12:17] mbrn commented on #256
This is done with v1.19.2

[2019-03-04 12:22] #262 closed

[2019-03-04 12:26] mbrn commented on #269
I moved data manipulations to in another class. so this could be resolved. I will close issue. If occur again you can reopen this.

Try v1.19.2

[2019-03-04 12:26] #269 closed

[2019-03-04 12:27] mbrn commented on #258
No more description

[2019-03-04 12:27] #258 closed

[2019-03-04 12:29] mbrn commented on #255
It is beta. I know many developer who uses material-table in production. So i can not upgrade to beta version of material-ui. But i upgraded to 3.9.2.

[2019-03-04 12:29] #255 closed

[2019-03-04 12:30] mbrn commented on #273
@cesoftinfo ,

If rowData.tableData.id is not enogh for you, please reopen issue.

[2019-03-04 12:30] #273 closed

[2019-03-04 12:31] #226 closed

[2019-03-04 12:44] mbrn commented on #257
Hi @vinceliu21 ,

Can you try this cellStyle

[code]

[2019-03-04 12:44] #257 closed

[2019-03-04 14:31] TimCodes opened #275 "Resizable columnns"
I have a need for columns to be resizable. It's needed in situations where a user wants to customize the way a table looks. Turning the cols on or off is great. This will just add one more way to customize the table look and feel. Also, great for situations where there is a lot of text in one column

[2019-03-04 15:47] mbrn commented on #275
@TimCodes , I will consider this feature

[2019-03-04 16:06] TimCodes commented on #275
Awesome, Thank you

[2019-03-04 16:58] shabeelsyed opened #276 "onSelectionChange is broken"
**Describe the bug**
With latest version 1.19.0, onSelectionChange is not getting fired for check box selections.

**To Reproduce**
Steps to reproduce the behavior:
https://mbrn.github.io/material-table/#/docz-examples-05-example-selection
Second example alert box does not show.

**Expected behavior**
onSelectionChange() should be fired on selection changes.

[2019-03-04 19:44] jakeleventhal opened #277 "Add ability to show summation of value on tree data"
**Is your feature request related to a problem? Please describe.**
There should be a way to show a summation of a value on tree data.

**Describe the solution you'd like**
For example, if there is a table of currency amounts grouped by type, there should be a way to show a total in the group row.

This should also apply to data that is grouped as well.

EX (see screenshot):
<img width="680" alt="s

[2019-03-05 05:18] #276 closed

[2019-03-05 05:22] mbrn commented on #276
This is done. You can use version 1.20.0

[2019-03-05 05:22] mbrn commented on #262
This is done. You can use version 1.20.0

[2019-03-05 05:22] mbrn commented on #242
This is done. You can use version 1.20.0

[2019-03-05 05:22] mbrn commented on #239
This is done. You can use version 1.20.0

[2019-03-05 05:22] mbrn commented on #236
This is done. You can use version 1.20.0

[2019-03-05 05:22] mbrn commented on #229
This is done. You can use version 1.20.0

[2019-03-05 06:20] aqib1992 commented on #262
Thank You @mbrn

[2019-03-05 07:58] mariolazzari opened #278 "Action buttons in table header and clear selection icon"
**Describe the bug**
After upgrading to version 1.20, action buttons in table header losse their postition, as shown in attached screenshot.

I was not able to find into documentation the 'clear selection icon' from 'icons' section. Could you please update documentation?

**To Reproduce**
Steps to reproduce the behavior:
Add one or more free action to data table

**Expected behavior**
Free action

[2019-03-05 08:18] #278 closed

[2019-03-05 08:18] quocbaondvn2000 opened #279 "how use onMouseOver and onMouseLeave in row"
I have a code
Row: props => (
                <MTableBodyRow
                  onMouseOver={() => console.log('show')}
                  onMouseLeave={() => console.log('hide')}
  {...props} />
I want to.. image
![2019-03-06_151550](https://user-images.githubusercontent.com/45376591/53790494-a8508800-3f59-11e9-8887-09e76b3f18bb.jpg)
),
Thanks

[2019-03-05 08:21] mbrn commented on #278
Hi @mariolazzari ,

I fixed it. Try version 1.20.1

[2019-03-05 08:34] #279 closed

[2019-03-05 08:37] mbrn commented on #279
Hi @quocbaondvn2000 ,

Your code has not problem. I fixed problem with Row overriding. You can upgrade to 1.20.2

[2019-03-05 14:21] heylenz opened #280 "Add the column attribute grouping, and add a groupIndex"
Add the column attribute grouping, and add a groupIndex, which can be displayed at the beginning of the rendering.
like:
[code]
if add attrs in column , maybe can remove grouping,
[code]
If you find it woks, I can try to implement this feature.

[2019-03-05 14:51] adriansnep16 opened #281 "set count for pagination"
Hello!
For the custom pagination I'm not able to set the total number of items because the default value is the length of the table data. I'm receiving data from the server page by page(for example 10 rows per page) using "onChangePage" event but the total number of elements is for example 100.  So for custom pagination we cannot use length of the table data as "count" option.

[2019-03-05 15:06] Jak3b0 opened #282 "Is there a way to add debounce for the search?"
Hi,

I would like to add some debouncing for the search because this operation can be costly. Debouncing would allow the logic to run only when the user is not typing anymore.

Is there something built in already for this?

Thank you!

[2019-03-05 16:19] JoeKyy opened #283 "[HOWTO] When mark checkbox row will be highlighted"
How can I make this real?

![image](https://user-images.githubusercontent.com/2018763/53819717-383a0600-3f49-11e9-81e6-651a34942db9.png)

[2019-03-05 16:37] mbrn commented on #280
Hi @heylenz ,

We already have default grouping feature.

Look at the 2nd example at this: https://mbrn.github.io/material-table/#/docz-examples-12-example-grouping

[2019-03-05 16:41] mbrn commented on #281
Hi @adriansnep16 ,

I will take a look at this asap

[2019-03-05 16:42] mbrn commented on #282
Hi @Jak3b0 ,

For large data sets debounce could be effective. I will consider this feature for next releases.

[2019-03-05 16:59] mbrn commented on #283
Look at this:

[code]
![image](https://user-images.githubusercontent.com/7895451/53822611-24aa9180-3f81-11e9-8c72-4830774c6e24.png)

[2019-03-05 17:12] #283 closed

[2019-03-05 18:18] Jak3b0 commented on #282
Great! Glad to hear that :)

Do you have an ETA for next release?

[2019-03-05 18:20] mbrn commented on #282
Actually no. But i am planning to publish a release for this week

[2019-03-06 00:07] heylenz commented on #280
Sorry, I didn't look closely at the full document.

[2019-03-06 00:07] #280 closed

[2019-03-06 01:43] quocbaondvn2000 commented on #283
I Want to change the cell color when moving the mouse to the line.

[2019-03-06 02:02] quocbaondvn2000 opened #284 "I Want to change the cell color when moving the mouse to the line."

[2019-03-06 02:32] JoeKyy commented on #283
Just overide MUI Theme like

[code]

[2019-03-06 04:34] mbrn commented on #284
I want to be sure.

Your event will be onMouseEnter for whole row, then you will change the just one cell's color

am i right?

[2019-03-06 05:05] Maggie199 opened #285 "Glitch of disordered components on page loading"
**Describe the bug**
Material Table has a glitch of distorted components every time when it's being loading, which is very bad UX

**Expected behavior**
It should load smoothly

**Screenshots**
![loading](https://user-images.githubusercontent.com/5753379/53856983-5a537880-3f89-11e9-8229-fb67798e0fd8.gif)

**Desktop (please complete the following information):**
 - OS: MacOS Mojave
 - Browser: Chro

[2019-03-06 05:07] mbrn commented on #285
Hi @Maggie199 ,

How did you load your icons. Did you add a link to your head in html

[2019-03-06 05:12] Maggie199 commented on #285
@mbrn Yes I did, I even tried to make a local copy of it and use the link in my head to see if it will load faster, but it didn't help :(

[2019-03-06 05:19] mbrn commented on #285
I am not sure why it happens. Can you check your file load time from network tab.

[2019-03-06 05:26] Maggie199 commented on #285
@mbrn Looks like the css file is loaded after the main js file. Could it be the cause? Not sure why it only happens to me...

[2019-03-06 05:29] mbrn commented on #285
It can be. which css loaded after main js. And can you share your html code.

[2019-03-06 05:46] Maggie199 commented on #285
@mbrn The html seems to be very large, and I'm not sure what's the best way to share it 😅

[2019-03-06 05:51] mbrn commented on #285
You can check your all css and font file to be load on head section. And add main.js script to end of body.

[2019-03-06 05:56] Maggie199 commented on #285
@mbrn Looks like we use `react-helmet-async` to load assets in head, do you think that could cause the issue here?

[2019-03-06 05:59] mbrn commented on #285
I am not sure how it works. But it's name contains async :)

[2019-03-06 06:37] quocbaondvn2000 commented on #284
Yes, that's right
Can you give me a sample code

[2019-03-06 06:53] quocbaondvn2000 commented on #283
thanks joeKyy

[2019-03-06 06:57] quocbaondvn2000 commented on #283
You can send this table code for my reference
![53819717-383a0600-3f49-11e9-81e6-651a34942db9](https://user-images.githubusercontent.com/45376591/53861797-c4b2fa00-4017-11e9-88a9-d3f8244aa21c.png)

Thanks

[2019-03-06 13:06] JoeKyy commented on #283
Sure

[code]

[2019-03-06 13:55] Jak3b0 commented on #282
In the meantime, do you think there might be a way to work around it?

[2019-03-06 15:45] rbeers opened #286 "CSV export breaks with "#" in data"
Any data that contains "#" breaks the csv export.    Using chrome browser.  I assume # is being used as a break in the data structure.  Is there any way to specify another break character or handle the case for # symbol?

[2019-03-06 16:07] mbrn commented on #282
I think you wont need a debounce. Because today i started to implement remoteData feature that covers all events for server side data management. I will add a debounce to search when remoteData feature is in use.

So just wait a few days to publish it. #64

[2019-03-06 16:17] mbrn commented on #286
Hi @rbeers ,

This bug is about https://github.com/mbrn/filefy . It is my project too. I will look at it asap.

[2019-03-07 04:43] jlubeck commented on #19
Indeed! Any idea when this will be implemented?

[2019-03-07 04:47] mbrn commented on #19
Hi @jlubeck ,

You may know, i always adding new features. But i have limited time for this project. I will do this, but i can't promise for a specific date. I will do this asap.

[2019-03-07 04:50] jlubeck commented on #19
Totally understandable and thank you so much for the hyper fast response!

[2019-03-07 11:33] vijthang61 opened #287 "Issue with multi select in version 1.20.0"
**Describe the bug**

When I do multi select in tree data, if parent row is selected it doesnt select the child row automatically, also when I check all the individual rows it doesnt reflect in select at the column header.

![image](https://user-images.githubusercontent.com/47169215/53954016-f355d100-40fa-11e9-942a-c29ec03d536b.png)

[2019-03-07 11:57] mbrn commented on #287
I will resolve this asap.

[2019-03-07 12:38] fernandes opened #288 "CSV: Export all data instead of current page"
hi @mbrn 👋

I'm trying to figure out, as the title says heheh, export all data to CSV instead of the current page, any tip on this?

I think a possible solution can add a prop to the public API that received a function that process all the data before the export, wdyt?

All the best

[2019-03-07 12:48] arpitalopa opened #289 "CSV export breaks with ',' comma into new cell"
CSV export breaks with ',' comma into new cell

[2019-03-07 13:04] mbrn commented on #288
Hi @fernandes ,

Why not:). I will consider this feature for next releases. If you want you can contribute of course.

[2019-03-07 15:15] brianpdev opened #290 "Table Supports Density and Can Be Made "Dense""
The table supports MaterialUI Density so that it is easy to specify that the table is "Dense". Less white space in the table, preferred for desktop usage.

[2019-03-07 15:52] fernandes commented on #288
hi @mbrn

Yeah, sure, I was just realizing if it was already possible or not, so let's get inside

I've seen that the [exportCsv](https://github.com/mbrn/material-table/blob/b237bb3f5172d9a690671e4c4d8d3818b7256a8e/src/m-table-toolbar.js#L19-L37) function does the job, my idea is _hook_  [here](https://github.com/mbrn/material-table/blob/b237bb3f5172d9a690671e4c4d8d3818b7256a8e/src/m-table-toolbar

[2019-03-07 15:55] mbrn commented on #288
you can set a export funtions on options. Then call it if export function is not null, else it will call current codes.

[2019-03-07 15:57] mbrn commented on #288
Like this:

[code]

[2019-03-07 16:02] fernandes commented on #288
awesome! later today I'm give it a shot, thank you for your reply

[2019-03-07 16:55] angelelizalde21 commented on #263
Hi @mbrn

I have the same problem, I think this is a very necessary feature, I would really appreciate it if you included it

[2019-03-07 21:49] brittanywang opened #291 "Changing style (column width, cell width, etc.)"
- [x] Is there another way to change the column/cell styles?
I tried what was suggested in issue (#261) as in:
[code]
but there are no changes to the width of the columns. I also tried changing the width and maxWidth:1 to see if there were any changes and there weren't:
<img width="1050" alt="screen shot 2019-03-07 at 1 33 47 pm" src="https://user-images.githubusercontent.com/35832643/53990745-d06

[2019-03-08 12:25] #64 closed

[2019-03-08 12:29] mbrn commented on #282
I added debounce to search. You can download 1.21.0

[2019-03-08 12:29] mbrn commented on #64
This is done. You can download 1.21.0.

Try it:

https://mbrn.github.io/material-table/#/docz-examples-14-example-remote-data

[2019-03-08 12:30] mbrn opened #292 "Filter is not working with remote data feature."
Filter is not working with remote data feature.

[2019-03-08 12:31] mbrn commented on #291
Hi @brittanywang ,

I will check this case asap.

[2019-03-08 14:56] roseak commented on #64
Is it possible to sort and filter server side?  Or is it just pagination server side?

[2019-03-08 15:25] mbrn commented on #64
Hi @roseak ,

It supports search, pagination and sort for now. I will add filtering this weekend.

[2019-03-08 15:41] Jak3b0 commented on #282
Great, thanks!

Is there anything to set in order to have the debounce active?

[2019-03-08 16:20] mbrn commented on #282
Yes it work for 200ms by default. We can add a options to set it later.

[2019-03-08 16:25] Jak3b0 commented on #282
Yeah, I had to flush my node_modules folder to have the new version. The debounce is working now.

I've noticed though that when you type in the search field, the text is sometime not rendered right away giving the impression that the grid is laggy. This was not the case with the previous version. Are you able to reproduce on your end?

Thank you by the way to have added this :)

[2019-03-08 17:11] angelelizalde21 opened #293 "How can save pageSize when update some row data"
hi

When i change the pageSize and update some column value from a row, pageSize get the default value again

I would really appreciate a solution

[2019-03-08 17:18] angelelizalde21 opened #294 "Add one row (single) selection mode"
hi

I think it would be great to have the option to select both one and multimples rows

I would appreciate very much if I added this feature

[2019-03-08 18:17] mbrn commented on #282
Ok i will check it.

[2019-03-08 18:31] Jak3b0 commented on #282
I just tested with a production build and, unless I type like crazy, the
speed is good. Sorry about that. 🙂

Jacques

On Fri, Mar 8, 2019, 13:17 Mehmet Baran <notifications@github.com> wrote:

[2019-03-08 20:53] mbrn commented on #293
Hi @angelelizalde21,

I will look at this problem asap

[2019-03-08 20:54] mbrn commented on #294
Hi @angelelizalde21 ,

It already have selection feature.

https://mbrn.github.io/material-table/#/docz-examples-05-example-selection

[2019-03-08 20:55] mbrn commented on #282
:) I will add a options to change debounce period. Its 200ms in default. If you are a crazy you can change it as 100 or 50ms:)

[2019-03-08 20:57] angelelizalde21 commented on #294
if I'm using the selection option, but would I like to have the option to select one row at a time, or some way to just select one?

[2019-03-08 21:02] mbrn commented on #294
You can do it with onRowClick event. It will give you clicked rowData. So you can send a rowStyle to table according to selected row.

If you can not do it let me know. I will add a example about it.

[2019-03-08 23:55] angelelizalde21 commented on #294
I already made the code.
 in fact it works thanks a lot, I hope in a while you could add selection modes (sinlge or mutiple).
for now it works, thanks for the excellent help
greetings.

[2019-03-09 06:35] #294 closed

[2019-03-09 08:07] #292 closed

[2019-03-09 08:08] mbrn commented on #290
Hi @brianpdev ,

I tried something about this. But we use buttons, checkboxes and so. So it could broke some design if we apply this. So won't apply dense. Sorry

[2019-03-09 08:16] #293 closed

[2019-03-09 08:33] #243 closed

[2019-03-09 08:34] mbrn commented on #243
You can use disabledFeature like this: (2nd detailPanel)

[code]

[2019-03-09 08:38] #282 closed

[2019-03-09 08:58] mbrn commented on #289
Hi @arpitalopa ,

Which version do you use?

If you use latest version of material-table. We already fixed this problem. but you should remove node_modules and package-lock.json(or yarn). Then npm install every dependency again.

Because we fixed this problem with filefy@1.7.0 and upgrade material-table to it. Your project may use filefy@1.6.0 still. Please check it.

[2019-03-09 08:58] #289 closed

[2019-03-09 09:00] mbrn commented on #286
Hi @rbeers ,

Which version do you use?

If you use latest version of material-table. We already fixed this problem. but you should remove node_modules and package-lock.json(or yarn). Then npm install every dependency again.

Because we fixed this problem with filefy@1.7.0 and upgrade material-table to it. Your project may use filefy@1.6.0 still. Please check it.

[2019-03-09 09:07] mbrn commented on #292
This is done with v1.22.0

[2019-03-09 09:07] mbrn commented on #293
This is done with v1.22.0

[2019-03-09 09:08] mbrn commented on #243
This is done with v1.22.0

[2019-03-09 09:08] mbrn commented on #282
This is done with v1.22.0

[2019-03-09 19:46] jonasvag opened #295 "Filtering example is broken"
**Describe the bug**
Filtering example is broken

**To Reproduce**
https://mbrn.github.io/material-table/#/docz-examples-06-example-filtering

**Expected behavior**
Filtering works.

[2019-03-09 19:54] jonasvag opened #296 "Fix cell styling issue"
**Describe the bug**
Cell styling example does not work correctly.

**To Reproduce**
https://mbrn.github.io/material-table/#/docz-examples-08-example-cell-styling

**Expected behavior**
Color red applied to one of the cells.

[2019-03-09 19:56] #295 closed

[2019-03-09 20:00] mbrn commented on #295
Thanks @jonasvag ,

I resolved problem. You can upgrade to 1.22.1

[2019-03-09 20:05] jonasvag opened #297 "Examples of how one could add custom HTML components"
**Is your feature request related to a problem? Please describe.**
Please add examples of how one could add custom HTML components to the toolbar (and other as well). I know it is possible to do such things, but the documentation lacks some good examples on how to implement it properly.

**Describe the solution you'd like**
![header](https://user-images.githubusercontent.com/24210048/54076728-247b

[2019-03-09 20:09] #296 closed

[2019-03-09 20:12] mbrn commented on #296
Fixed with 1.22.2

[2019-03-09 20:12] mbrn commented on #297
Hi @jonasvag ,

I will add a example about this. Thanks for advice

[2019-03-09 20:13] jonasvag opened #298 "[Docs] Examples section collapses after clicking on a specific example"
**Describe the bug**
Issue related to docs. Examples section collapses after clicking on a specific example.

**To Reproduce**
1. Go to https://mbrn.github.io/material-table/
2. Click on 'Examples' menu item.
3. Click on one of the available examples.
4. See >> examples section automatically collapses.

**Expected behavior**
It should stay expanded so one could easily navigate between different ex

[2019-03-09 20:16] mbrn commented on #298
You are right @jonasvag. I realized it before but it is about a docz bug:
https://github.com/pedronauck/docz/issues/569

I am waiting them to resolve it.

[2019-03-09 20:26] jonasvag opened #299 "Filtering does not toggle checkbox if pressed on the text"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mbrn.github.io/material-table/#/docz-examples-06-example-filtering
2. Expand 'Birth Place' checkbox filter.
3. Click on the title's text (but NOT on the checkbox itself), for example, 'Istanbul'.
4. See >> it activates filtering, but the checkbox remains unch

[2019-03-09 20:28] mbrn commented on #299
Very strange bug:) Thanks @jonasvag ,

I will resolve it asap.

[2019-03-09 20:31] jonasvag opened #300 "All checkbox filters be checked by default"
**Is your feature request related to a problem? Please describe.**
It would be nice to have an option to mark all checkbox filters as checked by default (on page load). Because now all checkboxes are unchecked by default...

[2019-03-09 20:41] jonasvag opened #301 "Add tabs to the table"
**Describe the solution you'd like**
I would like to be able to add several tabs to the table, as described here:
https://material-ui.com/demos/tabs/
It would be really useful to display well-structured information.

[2019-03-09 20:42] mbrn commented on #301
Why you don't add tables in tabs ?

[2019-03-09 20:58] jonasvag commented on #301
Yeah, it might work.
Thus, I may come back to this later if I find any issue in the future. Thanks.

[2019-03-09 20:58] #301 closed

[2019-03-09 22:20] igloocube opened #302 "Loading indicator not visible with a greater number of rows"
**Is your feature request related to a problem? Please describe.**
Loading indicator (spinner) does not show on the screen when pageSize is of a large size as it is below the bottom of the visible area on the screen.

**Describe the solution you'd like**
Either change it to be aligned to the top not the middle of the table (verticalAlign) by default so it always shows regardless of row count, or a

[2019-03-10 07:06] mbrn commented on #302
Hi @igloocube ,

I will align it to top. You are right. Thanks.

[2019-03-10 20:03] #299 closed

[2019-03-10 20:07] #247 closed

[2019-03-10 20:08] #286 closed

[2019-03-10 20:21] jonasvag commented on #299
Did you test it on docs page?

[2019-03-10 20:40] mbrn commented on #299
I didn't published it yet. I will publish it asap with new version. I think that it is not very urgent bug:)

[2019-03-11 01:45] quocbaondvn2000 opened #303 "How to customize the button in the start position?"
![2019-03-12_084505](https://user-images.githubusercontent.com/45376591/54095460-08bc4b00-43da-11e9-85de-21560ddc46d0.jpg)
thanks

[2019-03-11 01:49] quocbaondvn2000 commented on #303
And I want to be able to format the fixed height of the table
![2019-03-12_084505](https://user-images.githubusercontent.com/45376591/54095573-90a25500-43da-11e9-97f2-2dbfdcce870a.jpg)
Demo: https://codesandbox.io/s/43ml13vq19

[2019-03-11 05:07] mbrn commented on #303
Do you want to add styles to columnsButtons and exportButton?

`And I want to be able to format the fixed height of the table`
Duplicate with #19

[2019-03-11 05:11] #281 closed

[2019-03-11 05:17] mbrn commented on #247
This is done with 1.22.3

[2019-03-11 05:17] mbrn commented on #299
This is done with 1.22.3

[2019-03-11 07:18] quocbaondvn2000 commented on #303
I have followed your instructions
But not working
This is my code

<MaterialTable
          components={{
            Body: props =>
              (
                **<div style={{ height: 200, width: '100%' }}>**
                  <MTableBody {...props} />
                </div>
              ),
          }}
....

/>

A
![2019-03-11_141734](https://user-images.githubusercontent.com/45376591/54106

[2019-03-11 07:18] #303 closed

[2019-03-11 07:58] quocbaondvn2000 commented on #19
Hi @jlubeck
I have followed your instructions
But not working
This is my code
`        <MaterialTable
          components={{
            Body: props =>
              (
                <div style={{ height: 200, width: '100%' }}>
                  <MTableBody {...props} />

                  ),
                  }}
                  ....

          />
`
![2019-03-11_141734](https://user-images.git

[2019-03-11 08:05] Domino987 commented on #222
Why not simply add a delete action and remove the item on click?
`actions={[
                        {
                            icon: () => <Delete color='action' />,
                            onClick: this.archiveOrder,
                            tooltip: localizedStrings.deleteOrder,
                        }
                    ]}`

[2019-03-11 08:23] mbrn commented on #222
I am working on editable features:

![image](https://user-images.githubusercontent.com/7895451/54109563-0ebd2680-43f0-11e9-88aa-a278d5b71c2c.png)

[2019-03-11 09:06] arpitalopa commented on #289
Thanks for your reply.

On Sat, Mar 9, 2019 at 2:28 PM Mehmet Baran <notifications@github.com>
wrote:

[2019-03-11 09:42] rbeers commented on #286
I upgraded to the latest version of material-table, removed node_modules and all lock files, re-installed, and verified filefy@0.1.7 in dependency tree.  The problem still persists for me.  Here is the example I'm using

[code]

CSV exported:
[code]

Chrome Version 72.0.3626.121 (Official Build) (64-bit)

[2019-03-11 09:50] ewerton-azevedo opened #304 "Display html tag on field"
Is there a way to render an HTML tag when displaying field content?

[code]

Data from server:  `<a href= 'https://www.google.com' > Google </a> `

The output on the table: `<a href='https://www.google.com'>Google</a>`

Expected: [Google](https://www.google.com)

Is that a way to render HTML tags this way?

[2019-03-11 11:01] rbeers commented on #286
For solution: see https://github.com/mbrn/filefy/issues/10

[2019-03-11 11:57] mbrn commented on #304
You can use custom render feature.

https://mbrn.github.io/material-table/#/docz-examples-07-example-custom-render

[2019-03-11 12:34] #304 closed

[2019-03-11 14:58] jlubeck commented on #19
@quocbaondvn2000 I don't think that message was for me... and if you are trying to make @mbrn mentioned he would be implementing, well... it's not implemented yet! :D So let's give him some time and wait for his instructions.

Cheers!

[2019-03-11 15:03] Domino987 opened #305 "Stepped Pagination"
Hi
I saw a stepped pagination feature in another table and thought that it might look good for this table as well.
I implemented a proof of concept and would create a PR after polishing, if you like it @mbrn ?
Here is a link to my implementation : [Stepped Pagination](https://github.com/Domino987/material-table/tree/SteppedPagination)
It would look like this:
![image](https://user-images.githubuse

[2019-03-11 16:32] mbrn commented on #305
Easy and useful feature :) I will do

[2019-03-11 22:49] roseak opened #306 "Issue with filtering unchecking using the remote data option"
**Describe the bug**
When using remote data, the filters clear on page load with the new data.  Would be nice to be able to select multiple filters to be sent when remote filtering.

**To Reproduce**
Use server side pagination for data, then try to filter based on lookup. When the data has reloaded, the checkbox is undone.

**Expected behavior**
A clear and concise description of what you expected

[2019-03-11 23:41] roseak opened #307 "Ability to force a data request based on input outside of the table"
When I was doing my own server side pagination, data was based on the state's data, but now that the function to fetch the data is called on render, I'm not sure how to toggle a fetch when inputs are submitted outside of the table that can also be used to filter the data.  Suggestions on how to go about this?

[2019-03-12 04:35] mbrn commented on #307
I will think about.

[2019-03-12 05:17] jjdstr opened #308 "Unexpected behavior when grouping and selection options are both enabled on version > 1.18.0"
**Describe the bug**
With `options={{ selection: true, grouping: true, }}`, there is an unexpected behavior change recently.
On 1.18.0, the selection checkbox works fine without collapsing the groups.
On the newer versions, they will collapse and make it harder to use.

**To Reproduce**
1. Go to https://codesandbox.io/s/j79j586k4w
2. Click on the groups to expand them
3. Click on any of the select

[2019-03-12 12:37] #29 closed

[2019-03-12 12:46] mbrn commented on #29
This is done with 1.23.0

[2019-03-12 12:46] mbrn commented on #222
You can delete rows with editable feature. You will provide a onRowDelete function to delete rows.

https://mbrn.github.io/material-table/#/docz-examples-15-example-editable

[2019-03-12 12:46] #222 closed

[2019-03-12 14:44] mariolazzari opened #309 "Custom actions missing in version 1.23"
**Describe the bug**
After last updates, I loose all my custom actions (both free and row ones). Downgrading to material-table": "^1.22.3" all actions are fine.

I noticed that action section of documentation is affected by this issue.
See hereby attached screenshot (missing circled icon)

![image](https://user-images.githubusercontent.com/26960147/54209193-a0569200-44dd-11e9-9af9-8dff1c23f221.png

[2019-03-12 14:53] rbeers commented on #309
All mine disappeared too.

[2019-03-12 15:22] JoeKyy opened #310 "Add a HTML in emptyDataSourceMessage is possible?"
Hi,

I tried to add some HTML into emptyDataSourceMessage on body but give me a error, is this possible? If is, how?

[code]
ERROR IMG
![image](https://user-images.githubusercontent.com/2018763/54212266-6d9ea080-44c1-11e9-8dca-32ca6f743158.png)

[2019-03-12 16:43] roseak commented on #306
Also noticed that the filter is persistent till you select another filter, but you're unable to uncheck the current filter to just see all the results, so being able to uncheck the filter box would also be 👌

[2019-03-12 19:59] #309 closed

[2019-03-12 20:05] mbrn commented on #309
This is done with 1.23.1

[2019-03-12 20:08] mbrn commented on #310
Can you try `emptyDataSourceMessage: message` NotFound instead of `emptyDataSourceMessage: { messageNotFound }`

[2019-03-12 20:19] JoeKyy commented on #310
ok, now it works, thx

[2019-03-12 20:58] francieleportugal opened #311 "Get Filtered Data"
I'm trying to get the filtered data from the table, but I can't access it. How could I have access to it? I´ve searched in the doc but did not find anything about it.
In react-table I could do something like this:
`this.reactTable.getResolvedState().sortedData;`

It has something similar this react-table function?

[2019-03-12 21:04] real-didi opened #312 "Add onChangeFilter handler"
I've added custom inline editing to the grid and now when I change the filter I want to be able to reset editing row id.

It would be great if we can have onChangeFilter handler as we now already have change handlers for other grid actions. (or maybe I missing something and I can hook up to this event somehow now already)

[2019-03-12 23:38] roseak commented on #307
Not the best of options, but something short term might be having access to triggering a data query based on the toolbar or from free actions.

[2019-03-13 04:49] mbrn commented on #311
Unfortunately. But i will add some functions like this to let users to protect state.

[2019-03-13 04:51] mbrn commented on #312
Sorry @real-didi ,

I didn't understand your requirements. Can you share code or explain with a piece of code?

[2019-03-13 06:19] #308 closed

[2019-03-13 06:21] mbrn commented on #308
This is done with 1.23.2

[2019-03-13 06:22] mbrn commented on #266
This is done with 1.23.2

[2019-03-13 06:23] #266 closed

[2019-03-13 06:25] mbrn commented on #254
I upgraded all date-fns and date picker dependencies. This should be resolved with v1.23.2

[2019-03-13 06:25] #254 closed

[2019-03-13 06:25] mbrn commented on #220
I upgraded all date-fns and date picker dependencies. This should be resolved with v1.23.2

[2019-03-13 06:25] #220 closed

[2019-03-13 09:47] quocbaondvn2000 commented on #19
@mbrn  I did the Add Scroll function.
Can you add it to your project?
thanks
PR: https://github.com/mbrn/material-table/pull/313
![2019-03-13_164715](https://user-images.githubusercontent.com/45376591/54269315-bcc2ff00-45af-11e9-8bab-81ad051026b9.jpg)

[2019-03-13 10:33] mbrn commented on #19
Hi @mbrn ,

Thanks for your contribution. I will review it asap.

[2019-03-13 12:29] revmischa opened #314 "Generic type 'Promise<T>' requires 1 type argument"
Doesn't build with typescript 3

ERROR in [at-loader] ./node_modules/material-table/index.d.ts:12:34
    TS2314: Generic type 'Promise<T>' requires 1 type argument(s).

[2019-03-13 12:32] #314 closed

[2019-03-13 12:35] mbrn commented on #314
Hi @revmischa ,

This is done with 1.23.3

[2019-03-13 12:47] mbrn opened #315 "Add validation to inline edit."

[2019-03-13 12:47] mbrn opened #316 "Add custom field component for inline edit."

[2019-03-13 15:47] timrchavez opened #317 "Actions column should not use `MuiTableCell-paddingCheckbox`"
I would like to control the style of the Actions column independently of the Checkbox column, but that is not easily done since they share `MuiTableCell-paddingCheckbox`. It would be preferable if they used separate classes.

[2019-03-13 16:25] timrchavez opened #318 "Fixed thead, scrollable tbody"
**Is your feature request related to a problem? Please describe.**
There are times when you don't want to use paging, but have more rows than screen real estate. In this case, it would be nice to keep the header in view so the user can maintain context and quickly associate column values with column types.

**Describe the solution you'd like**
It would be nice to be able to keep the `thead` fixed

[2019-03-13 17:08] mbrn commented on #318
I will merge #313 asap.

[2019-03-14 07:02] #310 closed

[2019-03-14 08:41] #47 closed

[2019-03-14 08:43] mbrn commented on #47
This is done with 1.23.4.

[2019-03-14 08:43] mbrn commented on #230
This is done with 1.23.4.

[2019-03-14 08:43] #230 closed

[2019-03-14 08:43] mbrn commented on #265
This is done with 1.23.4.

[2019-03-14 10:17] akharkhonov opened #319 "Typo in index.d.ts"
You have typo in you index.d.ts:
https://github.com/mbrn/material-table/blob/master/index.d.ts#L117

[2019-03-14 10:21] #319 closed

[2019-03-14 10:24] mbrn commented on #319
This is fixed with 1.23.5

[2019-03-14 10:25] akharkhonov commented on #319
Thanks for fast resolving

[2019-03-14 11:42] shabeelsyed opened #320 "Collapsed tree table view on state change"
Im using the latest tree table feature.
During state changes the tree is getting collapsed.
Eg: https://mbrn.github.io/material-table/#/docz-examples-13-example-tree-data
      Select a row after expanding the tree , will collapse the tree to original position.

  Is there any work around to keep it open, or remember last open state ?

Regards
Shabeel

[2019-03-14 11:42] akharkhonov opened #321 "Missing type for icon"
Type for Clear icon are missing in interface Icons
https://github.com/mbrn/material-table/blob/master/index.d.ts#L114

https://github.com/mbrn/material-table/blob/master/src/material-table.js#L689

[2019-03-14 11:49] mbrn commented on #320
Hi @shabeelsyed ,

This is a bug. I will resolve it asap.

[2019-03-14 11:51] #321 closed

[2019-03-14 12:12] #287 closed

[2019-03-14 12:20] mbrn commented on #321
This is done with 1.23.6

[2019-03-14 12:20] mbrn commented on #320
This is done with 1.23.6

[2019-03-14 12:20] mbrn commented on #287
This is done with 1.23.6

[2019-03-14 12:39] shabeelsyed opened #322 "onSelectionChange does not fire for child rows, in tree view."
**Describe the bug**
onSelectionChange does not fire for child rows, in tree view.

**To Reproduce**
https://mbrn.github.io/material-table/#/docz-examples-13-example-tree-data
Debug the code, it fires only for top most rows, not for its children.
onSelectionChange = () => {
    if (this.props.onSelectionChange) {
      const selectedRows = this.state.data.filter(row => row.tableData.checked);

[2019-03-14 12:43] lasren commented on #265
This is not the result I was willing to be, but thanks for that also.

The bad thing, now we have 2 horizontall scroll bars on one table.
Can you put pagination (or in other words table footer) in first scroll bar?
https://i.imgur.com/BQnqDpb.png

[2019-03-14 12:49] mbrn commented on #265
I will try to do better solution for this issue.

[2019-03-14 12:50] akharkhonov opened #323 "Missing type for showTitle prop"
Missing type for showTitle property in interface MaterialTableProps

[2019-03-14 12:51] mbrn commented on #323
@akharkhonov You catched all typescript errors :). I will add it asap.

[2019-03-14 12:52] lasren commented on #265
I have updated my comment before,  for more information.

[2019-03-14 14:25] timrchavez commented on #291
`cellStyle` works for me but `headerStyle` does not appear to be working. When I set `width: '100%'` in `headerStyle`, I expect it to apply `width: 100%` to the header for this column, but I do not believe that's happening.

[2019-03-15 07:35] #323 closed

[2019-03-15 07:57] mmind-hub commented on #268
Thank you !
Working perfectly.

[2019-03-15 09:31] adamszeptycki opened #325 "Hide cell on details show"
Hey, awesome library thanks :)
Is it possible to hide the selected row when showing detail Panel?
I have duplicated data in detailPanel and it doesn't look so great.

[2019-03-15 11:08] mbrn commented on #325
How you will close detail panel if row would be hidden ?

[2019-03-15 11:17] revskill10 opened #326 "Warning: Failed prop type: The prop `value` is marked as required in `FormField`, but its value is `undefined`."
**Describe the bug**
I got the `warning`:

[code]
when click on `Add` new row.

**To Reproduce**
Use the following `editable` config:

[code]

**Expected behavior**
There should be no warning.

**Desktop (please complete the following information):**
 - OS: MacOSX
 - Browser chrome

[2019-03-15 11:24] #326 closed

[2019-03-15 11:24] mbrn commented on #326
Hi @revskill10 ,

I resolved this. But it will be published with next release. Because it is not urgent bug.

[2019-03-15 12:00] revskill10 opened #327 "Error: Editable with Grouping"
**Describe the bug**
The input fields get disabled when using editable with grouping

**To Reproduce**
Using both `editable` and `grouping` in props.

**Expected behavior**

If the table is currently grouped, either disable editable, or revert the group state to non-grouping when clicking on edit icon.

[2019-03-15 12:30] mbrn commented on #327
Hi @revskill10 ,

I will think about it and find a good solution for this case.

[2019-03-15 13:54] adamszeptycki commented on #325
I would have an extra, button in that detail view (which again is in designs).

[2019-03-15 15:55] jakeleventhal opened #328 "Unexpected behavior with header styling"
**Describe the bug**
https://mbrn.github.io/material-table/#/docz-examples-10-example-component-overriding
When trying to apply this to the table header, the cell columns get unaligned

**Screenshots**
Here is my code with a screenshot:
[code]
<img width="1055" alt="Screen Shot 2019-03-15 at 11 54 48 AM" src="https://user-images.githubusercontent.com/15133828/54444497-37f3f480-4719-11e9-9bda-23068

[2019-03-15 16:13] mbrn commented on #325
Ok. I can do this with options flag. HideRowWhenDetailPanelExpanded: true

I will do it asap.

[2019-03-15 16:44] revskill10 opened #329 "Question: How to add count to grouping ?"
Is there any way to add count when grouping ?
We want to display number of aggregated items to the label.

[2019-03-15 16:45] mbrn commented on #328
Hi @jakeleventhal ,

Can you try this instead of it:

[code]

[2019-03-15 16:48] mbrn commented on #329
Adding some summary features to grouping is in my plans. I am planning to features like add count, sum, max, min, avg and so on.

[2019-03-15 18:29] jakeleventhal commented on #328
That works, the docs made it a little hard to infer that this was the correct solution though.

Thanks!

[2019-03-16 13:23] timrchavez commented on #318
Thanks for being so responsive!!

[2019-03-16 14:42] RipFlight commented on #284
I've added this CSS and it did the trick!

[class^="MuiTableRow-root-"]:nth-child(n+2):hover{
    background-color: rgba(255, 192, 203, 0.726);
}
Any other recomendations, thank you.

[2019-03-16 18:42] jakeleventhal opened #331 "Bulk editing"
**Is your feature request related to a problem? Please describe.**
It is very annoying to have to click over and over to edit multiple rows.
There are many examples where users will have to edit each row in a table for user input data.

**Describe the solution you'd like**
There should be a way to open up editing on the entire table for bulk edits with a save and a cancel button.

[2019-03-16 18:59] mbrn commented on #331
Why not:)

[2019-03-17 20:30] talolard opened #332 "Footer And Searchbar render wrong"
**Describe the bug**
Hello,
I'm trying to replace mui-datatable with this library but am unfortunately running into errors. Basically I get this
![image](https://user-images.githubusercontent.com/5352830/54497471-4863c500-48fb-11e9-8666-3c099bdf0233.png)

Where the search bar appears "funny" and the toolbar on the bottom is also "funny".

This is in a pretty big code base so hard to extract a simp

[2019-03-17 20:36] mbrn commented on #332
Hi @talolard ,

Did you add this to your html?

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

[2019-03-17 20:48] talolard commented on #332
Thank you! That solves it

[2019-03-17 20:48] #332 closed

[2019-03-17 21:04] talolard opened #333 "How to filter date column by date range"
Hi,
I'd like to override the default date filtering so that the user can select a start and end date, does the api allow for that and  how would I go about doing that?
Thanks

[2019-03-17 21:07] mbrn commented on #333
Unfortunately. material-table currenty does not have this feature. But i will add this feature asap.

[2019-03-18 03:01] jakeleventhal opened #335 "Paging buttons outside of the table on mobile"
**Describe the bug**
On mobile, the paging extends beyond the table

**Screenshots**
![Mar-17-2019 22-59-13](https://user-images.githubusercontent.com/15133828/54504117-a519ac80-4908-11e9-9b29-40fc25e59c40.gif)

[2019-03-18 05:33] STamil commented on #243
Thanks for your effort on issue #243
But here i need is show and hide the detail panel , but you changed as disable and enable feature
could you include hide and show feature based on condition ?

[2019-03-18 05:37] STamil commented on #243
The same feature i need in selection and
close the opened detailPanel when clicking another row and show detailPanel in a new row.

[2019-03-18 08:00] mbrn commented on #335
This is known bug. I will resolve this asap.

[2019-03-18 08:33] mbrn commented on #9
no need for now.

[2019-03-18 08:33] #9 closed

[2019-03-18 09:26] mbrn commented on #43
no need for now.

[2019-03-18 09:53] #120 closed

[2019-03-18 09:56] #244 closed

[2019-03-18 09:57] #284 closed

[2019-03-18 09:57] #312 closed

[2019-03-18 17:20] cesoftinfo opened #337 "rowData for delete"
How to get rowdata array when selected, for delete?

[2019-03-18 17:24] mbrn commented on #337
You can use onSelectionChange event of table. Look at 2nd example: https://mbrn.github.io/material-table/#/docz-examples-05-example-selection

[2019-03-18 22:12] orestes22 opened #338 "There is a BUG in the "general" checkbox"
**Describe the bug**
After select all the checkbox, the general checkbox is checked, however the selection is off if some state of my class changed.

**To Reproduce**
Im working in the version "^1.23.3".

I create this example, where I added 1 second before change the state in my class, and you will see how the general checkbox will desapear.

https://codesandbox.io/s/lx2v9pn91m

**Expected behavi

[2019-03-19 00:27] jakeleventhal opened #339 "Tree data moves columns around"
**Describe the bug**
With tree data, expanding one column causes other columns to get moved around. It would be a lot better if the second (and other) columns didnt move around during expansion.

Perhaps this is related to not having adjustable/fixed column widths?

**Screenshots**
![Mar-18-2019 20-25-07](https://user-images.githubusercontent.com/15133828/54572084-f8990280-49bb-11e9-8e8d-09f86ca64

[2019-03-19 05:05] #338 closed

[2019-03-19 05:06] mbrn commented on #338
Hi @orestes22 ,

This is very interesting bug:) . I resolved it. It will be in next release.

[2019-03-19 05:23] mbrn commented on #339
Hi @jakeleventhal ,

I know this case. It is about auto width columns. I will resolve it. but firstly i want to make material-table more stable.

Then i can work on visual problems.

[2019-03-19 05:32] #337 closed

[2019-03-19 05:57] mbrn commented on #338
I published. You can download v1.24.0

[2019-03-19 06:19] #305 closed

[2019-03-19 06:50] Domino987 opened #340 "Banded Columns"
Is there a good way to implement banded columns like this: https://devexpress.github.io/devextreme-reactive/react/grid/docs/guides/banded-columns/
or do you want me to try to add this feature into this lib?

[2019-03-19 08:50] eluchsinger commented on #327
Possibly the same issue extends to Tree Data. When I try to edit / delete a child row, the whole table gets disabled.

[2019-03-19 20:53] conext18 commented on #327
Same problem. For actions in a group works perfectly, but for the children not.
![Captura de Tela 2019-03-19 às 17 41 30](https://user-images.githubusercontent.com/48719068/54640968-c47f1980-4a6f-11e9-9ae3-9a55289dea22.png)

[2019-03-20 03:07] hcsgzh commented on #307
Hi @mbrn ,

I am doing my own server-side filter, sort, and search actions too. If you could open an onQueryChange or handleQueryChange function to triggering a data query based on remote data mode. That will give me the ability to use my own filter UI. For the onQueryChange function, I expect an attribute as a current query object and will return a new query object and will triggering a data quer

[2019-03-20 05:20] mbrn commented on #340
I don't know it is useful or not.

[2019-03-20 05:20] mbrn commented on #327
I will look at this issue asap.

[2019-03-20 05:25] mbrn commented on #307
Hi @hcsgzh ,

It already call data (think it as onQueryChange) on every change on table. It is expect data from you.

Additionally you want to return query too. Am i right?

Then i will set your query to table.

[2019-03-20 11:00] Daniel0827 commented on #307
Hi,

What I did as a temporary solution was to have a component that extends MaterialTable. It has a function that calls onQueryChange(this.state.query) and I pass this function in the constructor to one that's received as a prop. Then I can save the reference of that function outside of the component and I can trigger it manually whenever I want.

This stopped working however since withStyles was

[2019-03-20 11:51] #19 closed

[2019-03-20 12:00] mbrn commented on #19
This is done with 1.25.0

It is not perfect solution. But it works.

2nd example at
https://mbrn.github.io/material-table/#/docz-examples-16-example-others

[2019-03-20 12:31] eluchsinger commented on #119
Can we add an example for this? It was hard to find any documentation on this. If you can't do it, maybe I find time for it this week.

[2019-03-20 12:40] mbrn commented on #119
Hi @eluchsinger

Try this:

[code]

[2019-03-20 13:06] FlavyP opened #344 "Footer border not rendered correctly when table with DetailPanel is empty"
**Describe the bug**
When having a table with detailPanel but no records, the bottom border line is not rendered correctly. As far as I looked into, it's from the "colspan" or the fact that MuiTableCell body is thinks has space for all columns except one.

**To Reproduce**
1. Take the example from here: https://mbrn.github.io/material-table/#/docz-examples-11-example-detail-panel
2. Replace data w

[2019-03-20 13:30] #344 closed

[2019-03-20 13:34] mbrn commented on #344
Thanks @FlavyP

I fixed it with version 1.25.1.

[2019-03-20 15:24] orestes22 opened #345 "Issues in the checkBox when you Filter twice"
**Describe the bug**
When you filter by some category and checked the result you got on onSelectionChange the info of row selected, However if you decide left those row checked and filter again, and you checked the result of the new filter, the onSelectionChange only offer the info of the new selected rows, BUT the Material-Table  show all the boxes selected.

Material-Table version 1.24

**Expect

[2019-03-20 15:25] orestes22 commented on #338
Thanks very much for take care so faster!!!

[2019-03-20 16:51] orestes22 commented on #291
Hi, Im not sure if was fixed this, but Im using Material-Table version 1.24

and it works for me. Maybe Im not understanding very well the doubt. (forgive me if that is the case)

Please try to change the style like this:

headerStyle: {width: '50%', backgroundColor: '#ddd', height: 10, textAlign:'center'}

I beleive that only works with inline style, using JS for the style,

I tried others way, a

[2019-03-20 19:15] revskill10 opened #346 "Bug: Grouping with null column"
**Describe the bug**
When grouping with some null cell, error thrown.

[code]

**To Reproduce**
Render `null` on some cells

**Expected behavior**
No error should be thrown, `null` cell should be treated normally.

[2019-03-20 19:23] #346 closed

[2019-03-21 06:28] malix1 opened #347 "Removing select all button from table"
Hello.
How can I remove or disable select all button from table ?

[2019-03-21 06:33] #211 closed

[2019-03-21 06:36] mbrn commented on #211
Action overriding feature added with 1.26.0

Example:
[code]

[2019-03-21 06:39] mbrn commented on #347
Hi @malix1 ,

There is no any option to hide selectAll checkbox from header. If you want, i will be grateful with you PR.

As a workaround you can override header component of table. Look at examples:

https://mbrn.github.io/material-table/#/docz-examples-10-example-component-overriding

[2019-03-21 06:45] mbrn commented on #212
This should be done with latest version.

[2019-03-21 06:45] #212 closed

[2019-03-21 08:52] mariolazzari opened #348 "Undefined rowData on custom action"
**Describe the bug**
After upgrading to version 1.26.0, all my custom actions are not working, because rowData is undefined now.

After downgrading to version 1.25.1 all is working fine,

I tried the online example https://mbrn.github.io/material-table/#/docz-examples-03-example-actions with version 1.26.0 and I had the same issue.

[2019-03-21 09:32] wandrzejczak opened #350 "Editable: edit only selected fields/columns"
Hello,

**Example:**
https://mbrn.github.io/material-table/#/docz-examples-15-example-editable

**Currently:**
When I add Edit option all fields are available to be edited

**Expectation:**
Possible to disable specific columns to avoid editing them.
For example, I'd wish to have the option to disable Birth year/place should not be changed, only Name and Surname should.

Wojtek.

[2019-03-21 10:30] #348 closed

[2019-03-21 10:36] mbrn commented on #348
This is fixed with 1.26.1

[2019-03-21 10:36] mbrn commented on #347
This is done with 1.26.1.

Usage:

[code]

[2019-03-21 10:36] #347 closed

[2019-03-21 10:38] mbrn commented on #350
Hi @wandrzejczak ,

I will add many options to editable feature such as disable, validation, custom component and so on.

I will add all of them asap.

[2019-03-21 10:55] arpitalopa opened #351 "rowData showing empty and detail rows also not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi