[2019-05-20 05:17] gxwheel152 commented on #598
Great - Thanks for taking a look

[2019-05-20 06:12] pwork2015 opened #601 "Add custom styles"
Hi!
Please add option customStyles here:
![изображение](https://user-images.githubusercontent.com/50596432/57999805-5f7f8880-7adf-11e9-9820-731583df8923.png)
style: {
  maxHeight: props.options.maxBodyHeight,
  overflowY: 'auto',
  ...(props.options.customStyles || {}),
 }

[2019-05-20 08:12] Foosballfan commented on #513
For anyone experiencing this issue, here is how I prevented it:

[code]

[2019-05-20 19:00] CatLover94 opened #602 "Displaying Error State for Editable TextFields"
Hi,

Thank you very much for the well-developed component and for your support! Great work!

I am currently making use of the table's editable feature.

When the user edits a cell and clicks on "check" icon button, in onRowUpdate, some validations checks are applied and if the validations fail, all I could do is revert newData with oldData.

However, what I ideally want is to show the user that an

[2019-05-20 21:37] CatLover94 commented on #602
I figured out a workaround:
In onRowUpdate, I am calling this function:

  handleRowEdit = (newData, oldData, resolve, reject) => {
    const data = this.state.rows;
    const index = data.indexOf(oldData);
    const {intl} = this.props;
    let msg = intl.formatMessage(messages.invalidCoordinate);

    let isValidated = this.validateCoordinates(newData.coordinate);
    if (!isValidated) {
      n

[2019-05-20 23:39] jakeleventhal opened #603 "isLoading doesn't work properly"
**Describe the bug**
If you use the isLoading prop in conjunction with data, the table crashes and says the data can't be null

**To Reproduce**
Steps to reproduce the behavior:
1. Make a table with `data={tableDataVar}`
2. Set the isLoading prop to `isLoading={!tableDataVar}`
3. An error appears saying that data must not be null

**Expected behavior**
The error should not appear if the isLoading

[2019-05-21 09:15] YongZhangEmbed opened #604 "Override Checkbox color"
Is it able to override checkbox  color  when selected?
![image](https://user-images.githubusercontent.com/46992381/58083623-dfbdf080-7ba8-11e9-8f76-9b4a2af4da1d.png)

[2019-05-21 13:43] mbwatson commented on #446
I was about to open the same issue--I'm glad I searched first!

For my use case, I would love to filter with a regex pattern. I built out a little working proof-of-concept _without_ material-table (https://mbwatson.github.io/filter/) and non-working prototype with material-table on Code Sandbox to illustrate: (https://codesandbox.io/s/materialtableadvancedfiltering-z9bek).

[2019-05-21 15:55] will-code-for-cash opened #605 "Issue with custom column rendering"
**Issue with custom column rendering - cutting off popover being displayed**

Steps to reproduce
1. Create a column with custom component that includes a popover or menu that can be opened when you click on the cell.
2. Make sure you try this further down the grid to reproduce.
3. Can see popover/menu getting cut off
![image](https://user-images.githubusercontent.com/30115849/58111069-aad18e00-7be

[2019-05-21 17:15] diegosps commented on #604
One way is with a local material theme.

See the last example:
https://material-table.com/#/docs/features/styling

[2019-05-21 18:19] diegosps commented on #515
Thanks @orestes22 for the `data[numberRow].tableData.checked=true`
However, I also needed:
- data[numberRow].tableData.**disabled**=true
This would disable the entire row, including the checkbox
- option to disable the selection count message
It looks really ugly in my theme (bright orange in a dark theme) and draw too much attention.

In the mean time, It's possible to implement your own check co

[2019-05-21 18:31] orestes22 commented on #515
@diegosps  About point 1, it could be a feature and you can open a ticket for that.
The point 2, i already make PR to do that. Just waiting for @mbrn accept the request. https://github.com/mbrn/material-table/pull/596

The point 3 and 5, the answer is yes, You can implement your own checkbox, using the render method in the column, check this example https://material-table.com/#/docs/features/custo

[2019-05-21 20:01] serge20 commented on #597
@mbrn Thanks for the quick reply, is there any ETA on when this will be resolved? It's blocking my team from using it so we're just wondering if we should wait or try to find an alternative library.

[2019-05-21 20:06] brichbe commented on #554
@roseak I'm having the same problem you described - wanting to increase the font size of table cells, but attempting to do that via `rowStyle` is not working.  Did you find any solution using MuiThemeProvider?

[2019-05-21 21:13] roseak commented on #554
Instead of being able to adjust it for all of the columns, you have to add `cellStyle` to each column with the fontSize you want.  Like `{ title: "Name", field: "name", cellStyle: { fontSize: "12px" } }`

[2019-05-21 23:52] samazadi opened #606 "lookup on dynamic data"
I'm trying to create an editable table that lets users edit and select an option from the dropdown.

I see that the examples use the lookup, but how can I use this if I'm retrieving the data from an API and I don't know all the lookup values it can use? For example, I want to get a list of all users from my API, then allow the user to edit and select a different user from the dropdown.

`columns:

[2019-05-22 02:46] priemd commented on #603
Set your state’s data prop to an empty array.  You have a table in your UI expecting it to have data at some point in the form of an array, if the array is empty material-table shows your users a nice no data message which you can also override with localization.  For state expecting an array of values generally I have seen you set it to an empty array with initialState.

[2019-05-22 03:36] YongZhangEmbed commented on #604
Thanks, it helps me to fix this issue

[2019-05-22 03:36] #604 closed

[2019-05-22 08:14] priyankakumari1011 commented on #260
@alyssonmessias  This is how I was doing that (this method was being called inside render)

setColumns = (roles) => {
    this.columns = []
    this.columns.push({ title: 'DeviceId', field: 'id' })
    this.columns.push({ title: 'Device Type', field: 'deviceType' })
    this.columns.push({ title: 'Platform Id', field: 'platformId', hidden: true})
    this.columns.push({ title: 'Primary Owner', fie

[2019-05-22 09:44] pwork2015 opened #607 "How can I dinamically change remote data to local?"
If component uses Remote Data ( data = (query) => { ... } ), then:
when I change it to local data ( data = data ), error: this.props.data is not function

[2019-05-22 12:06] Likurg2010 opened #608 "Reordering columns doesn't work without grouping"
Hi. Reordering of columns feature with drag-n-drop action doesn't work without option grouping=true. Few releases ago this feature worked properly by default, but recently it has just disappeared. Is it a bug or it was decided to refuse from this feature?

[2019-05-22 12:49] natalia-migas opened #609 "Conditional Actions - styling (hidden?)"
Hi,
I would like to completely hide the action button, not only disable it (conditionally).

![image](https://user-images.githubusercontent.com/25534910/58175341-38bc8000-7ca0-11e9-8199-686b4ef6785e.png)

In docs (https://material-table.com/#/docs/features/actions) is written

but there is no changing color example, so I don't know how could I do that. Maybe this could resolve my problem, by chang

[2019-05-22 13:27] saikatstutorial opened #610 "Feature for advance selection"
**options prop properties needed**

`<MaterialTable columns={this.gridColumns} data={this.gridData} options={this.gridOptions} />`

To enable/disable selection checkbox at row level
`this.gridOptions.selectionAllowed = (row) => {}`

To pre-select selection checkbox (instead of manually manipulating tableData.checked) at row level
`this.gridOptions.selected = (row) => {}`

Combination of both shoul

[2019-05-22 14:39] JKrymarys opened #611 "Using remote data, custom filter function is not invoked"
**Describe the bug**
Custom filtering function is not working when table is getting remote data.

**To Reproduce**
Steps to reproduce the behavior:
1. Create table with remote as source of data.
2. Add your own function eg. ` customFilterAndSearch: (term, rowData) => term == rowData.name.length`
3. Try to invoke this filter

**Expected behavior**
I expect function to work. Nothing is happening tho

[2019-05-22 17:38] myang310 opened #612 "Missing Icon on Group Header Chip"
Describe the bug
Chip used in Grouping Functionality is missing up and down arrow icon

To Reproduce
Steps to reproduce the behavior:
Add a column to drag and drop area.

I also set up the icons object that's passed to the prop:
[code]

Expected behavior
Should see Chip with Arrow Upward icon.

Screenshots

![image](https://user-images.githubusercontent.com/9114821/58195702-9350de80-7c96-11e9-8066

[2019-05-22 19:43] orestes22 commented on #537
Hi, @mbrn I created the sandbox, here it is https://codesandbox.io/s/v8xm9j3287 but you have to write your API URL, because reqres.in dont allow the delete.

I still having the same issues when i delete the last element of a page(if that page is > 0) and after that i called the this.state.tableRef.current.onQueryChange();

In the middle of time Im doing this this.state.tableRef.current.onQueryChan

[2019-05-23 02:10] jamesg1 commented on #612
Thanks for this post I didn't want to import all the icons via the link and I couldn't find an easy import statement in the docs.

[2019-05-23 02:38] priemd opened #613 "Selection box in FilterRow"
**Describe the bug**
Why is there a selection box in the filtering row?  Maybe I'm missing something but can't see any value in selecting the filter row.  I never noticed it but one of the first things that came up in front of my users today was 'why is there a selection box in the filtering row'.  Ticky-Tacky but users will be users.

**To Reproduce**
Open a table with filtering and selection ena

[2019-05-23 09:47] tudro opened #615 "Dependent columns"
Hello,

First thank you for your great work :)

I'm interested if it's possible to change the value of a column based on another one. An example: let's say i have 2 columns, A and B, both dropdowns. I would like that the options available in column B change depending on what i select in column A.

I tried using the `editComponent` and `props.rowData`, but this rowData doesn't seem to update accord

[2019-05-23 10:08] tudro commented on #615
I've figured it out. In case anybody is interested: in the `onChange` of my custom select defined for the `editComponent` of column A, i check the selected value and then update the state accordingly for the `lookup` of column B. Maybe no the best solution, but it works for my case :)

[2019-05-23 16:56] myang310 commented on #612
unfortunately, I don't think that their docs include all the icons that they use (for example, arrow_upward)

[2019-05-24 00:47] kkomaz opened #616 "EditComponent: TextField onKeyPress close editable actions"
I have a custom textfield component that will make an update on the row based on enter press (key down).  Is there a way I can close the edit actions when I do?

[code]

## handleOnKeyPress
[code]

[2019-05-24 13:39] behrouz-s opened #617 "I see following warning when I render the page."
Warning: Failed prop type: Invalid prop `children` supplied to `TableCell`, expected a ReactNode.
    in TableCell (created by WithStyles(TableCell))
    in WithStyles(TableCell) (created by MTableCell)
    in MTableCell (created by MTableBodyRow)
    in tr (created by Context.Consumer)
    in TableRow (created by WithStyles(TableRow))
    in WithStyles(TableRow) (created by MTableBodyRow)
    in

[2019-05-24 14:15] behrouz-s opened #618 "How to specify DetailPanel column width?"
Detail Panel's icon is shown in vertical alignment when number of column is more than 8.
![download](https://user-images.githubusercontent.com/1307397/58333792-e8335700-7e46-11e9-8e60-95ed8ec42f27.png)
![download (1)](https://user-images.githubusercontent.com/1307397/58334037-6132ae80-7e47-11e9-9ec9-0ec63d2b4fc9.png)

[2019-05-24 15:53] priemd commented on #590
In the meantime you can override Groupbar component
[code]

[2019-05-24 16:14] timsazon opened #619 "Styling with MuiThemeProvider does not work with @material-ui/core@4.0.0"
**Describe the bug**
Table ignores styling with MuiThemeProvider on @material-ui/core@4.0.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Install @material-ui/core@4.0.0
2. Add MuiThemeProvider with your theme
4. Nothing changes (default theme)

**Expected behavior**
Theme from MuiThemeProvider should be applied.

**Screenshots**
It can be checked out in [the docs example](https://materia

[2019-05-25 16:31] mbrn commented on #597
Hi @serge20 ,

I am very busy nowadays. But i will work for MT after 1june. So i think this issue will be resolved in 10 days.

[2019-05-25 16:32] mbrn commented on #606
Hi @samazadi

You can use editComponent feature. Please look at 3rd example.

[2019-05-25 16:41] mbrn commented on #609
Hi @natalia-migas ,

You can use display:none css but it is not a effective solution. I may apply a better solution something like disabled(hidden)

[2019-05-25 16:42] mbrn commented on #611
Hi @JKrymarys ,

This is normal. It expects filtering should work remotely. You should apply filters in data function.

[2019-05-25 16:42] #611 closed

[2019-05-25 16:45] mbrn commented on #616
Hi @kkomaz

You can call onEditingCanceled function of MT by using tableRef. Please check document. Look at 2nd example to usage of tableRef https://material-table.com/#/docs/features/remote-data

[2019-05-25 16:45] #616 closed

[2019-05-25 16:47] mbrn commented on #590
I will do this asap.

Hey @priemd :) You are a solution guy :)

[2019-05-25 16:47] mbrn commented on #619
I will upgrade it to MT 4.0 asap.

[2019-05-25 22:05] mbrn commented on #546
I checked PR but i think no need for this merge.

[2019-05-26 11:43] #580 closed

[2019-05-26 11:44] mbrn commented on #580
This will be in next release and i will send pr to mui docs with newer version of MT.

[2019-05-26 11:46] oliviertassinari commented on #580
Nice! :)

[2019-05-26 11:51] #590 closed

[2019-05-26 12:24] mbrn commented on #513
This is the solution.

[2019-05-26 12:25] mbrn commented on #518
This is done.

[2019-05-26 12:25] #518 closed

[2019-05-26 18:35] cesoftinfo commented on #571
When I try to delete selected rows, it does remove it from state but selected rows are not being removed from table and selected rows remain selected.
 actions={[
              {
                tooltip: 'Remove All Selected Users',
                icon: 'delete',
                onClick: (evt, data) => {
                  let i;
                  for (i = data.length - 1; i >= 0; i--) {

[2019-05-27 04:48] mbrn commented on #617
Hi @behrouz-s ,

Can you specify the case to reproduce the case? Such as using grouping, filtering or etc.

[2019-05-27 04:50] mbrn commented on #613
Hi @priemd,

If you set lookup for column it will use select instead of a textfield. But if you want to use textfield you can use render function of column instead of giving a lookup. Please check custom render feature on documentation.

[2019-05-27 04:50] #613 closed

[2019-05-27 04:52] mbrn commented on #605
Hi @will-code-for-cash ,

I got similar issue for custom rendering. I solved problem with use a component instead of inline render function.

Do not use like this if you have a popover:
render: rowData => <...>

Use like this:
render: MyComponent

You can access this.props.rowData in MyComponent

[2019-05-27 04:52] #605 closed

[2019-05-27 04:54] mbrn commented on #603
Hi @jakeleventhal ,

This is not a bug. You should set a empty array to data. If you want to loading animation you can use data.length === 0 or use another flag on state.

[2019-05-27 04:54] #603 closed

[2019-05-27 05:06] #597 closed

[2019-05-27 05:11] mbrn commented on #592
Hi @Stetchy

I could not reproduce the case. Can you check it with latest version please?

[2019-05-27 05:15] mbrn commented on #565
Hi @Flash619

I tested it with 10000 rows of data and 1000 per page. But it does not occur. Can you test it with latest version please?

[2019-05-27 05:18] mbrn commented on #590
This should be done with version 1.36.6

[2019-05-27 05:18] mbrn commented on #618
This should be done with version 1.36.6

[2019-05-27 05:18] mbrn commented on #597
This should be done with version 1.36.6

[2019-05-27 07:53] fredbast commented on #546
Hello,

please chek the code of tag v1.19.2 you will see:

handleClickCell = e => {
    const { columnDef, rowData, onClick } = this.props;
    if( columnDef.disableClick || typeof onClick !== 'function') return;
    onClick(e, rowData);
  }

and since tag v1.20.0 :
 handleClickCell = e => {
    if (this.props.columnDef.disableClick) {
      e.stopPropagation();
    }
  }

Regards

[2019-05-27 07:56] fredbast commented on #546
Hello i have added this comment :

« Hello,
please chek the code of tag v1.19.2 you will see:
handleClickCell = e => {
const { columnDef, rowData, onClick } = this.props;
if( columnDef.disableClick || typeof onClick !== 'function') return;
onClick(e, rowData);
}
and since tag v1.20.0 :
handleClickCell = e => {
if (this.props.columnDef.disableClick) {
e.stopPropagation();
}
}
Regards »

Regards
---

[2019-05-27 08:02] mbrn commented on #546
Hi @fredbast

But we never set a onClick to MTableCell after a point.

[2019-05-27 08:08] fredbast commented on #546
Hello this code was Ok but now it doesnt work :

    handleCellValue(props:any)  {
        const myProps = {...props};

        if (myProps.value && myProps.value.idElement) {
            myProps.idelement = myProps.value.idElement
            myProps.onClick= () => {
                this.props.formIdHandler(myProps.idelement)
            }

        }

        if (props.value)  {
            myPro

[2019-05-27 08:14] mbrn commented on #546
Why you don't add a onClick event to your MTableCell content.

I think your idea i adding a link to cell, am i right?

[2019-05-27 08:35] fredbast commented on #546
You are right but i dont understand what tou mean by « add a onClick event to your MTableCell content »

--------------------------------------------------------------
Frédéric Bastide

frederic.bastide@keyword.fr<mailto:frederic.bastide@keyword.fr>
Tél.  : +33 (0)4 67 07 72 00
[logo-keyword-SD-mail]<http://www.keyword.fr/>
--------------------------------------------------------------
Avant d'imp

[2019-05-27 08:45] mbrn commented on #546
I mean why don't use custom render feature instead of overriding Cell component.

https://material-table.com/#/docs/features/custom-column-rendering

[2019-05-27 11:22] VipinJoshi opened #620 "Any way to hide editable fields like onRowAdd row in editable"
I am planning to pass a props showAdd so that I have an option to make it Add option available only when this props is true.

[2019-05-27 11:24] mbrn commented on #620
You can use editComponent feature to customize editable field.

Look at 3rd example: https://material-table.com/#/docs/features/editable

[2019-05-27 11:26] mbrn commented on #620
If you want to add button with a condition:

[code]

[2019-05-27 12:07] VipinJoshi commented on #620
@mbrn Thanks that worked

[2019-05-27 12:27] #620 closed

[2019-05-27 13:24] mbrn commented on #612
Hi @myang310 , @jamesg1 ,

I added to SortArrow to documention. You can override `SortArrow` to fix grouping icon problem.

https://material-table.com/#/docs/all-props

[2019-05-27 13:24] #612 closed

[2019-05-27 13:36] mbrn commented on #610
Hi @saikatstutorial ,

This is done. I added `selectionProps` to options. It will be in next release and documentation

https://material-table.com/#/docs/features/selection

[2019-05-27 13:36] #610 closed

[2019-05-27 14:16] HenryTux commented on #224
Hey @cybermizrach, as @mbrn suggested, I have managed to render a nested table by returning it from a function I'm passing to the detailPanel prop.

However, I'm currently struggling with some styling issues when it comes to rendering the nested table and making it fill the detailPanel container, matching the parent table width, if that makes sense. See the following image:

![image](https://user-

[2019-05-27 19:57] v1nns opened #623 "Overriding Column Header"
Is it possible to override Column Header? I want to override it in order to add an icon button above it. I checked the documentation, but only saw it's possible to override its style and not the component.

[2019-05-27 20:27] mbrn commented on #224
Hi @HenryTux

I tried case but could not reproduce bug that you mentioned. This is my code:

[code]

[2019-05-27 20:33] mbrn commented on #623
Hi @v1nns

You can override Header component but you should implement all header functionalities. But i can show you a trick:

Look at first column
[code]

[2019-05-27 20:41] mbrn commented on #608
This is done with newest version.

[2019-05-27 20:41] #608 closed

[2019-05-27 20:42] #591 closed

[2019-05-27 22:21] jamesg1 commented on #612
Thanks @mbrn I didn't see that as I'm using 1.3.0 due to using an older React version.

[2019-05-28 04:41] mbrn commented on #610
This is done with version 1.37.0

[2019-05-28 04:41] mbrn commented on #619
Upgraded with version 1.37.0

[2019-05-28 04:41] #619 closed

[2019-05-28 04:45] mbrn commented on #623
We already applied react element to title. You can use it in current version without warnings :)

[2019-05-28 04:45] #623 closed

[2019-05-28 04:52] #609 closed

[2019-05-28 04:59] #607 closed

[2019-05-28 05:00] #606 closed

[2019-05-28 05:08] mbrn commented on #602
You can call reject before return when validation fails. So spinner will be disappeared.

[2019-05-28 05:08] #602 closed

[2019-05-28 05:34] zproxy00 commented on #601
Cannot find changes, and "height" doesn't work.
<props.components.Container style={{ position: 'relative', ...props.style }}> - that?
It works not as I need. Need to add properties to style: { maxHeight, overflowY, ...HERE... } as in my screenshot.

[2019-05-28 05:37] pwork2015 commented on #601
Cannot find changes, and "height" doesn't work.
<props.components.Container style={{ position: 'relative', ...props.style }}> - that?
It works not as I need. Need to add properties to style: { maxHeight, overflowY, ...HERE... } as in my screenshot.

[2019-05-28 05:46] mbrn commented on #601
This feautere did not published yet. It will be in next release(tomorrow)

[2019-05-28 08:05] fredbast commented on #546
Hello,

In our context it’s more confortable what i have done…

I don’t understand why you don’t want to add this functionnality for non breaking API.

Regards

--------------------------------------------------------------
Frédéric Bastide

frederic.bastide@keyword.fr<mailto:frederic.bastide@keyword.fr>
Tél.  : +33 (0)4 67 07 72 00
[logo-keyword-SD-mail]<http://www.keyword.fr/>
------------------

[2019-05-28 08:19] mbrn commented on #546
But we never set onClick of a cell. You use it in a if expression, but it will never work.

[2019-05-28 08:22] fredbast commented on #546
please chek the code of tag v1.19.2 you will see:
handleClickCell = e => {
const { columnDef, rowData, onClick } = this.props;
if( columnDef.disableClick || typeof onClick !== 'function') return;
onClick(e, rowData);
}

--------------------------------------------------------------
Frédéric Bastide

frederic.bastide@keyword.fr<mailto:frederic.bastide@keyword.fr>
Tél.  : +33 (0)4 67 07 72 00
[logo-

[2019-05-28 08:22] mbrn commented on #546
Yes there was. But now we don't use it in new versions.

[2019-05-28 08:25] fredbast commented on #546
So for those that use this it s a breaking API…

The code i have sent resolve the « problem » and works…

--------------------------------------------------------------
Frédéric Bastide

frederic.bastide@keyword.fr<mailto:frederic.bastide@keyword.fr>
Tél.  : +33 (0)4 67 07 72 00
[logo-keyword-SD-mail]<http://www.keyword.fr/>
--------------------------------------------------------------
Avant d'im

[2019-05-28 08:27] mbrn commented on #546
Alright. I will check it again with your code.

[2019-05-28 09:13] Neko250 commented on #619
With `material-table@1.37.0`

I'm using `@material-ui/styles/ThemeProvider` instead of `@material-ui/core/styles/MuiThemeProvider`. This is my theme configuration:

[code]

But the table renders like this:

![chrome_MO0hoX3SNH](https://user-images.githubusercontent.com/2650578/58465397-823d1d00-812f-11e9-8b6b-668307bd242f.png)

[2019-05-28 09:25] timsazon commented on #619
@Neko250
It's looks like you have several instances of mui styles.
Try to reinstall node_modules or just run `npm dedupe` (see [duplicated module in node_modules](https://material-ui.com/getting-started/faq/#duplicated-module-in-node-modules)).

[2019-05-28 09:51] Neko250 commented on #619
It worked, thank you ! :tada:

[2019-05-28 11:20] v1nns commented on #623
Hi @mbrn, that's a nice trick, it didn't even cross my mind. Well, thank you for your help!

[2019-05-28 12:04] HenryTux commented on #224
Hey @mbrn, thank you so much for the early response!

I just created a basic React project in codesandbox.io as you suggested. Here is the link
https://codesandbox.io/s/blue-sea-y5plw

If that link happens to be broken, here is the project [y5plw.zip](https://github.com/mbrn/material-table/files/3227498/y5plw.zip)

Anyhow, I still come across with the issue. Check out the sandbox editor preview:

[2019-05-28 12:17] serg-kan opened #625 "Layout breaks in production build (create-react-app)"
**Describe the bug**
I use React 16.8.6, material-ui/core v4.0.1 and material-table v1.36.4. In production build, when I move to a page where material table is being used, all the markup breaks.
After multiple clicks between pages everything becomes ok.
I thought that maybe it happens because of JSS classes

**To Reproduce**
Steps to reproduce the behavior:
1. Use create-react-app -> npm run build

[2019-05-28 12:26] mbrn commented on #224
Try this:

[code]

[2019-05-28 12:27] mbrn commented on #625
To Remember:

In production build after a couple of clicks the problem disappears

[2019-05-28 12:39] lkameya commented on #625
I'm facing the same issue.
React 16.8.6 and Material-UI 4.0.1.

[2019-05-28 13:33] v1nns opened #626 "Disable draggable column header"
Hi @mbrn, I looked the documentation to disable drag'n'drop column header and only found the flag **column.grouping: false**, but had no effect because I'm not grouping any data. How do I disable the draggable feature in column header? I don't wanna permit to change the column order, otherwise it messes with my workaround to freeze a column.

[2019-05-28 13:35] mbrn commented on #626
I can add a columnReordering flag to options for next release.

[2019-05-28 13:46] tudro commented on #615
Hi, sorry, i'm still having problems with this for some cases. For example, if i have column A as dropdown and column B as a text field. Depending on what i select in column A, i would like to automatically fill in column B. Is this possible?

Thank you

[2019-05-28 17:28] DaveBathnes opened #627 "Trigger table with defaultFilter and remote data source"
Hello,

Firstly, great table library! This is saving me a lot of time.

I'm having trouble with the following scenario:

1. In my application I use a remote data source and so have configured remote data as per documentation. I have an API that handles all the filtering/sorting etc.
2. I am using table filters with a few columns acting as drop down filters (using lookup values)
3. I would like to

[2019-05-28 17:56] mbrn commented on #615
if you use editComponent for both A and B you can. You will call onChange of B when value of A changed.

[2019-05-28 17:58] mbrn commented on #627
It should call you data function with initialFilter values. You should filter data on your remote data source. Can you check it please?

[2019-05-28 18:18] DaveBathnes commented on #627
Hi, thank you.

Yes, my data function is fine. It works on filtering except in the case when the defaultFilter is supplied.

The filters array is empty when I pass a defaultFilter to the table.

[2019-05-28 18:56] mbrn commented on #627
It might be a bug. I will check it.

[2019-05-28 19:30] #627 closed

[2019-05-28 19:54] mbrn commented on #625
Hi @serg-kan

I tried this case but it works properly.

I developed a page with appbar and table

My CRA:
"@material-ui/core": "^4.0.1",
"material-table": "^1.37.0",
"react": "^16.8.6",
"react-dom": "^16.8.6",
"react-scripts": "3.0.1"

[2019-05-28 20:04] #598 closed

[2019-05-28 20:05] mbrn commented on #598
I added index parameter to functional rowStyle.

[code]

It will be in next release

[2019-05-28 22:26] sickyoon opened #628 "Including material-table overrides material-ui theme"
**Describe the bug**

material-table loads default material-ui styles again overriding theme styles.

**To Reproduce**

Steps to reproduce the behavior:
1. Create MUI theme and change `theme.typography.fontFamily`
2. Load theme using `MuiThemeProvider`
3. Create React page and ensure theme is applied
4. Create React page with `MaterialTable`
5. Look at developer tools to find typography styles hav

[2019-05-29 03:38] priemd commented on #613
It’s not the actual filter component for columns I’m referring to... I’m wondering why there is a checkbox defaulted to display as the first column in the filter row as it doesn’t need to be there?  No easy way to override either besides copy and paste source minus the line that slices the columns and adds the checkbox

[2019-05-29 04:38] mbrn commented on #609
This is done with version 1.38.0

[2019-05-29 04:38] mbrn commented on #607
This is done with version 1.38.0

[2019-05-29 04:38] mbrn commented on #601
This is done with version 1.38.0

[2019-05-29 04:38] mbrn commented on #627
This is done with version 1.38.0

[2019-05-29 04:38] mbrn commented on #598
This is done with version 1.38.0

[2019-05-29 05:01] CoolCyberBrain opened #629 "Select All Checkbox Spacing"
The select all checkbox seems to have the wrong margins in mui v4

<img width="986" alt="Screen Shot 2019-05-28 at 22 00 29" src="https://user-images.githubusercontent.com/8357970/58530582-0b863b00-8194-11e9-8df5-c475a7abce14.png">

[2019-05-29 05:02] mbrn commented on #628
I tested this but i think this is not MT related case. When you use a muithemeprovider it adds styles of every component that used inside.

This is normal you will see two MuiTypography styles.

[code]

[2019-05-29 05:03] mbrn commented on #629
I saw them. I will take a look asap.

[2019-05-29 05:10] #584 closed

[2019-05-29 05:12] mbrn commented on #584
showFirstLastPageButtons added to options. This will be on next release.

[2019-05-29 05:13] #583 closed

[2019-05-29 05:15] mbrn commented on #599
Hi @IraSkyx

You can increase options.debounceInterval to 500. It is 200 by default.

[2019-05-29 05:15] #599 closed

[2019-05-29 05:15] #538 closed

[2019-05-29 05:17] mbrn commented on #515
Now you can call tableRef.onAllSelected(true)

[2019-05-29 05:17] #515 closed

[2019-05-29 05:51] ismaildervisoglu opened #630 "Redux with Remote Data"
I'm pulling data into the table using redux. It works seamlessly when I send the data directly without paging, but it does not
  {
data: // your data array
  page: // current page number
  totalCount: // total page number
}
I get an error when I try to send it this way.

[2019-05-29 05:56] CoolCyberBrain commented on #629
temporary fix:
[code]

[2019-05-29 06:18] mbrn commented on #630
Hi @ismaildervisoglu

Can you share your table usage code, please?

[2019-05-29 06:26] ismaildervisoglu commented on #630
Table Code:
[code]

Reduce code:

[code]

[2019-05-29 06:28] mbrn commented on #630
What is data that you set to MT?

Actually MT does not care you retrieve data from redux store or state.

[2019-05-29 06:30] ismaildervisoglu commented on #630
userListTableData: {
          data: action.data.resultContainer,
          page: 2,
          totalCount: 100,
        },

[2019-05-29 06:32] mbrn commented on #630
you should give a data array or function that returns a promise. This is not proper way to give data to MT.

Use
data={userListTableData.data}
or
data={query =>
        new Promise((resolve, reject) => {
            resolve(userListTableData
        })
}

[2019-05-29 06:36] ismaildervisoglu commented on #630
Ok. When I give data this way data={userListTableData.data} retrieves the data, but does not get page and totalCount

[2019-05-29 06:37] mbrn commented on #630
Yes. This means MT will manage pagination.

[2019-05-29 06:40] #630 closed

[2019-05-29 06:51] ismaildervisoglu commented on #630
but when I can't get totalCount or page i cannot print the size of the data 16-20 of **TotalCount**

[2019-05-29 07:00] mbrn commented on #630
You must set totalCount. Pagination works according to totalCount

[2019-05-29 07:05] ismaildervisoglu commented on #630
I'm trying to ask you that. How should I give totalCount? I give an error when I give the object I sent to the data in previous messages.

[2019-05-29 07:09] mbrn commented on #630
data={query =>
new Promise((resolve, reject) => {
resolve({
  data: // your data array
  page: // current page number
  totalCount: // total page number
})
}

[2019-05-29 07:28] serg-kan commented on #625
@mbrn with these versions it worked, thank you.
I just changed "material-table": "1.37.0" to "material-table": "^1.37.0", can you please explain why does this changed the behavior?

[2019-05-29 07:31] mbrn commented on #625
it may upgraded to 1.38.0 that i publish a few hours ago :)

[2019-05-29 07:37] ismaildervisoglu commented on #630
When I give data like this:
[code]
It gives an ERROR:

Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

Check the render method of `MaterialTable`.

[2019-05-29 07:40] DaveBathnes commented on #627
Excellent, thank you. Tested, and all is working.

[2019-05-29 08:04] gxwheel152 commented on #598
Good stuff --- thanks for the help.
https://www.3dwrestlerstats.com/d1-hodge-trophy-wrestling-stats

Here's the material-table component I utilize. I swap out the options, data, columns, etc. depending on the type of chart selected. For the Options I spread them out and add in the RowStyling because the data is needed to get the index.

[code]

[2019-05-29 08:05] tudro commented on #615
Thank you for the help, but i can't get it right. How can i access the `props` of B in the `onChange` of A. I mean, when A changes, i have to call the `onChange` of B, but with B's `props`, otherwise i can't update the B field, right?

Thank you

[2019-05-29 08:06] #625 closed

[2019-05-29 08:07] mbrn commented on #630
This is not data related error. Please check your imports

[2019-05-29 08:08] mbrn commented on #598
It looks well

[2019-05-29 08:30] mbrn commented on #615
It tried set props of B to component (this.propsB). But when i call double onChange in for A one of them is not working properly.

So i added onRowDataChange to props of editComponent. This is usage. You can use it for next release. I will publish it tomorrow.

[code]

[2019-05-29 09:29] nelgmo opened #631 "Applying column filter causes TablePagination to go out of range"
**Describe the bug**
Warning: Failed prop type: Material-UI: the page prop of a TablePagination is out of range (0 to 0, but page is 3).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a table with pagination and column filter
2. Fill the table with items resulting in more than one page
2. Go to the last page (with the pagination controls)
3. Apply a column filter resulting in less pa

[2019-05-29 09:30] ismaildervisoglu commented on #630
I found the error MTableCell import give an error. It works when I delete it. How should I import?
import MaterialTable, { MTableCell } from 'material-table';

[2019-05-29 09:42] YuuwakU commented on #584
Thanks a ton, brother! :)

[2019-05-29 09:47] JKrymarys opened #632 "Issue after upgrade to 1.37.0 or 1.38.0"
**Describe the bug**
After upgrade to  1.37.0 or 1.38.0 there is a error:

`
TypeError: Object(...) is not a function
Module../node_modules/@material-ui/pickers/dist/material-ui-pickers.esm.js `

other dependencies in project:

    "@material-ui/core": "3.9.3",
    "@material-ui/icons": "3.0.2",
    "axios": "0.18.0",
    "classnames": "2.2.6",
    "http-proxy-middleware": "0.19.1",
    "material-

[2019-05-29 10:21] mbrn commented on #631
Hi @nelgmo

Thanks for issue. I will take a look at case asap.

[2019-05-29 10:22] mbrn commented on #630
Please check data in console. It should work.

[2019-05-29 10:24] mbrn commented on #584
UWC

Thanks in github means clicking star repository:)

[2019-05-29 10:25] mbrn commented on #632
Can you upgrade @material-ui/core and @material-ui/icons to 4.0.1 please

[2019-05-29 10:27] HenryTux commented on #224
Worked like a charm, thanks a lot for your help @mbrn. Keep up the good work :)

P.S. Consider posting and including this (no longer) issue/example under Features in the website

[2019-05-29 10:34] kaleshasheik opened #633 "Issue with react-beautiful-dnd with material table"
I am getting below error, when my component renders. Any suggestion to resolve ?

The above error occurred in the <DragDropContext> component:
    in DragDropContext (created by MaterialTable)
    in MaterialTable
    in Unknown (created by WithStyles(Component))
    in WithStyles(Component) (created by DashBoardPage)
    in div (created by DashBoardPage)
    in div (created by CardContent)
    in

[2019-05-29 10:35] JKrymarys commented on #632
Is this really necessary? I'd like to avoid this until material-ui v4 will be stable enough

[2019-05-29 10:38] mbrn commented on #633
Upgrade your material-ui/core to 4.0.1

[2019-05-29 10:41] mbrn commented on #632
Actually i resolved same issue with mui 4.0.1. But you are already using MT@1.36.6. It should not require mui4.

[2019-05-29 10:46] ismaildervisoglu commented on #630
I checked the data coming right. But there is a continuous circularprogrees icon in the table.

[2019-05-29 10:48] JKrymarys commented on #632
I agree, but I want to upgrade MT to latest version :) Leaving it at 1.36.6 is just a temp fix.

[2019-05-29 10:53] mbrn commented on #630
Sorry @ismaildervisoglu ,

I could not help you without code. Please check examples in documentation

[2019-05-29 10:54] mbrn commented on #632
No pain, no gain @JKrymarys :)

[2019-05-29 10:56] ismaildervisoglu commented on #630
Table Container:

[code]

Table Component:
[code]

[2019-05-29 10:58] mbrn commented on #630
If you use remote data feature and change data manually, you should call onQueryChange function of table manually after data changes. Please check documentation examples of remote data feature. It has an example of tableRef usage.

[2019-05-29 14:09] iaaltojarvi opened #634 "Empty table with input cells"
Hi,

I am trying to make a table that contains no data (empty table) before the user inputs the data needed. Is that possible with material table? Couldn't figure that out in docs.

[2019-05-29 14:12] dhruuuuuv opened #635 "Disable save button on add row if all fields aren't complete"
Hi,

I was wondering if this functionality exists within the library? I had a look, but I'm not sure it does. I'd like to disable the save button when adding a new row if all the row fields aren't filled out. I hope you can point me in the right direction!

Thank you,

Dhruv

[2019-05-29 14:31] Flixbox opened #636 "Adding a custom render function to the Search icon causes two warnings in the console"
**Describe the bug**
If I add a custom render function to the "Search" icon prop, two warnings will appear in the console.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/embed/blissful-sky-8w5th

**Expected behavior**
The console stays clear of errors.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubuserco

[2019-05-29 15:05] tudro commented on #634
Hello,

Just set `data` empty. Take the `Simple action example` from [here](https://material-table.com/#/docs/features/actions). If you set ```data={[]}``` then you get a table with no data. You can translate the *No records to display* using the `localization` object, check [here](https://material-table.com/#/docs/all-props).

[2019-05-29 15:12] iaaltojarvi commented on #634
Thanks a lot!

[2019-05-29 15:36] YuuwakU commented on #584
Done sir!

[2019-05-29 15:52] loganmcflurry opened #638 "Dynamic height based on parent div"
**Is your feature request related to a problem? Please describe.**
I need to be able to dynamically adjust the height of a table based on the parent / context div's height. It appears as though the hooks exist for dynamic re-sizing vertically (i.e. through the ```vh``` capability in the maxBodyHeight prop) and the functionality is already fully implemented for re-sizing horizontally based on a div

[2019-05-29 16:30] waisbek opened #639 "Unusable checkbox header with filter and selection options true."
**Describe the bug**
Using the table options:
[code]
A checkbox without function appears in the filter row, is it possible remove it?

**Expected behavior**
I expect use the filtering and selection options without the "extra" checkbox in the filter row.

**Screenshots**
Attached screenshot
![image](https://user-images.githubusercontent.com/8702612/58574320-9cfab900-8237-11e9-9bdc-6a25dfff2163.png)

[2019-05-29 17:05] mbrn commented on #635
Hi @dhruuuuuv ,

Currently editable feature does not support for verification. I will add yup to verification asap.

[2019-05-29 17:07] mbrn commented on #636
Hi @Flixbox ,

Thanks for clear issue. I will take a look at this asap.

[2019-05-29 17:08] #634 closed

[2019-05-29 17:08] kwhitley commented on #632
Given that `material-ui` v4 is not 100% backwards compatible with some build chains (including my own), this potentially breaking dep update really classifies this as more of a major version of `material-table`, sadly

[2019-05-29 17:10] mbrn commented on #638
Hi @loganmcflurry

Actually maxBodyHeight is not an effective solution to give a height to body. I tried many ways but only this solution works. You can set only vh or px unit to maxBodyHeight.

[2019-05-29 17:10] #638 closed

[2019-05-29 17:11] kwhitley commented on #632
I found this out today during a demo when an automatic `material-table` bump from `1.36.xx` to `1.38.xx` caused a runtime error in my build (it all stems from the use of "process" in `material-ui` v4, and `fuse-box` build chain mangling that in their own v3)

[2019-05-29 17:11] mbrn commented on #639
I agree with you:). At least someone thinks like me:). I will remove it asap.

[2019-05-29 17:13] mbrn commented on #632
You are right at this case. Do you think that should I change version as 2.0.0 ?

[2019-05-29 19:54] #639 closed

[2019-05-29 20:01] #629 closed

[2019-05-29 20:02] mbrn commented on #592
I guess problem should be resolved. Please reopen if it is not.

[2019-05-29 20:02] #592 closed

[2019-05-29 20:06] mbrn commented on #636
@Flixbox,

This is not a bug. Actually React.forwardRef required after mui4.0.0 upgrade. So if you change you icon usage like this it will be resolved:

icons={{
      Search: React.forwardRef((props, ref) => <div ref={ref}>SRC</div>)
}}

[2019-05-29 20:06] #636 closed

[2019-05-30 04:42] mbrn commented on #584
This is done with version 1.39.0

[2019-05-30 04:42] mbrn commented on #615
This is done with version 1.39.0

[2019-05-30 04:42] mbrn commented on #639
This is done with version 1.39.0

[2019-05-30 04:42] mbrn commented on #629
This is done with version 1.39.0

[2019-05-30 06:47] tudro commented on #632
Is it possible to remove `material-ui v4` from v1.x and put it on v2.x? I have so many errors because many libs don't work ok with `material-ui v4`. Thank you

[2019-05-30 07:06] mbrn commented on #632
I will set version number as 2.0.0 after a few developments. So this problem will be resolved.

[2019-05-30 08:47] SreejithNS commented on #513
`// top of file
import { StylesProvider, createGenerateClassName } from '@material-ui/styles';
const generateClassName = createGenerateClassName({
  productionPrefix: 'mt',
  seed: 'mt'
});

// in component
  return (
    <StylesProvider generateClassName={generateClassName}>
      <MaterialTable
       ...
      />
    </StylesProvider>
  );`

I'm using material-table in many components of my pro

[2019-05-30 11:36] Stetchy commented on #592
Hi @mbrn, sorry for the slow reply - I can confirm it is fixed in the newest version.

[2019-05-30 11:57] feleko opened #640 "Missing documentations to onOrderChange"
I don't find inforamation about porps: onOrderChange and onRowClick in [official page]( https://material-table.com/#/)

[2019-05-30 12:14] kaleshasheik22 commented on #633
Thanks. Above issue got resolved. Facing below issue now. Any suggestion ?

Uncaught TypeError: _this.props.utils.startOfMonth is not a function
    at new Calendar (material-ui-pickers.esm.js?3436:1388)

I have     "material-ui-pickers": "^2.2.4",
 "@material-ui/core": "^4.0.1",

[2019-05-30 12:45] jakeleventhal opened #641 "Formatting issue after 1.39.0"
**Describe the bug**
1.39.0 causes actions to be formatted improperly

**To Reproduce**
Look at second example on the documentation for detail expansion panel

**Expected behavior**
The actions should not go to a new line

**Screenshots**
![Screen Shot 2019-05-30 at 8 43 43 AM](https://user-images.githubusercontent.com/15133828/58633694-31f0c700-82b7-11e9-86f9-b4164562d8e4.png)

**Desktop (please

[2019-05-30 12:50] Foosballfan commented on #472
Strongly in favour of this, will save ~300KB by not bundling material-ui twice.

[2019-05-30 13:36] waisbek commented on #639
Thanks!

[2019-05-30 13:44] waisbek commented on #641
I also can´t change the style using MuiThemeProvider after update to 1.39.0

[2019-05-30 13:57] ismaildervisoglu opened #642 "Is there a way disable circular progress"
I'm using remote data. When the table is empty, progress icon is released. Is there a way to disable this?

[2019-05-30 14:38] Jak3b0 opened #643 "Setting the size of the table"
Hi,

I just upgraded to Material-UI v4 and there is now a `size` property on a `Table` that allows us to change it from `medium` to `small`. This property seems to be missing from `MaterialTable`. Is there a way to set it on the underlying `Table`?

This is causing me some issues since we are using both `Table` and `MaterialTable` and the padding are not the same anymore.

Thank you!

[2019-05-30 15:21] syahidnurrohim opened #644 "Fonts doesnt working and material table breaking the whole element style"
**Describe the bug**
After material table installed and used on a component, it'll break the material-ui style and the fonts is no working, i use material table 1.39.0.

All of the actions is working fine as i expected, but the style of the page is become so weird, transition doesnt works, drawer nav is flexed, top bar background color become white, and many more
Material UI ver 4.0..1

**Screensh

[2019-05-30 15:22] syahidnurrohim commented on #644
But all the actions is working as i expected

[2019-05-30 15:23] mariolazzari commented on #641
Is it possible to specify the detail panel width, in order to avoid new lines in details panel actions? Thanks!

[2019-05-30 15:24] syahidnurrohim commented on #644
Material UI version 4.0.1
React version 16.8.6

[2019-05-30 15:37] chris-stormideas opened #645 "Typo in prop name"
https://github.com/mbrn/material-table/blob/master/src/components/m-table-body-row.js#L19

Will raise a PR later today

[2019-05-30 15:49] rayray93 opened #646 "Warning massages"
**Describe the bug**
Warning massages appears in new versions, before weeks it works without warnings...
Any suggestions ?

**Screenshots**
![Screenshot 2019-05-30 at 18 47 11](https://user-images.githubusercontent.com/39570534/58645264-af462700-830b-11e9-878a-23ca38b1d390.png)

[2019-05-30 17:09] hinsxd commented on #644
Same problem here. Tried in the fresh environment with only material-table installed, renders <MaterialTable /> and same result.

[2019-05-30 17:23] jurcaua commented on #372
Hello! I also need a row-specific edit but a selection-specific delete.
How can I trigger something for a specific row for edit, if I were to create a custom render?
* Granted I do see the value of allowing actions and selection enabled at the same time, as some operations only make sure for a single row rather than batched.

[2019-05-30 17:39] hinsxd opened #647 "[Docs & Types] Importing icons from @material-ui/icons in TypeScript"
Importing icons with the way mentioned in tutorial will raise type errors.

[code]

The correct way should be
[code]

It seems that the type of icons are declared as `Add?: () => React.ReactElement<any>;`, which forces imports to be arrow functions, but the icons are exported from @material-ui/icons as `React.ComponentType<SvgIconProps>`

[2019-05-30 20:04] jurcaua opened #648 "Exception on editing or deleting with multiple row selection enabled"
**Describe the bug**
Cannot edit or delete any items when selection is enabled.

This is because an array is passed into this function but the function expect a single row object:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a table with option "selection" set to true.
2. Provide a edit and delete action (like in: https://material-table.com/#/docs/features/editable).
3. Sele

[2019-05-30 21:31] juanpablolc opened #649 "Missing field searchPlaceholder in localization prop (TypeScript)"
**Describe the bug**
The localization prop does not have the type for the searchPlaceholder field.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the field searchPlaceholder to the localization prop.

**Expected behavior**
The localization prop of the MaterialTable accepts the searchPlaceholder field.

**Screenshots**
![image](https://user-images.githubusercontent.com/32797043/58666092-

[2019-05-31 02:47] syahidnurrohim commented on #644
wow thanks but thats just worked for the icons not for the styles didnt

[2019-05-31 02:56] syahidnurrohim commented on #644
i think the styles problem is resolved by making css to `!important`

[2019-05-31 02:57] syahidnurrohim commented on #644
i think the styles problem is resolved by making css to `!important`
im going to close this issue right now

[2019-05-31 02:57] #644 closed

[2019-05-31 09:12] waisbek commented on #641
Please, forget my comment, now it's working perfectly!

[2019-05-31 09:29] eps1lon commented on #472
@Foosballfan You should be able to avoud this by resolving duplicate entries of `@material-ui/core` in your lockfile.

Bundling `@material-ui/core` twice can cause actual bugs (due to bundling `@material-ui/styles` twice).

[2019-05-31 09:45] Foosballfan commented on #472
@eps1lon So you mean remove this entry within material-table dependencies from the package-lock.json manually?
[code]

[2019-05-31 09:45] MarcelMitzkus commented on #649
After updating the component to the neweset version, my localization is broken because of "searchPlaceHolder".

[2019-05-31 09:47] eps1lon commented on #472
Only if they don't match i.e. if tables requires 3.x then you should also use 3.x. I can't give any guarantees that 3.x and 4.x in the same bundle works.

[2019-05-31 09:49] Foosballfan commented on #472
Ok great, I made sure they matched exactly in the hope that webpack would treeshake better so no problem there.

Feels like a dodgy fix to edit an auto generated file!

Thanks for the tip

[2019-05-31 09:52] eps1lon commented on #472
Well flattening trees is pretty hard so yarn will occasionally miss some optimizations. `yarn check` can help detect those.

[2019-05-31 15:58] Daniel-Yonkov opened #650 "Never editable field with lookup renders key instead of value"
**Describe the bug**
Having the following configuration for a column:
[code]
Upon trying to edit the row, I get the key instead of the lookup value.

**To Reproduce**
Steps to reproduce the behavior:
1. Create columns definition with lookup with hook for `editable` not allowing edit.
2. Click on the Edit row button
3. Value displayed is the **key** instead of the **value**.

**Expected behavior**

[2019-05-31 19:51] diegosps opened #653 "Typography in title causes console error: : <h6> cannot appear as a child of <h6>"
**Describe the bug**
I'm trying to override the font size for the table title, so instead of passing a string, i'm passing a typography with subtitle variant (smaller size).

**To Reproduce**
Steps to reproduce the behavior:
[code]
Results in:

[code]

[code]

**Expected behavior**
When a component is set for title it should not render the first `<h6>` tag

**Desktop (please complete the following

[2019-06-01 02:52] BVH77 commented on #615
After upgrading to version 1.39.0 when start row edit, in browser console it generate warning:
[code]

[2019-06-01 06:32] SreejithNS commented on #648
Iam also facing same problem with selection and editable options.
When I set selection to true, my editables icon moves to selections area and produces an error when trying to edit a single row data

[2019-06-01 10:27] mbrn commented on #640
Actually it has:

![image](https://user-images.githubusercontent.com/7895451/58747232-fc8fd900-8470-11e9-8ec9-1115a3b713ec.png)

[2019-06-01 10:27] #640 closed

[2019-06-01 10:29] mbrn commented on #633
Use @material-ui/pickers instead of material-ui-pickers

[2019-06-01 10:29] #633 closed

[2019-06-01 10:30] mbrn commented on #642
When you resolve or reject promise progress will be disappeared.

[2019-06-01 10:30] #642 closed

[2019-06-01 10:31] mbrn commented on #643
I can add this property to MT.

[2019-06-01 10:31] mbrn commented on #646
I will check it asap. Thanks

[2019-06-01 10:34] mbrn commented on #372
Hi @jurcaua

Just add a new column with render property. And render a button for row. Please look at doc for custom render feature.

[2019-06-01 10:35] mbrn commented on #647
I can change them React.Type. Thanks.

[2019-06-01 10:37] #641 closed

[2019-06-01 10:43] mbrn commented on #653
Hi @diegosps

Actually this is not bug. you can use div instead of Typography to overcome this warning.

[2019-06-01 10:43] #653 closed

[2019-06-01 11:30] jurcaua commented on #372
Hey @mbrn, I got that part, but I am just confused on how to then trigger the edit UI for a specific row within this custom render. Any help would be greatly appreciated 😁

[2019-06-01 12:03] mbrn commented on #648
I will try to find a solution to this case asap

[2019-06-01 12:04] mbrn commented on #372
Try this:

render: rowData => <button onClick={() => // USE ROW DATA HER}>BTN</button>

[2019-06-01 12:22] jurcaua commented on #372
Sorry, there may be a small misunderstanding! I don't think I am explaining well.

When a promise is given to the onRowUpdate key in the editable props of MaterialTable, an edit button appears on each row of the table right?
On click of this button, a special UI is now rendered instead where the current row has all fields editable, and the other rows are greyed out.

My issue right now is that I d

[2019-06-01 12:52] mbrn commented on #372
I got it. I will change behaviour of edit buttons asap. Currentlly there is no solution to this case.

[2019-06-01 13:14] jurcaua commented on #372
Thank you!

Making them behave like the other action buttons, to keep everything with the same syntax, would be best design I imagine. I look forward to seeing how its done :) Thank you so much!

[2019-06-01 17:04] paillave opened #654 "Option for "add" to have a floating action button at the bottom right instead of at the to right"
**Is your feature request related to a problem? Please describe.**
We try to have our application following standards of Material UI, and it seems that the "add" button when the grid is in edit mode is not like most of typical material UI screens.

**Describe the solution you'd like**
What would make it consistent with most common screens with an "add" button would be a floating action button (Fab

[2019-06-01 17:05] paillave commented on #654
I can take care of the development if you want

[2019-06-01 17:25] paillave commented on #630
I understand the solution, but it is far to be simple. I believe that given the fact that redux is one of the most recommended architecture for react, the paging feature should be more "redux friendly". Actually the problem is exactly the same regarding to the editable feature that is 100% not "redux friendly". I can take care of this improvement if you want.

[2019-06-01 22:55] KyriacosP opened #655 "Tree Data get Selected Rows"
![material-tebleTreeData](https://user-images.githubusercontent.com/44581807/58754472-398fb600-84d9-11e9-82ee-068b8e213527.PNG)

onSelectionChange seems to be working wrong here the rows argument contains multiple copies of each row selected although the toolbar count seems to be working fine

[2019-06-02 13:35] AlexandruPavel8 opened #656 "How to style specific cell ?"
I want to style cells that custom validate false (for example value less then zero) in red. All others should remain in default style.

How can i achieve this ?
I tried with
optionsData=
  {
    rowStyle: rowData => ({
      backgroundColor: (rowData.price<0) ? 'red' : 'green'
    })
 }

This will highlight the complete row red. I just want the cells that have condition false to be red.

Can you h

[2019-06-02 20:34] fullmoon6661 commented on #644
What do you have on your "./styles.css" if I may ask. I have similar problem where my material List lay horizontal when I mount material-table

[2019-06-03 00:41] IraSkyx opened #657 "Invalid prop `actions[0]` supplied to `MaterialTable` and fontSize='small'"
**Describe the bug**
Warning: Failed prop type: Invalid prop `actions[0]` supplied to `MaterialTable`.
Can't pass fontSize props when using string icon

**To Reproduce**
Steps to reproduce the behavior:
1. Add actions to Material Table component
Example :
`actions={[
   {
      icon: 'create',
      tooltip: 'Add',
      onClick: (event, rowData) => {
        //Do stuff
      }
   }
]`
2. Instead

[2019-06-03 02:45] ArouiniLobna opened #658 "implement edit/delete action within a menu of the row"
Hello Every one,

I am trying to use material-table within my project, however i am stuck with few features that i need and not sure how to do that using this library.

basically i have rows with data, and in each row i got a menu that pop up edit/delete options. Curently they only show next to each other within action column.

Also, another feature i need is: in a cell, if i dont have data, i nee

[2019-06-03 03:30] fcpauldiaz opened #659 "bootstrap support"
is it possible to use this without material-ui and instead use bootstrap ?

[2019-06-03 05:40] wfaucet commented on #601
Cannot understand how to use it. Where to set style.height, for example? You did not add code where I ask.

[2019-06-03 05:41] pwork2015 commented on #601
Cannot understand how to use it. Where to set style.height, for example? You did not add code where I ask.

[2019-06-03 08:22] VipinJoshi opened #660 "Add text in Actions"
Hi,
I have a requirement to add text just next to the icon in Actions. But I am getting a hover effect because of this class **MuiIconButton** (MuiIconButton-root). For reference please check the attached image. I want to get rid of this hover effect.
![emage1](https://user-images.githubusercontent.com/25978758/58786885-2b8b8380-8606-11e9-8a50-401966dfaf7c.png)

[2019-06-03 09:29] yashSangai opened #661 "Customising PageSizeOption"
Is there any way to load all of the data, irrespective of the page size? I mean, I want no page size on the table and load all of the data.

[2019-06-03 09:43] rayray93 opened #662 "formating date"
Hi there, how to format date ?

for now I have table column type: "datetime"...
but that column dosent format date ? ( it just displaying timestamp )

is there option to format date auto? so i dont need to map thought response and format field values manually?

[2019-06-03 10:50] ismaildervisoglu commented on #642
At first the data is empty, if the user is filtering, I access the data. How do I prevent the progress icon from appearing at first when this data is empty for this scenario?

[2019-06-03 11:37] VipinJoshi commented on #660
I have overridden the theme so It's done

[2019-06-03 11:37] #660 closed

[2019-06-03 15:38] Annderson opened #663 "Leave full width search input and allow to set placeholder"
I'm working on a project, when using the search function, I want to apply certain styles to make the input fill the entire screen, but I can not do that in searchFieldStyle, could you leave the fullWidth open?

I needed the placeholder also been open, to rebeber values, can this be done?

Also TopBar would need it to be more open to changes in its layout, so I realized it does not have a style pro

[2019-06-03 16:29] Eli-Goldberg commented on #116
For us this as well this is super important.
I hope this gets implemented.

@mbrn Thanks all for the hard work, you are all great !

[2019-06-03 18:11] diegosps commented on #653
`title={
        <div>
          <Typography variant="subtitle1">Processos</Typography>
        </div>
      }`

A little bit hacky, but works. Otherwise I would have to style the div itself instead of using the functionality of the `Typography`. Thanks

[2019-06-03 19:11] Jak3b0 commented on #643
Thank you!

[2019-06-03 19:21] kamaral75 opened #664 "Changing column order not updated in Edit mode"
**Describe the bug**
A clear and concise description of what the bug is.

Changing the order of the columns is not showing correctly in editable mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the editable material-table demo [https://material-table.com/#/docs/features/editable](https://material-table.com/#/docs/features/editable)
2. Click on the column headers and drag and drop

[2019-06-03 19:48] eps1lon opened #665 "Publish a build using ESModules"
**Is your feature request related to a problem? Please describe.**
Using `material-table` bundles all of `@material-ui/core` because no build is published using ESModules.

**Describe the solution you'd like**
Transpile the source with `modules: false` and publish that build as well with a `module` entry in your `package.json`

**Describe alternatives you've considered**
Using a fork that is publi

[2019-06-03 21:31] paillave opened #666 "Rows are modified with a new property tableData"
**Describe the bug**
Might be related to #269 as I have exactly the same pb.
When rendering rows in the grid, the property tableData is added to every row. This is a big problem with redux as its state MUST never be changed. Therefore, issue mentioning a readonly property may come from the fact that immutability frameworks like immer lock objects from the state for them not to be amended afterward

[2019-06-04 08:09] VipinJoshi opened #667 "MuiThemeProvider is not working when material version is updated to 4.0.2"
I am using  MuiPaper Paper and MuiIconButton as mention below It was working fine but as we move to material 4.0.2. the theme change is not working.
const theme = createMuiTheme({
  overrides: {
    MuiPaper: {
      root: { backgroundColor: 'blue' },
      elevation2: {
        boxShadow: 'none',
      },
      rounded: {
        borderRadius: 0,
      },
    },
    MuiIconButton: {
      root: {

[2019-06-04 09:56] paillave commented on #666
As it is a big pb at least for me, I am working on it on my branch, if you want I can make a pull request once it's done.

[2019-06-04 11:20] MaxGorshkov opened #668 "new event onColumnsChange"
in continue of #517
**when** can I get list of selected columns in columnsButton?

this event can be fired after each change of visualization columns in mode columnsButton = true

[2019-06-04 11:40] marinsagovac opened #669 "Override editing button"
A code as sample works for me if I want to override buttons of specified type (create, save, cancel), but for existing data I can not override a button with custom material UI. There override only one button instead both for save and cancel (it works on new action, but not on edit action):

How to override a custom button on editing (existing row) ?

[2019-06-04 12:42] Renaud009 opened #670 "Provide ability to customize the component of a specific action"
**Is your feature request related to a problem? Please describe.**
I would like to customize the "add" action component only. Right now, a component can be provided for all actions. We cannot provide a different component for different action or can we ?

**Describe the solution you'd like**
Provide a way to customize specifically the "add" action or any kind of actions. Maybe provide the ability

[2019-06-04 14:24] v1nns commented on #626
Hey @mbrn, sup? Did you take a look at this?

[2019-06-04 15:29] jonesne92 commented on #667
Am also noticing this. Using @material-ui/core version 4.0.2 and material-table version 1.39.0. Whenever a MaterialTable is present on the page, the styling specified in createMuiTheme isn't applied to my components. When I remove the MaterialTable, the styling returns

[2019-06-04 16:23] phillipbritain opened #671 "Overriding filters"
I'm confused on how to implement custom filter components. I understand that I need to do something like this:

[code]

but I'm not sure where to go from here to get a differing custom filters for table columns. Also, once I get the the filters the render correctly I'm assuming that I would use the customFilterAndSearch prop on the columns to allow the custom filters to actually filter the table.

[2019-06-04 17:38] udayreddy opened #672 "Expose Setters for page number"
**Is your feature request related to a problem? Please describe.**
I want to use mouse wheel\scroll to move between pages
**Describe the solution you'd like**
Function props for setPage() or nextPage() \ prevPage().

**Describe alternatives you've considered**
I tried setting the initialPage after initial render but the table does not re-render on that prop change, Which is fine 👍
But I cannot set

[2019-06-04 22:02] canpolatoral opened #673 "User experience of adding new record"
**Is your feature request related to a problem? Please describe.**
In editable mode, if you have 6 records in a table and your page size is 5 and then you decide to add new row, your new record is added at the end of the table. And, you cannot understand that if record is added or not.

**Describe the solution you'd like**
After adding new record, table should navigate to page where the record is

[2019-06-04 22:06] phillipbritain commented on #671
**Solution for anyone with the same question:**
It dawned on me that I should put on my big boy pants and take a look at the source code. From there, the easiest route to go IMO is to take a copy of the m-table-filter-row.js file, paste it into a new file in your code base, make any modifications you need (in my case, swapping out the MUI select component for a react-select component, and referenc

[2019-06-04 22:06] #671 closed

[2019-06-04 22:08] IraSkyx commented on #673
Did you try adding addRowPosition in options props like so ?
`options: {
addRowPosition: 'first'
}`

[2019-06-04 22:22] canpolatoral commented on #673
Yeah, I tried it. When I save the record in database. It goes at the end of table, too. Maybe, I can order data when I retrieve from database but I feel that this solutions are a bit complicated and I didn't like it.

I did another workaround for this problem.
I looked to the source code and I solved my problem in a different way :)
**I do not recommend this solution to anyone :)**

[code]

[2019-06-04 22:35] canpolatoral commented on #673
Also, I checked `addRowPosition: 'first' `prop again.
It adds the new row to the first row of table in editing time, but after you click to check icon to finish, it adds to the end.

[2019-06-04 22:55] canpolatoral commented on #673
Finally, I used `options: { addRowPosition: 'first' }` and retrieved data from db in reverse order.

[2019-06-04 22:55] #673 closed

[2019-06-04 23:24] Kove11 commented on #615
I am also seeing "Warning: Unknown event handler property `onRowDataChange`. It will be ignored." after upgrading to 1.39.0

[2019-06-05 00:45] jakeleventhal opened #674 "Add onRowCancel function on editable tables"
**Is your feature request related to a problem? Please describe.**
I have a custom edit component that is a select dropdown with two options (A, and B)

My current idea is to have a state variable that is `currentRowOption` set to `''` initially. In my editComponent, before returning the select component, I set the state variable to the value of the row, if and only if the state variable is equal

[2019-06-05 01:26] jakeleventhal opened #675 "Conditional detail panel options"
**Is your feature request related to a problem? Please describe.**
I want to be able to do the same thing as here https://github.com/mbrn/material-table/issues/609 as you are able to do for actions with detail panels.

**Describe the solution you'd like**
 I want to conditionally have a detail panel for a row based on the conditions of the row

[2019-06-05 01:28] jakeleventhal commented on #675
Didn't realize there was already a prop for this

[2019-06-05 01:29] RobertLbebber opened #676 "Selection and Actions in the same Table Row"
Allow tables to have rows with both selection Checkboxes and Action Buttons

[2019-06-05 01:30] jakeleventhal commented on #675
There is a way to disabled the panel, but not hide it completely - reopening

[2019-06-05 09:28] yerbol777 commented on #667
I have the same problem, please fix (

[2019-06-05 09:54] PetrovOlexander commented on #531
Any updates on this matter?
The only missing localization is the datepicker.

[2019-06-05 10:01] mbrn commented on #654
Hi @paillave

I think there is no need for development.

1. You can change position of actions columns with options.actionsColumnIndex. Please look at example at https://material-table.com/#/docs/features/actions
2. You can override icons with Icons.Add. Please look at list of icons from https://material-table.com/#/docs/all-props

[2019-06-05 10:03] mbrn commented on #630
Hi @paillave

Any contribution is apprepriatable:). MT is controlled component for paging. If you want to make it uncontrolled you can override the paging component.

[2019-06-05 10:04] paillave commented on #654
You might be right indeed. I'll see if I can have a Fab button there.

[2019-06-05 10:07] mbrn commented on #655
Hi @KyriacosP

Thanks for issue. This is a bug. I will resolve this problem asap.

[2019-06-05 10:10] mbrn commented on #656
Hi @AlexandruPavel8

You can use cellStyle inside you column definition.

{
title: 'title',
field: 'field',
cellStyle: rowData => ({ // your style. })
}

[2019-06-05 10:10] #656 closed

[2019-06-05 10:12] mbrn commented on #644
Hi @fullmoon6661 ,

It seems there is a problem with MT and mui4.0 styles. I will resolve this problem asap. Thanks.

[2019-06-05 10:14] mbrn commented on #657
Hi @IraSkyx

Thanks for clear description. I will resolve this problem asap.

[2019-06-05 10:30] mbrn commented on #658
Hi @ArouiniLobna

You can use custom render feature for both menu and edit component.

[2019-06-05 10:31] mbrn commented on #659
Hi @fcpauldiaz ,

This table component is developed based on material-ui components. So it would be hard to convert it. If i have time i can reimplement it with Bootstrap but you can see i dont have time :)

[2019-06-05 10:31] #659 closed

[2019-06-05 10:33] mbrn commented on #601
<MaterialTable
      style={{padding: 20}}
...
/>

[2019-06-05 10:35] mbrn commented on #661
just give array of your data to data field of component:

https://material-table.com/#/docs/features/search

[2019-06-05 10:35] #661 closed

[2019-06-05 10:37] mbrn commented on #662
Hi @rayray93

You can use type: 'date', If you want a custom solution you can use custom render feature.

[2019-06-05 10:37] #662 closed

[2019-06-05 10:38] mbrn commented on #642
Just call reject for first call of data function. You can track your first call with an flag or counter.

[2019-06-05 10:40] mbrn commented on #663
Hi @Annderson

You can override the toolbar according to your needs. Please check docs : https://material-table.com/#/docs/features/component-overriding

If you have any problem please feel comfort to access me.

[2019-06-05 10:40] #663 closed

[2019-06-05 10:42] mbrn commented on #116
Hi @Eli-Goldberg ,

I will apply many more features on table. But nowadays i am very busy and i can reply help-request issues in my limited time. Thanks for your patience

[2019-06-05 10:43] yashSangai commented on #661
I didn't understand. I am talking about the page size that comes on the table toolbar which is by default 5, I don't want that. If for example I have 50 rows of data then it should load all of it rather than just 5 (Default Page Size). How would I do that?

[2019-06-05 10:43] mbrn commented on #664
Hi @kamaral75

It seems there is a but within edit row component. I will resolve it asap. Thanks.

[2019-06-05 10:46] mbrn commented on #665
I will check this asap.

[2019-06-05 10:49] mbrn commented on #666
Hi @paillave ,

MT tracks many changes on rows and columns. So i had to change rows and columns. But we may try to add a flag to options make rows and columns immutable. But many features will not work. I am not sure to do this.

[2019-06-05 10:50] mbrn commented on #668
Currently there is no event for columns changed. But i can add it asap.

[2019-06-05 10:51] paillave commented on #666
I am working on a solution, I'll make a pull request once it is done. It is an amendment this will require a lot of tests as this property is really used a lot.

[2019-06-05 10:52] mbrn commented on #661
Try this:

<MaterialTable
options={{
pageSize: 50,
pageSizeOptions: [50, 100, 200]
}}
/>

[2019-06-05 10:52] MaxGorshkov commented on #668
it will be great!

[2019-06-05 10:53] yashSangai commented on #661
Oh it worked! Thanks for the help.

[2019-06-05 10:56] MaxGorshkov commented on #43
+1 to this request

[2019-06-05 10:59] mbrn commented on #669
You can use privProps.action for your condition:

[code]

[2019-06-05 11:01] mbrn commented on #670
Hi @Renaud009

Try this

[code]

[2019-06-05 11:02] mbrn commented on #666
Of course. I can check it after completed.

[2019-06-05 11:04] mbrn commented on #626
Hi @v1nns

I am not at work and can not work at village. This is Feast of Ramadan days for muslims:). Thanks for patience

[2019-06-05 11:08] mbrn commented on #672
Hi @udayreddy

You can call onChangePage of MT with tableRef. tableRef.onChangePage(null, 2)

Please check documentation:
2nd example uses tableRef:
https://material-table.com/#/docs/features/remote-data

[2019-06-05 11:08] #672 closed

[2019-06-05 11:19] mbrn commented on #676
Hi @RobertLbebber

This feature requested by others many times. Firstly i advise them to using custom render feature. But i decided to add this feature asap.

[2019-06-05 11:21] mbrn commented on #675
I can add hidden field to detailPanel asap.

[2019-06-05 11:21] mbrn commented on #667
It seems there is a problem with styles of mui and MT. I will take a look asap.

[2019-06-05 11:22] mbrn commented on #531
unfortunately. I will take a look at it asap.

[2019-06-05 12:10] marinsagovac commented on #669
But override a buttons? I ended with that way... I've extends `MTableAction` it will **wrap** and can't change to button of material-ui components.

[code]

[2019-06-05 12:25] mbrn commented on #669
You should put your code in if cluase. Not else cluase

[2019-06-05 12:29] YouriT opened #677 "Failed propType for Tooltip"
**Describe the bug**
Warning popping up in the console (on 1.39 and MUI 4.0.1):
[code]

**To Reproduce**

Steps to reproduce the behavior:
1.
[code]
2. Navigate to it
3. See the error in the console

**Expected behavior**
Not having the message showing up

**Desktop (please complete the following information):**
 - OS: Mac
 - Browser Chrome
 - Version 74.0.3729.169

[2019-06-05 14:08] Michael-Roussel commented on #116
+ 1 Multi-sort is also important for us. Great work.

[2019-06-05 14:21] Annderson opened #678 "Allow search field to be full width"

[2019-06-05 15:21] teamtechalpha opened #679 "Is there a way to keep column hidden but still have its filters shown?"
We saw that searchable property allows for columns to be searched even when hidden but is it also true for remote data?

Is there a way to let users select filters while keeping the column hidden?

Thanks for your input and great work.

[2019-06-05 15:57] Wragdan opened #680 "Warning: Unknown event handler property `onRowDataChange`. It will be ignored."
**Describe the bug**
When allowing editing on a table and clicking on the edit button, I get the following warning: `Warning: Unknown event handler property `onRowDataChange`. It will be ignored.`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a MaterialTable component
2. Add prop editable
3. On prop editable, and onRowUpdate action
4. On the browser, click on edit row
5. [Bug]: Warn

[2019-06-05 16:12] kamaral75 commented on #680
+1 I ran into the same warning message in editable mode

[2019-06-05 17:41] BVH77 commented on #680
Was reported here: #615

[2019-06-05 18:22] thetw commented on #667
I'm unfortunately facing the same problem. While using the MUI ThemeProvider the Material Table seems to apply its own styles to the html head and overrides for instance my custom typography settings, which causes a visual mess on the page. Would be glad if this issue can have some prio, because it makes Material Table unusable for now, which is very sad.

[2019-06-05 19:07] v1nns commented on #626
Ooops, sorry @mbrn, I had no idea about that. I wish a happy Ramadan Feast to you.

[2019-06-05 19:56] azaidi4 commented on #503
Hi @mbrn. Has this feature been implemented?

[2019-06-05 19:57] Wragdan commented on #680
@BVH77 You are right, I'll close this issue then.

[2019-06-05 19:58] #680 closed

[2019-06-05 20:03] jakeleventhal commented on #674
I found a way to do this using material tables props that gets passed into the onedit function.

I still think this would be useful

[2019-06-05 20:25] phillipbritain opened #681 "Components section of Props documentation has incorrect info"
FilterRow has 2 entries (above and below Groupbar entry). Groupbar has MTableFilterRow listed as its default component (and description). Should be MTableGroupbar.

[2019-06-05 20:30] jakeleventhal opened #682 "Need to be able to disable the confirm button when editing"
**Is your feature request related to a problem? Please describe.**
When editing, there needs to be a way to disable the confirm button - for instance if you don't want the user to input something empty - or meet some other criteria - for a certain column

**Describe the solution you'd like**
A function to provide the conditions in which the confirm button should be disabled

[2019-06-06 00:51] baoduy opened #683 "Migrate date-fns to Dayjs"
I would recommend to use Dayjs for date formatting and operating as this is a smalled library which offers the functionality similar to moment.

https://bundlephobia.com/result?p=dayjs@1.8.14

Thanks.

[2019-06-06 00:58] jakeleventhal opened #684 "Need to be able to disable/conditionally render the edit/delete buttons"
**Is your feature request related to a problem? Please describe.**
Some rows you may want the user to not be able to delete or edit.

**Describe the solution you'd like**
There should be a function that lets you specify the conditions in which a row can be editable/deletable

[2019-06-06 01:25] swathisainadh commented on #631
Hi,
Even I am experiencing the same issue. Wondering if we have any ETA on this.

Thanks.

[2019-06-06 01:30] quocbaondvn2000 opened #685 "how to custom search in toolbar"
I want to turn off automatic search. Instead, The search will start when you press enter
![2019-06-06_082940](https://user-images.githubusercontent.com/45376591/59000575-48f26480-8835-11e9-8a58-ba7656bf6e96.jpg)

Thanks.

[2019-06-06 05:36] pwork2015 commented on #601
It works not as we need. I still cannot set style of inner div.
This

style: {
     maxHeight: props.options.maxBodyHeight,
     overflowY: 'auto'
 }

is not editable, but it must be editable..

[2019-06-06 10:06] JKrymarys commented on #43
+1 :)

[2019-06-06 10:10] rnacken opened #686 "'Select all' also selects disabled checkboxes / rows"
**Describe the bug**
A disabled checkbox can't be checked normally, but when you click 'select all', the disabled checkboxes are selected. The header bar indicates the selected rows as well.

**To Reproduce**
Add
'selection: true', and something like
[code]
Click the 'select all'.

**Expected behavior**
Disabled rows can never be selected, not on checkbox-click, and not with 'select all'

**Screen

[2019-06-06 11:52] JKrymarys commented on #43
@all
Any workarounds in the meantime?

[2019-06-06 12:02] AugustoCalaca commented on #615
This problem remains though upgrading to version 1.39.0

[2019-06-06 12:33] rnacken commented on #636
@mbrn I know this is not a bug, and the issue is closed - but I ran into this and could not fix it with your proposed solution. So I figured it may be valuable to give more detail on your fix.
I tried this (typescript):
[code]
But the error still shows up. Any idea what I did wrong? I thought this is your solution.

[2019-06-06 13:08] MohitKS5 commented on #625
Just in case anyone stumbles here, it works only with exact set of versions as mentioned by @mbrn. Tried with  "material-table": "^1.39.0" failed, "material-table": "^1.37.0" failed , even altering material core version "@material-ui/core": "^3.9.x" fails !

[2019-06-06 13:31] TheWoodStudio opened #687 "Prevent row fields from resetting on custom validation."
I'm making my own validation when adding a new row, so it avoids creating a new one with any missing fields. The thing is I'm trying to prevent the creation but I want the row not to close, instead keeping it in it's editable state, with the data the user wrote, so it's not lost.
I kinda resolved keeping the row editable, but when it validated the fields, all the data the user entered resets.
This

[2019-06-06 16:44] jaydeep987 commented on #667
Horrible bug. All styles overriden/replaced/gone after using MT. Blocker issue. After removing MT from page, everything works fine. Wasted few hours with this.
Please fix ASAP, we appreciate in advance!
Using `material-ui^4.0.2`

[2019-06-06 16:48] jaydeep987 commented on #667
EDIT:
Works find with MT `v1.38.0`.
Wish someone fix in new version.

[2019-06-06 16:53] ahboujelben opened #688 "Change the style of body.editRow.deleteText"
Hello,

First, thank you for this very useful library -I've been using it for a while and it's obvious a lot of work and thought has been put into it

I'm just trying to customise few things and I realised I couldn't change the colour/size of the text that appears when a row is about to be deleted ("Are you sure delete this row?" by default). I'm wondering if there is a way to change the style of

[2019-06-06 18:39] jakeleventhal opened #689 "Editing does not go away if "editable" value changes"
**Describe the bug**
I have onRowEdit as a conditional function that is altered via a state variable (when i press the enter button). When i click my edit button, the edit option becomes available. Then when I try to edit a row, then click the discard button, the field is still editable and If i try to click save, the app crashes.

**To Reproduce**
Watch GIF below

**Expected behavior**
When the e

[2019-06-06 19:18] jakeleventhal opened #690 "Ability to change whether or not a column is editable based on conditions of the row"
**Is your feature request related to a problem? Please describe.**
Right now, the current options for the editable prop on a column are 'always' 'never' 'onUpdate' 'onAdd'. There should be another option that lets you specify a function to determine the value based on the row.

**Describe the solution you'd like**
A function that lets you determine if a column is editable based on the data in the

[2019-06-07 01:59] AugustoCalaca commented on #686
+1

[2019-06-07 07:08] thebriando opened #691 "Adding spanning rows?"
Is there a way to add spanning rows in a table to generate things like total/subtotal like in here? https://material-ui.com/components/tables/#spanning-table

[2019-06-07 09:16] thebriando commented on #27
Any progress?

[2019-06-07 20:38] ulrezaj commented on #674
@jakeleventhal Can you post an example of how you got it to work please?

[2019-06-07 20:43] orestes22 commented on #537
Hi, @mbrn any comment about this.
Regards

[2019-06-07 22:16] jakeleventhal commented on #674
What i did was not use a state variable and instead use the supplied props on change function like this
[code]

This works, but for something more detailed, the onRowCancel would be really helpful.

[2019-06-07 23:21] catalinleca opened #692 "Different data structure than column"
Hey! I am new to material table and I have a little problem.
So, if my column are like

  private columns = [
    {title: 'Title', field: 'title'},
    {title: 'Task Status', field: 'taskStatus'},
  ]
 then my data is like
data={[
          { title: 'Nice Title', taskStatus: 'Done' },
          { title: 'Nice Title', taskStatus: 'Done' },
        ]}

Can I use data with more properties than define

[2019-06-08 11:17] mbrn commented on #678
Hi @Annderson

You can override the toolbar to change search fields' behaviour.

[2019-06-08 11:17] mbrn commented on #678
I can add this feature later.

[2019-06-08 11:21] mbrn commented on #679
You can implement searhcing in your remote data source.

Showing filters is not possible when column is hidden. But you can set render to your column definition to hide data.

[2019-06-08 11:23] mbrn commented on #503
Not yet. But i will

[2019-06-08 11:25] mbrn commented on #683
I will take a look at it.

[2019-06-08 11:26] mbrn commented on #684
Hi @jakeleventhal

Actually i did this. Please check documentation:

https://material-table.com/#/docs/features/editable

[2019-06-08 11:28] mbrn commented on #685
i can add this feature. Thanks.

[2019-06-08 11:33] mbrn commented on #636
Can you try this:

[code]

[2019-06-08 11:36] mbrn commented on #687
You can call reject of promise to cancel process.

[2019-06-08 11:36] #687 closed

[2019-06-08 11:36] mbrn commented on #667
I will :)

[2019-06-08 12:45] catalinleca commented on #692
My bad... it was late at night. It had nothing to do with the data passed to material table

[2019-06-08 12:45] #692 closed

[2019-06-08 13:00] catalinleca opened #693 "Overriding component throws warning validateDOMNesting"
Is there anyway to get rid of that error if I am overriding my component like:

[code]
other than just using tr td and th inside MyCustomRow?

and what can happen if I leave it like this with the warning?

[2019-06-08 14:06] mbrn commented on #689
You can change tableData.editMode of current row

[2019-06-08 14:06] mbrn commented on #690
Good idea

[2019-06-08 14:09] mbrn commented on #691
Currently you cant. But you can override pagination component to add new row to end of table.

[2019-06-08 14:09] #691 closed

[2019-06-08 14:10] mbrn commented on #537
Hi @orestes22

Not yet.

[2019-06-08 14:13] mbrn commented on #693
Hi @catalinleca
 It expects a `tr` and `td` inside tr. To prevent warnings you should return tr.

[2019-06-08 16:51] catalinleca commented on #693
Yee I agree with you, but I was wondering what will happen if I don't follow this rules

[2019-06-08 17:54] catalinleca opened #694 "Clicking on custom row doesn't trigger detail pannel."
Hey!

I am trying to create a custom row and to trigger the detail panel. They way I am trying is like this:
[code]

I've been look through the passed props and didn't find anything helpful, but apparently I am missing something. Can anyone please help me with this?

[2019-06-08 18:15] mbrn commented on #693
Please look at this:

https://stackoverflow.com/questions/2974573/div-inside-table

It is about html.

[2019-06-08 18:15] #693 closed

[2019-06-09 11:16] marinsagovac commented on #669
Thanks.

[2019-06-09 11:16] #669 closed

[2019-06-09 12:32] Kaleem- commented on #667
hurry up ?

[2019-06-09 13:02] finbar123 commented on #522
Mehmet

Hi did you make any further progress on this suggestion

Kind Regards

Finbar

[2019-06-09 16:10] AntoniusGolly opened #695 "Thin line at the bottom of the table"
**Describe the bug**
All `<td>` elements have a thin bottom line due to
[code]

This will cause a thin line under the table as the table navigation is contained in a `<td>` aswell. Especially with dark backgrounds this thin line is quite obvious and not nice. Currently, I use a css hack to hide the bottom line.

**To Reproduce**
See all examples and increase the border radius of table wrapper to e

[2019-06-10 00:36] AntoniusGolly opened #696 "custom Action component conflicts with Add row component"
**Describe the bug**
The Add Row item changes to whatever is given as a custom action component.

**To Reproduce**
1. provide a custom action component on `components` (this will add custom buttons to the row action)
2. have a `editable.onRowAdd` method set (this will add the Add Row button on the top right
row)

**Expected behavior**
* the row actions should change to the provided custom action c

[2019-06-10 01:13] jakeleventhal commented on #684
I see now, it's not in the all props section of the docs though and there isn't an example so that is why i missed it. Perhaps this issue can just be to have that section of the docs updated

[2019-06-10 01:38] gxwheel152 opened #697 "defaultSort column doesn't change when reseting columns displayed and setting the defaultSort value on a different column"
**Describe the bug**
defaultSort column doesn't change when reseting columns displayed and setting the defaultSort value on a different column

**To Reproduce**
Create a data source and multiple columns views of that data
Change the columns view, expected the following:
1. Columns displayed are changed ==> YES
2. Column options, e.g., colors and filtering, are updated ==> YES
4. Column defaultSort

[2019-06-10 01:38] jakeleventhal commented on #689
How am I to do this? I don't see any reference to `tableData` or `editMode` of the docs?

[2019-06-10 06:50] giorgi-m opened #698 "Check box icon stretched"
First, thanks for what seems  a nice table.

The checkbox icon is stretched for nested objects, see the screenshot.

![Screenshot from 2019-06-10 10-47-09](https://user-images.githubusercontent.com/41240312/59177493-5d07d000-8b6d-11e9-811d-d8fab7d6b97a.png)

**To Reproduce**
https://codesandbox.io/s/suspicious-snyder-62lgu

[2019-06-10 12:25] tmikoss commented on #586
@mbrn seems to be missing from https://github.com/mbrn/material-table/blob/master/types/index.d.ts

[2019-06-10 13:19] BVH77 commented on #615
What progress on this issue, I think, somewhere should be defined prop type on this, but I’m not sure where. Very annoying warning...

[2019-06-10 15:23] RobertLbebber commented on #676
Yea I think its important because it was weird to track down why the actions were disappearing when the code looks all functionally correct

[2019-06-10 15:45] GachaSalt opened #699 "Hiden sorting lable in the actions header"
Problem:
I found that there is a hiden sorting lable lies within the acitions header and can not be removed. In most cases, it's fine, but it prevents me from properly aligning (especially aligning centrally) the contents of the action column, which is a problem to me.

Solution:
In the m-table-header.js, the actions header is rendered by
[code]
This problem could be temporarily solved by replacin

[2019-06-10 17:05] RobertLbebber opened #700 "Overriding the Select All"
I need to have a separate functional behavior on the SelectAll checkbox. (Select All in the Remote query vs any subset we are displaying). So I am trying to see what functions I can use to do this. I need to disable the default behavior where if you select all on a page it manually, it will check the SelectAll box. This isn't true if there is more than one page of data.

Got any ideas?

[2019-06-10 17:49] BVH77 commented on #700
You can use the actions with property isFreeAction: true, isn't it?

[2019-06-10 18:11] CalebCox opened #701 "rowStyle height does not work for anything under 49px in height"
**Describe the bug**
`rowStyle={ height: ''}` does not work properly. If you set the height to anything under 49 pixels this fails to render properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new material table or go to https://material-table.com/#/docs/features/styling
2. Add `options={{ rowStyle: { height: '10px'}}` in your table or the example table in the official docs
3.

[2019-06-10 20:30] lfernando-silva commented on #630
I made a trick to handle pagination handling the TablePagination component, but just for a temporary solution. As @paillave said, is not really redux-friendly

[code]

[2019-06-10 20:53] paillave commented on #630
As this may be the best material grid, I am trying to work on it to make it more redux friendly.

[2019-06-10 23:43] filipkroca commented on #667
This bug is occupied since version v1.38.0. I have downgraded to version v1.37.0 and styles are back. This is a very insidious bug, I spent an hour searching what happened to my styles.

INFO:
quick fix = `"material-table": "1.37.0"`

[2019-06-10 23:59] RobertLbebber commented on #700
That could potentially work css aside, but i'll want to show that the items listed have been selected. I haven't had any luck working inside of tableRef, yet

[2019-06-11 05:49] mj04710 opened #702 "How can i add multiline header?"

[2019-06-11 05:56] lucifer1004 commented on #513
The solution does not work for me

[2019-06-11 11:13] theredfish commented on #667
Hello,
I don't know if it can help, the console is showing this warning when MaterialTable is imported :

This may cause theme propagation issues, broken class names and makes your application bigger without a good reason.

Have a good day and thank you :)

[2019-06-11 12:34] EVRUSIN opened #703 "Redux with Remote Data"
[https://github.com/mbrn/material-table/issues/630](url)
Hi! Kinda same problem as above.
[code]

This is my table. Function `queryHandle` dispatches and action that puts `accounts` into redux.
[code]
But
[code]
here we always got "old version" of redux.

In the other case
[code]

in redux I have array of 10 entities (for example), but MT shows only 5 of them.
Hope you will help me, thank you ^_^

[2019-06-11 13:39] OscarGalindo commented on #567
The documentation helps to me :) https://reactjs.org/warnings/invalid-hook-call-warning.html

Concretely the breaking the rules of hooks: https://reactjs.org/warnings/invalid-hook-call-warning.html#breaking-the-rules-of-hooks

[2019-06-11 13:48] EVRUSIN commented on #703
So, overall the problem seems to be the next one: when I override Pagination of MT, even if MT gets array of more then 5 elements, is still renders only 5 rows (the props, that I give here
[code]
shows that `rowsPerPage` is still 5

[2019-06-11 14:19] lucifer1004 commented on #513
Actually, this solution works for `material-table <= 1.36.0`.

For `material-table >= 1.37.0`, the issue is more likely to be #667 instead of this one, which cannot be solved by the solution provided here.

[2019-06-11 14:53] zumdahl76 commented on #628
I have the same issue i'm trying to figure out. when i add the <MaterialTable> tag in my page, the whole material-ui theme changes. It's the only module that does that. I'll let you know if i find how to fix it. Thanks.

[2019-06-11 23:47] lucasortigoso opened #704 "Font-size of label inside MTablePaginationInner"
I need to increase the font-size of label inside **MTablePaginationInner**. How can I do that?

https://github.com/mbrn/material-table/blob/6706ace054e36a6e188b068edcdee7c63c1aab0e/src/components/m-table-pagination.js#L54

[2019-06-12 09:37] iherger commented on #573
I am also looking for such a sum row at the end. That would really be cool, and would make material-table even better than it already is!

[2019-06-12 11:05] jason050196 commented on #513
Hi @lucifer1004 , I have encountered a similar issue, I found it changed the order of classes.
E.g. I used a <Fab />, after rendering the <MaterialTable/>, the <Fab/> changed its color and shape(border: 0)

Second is I found the performance issue after rendering the <MaterialTable/>

Thanks @mbrn  and appreciate for the hard work and please advise:)

[2019-06-12 11:53] vk-rpp opened #705 "Add CSS class for column TD"
How can I add a CSS class for particular column directly to TD element ?
Sometimes it's needed.

[2019-06-12 11:55] EVRUSIN commented on #703
After investigation I realized that in my `<MTableBody>` in `props.renderData` I still get only 5 elements

[2019-06-12 12:07] Likurg2010 opened #706 "Info about actual order of table headers"
Hi. Is it any possibility to get info about actual order of table headers after drag-n-drop action?

[2019-06-12 14:51] RobelTekle opened #707 "Tree data icon style"
If I active the tree-data option, how can I set the arrow icon style according to row data ? Using `options.rowStyle` I have no access to arrow_icon

[2019-06-12 16:01] AndySeymour2904 opened #708 "Removing only item from last page leaves user out of page range"
**Describe the bug**
Deleting the only item in a 10 page table leaves the user on the 10th page rather than displaying the 9th page. The pagination also reads '46-45 of 45' and 'No records to display' is visible

**To Reproduce**
Steps to reproduce the behavior:
1.Create multiple paged table
2. Delete last and only element
3. Observe table says 'No records to display'

**Expected behavior**
The Ta

[2019-06-12 17:09] karrettgelley opened #709 "Sticky Header & Sticky Scrollbars"
**Is your feature request related to a problem? Please describe.**
Yes.
There is currently no easy way to make the table header sticky. There is also not an easy way to make the horizontal scrollbar visible at all times.

**Describe the solution you'd like**
I'd like to make the \<Paper> wrapper scrollable horizontally. I'd also like to be able to style the header using the headerStyle option such

[2019-06-12 17:38] crewtaylor opened #710 "Toggle detail panel on page change"
Is there a way one can toggle the detail panel to closed on a page change or on other events other than rowClick?

[2019-06-12 18:17] #709 closed

[2019-06-12 20:52] crewtaylor opened #711 "State change on data clears the column search input"
When the state of the data into the table changes the search-by-column fields are cleared. However, the main search bar at the top right of the table does not clear out.

[2019-06-13 00:58] avkonst commented on #677
I see the same error but it is followed by another one. Not sure if the cause is the same? Should it be another issue reported for the following:

[code]

[2019-06-13 01:22] jochercoles opened #712 "How connect the lookup properties with Rest API result, and how open a Form from actions button in table."
I need help. I using the control Material-Table. I need load the result of a call to Rest API, this return as result, a set the data on a json of object, and the examples that I could find, show a structure as {1: 'One', 2: 'Two', 3: 'Three'}. How I can relationship my data with this property.

In other hand, I need add a Button in a cell for each row, and show a modal dialog with a form, when do

[2019-06-13 01:59] KazeIU opened #713 "Adding or editing a row changes data types to string"
Is there a way to keep the datatypes from the original object when adding a new row or updating a row?

For example, when I add or update to an API with material-table, I need it to keep the same datatypes from when it was pulled from the API.

However, the form in material-table adds and updates all row input as a string.

[2019-06-13 06:37] mbrn commented on #522
I didn't work on this yet. Thanks for your patience.

[2019-06-13 07:10] #684 closed

[2019-06-13 07:11] mbrn commented on #697
Hi @gxwheel152
Thanks for clear issue. I will take a look at this asap.

[2019-06-13 07:15] mbrn commented on #689
Currently MT calls editing mode code in a inline function. I will replace it a function that member of MT class. So you can call it with tableRef.

![image](https://user-images.githubusercontent.com/7895451/59411524-211a7800-8dc4-11e9-822f-62b6188d33b5.png)

[2019-06-13 07:16] mbrn commented on #698
Hi @giorgi-m

This happened after mui 4.0. I will take a look at it asap.

[2019-06-13 07:17] mbrn commented on #615
I will start to working on MT at tomorrow (1 hour daily). So this would be resolved in 1 week.

[2019-06-13 07:22] mbrn commented on #699
Hi @GachaSalt

I will consider this. Thanks for your clear description.

[2019-06-13 07:23] mbrn commented on #701
It requires 49px at least. But i will take a look at it to decrease minimum size.

[2019-06-13 08:23] mbrn commented on #628
I will take a look again.

[2019-06-13 08:24] mbrn commented on #704
Hi @lucasortigoso

Currently you can't with a easy way. But you can override pagination component.

[2019-06-13 08:26] mbrn commented on #705
I will look at it to find a solution

[2019-06-13 08:29] #703 closed

[2019-06-13 08:29] mbrn commented on #706
You can, It stores it in tableData field of column. You can look at your column(in state) in debug mode.

Please reply if you cant find.

[2019-06-13 08:29] #706 closed

[2019-06-13 08:33] mbrn commented on #707
Hi @RobelTekle ,

Currently you can't, Why do you need a feature like this?

[2019-06-13 08:36] mbrn commented on #710
Hi @crewtaylor ,

You can call tableRef.onToggleDetailPanel(rowNum, renderPanel) if you dont use tree data or grouping feature.

Please take a look at tableRef example: https://material-table.com/#/docs/features/remote-data (2nd example)

[2019-06-13 08:38] mbrn commented on #702
You can override Header component to build your own header.

[2019-06-13 08:39] mbrn commented on #712
Hi @jochercoles

1. You can load your data to state on componentDidMount.
2. You can use custom render feature to render a button inside a cell. Please take a look at documentation

[2019-06-13 08:40] mbrn commented on #713
That's a good point. I will asap.

[2019-06-13 08:52] mohitmutha opened #714 "Hook to decide whether a cell is editable based on row data"
We have a requirement where we want to edit only certain cells in the row based on other properties in the data

for e.g. if the `category` of a particular row is `VIP` then the `name` and `age` can be edited and if the `category` is `Normal` then only the `name` can be edited.

I did not find any possibility to do this in the current implementation.

Suggestion for implementation
- All specifying

[2019-06-13 09:24] EVRUSIN commented on #703
@mbrn So, can you fix this please?

[2019-06-13 09:48] JKrymarys opened #716 "Disable filter icon"
I am trying to disable an icon that is displayed in the filters field. Right now I am just setting non existing tag in _icons.Filter_ overrides. It's working, but also giving warning in the console.

Is this any other supported method to disable such an icon? (except for component overriding which I imagine would be overkill for this use...)

[2019-06-13 09:55] RobelTekle commented on #707
Hi @mbrn ,
I'm using tree-data for my table, and I need to give a style to my rows according to their position/level in the tree (parents and children have different style). And the style concern the arrow icon too.

[2019-06-13 10:06] AndySeymour2904 commented on #708
@mbrn Happy to do the work here if we agree on it, feel free to assign me and I'll crack on :)

[2019-06-13 10:19] mohitmutha commented on #714
duplicate of #690

[2019-06-13 10:20] mohitmutha commented on #690
I have suggested a fix in #714 and added a pull request

[2019-06-13 10:24] mbrn commented on #703
Did you set options.pageSize as 10?

[2019-06-13 11:27] mbrn commented on #716
I will add a flag to options for this case.

[2019-06-13 11:29] mbrn commented on #707
I will think a solution for this case. It can be useful for other users too.

[2019-06-13 11:30] mbrn commented on #708
@AndySeymour2904  You can start to any issue work on. Just type comment on issue when you start and how you will resolve it.

Thanks for your contributions.

[2019-06-13 11:31] mbrn commented on #714
I merged your pr. Thanks for contribution. I will publish it tomorrow.

[2019-06-13 11:31] #714 closed

[2019-06-13 11:39] #645 closed

[2019-06-13 11:41] mbrn commented on #565
I guess it would be resolved.

[2019-06-13 11:41] #565 closed

[2019-06-13 11:45] #649 closed

[2019-06-13 11:53] jochercoles commented on #712
Hi Mehmet, now, good morning in Argentine. Thank you for your anwser. Yes, I loaded the data in a variable or property in the state on componentDidMount. I can add the button in the cells, but I have a form, created as component (Form.js), but I can't show it. I add the handler for the clic event of button, and if I add alert('any message'), show the message when I press over the button.
I review

[2019-06-13 11:54] mbrn commented on #712
You can show your form on a dialog. Just open dialog when button pressed.

[2019-06-13 11:55] mbrn commented on #712
Can you share your code please?

[2019-06-13 12:04] jochercoles commented on #712
**Main page:**

import React, { Component } from 'react';
import AutoComplete from './AutoComplete';
import EditableGrid from './EditableGrid';

export class ABMPatenteDescuento extends Component {
  displayName = ABMPatenteDescuento.name

  constructor(props) {
    super(props);
    this.state = {
      title: "Asociación de Patentes con Tipos de Descuentos de Combustibles",
      patentesDescuen

[2019-06-13 12:11] mbrn commented on #712
@jochercoles

Your code is very long to read. Can you create a sandbox please?

[2019-06-13 12:16] jochercoles commented on #712
Thank you for your help. In this moment I complicate with the time.

No problem, thank you so much.

Regards.

Javier.

[2019-06-13 13:06] #712 closed

[2019-06-13 13:49] a544jh commented on #367
@mbrn Why did you close this? Did you implement this already? Otherwise I would be ready to open a MR?

[2019-06-13 14:02] jakeleventhal commented on #690
So is this issue closed then?

[2019-06-13 14:30] gianlucamateo commented on #707
I would appreciate some styling options in general, I am trying to reduce vertical row padding, but the default iconButton is hindering me.

[2019-06-13 14:43] gianlucamateo opened #717 "On tree views when searching, entries stay collapsed when child elements match search"
Not sure if this is intended behavior, labelled as bug as to me it was unexpected.

**Describe the bug**
When the child rows of a parent row in a tree view contain matches to a search item, the parent row is shown, but it is not expanded. The matching child row is therefore invisible until explicit expanding of the parent row.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a tree vie

[2019-06-13 14:58] jaapjr commented on #677
Hi there I got the same error and tried the following. The error/warning message was gone.
In your icons definition you will have to add React.forwardRef as described in the documentation from material-ui: https://material-ui.com/guides/composition/#caveat-with-refs
[code]

[2019-06-13 15:58] SuhashMediboina opened #718 "Tree Data or nested child data not exported as CSV"
Is it possible to have the following snippet download tree data that is visible on expanding rows?

`const options = {
      exportButton: true,
      exportAllData: true,
 };`

Actual: Setting `exportAllData: true,` only applies to data that is paginated and not parent-child tree nesting

Thanks!

[2019-06-13 17:09] finbar123 commented on #522
No problem J

From: Mehmet Baran [mailto:notifications@github.com]
Sent: 13 June 2019 07:38
To: mbrn/material-table
Cc: finbar123; Mention
Subject: Re: [mbrn/material-table] Setting Column Width when column has filter (#522)

I didn't work on this yet. Thanks for your patience.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub <https://github.com

[2019-06-13 18:55] avkonst commented on #677
Thanks for the tip. I have read the documents pointed by the link but can
not understand why my icons definition is not good enough without ref
forwarding....

On Fri, 14 Jun 2019, 02:58 jaapjr, <notifications@github.com> wrote:

[2019-06-13 20:35] behrouz-s commented on #618
The problem was fixed in mentioned version, but I have same problem in version 1.39.0!

[2019-06-13 20:50] crewtaylor commented on #160
Can you explain this more. I am confused by what "column" means above.

I have an array that I pass into the data prop of MaterialTable and when ever I change the state of that array it resets all filters. How can I avoid the resetting of the filters?

[2019-06-13 23:06] vksantoshsunny opened #720 "Issue with icons on search and pagination"
I am using the latest version of react and material-table. I could see once the table is rendered the icons that are supposed to appear near the search box and also pagination in the footer are not appearing correctly. Attached a picture to show that.

Steps to reproduce the behavior:
create react app and material UI installed packages and started with a very basic example of material table

**Exp

[2019-06-14 05:30] mbrn commented on #367
I think this is a solution for this case.

[2019-06-14 05:42] mbrn commented on #714
This is published with 1.39.1

[2019-06-14 05:42] mbrn commented on #645
This is published with 1.39.1

[2019-06-14 05:42] mbrn commented on #649
This is published with 1.39.1

[2019-06-14 06:03] mohitmutha commented on #714
Thanks

[2019-06-14 06:44] mbrn commented on #690
Yes. Now you can use it with version 1.39.1

[2019-06-14 06:45] mbrn commented on #718
I will work on exporting according to grouping or tree features. But now i am focused on bugs.

[2019-06-14 06:48] mbrn commented on #618
Let me take a look again.

[2019-06-14 06:49] mbrn commented on #160
Do not send column directly to table. Set your columns array in your components state. Then give this state variable to table.

[2019-06-14 06:51] mbrn commented on #720
Hi @vksantoshsunny

Please check 2. section in this installation guide: https://material-table.com/#/docs/install

[2019-06-14 06:51] #720 closed

[2019-06-14 07:00] #664 closed

[2019-06-14 07:10] #650 closed

[2019-06-14 07:13] #698 closed

[2019-06-14 10:18] PiAlexay commented on #127
I have a package material-table: 1.39.0 and react: 16.8.6, app is work but I show mistake i console:
**Warning: Failed prop type: Invalid prop `actions[0]` supplied to `MaterialTable`.**

Problem in this code:
actions={[
                    {
                        **icon: PersonAdd,**
                        tooltip: 'Добавить',
                        isFreeAction: true,

[2019-06-14 10:50] mbrn commented on #127
Try this

`icon: () => <Edit/>`

[2019-06-14 10:53] PiAlexay commented on #127
Thanks, it code is works!

[2019-06-14 13:01] b-gyula opened #721 "'grouping' is missing in the 'options' description in the 'All Props' section of the documentation"
`grouping` is missing in the `options` description in the **All Props** section of the documentation

[2019-06-14 13:05] mbrn commented on #721
Hi @b-gyula,

It is done. Thanks for issue.

[2019-06-14 13:05] #721 closed

[2019-06-14 14:14] #690 closed

[2019-06-14 16:07] vk-rpp opened #723 "Placeholder for filtering"
Hi, I can't add placeholder for the filtering. Did I miss anything ?
Basically I found the issue, when I tried to move filtering from one particular column outside of the filtering row. For now I had to use CSS position absolute to do this, but it looks like a hack.

I wish it is possible to use filtering with placeholder outside of the table. Thank you

PS. Any ways I found material-table really

[2019-06-14 16:23] vk-rpp opened #724 "Zebra rows support"
**Is your feature request related to a problem? Please describe.**
I added zebra (striped table rows) via CSS hovewer it's not fully correctly worked, because when I enable filtering, the filtering row counts as the row of the table.

**Describe the solution you'd like**
Add classes to use background colors for data rows (odd, even). It would be great to have simple possibility to add "zebra". For

[2019-06-14 16:28] vladimanaev commented on #291
@mbrn, is there any plan on supporting column width adjustments?

When having table with many (10-15) columns and with text of a sentence the table becomes very ugly and not readable.

Thanks!

[2019-06-15 03:33] iPwnPancakes opened #725 "Initial Search Prop"
Is it possible to specify a default search text as a prop? So far I have tried overriding the MTableToolbar component with a searchText prop as well as an onSearchChanged function to update the state, though it doesnt filter the data until after I have typed

[2019-06-15 10:29] robinlarsson commented on #615
Before I read that there will be a fix in a week I wrote a small hack to get rid of the error when there are no editComponent defined for a column. So far, only for string and numeric types but more can be added. Hopefully, this code can help others to get rid of the error until a real fix is in place.

[code]

[2019-06-16 11:01] robinlarsson commented on #647
I am also using TypeScript and been struggling with the icons. I have the same solution as @hinsxd and get issues with tooltip:

`Warning: Failed prop type: Invalid prop `children` supplied to `Tooltip`. Expected an element that can hold a ref. Did you accidentally use a plain function component for an element instead? For more information see https://material-ui.com/guides/composition/#caveat-wit

[2019-06-16 12:25] argentinaluiz commented on #647
@robinlarsson Me too

[2019-06-16 19:17] flyingangel opened #726 "Autofocus on a chosen column field"
Missing feature or how to achieve this : on new row click (to generate a new editing line), add an event hook or a way to do custom job like autofocus on a field (input, select, textarea)

Also the documentation needs to be updated. The add button is generated only if event **onRowAdd** is specified, and returning a Promise will result with a Loading screen instead of an instant update

[2019-06-16 21:34] locona opened #727 "Warning: Prop `data-react-beautiful-dnd-draggable` did not match. Server: "2" Client: "0""
**Bug?**
Showing the above warning

[code]

**Environment**
* next.js: 8.1.0
* material-ui/core: ^4.1.1
* material-table: 1.39.1

**May be related**
* https://github.com/atlassian/react-beautiful-dnd/issues/1196
* https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/api/reset-server-context.md

[2019-06-17 10:04] denmel02 opened #728 "DetailPanel icons"
Hello,
I try to set  custom icon and openIcon for detailPanel. Can you show me expample icon type React.ReactElement<any>?

[2019-06-17 10:46] mbrn commented on #698
This is done with 1.39.2

[2019-06-17 10:46] mbrn commented on #650
This is done with 1.39.2

[2019-06-17 10:46] mbrn commented on #664
This is done with 1.39.2

[2019-06-17 11:38] Daniel-Yonkov commented on #650
@mbrn - Thanks for the fix!

[2019-06-17 11:43] AugustoCalaca commented on #728
Show your code.
This don't work?
detailPanel={[
  {
            icon: {your_icon},
            tooltip: 'Show Any Name',
            },
]}

[2019-06-17 11:50] AugustoCalaca commented on #728
Here are same examples.
https://material-table.com/#/docs/features/detail-panel.

[2019-06-17 12:02] a544jh commented on #725
I'm also looking for exactly this. I would be ready to implement this and open a MR.

[2019-06-17 12:12] kumar-prashant16 opened #729 "selected lookup field is getting refreshed when setStatus is touched for opening the dialogue."
**Describe the bug**
after selecting the lookup data, it filters accourding to data, but when opening the dialogue box, which is get triggered by setState, its resetting the lookup field selection to normal.
**To Reproduce**
Steps to reproduce the behavior:
1. Go and select the Lookup field
2. Click on Open dialogue module, which should be on row data
3. You can see that, the selected Lookup field

[2019-06-17 12:13] kumar-prashant16 commented on #729
please help resolving it.
steps in decreasing order image.

[2019-06-17 12:39] KATT commented on #676
I really appreciate your work on Material Table. I've started using it heavily and looking forward to contributing.

Could lend a hand on implementing this, I think.

As I see it there's three types of actions currently:

1. `isFreeAction` top bar action
2. Top bar action _when rows are selected_
3. Actions on rows

The type of #2 and #3 are currently implicitly defined based on if it's a selectab

[2019-06-17 14:50] rostik1410 opened #730 "Search and Filtering when using remoteData"
How can I use search and filtering when I am using remoteData  as data in table ?

[2019-06-17 17:29] masbaehr commented on #666
I also encountered this issue. Since it seems to take quite a while - i propose a workaround:
At the point where you need to return the original data set do this:

[code]

If there is a nicer way feel free to improve it ;-)

[2019-06-18 01:43] priemd commented on #116
@mbrn I needed this feature for a project and have things working great.  Wanted to get your take as there are a few ways to go with this.  Currently I added a new property called 'sortObject' to data manager which is passed onto table header through table as a prop.  It is just a simple object { myFieldA: 'asc', myFieldB: 'desc', .... } .  This really takes the place of orderBy and orderDirection

[2019-06-18 02:38] rousselm4 commented on #116
+1 for multi sort on shift click only, I would also enable multi sort by default

[2019-06-18 05:13] denmel02 commented on #728
There are only cases when icon is string. I want to do something such as:
detailPanel={ [ {
  icon; <MyIcon /> (or () => (<MyIcon/>)),
  ....
} ] }
But first variant show error in CustomIcon:  "Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. Check the render method of `CustomIcon`."
And second variant show typescr

[2019-06-18 05:15] gmonte commented on #730
up

[2019-06-18 06:23] paillave commented on #666
that's what I did, but the grid actually needs this data, otherwise, the whole context of what the use made against it is forgotten when the reducer (for example) amends a row in the input data set

[2019-06-18 06:25] gianlucamateo commented on #717
As a further bit of info, this Problem does not seem to exist on v1.28.2

[2019-06-18 06:46] pwork2015 commented on #601
where can I find this part in source code (/src )?

![изображение](https://user-images.githubusercontent.com/50596432/57999805-5f7f8880-7adf-11e9-9820-731583df8923.png)

[2019-06-18 08:38] paillave opened #732 "Latest version doesn't compile with typescript"
**Describe the bug**
Project with typescript can't be compiled because of a bad index.d.ts

**To Reproduce**
Compiling anything in typescript using the component involves:
[code]

Indeed, `ForwardRefExoticComponent`, `RefAttributes`, and `SVGSVGElement` mentioned in the commit https://github.com/mbrn/material-table/commit/ff6319a5af45ca567b5c85b67b73408cebc95a53 are declared nowhere in `index.d.ts

[2019-06-18 08:48] ledinhtri97 opened #733 "Add image type to field display"
I need to add image display in field Thumbnail, but now in type of display have only ```Data type: 'boolean', 'numeric', 'date', 'datetime', 'time', 'currency'```

How can I add image to display, if exist feature, please let's me know more information. Thank you!

[2019-06-18 12:08] indunie commented on #513
Hi,
the above solution does not work for "material-table": "^1.39.2".
can you please suggest any other solution. @mbrn
Thanks

[2019-06-18 15:30] rostik1410 commented on #730
thank you! I didn't notice this fieldses :)

[2019-06-18 15:35] #730 closed

[2019-06-18 19:53] masbaehr commented on #290
I was also looking forward for this feature. I propose a VERY UGLY workaround, but probably better than nothing. Note that this will not interfere with other pages, so it is better than importing a *.css file, as this would stay in DOM until you reload the page. It could probably be made even better by adding a custom class to make only certain tables in the same page dense. (Adjust padding value

[2019-06-18 20:31] AntoniusGolly commented on #733
You can use the custom `render` method of the cell. Please have a look at the custom rendering section. It has an example with an image, I think.

[2019-06-19 00:44] mviens commented on #732
I am also seeing an issue when compiling. VSCode does not complain, but TSLint is not liking it:

[code]

[2019-06-19 01:48] mviens opened #735 "Support adding an ID to table, row, and cell."
**Is your feature request related to a problem? Please describe.**
For styling and testing purposes, it is necessary to be able to add an ID to the table and each row and cell.

**Describe the solution you'd like**
Having an `id` property that can be set would solve this. For the table, this property should be able to be set directly, in the same manner as `title`. For the rows, it seems appropria

[2019-06-19 02:26] mviens opened #736 "How to specify column alignment?"
I do not see how to specify the `MuiTableCell-alignCenter` or `MuiTableCell-alignRight` values. All of the cells are being applied with `MuiTableCell-alignLeft`. As a terrible work-around, I am having to apply hacky CSS styles to override the left alignment.

In general, it seems the properties supported by MuiTable are not available to use for MaterialTable, unless I am misunderstanding something

[2019-06-19 06:59] perfectstrong opened #737 "Update data based on state of outer component"
**Describe the bug**
I have two tables on page, the second will show all related informations of the selected item from the first. I decided to pass the selected item via `this.state.selectedPatient` of outer component. However, clicking on a row of the first table will trigger an error:
[code]

**To Reproduce**
[code]

**Expected behavior**
The second table should show all related informations of

[2019-06-19 07:24] paillave commented on #732
@mviens , The component compiles because it is written in javascipt, not in typescript.
The d.ts is just embedded as is in the bundle and doesn't make part of any compilation during the build process. The only moment when it's ever used is when the typescript application that uses the component is being compiled.

[2019-06-19 10:30] AndySeymour2904 commented on #708
I'll take this issue today then :)

Plan is to use `dataManager.changeCurrentPage` in this method;
https://github.com/mbrn/material-table/blob/master/src/material-table.js#L52

Check whether the current page is in range and if not, change to the page at the last index

[2019-06-20 09:25] jessy-bgl opened #739 "Error : getFieldValue is not a function when editing a child (Tree Data)"
**Describe the bug**
When I click on the "edit" action button of a child row of a Tree Data table **with parameter _editable: "onAdd"_ on one of the columns**, I get the error :

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Tree Data table **with the parameter editable: "onAdd" on (at least) one column**
2. Add a row
3. Add one or more children to this row
4. Click on the Edit act

[2019-06-20 09:59] mqasim1990 opened #740 "Add icon before title"
Hi everyone how can i add an icon before title ?

like this
![image](https://user-images.githubusercontent.com/23281307/59837081-13d23000-9366-11e9-8ff1-162aafc88828.png)

[2019-06-20 13:58] adamsaper commented on #27
Would love to know the status of this feature as well.
Thanks

[2019-06-20 14:23] AugustoCalaca commented on #737
In javascript does the method .map() it's only for arrays, [].

`someDataFromElsewhere` must be a array in this case.

If it is already are a array just do it: `data: {someDataFromElsewhere}`
If it is a object try: `data: {[ ...someDataFromElsewhere ]}`

[2019-06-20 15:21] AugustoCalaca commented on #740
Yeah, it is possible.

Example:
[code]

You can add other styles or components to your liking in toolbar.

[2019-06-20 16:37] mqasim1990 commented on #740
It works thanks @AugustoCalaca

[2019-06-20 17:01] xiaomaini commented on #280
Do you have an updated link by any chance? I couldn't find any default grouping options.

[2019-06-20 17:21] mqasim1990 opened #741 "Hide row option from pagination"
Hi everyone how can i hide only rows option from table pagination
![image](https://user-images.githubusercontent.com/23281307/59868062-4f421e00-93a9-11e9-80e3-a4c5ca983b0d.png)

[2019-06-20 18:08] behrouz-s opened #742 "How to force Detail Panel to rerender?"
Detail panel don't get updated, unless I close and reopen it.
How to rerender detail panel?

[2019-06-20 20:23] jerlockk commented on #732
I have this issue too.

[2019-06-21 08:29] JKrymarys opened #743 "Invoking action on any row causes collapsing of nested rows"
**Describe the bug**
Table used on my website consist with 3 layers of nested rows. Each of them has same set of actions. The issue is that, when I am invoking actions (clicking the button) on the any of the nested rows it causes collapse of all.

This is unwanted, as it breaks the functionality :)

I tried using _onTreeExpandChange_ method, but I couldn't influence this anyhow.

**Expected behavi

[2019-06-21 09:19] JKrymarys opened #744 "Issue with Promise.reject()"
Hi!
I am trying to add some issue handlers in my table. In remote data Promise I want to use reject, when something will go wrong (according to documentation and tips from other issues).
It's not working correctly tho. I am getting error: _Uncaught (in promise) undefined_.
In the same place resolve (with proper data ofc) is working great.

Unfortunately it doesn't say much, so I have no clue where

[2019-06-21 12:02] AugustoCalaca commented on #744
Ideally you should to show the part of your code that is giving error to a accurate answer.
Even so, a possible solution, make sure that you are using `.then` and `.catch` correctly.

https://stackoverflow.com/questions/53015074/then-uncaught-in-promise-this-is-undefined
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/then
https://developer.mozilla.org/de/d

[2019-06-21 12:20] JKrymarys commented on #744
Thank's for quick answer!
Sure, code would be useful :)  I am pasting it below.

I tried to find answers using docs you suggested - unfortunately without success.

[code]

[2019-06-21 14:10] behrouz-s commented on #742
I solved the problem by connecting "Detail Panel" component to "store" directly.

[2019-06-21 16:25] sornman opened #745 "Remove warning for invalid column type"
**Is your feature request related to a problem? Please describe.**
When specifying a custom column type, the following error occurs:

`Warning: Failed prop type: Invalid prop 'columns[1].type' of value 'textarea' supplied to 'MaterialTable', expected one of ["string","boolean","numeric","date","datetime","time","currency"].`

**Describe the solution you'd like**
Remove the warning if it encounters

[2019-06-21 18:33] jmpainter opened #746 "Stepped pagination produces React warnings"
**Describe the bug**
When using the option paginationType: 'stepped', a couple of React warnings appear in the console: 'Warning: Each child in a list should have a unique "key" prop.' and ' Failed prop type: Invalid prop variant of value default supplied to ForwardRef(Button), expected one of ["text","outlined","contained"].'

**To Reproduce**
Using react 16.8.5, material-table 1.39.2
Steps to re

[2019-06-21 19:38] sornman opened #747 "Change onClick for edit icon"
Is it possible to override the onclick for the edit icon for an editable table? I have been trying with several suggestions from the git issues (components={{ Action: ...), but can't find a way to just specify the edit button. I have some table entries that are only showing a few columns, and I want to make the edit button go to a page where they can edit all the information.

[2019-06-21 19:49] sornman opened #748 "Search loses focus while typing"
**Describe the bug**
When trying to type in the search box, the field loses focus after the debounceInterval.

**To Reproduce**
With remote data, type in the search box.

**Expected behavior**
Ability to keep typing in the field and having the search update.

**Additional context**
Remote api call:
[code]

[2019-06-22 18:13] artus9033 opened #749 "Preselect functionality"
**Is your feature request related to a problem? Please describe.**
The project lacks support for a mechanism for preselection, e.g. when the table is used as a selection component and loads available items from an API endpoint, some of which may have already been selected; then, the only way to skip the already selected elements from being shown as unselected (without the checkbox ticked) is to fi

[2019-06-22 21:09] batjko commented on #617
I get this error as well, not on first render, but when the table re-renders due to the table rows changing (prop changing).

[2019-06-22 22:01] v1nns commented on #626
Up

[2019-06-23 15:30] ismaildervisoglu commented on #642
I've tried like this but did not work
query => new Promise((resolve, reject) => {
  reject('Promise failed');
})

[2019-06-24 07:30] neerajnarayanankp commented on #372
@jurcaua  i also have the same usecase.
@mbrn Please update once the above mentioned change is introduced.
Thanks in advance !

[2019-06-24 11:10] makr11 opened #750 "Search functionality broken by pagination"
If I search for an item on page X (e.g. 32) and number of items are below page 32, pagination is left on page 32 and warning is shown (Warning: Failed prop type: Material-UI: the page prop of a TablePagination is out of range (0 to 6, but page is 32)).

![paginationBug](https://user-images.githubusercontent.com/31960173/60014420-45f2d300-9681-11e9-8a9e-bf50bcdfe8fc.png)

[2019-06-24 11:40] makr11 opened #751 "Reset table state on data change"
When editable and add data are true, that state stays even when table data is changed. Also, pagination is not set to 0, but it stays on previously selected page.

Is it possible to call onEditingCanceled when data props are changed and reset page to 0.

![upgrade](https://user-images.githubusercontent.com/31960173/60016111-85232300-9685-11e9-93b1-4500d76bf489.gif)

[2019-06-24 13:12] adithyamaheshb commented on #354
Is there any way to handle the previous panel which means I want to show only one detail panel expanded at a given point of time.
Thanks.

[2019-06-24 16:59] mathgeek12 opened #752 "Accessing filtered data as an object"
Is there anyway to capture the data that has been filtered to use for data viz?
I want the data supplied to my graph to be based on the data rendered in the table, if its filtered i want the data in the graph to update.

[2019-06-24 17:27] xiaomaini opened #753 "Prevent column reordering"
Any way to prevent the user from moving the columns around?

[2019-06-24 18:53] mviens commented on #732
@mbrn - Could we please get a response on this? This prevents me from using this component.

[2019-06-24 21:40] charlesmtns commented on #631
I am with same problem

[2019-06-25 05:35] #708 closed

[2019-06-25 08:13] paillave commented on #732
@mviens take version 1.39.0 while it is being solved.
(FYI, @mbrn is a private person who makes this component on his free time and shares it with us, it is not an editor who owes you anything ;) )

[2019-06-25 08:52] gianlucamateo commented on #753
I checked the code the other day, and there doesn't seem to be one. It should be fairly simple to implement.

`let content = (
          <Draggable
            key={columnDef.tableData.id}
            draggableId={columnDef.tableData.id.toString()}
            index={index}>
            {(provided, snapshot) => (
              <div
                ref={provided.innerRef}
                {...provid

[2019-06-25 09:06] xiaomaini commented on #753
Thanks, I will take a look later and create a PR if there is no objections to adding such a feature.

[2019-06-25 12:29] gianlucamateo commented on #717
I have started work on this

[2019-06-25 12:56] Domino987 opened #755 "MTableGroupbar"
The documentation of [Component Overriding](https://material-table.com/#/docs/features/component-overriding) is wrong because the Groupbar field requires a MTableGroupbar element not a MTableFilterRow as described. I don know where you moved the docs for libzy material-table or else I would have created a PR to address this.
Thank you !!

[2019-06-25 15:19] iamwilson commented on #753
I thought being able to drag the columns was a feature. I find it cool.

[2019-06-25 15:40] gianlucamateo commented on #753
I also like the feature. But I think it can get in the way of some functionality and custom components. It would therefore appropriate to make it optional, or ideally opt-out.

In my use case I am rendering a second row in the header with controls that control some column properties, and am using a fixed layout with computed widths. Moving columns around in that scenario is not pretty.

[2019-06-25 15:47] OscarGalindo opened #757 "Is it possible to order action items?"
Hi guys!!

One simple question, it's possible to move edit icon (that is included automatically as an action if table is editable) in the position that I want?

In the image, I want the "More options" button after the edit icon, is it possible?

![image](https://user-images.githubusercontent.com/1871363/60113037-3bb00200-9771-11e9-9502-ec967258452f.png)

Thank you so much!

[2019-06-25 18:39] Kove11 opened #758 "Change row edit delete text"
Is it possible to change the text that appears when deleting a row. I want different text than the default "Are you sure delete this row?"

[2019-06-25 23:16] jakeleventhal opened #760 "Tree data does not indent"
**Describe the bug**
Tree data does not indent when dropped down

**To Reproduce**
1. Create tree data with multiple dropdowns
2. Expand each row

**Expected behavior**
The title for each dropdown should be indented to show that it is a child of the parent - just like how the arrows indent. The behavior is also correct on grouped tables

**Screenshots**
<img width="376" alt="Screen Shot 2019-06-25

[2019-06-25 23:40] buhrenduh commented on #746
Experiencing the same issue with the steps above

[2019-06-26 01:43] Captainlonate opened #761 "Warning: Failed prop type: Invalid prop `actions[0]` supplied to `MaterialTable`."
**Describe the bug**
The following appears in the console: `Warning: Failed prop type: Invalid prop `actions[0]` supplied to `MaterialTable`.`
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Make a new MaterialTable
2. add the `actions` prop to it like so:
[code]
`Note that you can use Edit, or tableIcons['Edit'] and get the same warning in the console`

`Note that if you pass a strin

[2019-06-26 06:17] hannesj opened #763 "Make rowData in Typescript type definitions generic"
It would be nice, if the row data type in the Typescript definitions would be a generic, so that we would have automatic type checking of the column field name, render function etc.

[2019-06-26 09:40] waisbek commented on #655
Hello,

I have the same issue. @mbrn do you have a deadline to fixed this bug, please?

Thanks!

[2019-06-26 10:04] KyriacosP commented on #655
i removed the duplicates from the selected array based on their id it works well in my case but it may be slow if your selection array is too large. here is my code:
`unique(array) {
    let arr = [];
    for(let i = 0; i < array.length; i++) {
      if(!arr.some(x=>x.id===array[i].id)) {
        arr.push(array[i]);
      }
    }
    return arr;
  }`

[2019-06-26 12:31] francesco-clementi opened #765 "Fixed Columns"
Is there a way to fix the position of the first column in a table with over 40 columns?

[2019-06-26 14:52] Clem- commented on #628
I'm having the same problem.
After the module is loaded, the MaterialUI theme (eg. button styles) is broken.

PS: I'm using NextJS

[2019-06-26 15:38] mviens opened #766 "Add support for className"
**Is your feature request related to a problem? Please describe.**
While there is support for `<MaterialTable style={{}} ... />`, there does not seem to be support for `<MaterialTable className={} ... />`.

**Describe the solution you'd like**
I want to be able to define a CSS class name using `<MaterialTable className={classes.myTable} ... />` or `<MaterialTable className='myTable' ... />`..

**D

[2019-06-26 17:13] mviens opened #767 "Add support for default and specified classNames for columns and rows"
**Is your feature request related to a problem? Please describe.**
Yes, styling the columns and rows is extremely difficult and must rely on hacky CSS selectors.

**Describe the solution you'd like**
I would like to see `<MaterialTable rowClass={} and columnClass={} ... />`. In addition I would like to see support for specifying (and overiding) a column class directly with the column definition. W

[2019-06-26 19:10] jakeleventhal commented on #760
It should be a prop because sometimes this behavior is desired

[2019-06-26 19:48] mviens commented on #753
@xiaomaini Please do implement this as it is not always desirable to have some columns be draggable.

[2019-06-26 23:29] adithyamaheshb commented on #758
You can modify it in the localization props. For example
`localization={{
          body: {
            editRow: { deleteText: 'Customized Delete Message' }
          }
        }}`
Check the documentation for more localization props.

[2019-06-27 00:25] tg970 commented on #311
Hi, @mbrn just checking in on this. Getting the filtered data would be awesome!! Thanks for everything, this is a great project!

[2019-06-27 00:29] Kove11 commented on #758
Works like a charm. Thank you!

[2019-06-27 00:29] #758 closed

[2019-06-27 06:44] mghazanfar opened #768 "Remote data error handling"
**Is your feature request related to a problem? Please describe.**
It is related to when we use callback in data that uses Promise, I'm unable to show error if any error occurs. For example if there's no network, API gives "Network Error" where the table keeps showing loading state.
**Describe the solution you'd like**
I think after .then(), we must reject the promise by giving it error in catch b

[2019-06-27 07:42] kumar-prashant16 commented on #729
@mbrn how do i solve it?

If there is a filter selected and there is an popup dialogue box needed to open, we need to set the state for opening Dialogue Box. but when you touches the setState, it clears the lookup filtered value to initial.

thanks for assistance.  :-)

[2019-06-27 07:43] gomorizsolt opened #769 "[HELP] IconProps / Change the order of actions"
Hey @mbrn!

Thanks for maintaining this awesome project, really like the features it provides. :)

I have encountered some issues while using the package.

1. As far as I understand, the size of a particular icon can be modified via the `iconProps` property, e.g.:

[code]

However, it doesn't really affect the icon's appearance at all. What'd be a possible reason for this unexpected behavior?

2.

[2019-06-27 09:14] gianlucamateo commented on #750
should be resolved by PR #754

[2019-06-27 09:17] gianlucamateo commented on #769
Icons are wrapped in IconButtons as is usual in Material-UI. Therefore the size of the icon itself doesn't have a large influence. If you want to reduce row heights, try enabling compact mode by setting the options flag "padding" to "dense"

[2019-06-27 09:27] WillemLabu commented on #628
I can confirm this happens with `.MuiButtonBase-root` too.

Is there a way to make your styles more specific at all?

[2019-06-27 11:53] chipopo1337 commented on #51
What I did was
1. I downloaded the .woff2 from the url property on the fonts.googleapis.com link (https://fonts.googleapis.com/icon?family=Material+Icons),
2. copied it into my local project's source folder
3. set the url property to the directory of it inside my fonts folder and
3. added it to my App.css (I'm using CRA).

[2019-06-27 16:21] ryancogswell commented on #472
FYI -- someone encountering issues likely due to this (though they didn't provide a full reproduction of the problem so I can't be certain this is the cause):

https://stackoverflow.com/questions/56794892/material-table-styling-is-overiding-all-custom-and-material-ui-styling-and-icon

[2019-06-27 18:06] Kove11 commented on #761
I am also experiencing this same error when passing an icon component in the actions. `index.js:1437 Warning: Failed prop type: Invalid prop `actions[0]` supplied to `MaterialTable`.`

[2019-06-27 18:14] Kove11 commented on #761
Per #127

You can fix this error by passing an icon like so:  `icon: () => <Edit/>`

[2019-06-27 18:58] Jak3b0 commented on #263
Hi,

I see that this issue was closed but the linked PR does not resolve all the issues. We currently have the need to remember the page number and filtering when navigating away so that we can restore those state when the user click on the back button.

Would it be possible to have access to those information?

Thank you!

[2019-06-27 20:15] gomorizsolt commented on #769
Thanks @gianlucamateo, I'll give that option a try.

[2019-06-27 22:12] jerlockk opened #771 "Prop to disable scroll"
**Is your feature request related to a problem? Please describe.**
When I have few rows in the table, the scroll is unnecessary.

**Describe the solution you'd like**
I would like to have a prop to disable the scroll in the table.

**Additional context**
![image](https://user-images.githubusercontent.com/34114364/60304302-9e82d400-98fe-11e9-8dfb-9b9f90c120c9.png)
As the image shows, the scroll in

[2019-06-28 07:43] gianlucamateo commented on #771
![image](https://user-images.githubusercontent.com/1481367/60326090-2dd4c980-9989-11e9-97ec-8ec1d65379b2.png)
is this what you're looking for?

[2019-06-28 13:38] jerlockk commented on #771
😮 Yes, that's what I was looking for, thank you very much

[2019-06-28 13:38] #771 closed

[2019-06-28 13:50] codenamethanos commented on #573
I also want this feature really badly.
Is it atleast possible to make a custom row? And then render some data into it and use it as a workaround with current features?

[2019-06-28 18:06] codenamethanos opened #772 "CustomSort based on calculated values"
I want to have some calculated values in my cell.
The way i do that right now is by using the render field in columns.

I noticed that the rendered column is not sortable. But I want it to be sortable as my calculated value is Profit/Loss which is good to be sorted in ascending and descending order.

Currently CustomSort is not giving rowData, which means I wont be able to calculate the value base

[2019-06-28 20:24] codenamethanos commented on #460
Seconded. Summary will be really useful!

[2019-06-28 21:23] Annderson opened #773 "loss of style with v4 of the wm material-ui"
all the pages I'm using the material-table. Loses the applied style, mainly those that are in the theme

"dependencies": {
    "@material-ui/core": "^4.1.3",
    "@material-ui/icons": "^4.2.1",
    "@material-ui/styles": "^4.0.0-alpha.0",
    "axios": "^0.18.0",
    "babel-polyfill": "^6.26.0",
    "camelcase-keys": "^5.0.0",
    "classnames": "^2.2.6",
    "connected-react-router": "^6.3.2",

[2019-06-28 21:46] Kove11 commented on #615
Any update on this issue @mbrn ?

[2019-06-29 16:53] abhishekgupta92 opened #774 "Is there a way to trigger filter based on an event outside the scope of table?"
**Is your feature request related to a problem? Please describe.**
I want to add a special input box where user can search or choose from the drop down one of the possible options in the column. Selecting any of it the table should automatically be updated.

**Describe the solution you'd like**
If the architecture allows us to trigger the filter.

**Describe alternatives you've considered**
Changi

[2019-06-30 04:25] mrvncaragay commented on #615
Hi, this problem still persist on ^1.40.0

[2019-06-30 16:55] json2d commented on #773
same
[code]

any hints on better working versions?

[2019-06-30 17:05] codenamethanos commented on #772
Sorry for the question. It was quite basic and I found the answer.
CustomSort works just like sort() function in Javascript. And a and b are indeed rowData, so i am able to do very customized sorting function. Its very cool. Thanks

[2019-06-30 17:05] #772 closed

[2019-06-30 17:14] codenamethanos opened #775 "Overriding Body component sends Header cells out of the table."
I am trying to add a row to the end of the table. This is the code i used:

[code]
But when i do this, the Table Header cells goes out of the table. The newly added row is coming correctly at the end of the table.

If i use the following code, the Table Header is coming correctly, but obviously the newly added Table Row is missing and cannot be seen:

[code]

How can i add a row at the end, but do

[2019-06-30 18:59] masagameplay commented on #773
The issue is probably coming from an old Material UI version in the package.json (https://github.com/mbrn/material-table/blob/master/package.json#L75). It seems like the other packages are very outdated too.

[2019-06-30 22:13] json2d commented on #773
`material-table@v1.36.6` is the last version before they upgraded to `@material-ui/core@v4`, so downgrading to that might work
https://github.com/mbrn/material-table/blob/v1.36.6/package.json#L75

Also shouldnt `@material-ui/core` be a peer dependency?

[2019-06-30 22:28] json2d commented on #773
yep, downgrading to `material-table@v1.36.6` seems to have worked for the style loss/bug i was experiencing

[2019-07-01 01:21] json2d commented on #28
Hey this will be a useful feature

Each column prop can include a format function can will be applied to each value when rendered.

Leaving the underlying value intact will be better so that sorting still works as expected (eg. datetimes), but filtering and searching would need to consider the formatted values

[2019-07-01 04:14] mumispb commented on #725
I've been also trying to change the search placeholder text. As far as I understand, you could add a components prop to <MaterialTable /> to override the default Toolbar, like so:

`components={{Toolbar: props => <MTableToolbar  {...props} searchPlaceholder="Your text"/>}}`

Or your could try to change localization prop, but I couldn't get any to work.

Overriding components: https://material-tabl

[2019-07-01 04:24] mumispb commented on #725
Actually just found out that when you try to change localization prop, like this:

[code]

An error occurred, saying that body.deleteToolTip was undefined, so I gave it its default value, like so and it worked:

[code]

[2019-07-01 05:13] andrewbiang888 opened #777 "Overriding Component "Actions" also overrides all "Action" components"
**Describe the bug**
When overriding the "Actions" component in the "component" prop that is passed to MaterialTable, it also overrides all "Action" (s) on each row. The documentation seems to imply that the "Actions" component refers to the top right area where the search input field is typically located. In my project I am trying to add a "Add New User" component in that specific section using t

[2019-07-01 05:17] codenamethanos commented on #775
Basically I found that the reason why Header is getting messed up is because when we try to override component, the <div> that we add to the body is messing up the header.

The workaround I made was to also call Header component, which somehow brings back the header to the table. But then i had to use some CSS to make sure that the header and body columns are aligned.

[code]
This is my new compon

[2019-07-01 07:06] PhilSchwerttraeger commented on #311
Hey @mbrn, love this project! And I am also looking forward to this feature. Would be really great to have access to the filtered data in an comfortable way.

[2019-07-01 09:59] bilel-noomene commented on #628
+1

[2019-07-01 13:09] lasimonne commented on #394
The warning is still there in version 1.40.1

[2019-07-01 13:39] mbrn commented on #723
Hi @vk-rpp ,

You can use filterPlaceholder with latest version:

 { title: 'Id', field: 'id', filterPlaceholder: 'placeholder' },

[2019-07-01 13:39] #723 closed

[2019-07-01 13:40] mbrn commented on #724
Hi @vk-rpp

This is in my roadmap. It will be ready asap.

[2019-07-01 13:41] mbrn commented on #642
It should work. Can you create a sandbox please?

[2019-07-01 13:43] mbrn commented on #394
Hi @lasimonne ,

I will check it asap.

[2019-07-01 13:57] Clem- commented on #327
How did you managed to add actions to group? Thanks :)

[2019-07-01 14:17] Annderson commented on #773
Yes, before v4 of material-ui worked, but I need to use v4

[2019-07-01 15:08] Clem- opened #778 "Editable and Grouping"
**Describe the bug**
Editable is not working when grouping column.

**To Reproduce**
Steps to reproduce the behavior:
1. add `defaultGroupOrder: 0` to a column
2. make the table editable by adding `onRowDelete` for instance
3. After expanding the group, nothing append after clicking the delete button except the grey blur
4. As soon as the column is removed from the groupbar, the row is well render

[2019-07-01 16:22] rxhl commented on #583
Hi @mbrn, the code sandbox link you provided above does not work. Could you please check?

[2019-07-01 18:16] Xzas22 commented on #739
Having the same error message pop up. Everything appears to work correctly, but the React error is concerning.

[2019-07-01 19:43] Annderson commented on #773
I was able to solve the problem by making the material-ui / core and material-ui / styles get the same version as in the material-table

[2019-07-01 19:44] #773 closed

[2019-07-01 20:29] tlambert03 commented on #773
just stumbled across this myself...
as an alternative workaround for those who don't want to change `@material-ui/core` or `@material-ui/styles` versions to exactly match `material-table`, you can provide icons directly as described https://material-table.com/#/docs/all-props:

[code]

[2019-07-01 20:34] theodore-koch commented on #714
Was an example on how to use this new feature added to the documentation, or does anyone have an example?

[2019-07-01 20:39] theodore-koch commented on #739
Same here when setting editable param to 'never'

[2019-07-01 20:50] dsubram1 commented on #27
Any update on this status? At least when will this be available?

[2019-07-02 02:20] intelligentspark commented on #767
+1 - I'm having difficulty applying a smaller font size to my table and it seems this is the issue.  I'd love to be able to leverage MuiTheme to globally reduce the font size, for example within table cells.

[2019-07-02 03:20] andrewbiang888 commented on #777
Here is my suggested changes. I was unable to contribute: Permission denied.

File: m-table-body-row.js
[code]

[2019-07-02 05:38] andrewbiang888 commented on #777
Ok. Upon further investigation into the [documentation](https://material-table.com/#/docs/features/actions) & code, I think I understand what is happening. This probably is not a bug. In order to customize the top right action I should not have used the components prop at all and only use the actions prop. I should have given the top right action an `isFreeAction: true` key-pair, which detaches it

[2019-07-02 05:38] #777 closed

[2019-07-02 05:48] mbrn commented on #777
Opening issue and resolving it :). Thanks @andrewbiang888

[2019-07-02 05:50] mbrn commented on #749
Hi @artus9033,

I may add a new field to response of promise to preselect, filter etc on some rows. This is good idea. I will do this asap.

[2019-07-02 05:52] mbrn commented on #747
Hi @sornman,

you can add your custom action with any icon or override edit icon with this code:
icons:{{
Edit: props => <YourIcon/>
}}

[2019-07-02 05:52] #747 closed

[2019-07-02 05:54] #742 closed

[2019-07-02 05:55] mbrn commented on #744
Hi @JKrymarys ,

I will look at this asap. Someone else reported this problem.

[2019-07-02 05:58] mbrn commented on #743
Hi @JKrymarys,

Can you share your code please. If you send data directly to component it would be. You should use data from your state.

[2019-07-02 05:59] mbrn commented on #741
Hi @mqasim1990,

You can override localization with empty text.

![image](https://user-images.githubusercontent.com/7895451/60486656-b31cee80-9ca7-11e9-8e61-947e417661df.png)

[2019-07-02 05:59] #741 closed

[2019-07-02 06:00] #740 closed

[2019-07-02 06:02] #737 closed

[2019-07-02 07:37] mbrn commented on #736
Hi @mviens

I will check this asap.

[2019-07-02 09:03] KATT opened #780 "Sticky headers"
**Is your feature request related to a problem? Please describe.**
Yes.

**Describe the solution you'd like**
Headers to be sticky.

**Describe alternatives you've considered**
Finding a way to override styles

**Additional context**

Seems like the `<ScrollBar/>`-component which adds a wrapper with `overflow`, makes it impossible.

Not sure why #709 was closed.

[2019-07-02 10:38] a544jh commented on #725
@mumispb This isn't was I was looking for. I'm looking to set search value prop that will actually apply the filter when the prop is changed. This is so that the search value could be loaded from a URL query param.

Setting `defaultFilter` in for a column in the `columns` prop works in the desired way (i.e. the filter gets applied when the prop is changed).

[2019-07-02 13:11] Shaked commented on #140
Hey @mbrn, can you attach this example again?

[2019-07-02 14:17] artus9033 commented on #749
@mbrn, thank you!

[2019-07-02 14:33] xhahid43eb commented on #367
@mbrn Hi Sir,
I start working with meterial-table and i found it great. Thanks for your work
but i facing issue while using  onOrderChange prop. This call back is not working and not showing any data of orderBy and orderDirection. if i got it right is this handle event of drag column position and one thing more please give a prop for custom ordering and selection of columns in your next Update.
th

[2019-07-02 14:35] xhahid43eb opened #781 "Issue in onOrderChange prop"
@mbrn Hi Sir,
I start working with meterial-table and i found it great. Thanks for your work
but i facing issue while using onOrderChange prop. This call back is not working and not showing any data of orderBy and orderDirection. if i got it right is this handle event of drag column position and one thing more please give a prop for custom ordering and selection of columns in your next Update.
tha

[2019-07-02 14:39] xhahid43eb commented on #420
Link is expired

[2019-07-02 18:41] preludeofme opened #782 "Single Row Selection - Detail Panel"
I'm not finding any documentation on how to set up single-row selection. I saw issue #294 that had a link to the old documentation but it's a deadlink now. Is there updated documentation on the options to use?

i'd like to have the table expand only one row at a time.

thanks

[2019-07-02 19:18] preludeofme commented on #782
Nevermind, i found the option just wasn't in the documents.

for anyone else in the future needing this, you just need to add the option "detailPanelType"

`options={{
                    search: false,
                    paging: false,
                    selection: false,
                    detailPanelType: "single" // or 'multiple' by default
                }}`

[detailPanelType](https://git

[2019-07-02 19:18] #782 closed

[2019-07-02 22:47] jakeleventhal opened #783 "Dense padding prop does not apply to column headers"
**Describe the bug**
If you use the dense option, it does not affect the header row

**To Reproduce**
Steps to reproduce the behavior:
1. Create a table with dense props

**Expected behavior**
The header row should be dense too

**Screenshots**
<img width="341" alt="Screen Shot 2019-07-02 at 6 46 35 PM" src="https://user-images.githubusercontent.com/15133828/60551604-ca84c780-9cf9-11e9-9b49-af96c3

[2019-07-02 22:48] jakeleventhal commented on #783
@gianlucamateo

[2019-07-03 10:48] foramshah1112 commented on #751
I have a similar issue. I need to clear my state on AddRowCancelled & onEditCancelled. Is there any way to access the onClick event of add, edit, clear icons of editable attribute?

[2019-07-03 10:56] foramshah1112 commented on #739
Getting the same error on clicking Add Icon for the first time after page loads, when using editComponent, later the error goes away on it's own.

[2019-07-03 11:03] gianlucamateo commented on #783
I see how this would be useful, but the main reason behind the option was that some things about row heights can't be changed with styling, such as the size of the iconbuttons used for tree expansion or actions.

To my knowledge, the same does not apply to the headers, and I suggest solving the issue with custom styling.

[2019-07-03 11:50] deepatr12 commented on #352
The detailPanel does not open up. It just opens and closes automatically

[2019-07-03 11:50] deepatr12 commented on #352
I tried this. The detailPanel does not open up. It just opens and closes automatically. How do we render the data received from remote?

[2019-07-03 11:53] deepatr12 commented on #352
I tried this. The detailPanel does not open up. It just opens and closes automatically. How do we render the data received from remote? The render of the CustomComponent gets called before data is received from remote.

[2019-07-03 12:13] tlambert03 opened #784 "crash in componentWillReceiveProps when changing data shape while sorted"
**Describe the bug**
This is perhaps an overly-specific use-case, but a bug nonetheless...
I have a table with a free action button that transposes the data in the table:  on clicking the action button, it recalculates the rows and headers data which are stored in the parent state, and delivers it to the `MaterialTable` component.  Everything works fine until I sort one of the last columns in the

[2019-07-03 13:22] JasonLunsford commented on #743
I'm also experiencing this issue. Our tree can have 3 or greater levels of depth and after the third level is reached - boom - branch collapses.

[2019-07-03 13:27] tlambert03 commented on #784
Probably also worth referencing issue https://github.com/mbrn/material-table/issues/697 here...
Seems like one reasonable solution, without having to muck with the sorting behavior in `willReceiveProps`, would be to set `defaultSort` on the first column (or at least a column that still exists) when changing the data in the table... then `sortList` would not be looking for a column that no longer e

[2019-07-03 13:28] JasonLunsford opened #785 "Toggle Selection Feature for Leaf Nodes in a Tree View"
When rendering a Tree view it would be extremely useful if leaf nodes (those nodes without any children of their own) could be configured to NOT display the Selection checkboxes, while still allowing Parent / Non-Leaf nodes to have the Selection checkboxes enabled.

Specifically, when the Selection feature is enabled (in the Options object) for a Tree each node of that tree is assigned a checkbox.

[2019-07-03 14:29] AugustoCalaca commented on #768
A issue alike was reported and marked as bug [#744](https://github.com/mbrn/material-table/issues/744#issue-459099240).

[2019-07-03 15:45] AntoniusGolly opened #786 "Add a handler `onRowEdit` and `onRowEditCancel`"
For when `editable` objects are provided...

**Is your feature request related to a problem? Please describe.**
I check for errors when validating input data on editing or adding new items. Those errors I want to clear when the editing is canceled.

**Describe the solution you'd like**
There is already some nice handlers as `onOrderChange` or `onRowClick`. I would like to have an additional handle

[2019-07-03 17:52] sandeshakya opened #788 "DetailPanel: Close other rows when opening panel"
I was wondering if it would be possible to add a feature to close other panels when the user opens a DetailPanel, essentially, just being able to keep one panel open at a time.

Thank you.

[2019-07-03 18:50] Enzerot opened #789 "Table options doesn't changes"
**Describe the bug**
I have wrapper component for MaterialTable that have filter property. When this property changes I want to change options of the table too.

I've tried a couple of ways for that:
1. Render another MaterialTable with another options object
2. Render one MaterialTable and set its options depends on my filter property
But both of them doesn't work!

**Expected behavior**
Options

[2019-07-03 19:03] preludeofme commented on #788
take a look at  #782 i found the answer on this one

[2019-07-03 19:08] preludeofme opened #790 "Remotely Toggle Detail Panel"
I'm running into a problem where i have a detail panel open to  view records in a table, and i am wanting to close the detail panel (or all panels if possible) if the user clicks a specific button.

**Describe the solution you'd like**
add a function to close all detail panels or specific ones by passing an index

**Describe alternatives you've considered**
i'm working on a workaround where when a

[2019-07-03 20:02] #788 closed

[2019-07-04 04:15] aramkoukia opened #791 "column Filters are removed when an Action is performed"
Column Filters are removed when an Action is performed

**To Reproduce**
1. Enter some column filters
2. Edit the record
3. Save the change
4. column Filters are removed

**Expected behavior**
Column filters should stay the same and not removed

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser All
 - Version 1.29.1

[2019-07-04 05:04] mswindu opened #792 "When column filter value changed, current page does not go to 0, when use remote data."
**Describe the bug**
When column filter value changed, current page does not go to 0, when use remote data.

**To Reproduce**
Steps to reproduce the behavior:
1. Get remote data
2. Change current page (increase)
3. Enter some column filters
4. Current page number hasn't been changed

**Expected behavior**
Сurrent page number must be 0 after the change column filter value.

**Desktop (please comple

[2019-07-04 08:06] muralikrishnana commented on #51
import { forwardRef } from 'react';

import AddBox from '@material-ui/icons/AddBox';
import ArrowUpward from '@material-ui/icons/ArrowUpward';
import Check from '@material-ui/icons/Check';
import ChevronLeft from '@material-ui/icons/ChevronLeft';
import ChevronRight from '@material-ui/icons/ChevronRight';
import Clear from '@material-ui/icons/Clear';
import DeleteOutline from '@material-ui/icons/D

[2019-07-04 10:15] JKrymarys commented on #743
Hi Guys,
So in my case code looks like:

actions property in table:
` actions={[
                {
                  icon: "more_vert",
                  tooltip: "More",
                  onClick: this.handleActionsClick
                }
              ]}
`

while the function handleActionsClick looks like:
`handleActionsClick = (event, rowData) => {
    this.setState({
      anchorEl: event.curr

[2019-07-04 10:18] OscarGalindo commented on #757
Tried something overriding Actions but obviously I broke once I click on edit, the icons for tick and close were override too

[2019-07-04 12:51] kl1mm commented on #598
Doesn't work if you have a grouped column. Index is always 0.

[2019-07-04 13:57] marcosvcastro opened #794 "how to get rows or data after filtering?"
how to get rows or data after filtering?

[2019-07-05 03:34] kecoco16 opened #796 "hide xs"

[2019-07-05 03:34] #796 closed

[2019-07-05 03:37] kecoco16 opened #797 "hide-xs"
Hi!

I would like to know if there is any way to hide a column only in mobile.

Regards.

Edit:
I found this solution i don't know if is the best way to do it but works well.

[code]

If someone knows a native or better solution please let me know, thanks.

[2019-07-05 06:35] sunithakk opened #798 "How to add action column to last."
How to add action column to  last.

[2019-07-05 07:29] manoharanamphora opened #799 "Multi Header for same column"
**Describe the bug**
Is there an option for creating a multi header column like that in the attached image

![headers](https://user-images.githubusercontent.com/36497717/60705400-aeb13980-9f24-11e9-9c55-fac99e4e5482.PNG)

[2019-07-05 09:12] waisbek commented on #760
Any update about this issue, please?

[2019-07-05 09:14] rajivsubra1981 commented on #798
Add       options={{
        actionsColumnIndex: -1
      }}

to  <MaterialTable

[2019-07-05 10:24] sunithakk commented on #798
Thanks a loot.

On Fri, Jul 5, 2019, 2:44 PM rajivsubra1981 <notifications@github.com>
wrote:

[2019-07-05 12:41] PiAlexay commented on #615
Сonfirm this error on version 1.40
How to fix it?

[2019-07-05 13:28] kaienbcjdoapwkfldue commented on #794
What do you mean by "get rows or data"? You get them in the `fetchData` callback function.

[2019-07-05 13:48] marcosvcastro commented on #794
callback what function?
Exemple:
[code]
In the filter column 'birthCity' i come in with '34'.
The grid render the two records with 'birthCity: 34'.
I want to get the result containing two records.

Result:{[
   { name: 'Zerya Betül', surname: 'Baran', birthYear: 2017, birthCity: 34 },
         { name: 'name Test', surname: 'Test', birthYear: 2017, birthCity: 34 },
]}

[2019-07-05 14:03] kaienbcjdoapwkfldue commented on #794
Check out https://material-table.com/#/docs/features/remote-data

Event though you might be not working with remote data, you can provide your own callback to the `data` property. You can then filter your local data manually and get direct access to the result.

I'm not sure if there is currently a more direct way.

[2019-07-05 14:54] MuddyBootsCode commented on #361
@mbrn Is there a way to auto enable this? So that table size just automatically increases when data is added?

[2019-07-05 16:44] sandeshakya opened #800 "how to check if detailPanel is expanded or collapsed?"
I'm using the onRowClick prop to expand/collapse detail panels. I'm making API calls and calling setState() on the onRowClick handler, since I can't in detailPanel. I only want these calls to execute if the row is being opened. Is it possible to check the detailPanel status in onRowClick prop?

Thank you.

[2019-07-05 17:21] sandeshakya opened #801 "All styling for other components gets disabled when rendering material-table?"
![iwa-emp-list-4](https://user-images.githubusercontent.com/35713511/60737271-64758b80-9f17-11e9-813e-849edc068219.gif)

I didn't have this issue when testing out the library on a test project.

My dependencies are:"@material-ui/core": "^4.1.3",
    "@material-ui/icons": "^4.2.1",
    "@material/menu": "^3.0.0",
    "aws-amplify": "^1.1.29",
    "aws-amplify-react": "^2.3.9",
    "lodash": "^4.17.

[2019-07-05 17:59] sandeshakya commented on #801
found answer here
https://github.com/mbrn/material-table/issues/773

[2019-07-05 17:59] #801 closed

[2019-07-06 20:09] agrinko commented on #696
Same here. I didn't even create a custom Actions component. I just added onRowAdd, onRowUpdate and onRowDelete callbacks, and instead of "add" button, I see the edit and delete buttons at the toolbar:
![b2f75075482f4298fcdb80bf6feac66d](https://user-images.githubusercontent.com/7050015/60760719-d4346500-a042-11e9-95cf-a947378b7cd1.png)

[2019-07-07 03:39] romulo94 commented on #404
Hi, the example doesn't working

`<MaterialTable
    // other props
    localization={{
        pagination: {
            labelDisplayedRows: '{from}-{to} of {count}'
        },
        toolbar: {
            nRowsSelected: '{0} row(s) selected'
        },
        header: {
            actions: 'Actions'
        },
        body: {
            emptyDataSourceMessage: 'No records to display',

[2019-07-07 05:39] romulo94 opened #803 "onRowAdd using redux saga"
How can I put data with promise when I need to use redux-saga?

[code]
I dont know what do. Where I call the saga? How to make a integration with `onRowAdd`

[2019-07-07 08:30] jayarjo opened #804 "layout breaks as soon as material-table is imported onto the page,"
As soon as I import `material-table` component onto the page, layout breaks. I suspect that it has something to do with the order in which core material-ui and material-table styles are loaded. Do we have any control over this?

[2019-07-07 08:54] jayarjo commented on #804
Happens because `.MuiButtonBase-root` class with all its styles somehow makes to the top. From what I see normally it sits lower in the hierarchy.

[2019-07-07 09:00] jayarjo commented on #804
I think this is why it happens:
![Screenshot from 2019-07-07 12-58-06](https://user-images.githubusercontent.com/150075/60766181-e7811800-a0b6-11e9-8433-17682693d751.png)

Notice all the `Mui*` styles after `makeStyles`. They are basically added twice (there are some of them already defined before `makeStyles`) and I suspect effectively override all the `makeStyles`.

[2019-07-07 09:04] jayarjo commented on #804
For some reason I do not observe such behavior in the isolated sandbox: https://codesandbox.io/s/material-demo-2p5qg. So I guess it has to be some setting somewhere. Any ideas?

[2019-07-07 13:28] masagameplay commented on #804
This issue is coming from an old Material-UI version in this project (https://github.com/mbrn/material-table/issues/773)

[2019-07-07 15:06] jayarjo commented on #739
Same here. Also would be great to have column drag&drop logic configurable, so that it could be switched off if required (observing the same `react-beautiful-dnd` error here).

[2019-07-07 15:12] jayarjo commented on #315
Is this not possible, via some kind of workaround?

[2019-07-07 17:17] slevy85 opened #805 "Reduce the bundle size"
I have analyzed with `source-map-explorer` the build size of my application that uses material-table, and I noticed that it was responsible of a large part of the size.
One issue is that it imports all material-ui components instead of just the ones needed, the other issue is the react-beautiful-dnd dependencies (almost half of the bundle size).

1. For the first issue i think we can use path impo

[2019-07-07 19:16] jayarjo commented on #804
So what's the fix? Fork it, update and use that one?

[2019-07-07 23:37] AntoniusGolly commented on #613
![image](https://user-images.githubusercontent.com/3856505/60775273-d967e180-a120-11e9-8fe8-89ef1b56003e.png)
He is referring to this checkbox. I think bug label is actually correct.

[2019-07-08 00:52] priemd commented on #613
@AntoniusGolly that is the correct 'select all' checkbox you have circled, what I was referring to has already been corrected.  The issue was referring to a checkbox being in the filter row below the header which was useless.  Issue should be closed just not sure what push fixed it, sorry.

[2019-07-08 00:53] AntoniusGolly commented on #613
Alright. Thanks for correcting.

[2019-07-08 00:55] priemd commented on #613
actually looking at my screenshot it was already fixed, must have been a late night ;)  I swear there was a checkbox at some point in the filter row.  If not my bad, must have been seeing double.

[2019-07-08 07:49] jayarjo commented on #315
From what I see `material-table` creates editable row in a TR, which makes it impossible to swap the whole editable row component with a form handler of some king. It's much easier that way of course, but probably makes more sense to have editable row as a detached generic container.

[2019-07-08 08:35] Flixbox commented on #746
I've reproduced the issue here: https://codesandbox.io/s/recursing-archimedes-91pdm

[code]

[2019-07-08 10:36] hrafaelveloso commented on #626
I think the  #753 solution is what we want for disable the drag header functionality. Can you please merge that @mbrn ? That's a simple opt-out that people could use :)

[2019-07-08 10:41] hrafaelveloso commented on #626
Hi @mbrn , I think the #779  solution is what we are looking. That's a simple opt-out and I'm looking forward for that feature.

[2019-07-08 17:06] #789 closed

[2019-07-08 17:25] preludeofme commented on #800
i couldn't find anything that would tell you that state of each row, best i came up with is like in #790 i've got a workaround for closing out open panels or remotely toggling them. it's a bit ugly but might work if you're looking for something like that.

[2019-07-08 17:49] gyurobenjamin opened #807 "default.a.useContext is not a function"
**Describe the bug**
node_modules/@material-ui/styles/esm/useTheme/useTheme.js:4
[code]

**To Reproduce**
Install the package, then:
[code]

**Expected behavior**
To not get an error message

**Screenshots**
https://ibb.co/jRq6Lc9

[2019-07-08 18:12] gyurobenjamin commented on #807
Wrong react version

[2019-07-08 18:12] #807 closed

[2019-07-08 20:33] bbigras commented on #648
Any progress?

[2019-07-09 06:46] kaienbcjdoapwkfldue commented on #804
@jayarjo After struggling with this for a while, I now simply updated all the dependecies of my client to their latest version (`npm update`), which solved the problem. So maybe try to update everything related to `material-ui` as well as `material-table`.

[2019-07-09 09:44] cristiadis opened #808 "How to add a row in Edit mode under an existing row, in a tree datatable?"
First of all, thank you for all your great work!

Second, regarding my need, I'd like to be able to add a row under an existing row, so I can make full use of the tree functionality. Is there a way to do that? Or do you have any input on how I can connect the addRow() handler connected to the global "Add" action, with my custom "Add" action added on each row?

For example, in my screenshot below,

[2019-07-09 14:27] perfectstrong opened #810 "Placeholder for input on row adding"
**Describe the bug**
Not really a bug but when the column header is a React Component, browser will warn whenever attempting to add a new row
[code]

**To Reproduce**
[code]

**Suggestion**
We should have a custom `placeholder` field for each column in case of having React Component as column header.

**Screenshots**
![image](https://user-images.githubusercontent.com/23375518/60896173-2acdb900-a26

[2019-07-09 15:14] perfectstrong commented on #805
The first issue is mentionned in `README`. [https://github.com/mbrn/material-table#2add-material-icons](https://github.com/mbrn/material-table#2add-material-icons)

[2019-07-10 03:06] ahomatthew commented on #628
+1

[2019-07-10 03:14] ahomatthew commented on #628
I had to go back to 1.36.0 to get it to stop behaving this way.

[2019-07-10 05:14] jakeleventhal commented on #783
I get where you're coming from - but I really disagree. I think the biggest use case is for just styling purposes and wanting data to be presented in a more compact/condensed way. After all, tables are mostly just showing text data.

Having the header be a different style from the rest of the table just stands out and looks out of place.

What are your thoughts?

[2019-07-10 05:56] yashSangai opened #811 "If paging is set to false, pageSize matters?"
If paging is set to false, then will pageSize affect the number of rows rendered on the table. For example, if paging is False, pageSize is 50 and I have 100 rows of data, then how many rows will render 100 or 50?

[2019-07-10 06:17] ahmedbrandver commented on #127
I am having same error in Material Table
[code]

[2019-07-10 08:02] ahboujelben opened #813 "Adding a row removes the row currently being edited"
Hello,

I noticed that if you're editing a new row and then accidentaly click again on the 'add row' button, it will remove the row being edited and changes are lost. Changes are also lost if you're editing an existing row and 'add row' is pressed. Is it possible to change this behaviour by either preventing the 'add row' from doing anything if a row  is being edited, or maybe highlighting the val

[2019-07-10 09:45] mbutnarucaci1 commented on #615
Confirm this error too! when a new update is gonna be released?

[2019-07-10 11:58] hrafaelveloso commented on #811
If you set `paging : false`, the number of `pageSize` isn't important because it's not taken into account .

Simple codesandbox where you can test that (you don't need 100 rows to test):
[https://codesandbox.io/s/naughty-butterfly-puhk2](https://codesandbox.io/s/naughty-butterfly-puhk2)

[2019-07-10 12:04] yashSangai commented on #811
Oh, I understand! Thanks for the help.

[2019-07-10 12:04] #811 closed

[2019-07-10 12:33] gianlucamateo commented on #783
I guess it makes sense. I am, however, not going to be able to invest time into adjusting this. Maybe you could look at it?

[2019-07-10 14:33] rxhl opened #814 "How do I change the default color for row hover?"
I'm trying to change the default color for the row hover event. As I see it, the default seems to be,

[code]

How do I change it from the React component?

Many thanks!

[2019-07-10 15:46] sornman commented on #747
@mbrn So something like this? How do I get the rowData?
`
          icons={{
            ...tableIcons,
            Edit: props => {
              let rowData = {id: 1};
              // if editPage, go to separate page
              if (this.props.editPage === true) {
                return <Edit onClick={e => this.editPage(e, rowData)} />;
              }
              // edit inline, default be

[2019-07-11 00:33] eddiemonge commented on #79
In the next major release can it be changed to false with a breaking change note?

[2019-07-11 06:58] kl1mm commented on #736
When can we expect the fix?

[2019-07-11 07:01] mbrn commented on #736
Hi @kl1mm ,

I will return back to material-table in 2 weeks. And i won't take more freelance jobs until resolve most of issues :). Thanks for your patience and support.

[2019-07-11 07:10] zzhouag opened #815 "Re-render table lose focus on row filter cell"
My table will reload data from server in fix interval, will loses focus on row filter cell once the table re-render with the new data. Please help. Thanks.

[2019-07-11 07:20] kl1mm commented on #736
Thanks for the reply.

[2019-07-11 07:30] klein-h opened #816 "React does not recognize the `getFieldValue` prop on a DOM element"
**Describe the bug**
The bug appears at the first click on the add button.
**To Reproduce**
Steps to reproduce the behavior:
1- Use material table editable options.
2- Add one columns with Add button
3- Error appears on console

**Screenshots**
<img width="525" alt="Capture d’écran 2019-07-11 à 09 29 09" src="https://user-images.githubusercontent.com/19607373/61030742-5d8ac500-a3be-11e9-915f-715

[2019-07-11 10:15] manoharanamphora opened #817 "How to render the table without "Header""
How to render the table without "Header", I should render only the body

[2019-07-11 10:57] raph90 commented on #186
Hi mbrn, I'm loving the library! Is there any way that I could trigger the detail panel based on a specific cell click? For example, triggering a different detail panel depending on which cell in the row I click?

Thanks in advance!

[2019-07-11 11:03] thebutler12 opened #818 "onRowClick expand tree level"
Hi,

Is there a way to link the onRowClick to the action that expands the tree one level. This is so i can expand the tree on the row clicked and not just the icon being clicked?

Thanks,

Matt

[2019-07-11 12:01] gianlucamateo commented on #817
you could try passing an empty component as a prop to the component overrides (https://material-table.com/#/docs/features/component-overriding)

[2019-07-11 14:33] PiAlexay opened #819 "Horizontal scrolling in IE11"
I have horizontal scrolling only in IE11 browser.
How to fix it?

@mbrn

![Scroll](https://user-images.githubusercontent.com/51820818/61059631-f8f15980-a401-11e9-92b4-3e4d298b6ed5.png)

[2019-07-11 15:27] deadghost opened #820 "Make the entire row a link"
material-table provides a lot of functionality I need out of the box: search, sort, export, etc. In my case I'm not using the editing functionality and would like the row to link to a page that allows editing the entry. My first thought was the override the Row component and wrap `MTableBodyRow` in `a`; however, this is invalid HTML. My second thought was to use the `onRowClick` prop but it wouldn

[2019-07-11 18:16] jtesch commented on #628
I am having this issue as well. In my case it affected Button styles and Textfield's select options. Both utilized `.MuiButtonBase-root`.
Downgrading to 1.36 fixed the issue.

[2019-07-11 21:58] json2d commented on #27
hey @mbrn I'd like to help out on this feature if possible.

I've tried stacking 2 `MaterialTable` components, one for the data and one for the summary, but that has some problems mainly in getting the column spacing and alignment to match with the data table above.

[2019-07-12 03:54] marcobustillo opened #821 "How to disable horizontal table scroll when page re-size"
Is there any way to disable the scrolling of the table when page re sized? I want the columns to be re sized instead of having an overflow with the table.

[2019-07-12 05:31] manoharanamphora commented on #817
yeah, worked for me. Thank you so much.
components={{
            Header: props => null,
          }}

[2019-07-12 05:31] #817 closed

[2019-07-12 05:59] HazilMohamed commented on #739
Is there any fix available right now??

[2019-07-12 07:53] xploreraj opened #822 "Warning messages in console after clicking on Edit and Add icon"
Warning messages in console when I clicked on Edit row. The row opens but below error is shown.

[code]

[code]

[2019-07-12 09:42] tech-khushboo opened #823 "How to add multi select/ dropdown on edit."
Using lookup I am able to select a single option. How to select multiple?
Like in the filter you are giving checkbox and selecting more than one option that same thing I want to implement with the edit.

[2019-07-12 13:15] meldsz commented on #820
I was trying to add a link to elements in a column and onclick route to a new page. Did you try anything of this sort? Any suggestions?

[2019-07-12 18:06] eddiemonge commented on #820
Not if you change the other components and use css to create the table using display

[2019-07-12 20:28] behrouz-s commented on #618
Would you please fix the problem, it could be seen in your documentation too.
![download (1)](https://user-images.githubusercontent.com/1307397/61156723-c0827600-a4fc-11e9-9c49-f55461a9bd13.png)

[2019-07-12 20:29] meldsz opened #824 "Adding a link to items in a particular column"
I want one of the fields in the table to have a link associated with it. So that I can navigate to another page on clicking the item. Is this possible in the currently available features?

For example, I have an ID column in the table. On clicking each of these IDs the user should be navigated to a new page to show details associated with that row. I'm aware of the details panel but my requirement

[2019-07-12 20:37] meldsz commented on #824
adding render in columns solved this..

columns={{
    title: 'ID',
    field: 'id',
    editable: 'never',
    render: rowData => <a href="kshdksa">{rowData.id}</a>
 }}

[2019-07-12 20:37] #824 closed

[2019-07-13 19:06] jlubeck commented on #64
Any news about an example for server side filtering?
Thanks!

[2019-07-13 19:43] jlubeck opened #825 "Filter is not staying in the box"
**Describe the bug**
After selecting a filter the option is not staying in the filter box

**To Reproduce**

Steps to reproduce the behavior:
1. Setup a lookup filter on the table: `{ title: 'Status', field: 'status', lookup: { 1: 'New', 2: 'Submitted', 3: 'Pending Review', 4: 'Live', 5: 'Declined', 6: 'Closed' } }`
2. Click on the filter box to select an option
3. Select an option
4. See how the

[2019-07-14 14:58] bobctr commented on #534
As a workaround for now, you can overwrite the editComponent in the column definition:

[code]

[2019-07-15 03:31] michaelpward commented on #820
Looks like your answer may be here:

https://github.com/mbrn/material-table/issues/824

[2019-07-15 05:53] ryan-saffer commented on #816
I am experiencing the same issue, as well as:
[code]

As a result I cannot add or edit anything in my table.

Any ideas?

[2019-07-15 09:13] chaitanya1019 opened #827 "How to access table ref in parent component?"
Hi i'm struggling in accessing the table ref of material- table in a parent component.
My use case is as follows:
I have a form to search a job, up on getting a response of matched jobs i will show them in material-table. i'm passing a function to data prop in material-table to manage data fetching and tableref to forcefully fetch data when the user has modified the search criteria.i'm passing the

[2019-07-15 09:21] dvasilakis81 opened #828 "Adding, Editing Row for second time makes MaterialTable disabled"
**Describe the bug**
MaterialTable becomes DISABLED when i try to edit a row for a second time.
But sometimes it becomes DISABLED while i try to add or edit a row for first time.

**To Reproduce**
Steps to reproduce the behavior:
1. Select 'edit' action for a row in a materialtable
2. Do a change to a row field.
3. Press ok.
4. Then select again the 'edit' action. (It doesnt matter if the row is t

[2019-07-15 10:14] hGica commented on #786
I am also searching for a way to do this. I also couldn't manage to successfully override editrow component to get the functionality as there is no documentation on how to do this.

[2019-07-15 10:56] dvasilakis81 commented on #828
On my code i create columns and data everytime on render method. It seems that this is wrong and causes that problem but i dont know why ...

[2019-07-15 12:06] sabahath786 opened #829 "How to add new row in between the table using row actions"
I really appreciate your work on Material Table, Im trying to implement new actions on each row of the table,
**To Reproduce**

1. Add action [+] to all the rows of the table.
2. On click on add action, new empty row should be created above the current row,
like, if the selected row index is 5, new row should be created (5-1) index.

[2019-07-15 12:26] iqasim-com opened #830 "Override plus button functionality for adding new table row"
Instead of using material-table predefined plus icon for adding new row, i want to add plus icon functionality to the *Add new region* button
image attached below

![image](https://user-images.githubusercontent.com/23281307/61214374-323b0980-a721-11e9-9ed9-3f4e0a4c4b9d.png)

[2019-07-15 13:01] hGica commented on #751
To hack your way into getting onEditCanceled and AddRowCancelled I've added an example. Mode (mode,props) differs for onEditCancelled and AddRowCancelled. I've added my own code to clear validation errors and also added a state parameter (modifiedHook) to not keep adding stuff  to the event each time the method is triggered.

 <MaterialTable
              icons={tableIcons}
              tableRef=

[2019-07-15 13:30] sabahath786 commented on #808
I am having the same query, addRowPOsition give only 'first ' and 'last' , how can we add new row position to the custom index.

[2019-07-15 17:02] rxhl commented on #816
Same issue

[2019-07-15 17:03] rxhl commented on #814
bump

[2019-07-15 18:16] deadghost commented on #820
@michaelpward yeah that's essentially the approach I was previously using. It doesn't make the whole row a link but makes a link inside each `<td>`. It essentially works but it kind of smells.

[2019-07-15 18:17] Renaud009 commented on #804
Updating all dependencies didn't actually fixed the issue for me.

[2019-07-15 20:34] rxhl commented on #139
@mbrn How do we change the hover color for the rows?

[2019-07-16 01:39] kwhitley commented on #816
same issue, and and likely related to #822

[2019-07-16 01:39] kwhitley commented on #822
Possibly related to #816 (as I get them both together)

[2019-07-16 01:46] xploreraj commented on #822
Yes. Edit and add both.

[2019-07-16 01:54] rxhl commented on #814
Any updates?

[2019-07-16 02:41] nalgritz commented on #822
+1, just installed this package and experienced the same issue.

[2019-07-16 02:54] nalgritz commented on #830
you can add a `icons` props like this
[code]

but one thing is that all the buttons are preset `<IconButton />` with a ripple effect. I want it to be overridden by a simple button with text but still finding a way.

[2019-07-16 03:33] hcsgzh commented on #742
@behrouz-s I have the same problem as yours. Can you tell me how to connect "Detail Panel" component to "store" directly?  Thanks!

[2019-07-16 05:53] mqasim1990 commented on #830
Thanks for your reply @nalgritz
This is exactly what i want but i want to add this icon outside of this table like in above image, i want to place this in **Add new Region** location

[2019-07-16 06:55] #828 closed

[2019-07-16 09:40] behrouz-s commented on #742
@hcsgzh you should design a detail panel as separated component then design a container and connect your detail panel component to the container.
[Redux usage with React](https://redux.js.org/basics/usage-with-react)

[2019-07-16 09:41] PiAlexay commented on #814
`
import React from 'react';
import ReactDOM from 'react-dom';
import { createMuiTheme } from '@material-ui/core/styles';
import { ThemeProvider } from '@material-ui/styles';

const theme = createMuiTheme({
  overrides: {
   MuiTableRow: {
      hover: {
         cursor: 'pointer',
      }
    }
  }
});

ReactDOM.render(
    <ThemeProvider theme={theme}>
        <App/>
    </ThemeProvider>
    , d

[2019-07-16 11:00] sabahath786 commented on #830
@mqasim1990 , I have the same query, but my add row action is on the row itself, i want to add one action on the row add(+) and onclick on this icons i want to create an empty row below the current(selected row) ,

Please find attached image, i have added [+] icon for each row, onClick of [+] ,I am trying to create empty row below or above. I have been stuck from two days.
1.Tried with component o

[2019-07-16 13:42] rxhl commented on #814
Thanks @PiAlexay but the solution doesn't seem to work. Do you have a working code sandbox example?

[2019-07-16 15:02] radamov opened #831 "Custom cell component while adding row"
Hi, all.

I would like to know if there is a possibility to use (for example) dropdown instead of text input while adding a new row.

Thanks.

[2019-07-16 15:08] #831 closed

[2019-07-16 16:33] HoyongJung opened #832 "Adding more options to export"
Hi! I wish if I can add more options to the export button.

Is there a way to give a user options to export all or export data on the page?

Right now, when I click the export button, it only shows one option "Export CSV", but I thought it could be great if there is a list of options like "Export all Data as CSV", "Export Current Page Data as CSV" and etc.

[2019-07-16 18:14] MaxLeiter commented on #820
Also curious if there's a better solution, but the custom <a> wrapping works for now

[2019-07-16 18:53] jochercoles opened #833 "How define columns with lookup parameters dynamically?"
Hi, I'm using Material-table, and I have the follow problem. I have two columns with the lookup parameter defined in every columns. If I defined and load the array before to defined the columns, the component Material-table works well, but if I load dynamically the array, it isn't load or show in the component.

Examples, my code:

**This code Work well:**
let tp = { 0: 'SIN IDENTIFICAR', 1: 'LARG

[2019-07-16 19:43] Smau5 opened #834 "How can i make all the rows always editable?"
I want to make the rows always editable instad of having to press the edit button

[2019-07-16 19:54] PiAlexay commented on #814
Look at the code again.  What is your problem?

[2019-07-16 19:55] EduSantosBrito commented on #703
I have the same problem, i changed the Pagination component in MTable, and used a Context API to control `columns`, `data`, `pageSize` and others props. I changed `options.pageSize` by the state value from Context API. When i change the `pageSize` in my Pagination component, the `pageSize` value from the Context API change too, but nothing happens in MTable, can you help me?

[2019-07-17 00:03] MaxLeiter opened #837 "Dynamically updated data ungroups data"
Groups are lost when data is updated via props. Any way to fix this?

[2019-07-17 00:30] J12ATA commented on #751
@hGica Your code snippet worked wonders for when I needed to access onEditCancelled. Is there a way to get access to the onClick event of the add icon? Thanks in advance.

[2019-07-17 06:38] kslysz opened #838 "Lack of icon in free action"
Hi, I've created an example with free action (https://codesandbox.io/embed/gifted-liskov-ih72m) Why my free action doesn't have an icon Filter?

[2019-07-17 06:40] jeffjvick opened #839 "Custom action icon smaller than default edit icon."
**Describe the bug**
I have a table with the built-in edit action (editable) enabled and one custom action.  The custom action icons are smaller than the built-in edit one.  To make this more clear in the screenshot I assigned the custom action the 'edit' icon so you can see the size difference.

**To Reproduce**
Create a custom action and assign the 'edit' icon to it.
Make the row editable.

**Ex

[2019-07-17 07:08] joeyk16 opened #840 "How To Get The Next Page Button Work"
Hi guys. Firstly the table you created is awesome.

I'm having an issue with pagination that I can't find an answer for. I can't get the next page button to work, and can't see how.

When setting up pagination for an API I can see that there's an `onChangePage` and `onChangeRowsPerPage`. Which is great.

I can hit the API and with page count and page number. So let's say return 5 apples for page 1

[2019-07-17 09:14] hGica commented on #751
@J12ATA

<MaterialTable
.
.
.
components={{
Action:props=>{
console.log('action props',props);
if(props.action.tooltip==="Add")
{
var add=props.action.onClick;
let addNew=()=>{
this.setState({error:{}});
add();
};
props.action.onClick=addNew;
}
return( <MTableAction {...props}/>)
}
}}

Override actions so when the action with tooltip "Add" instead of sending default onClick as prop, add a function

[2019-07-17 09:20] hGica commented on #751
@J12ATA
you could also add a small fix for onEditCanceled. Since state is managed asynchronously this.state.modifiedHook does not get modified immediately so you can end up adding the same function more times, so as a solution I propose

if(props&&this.state.modifiedHook!==true&&props.onEditingCanceled.length<3)
{
let cancel=props.onEditingCanceled;
props.onEditingCanceled=(mode,props,test)=>{
con

[2019-07-17 09:52] nalgritz commented on #830
hello @mqasim1990 & @sabahath786 , I guess we are looking for the same feature while this requires material-table to expose the Add click event so that we can apply outside the table. I haven't had time to dig the package so I'm sorry I can't help at the moment.

hope anyone can help or exposing the method is a feature request?

thanks both.

[2019-07-17 09:54] AtomicLukeMellor commented on #822
These are separate issue I believe as I have experienced both, search your code base for "theme.spacing.unit" then replace it with `theme.spacing(%your number here%)`. This should solve your issue.

[2019-07-17 10:32] waisbek commented on #786
It's a great idea, I also need identify when the user is editing.

[2019-07-17 11:49] hGica commented on #786
@waisbek  see my answers on https://github.com/mbrn/material-table/issues/751 though I wasn't able to get access to is editing

[2019-07-17 13:13] Lukashev commented on #619
@material-ui/core@4.0.1, same problem

[2019-07-17 14:28] tony-molumby commented on #647
@mbrn any update on this issue?  I am having the same problem as @robinlarsson and @argentinaluiz.  The only two icons which throw the error are the Filter and Search Icons:

    const icons = {
      Filter: props => <FilterList {...props} />,
      Search: props => <Search {...props} />
    }

[2019-07-17 15:46] pak11273 commented on #705
If your data is dynamic then you will have to do it programmatically.  You can do this by creating a stylesheet and modify the classes that the column uses.  Use css pseudo classes to pinpoint td cells.  Refer to this [doc](https://material-ui.com/customization/components/) to find the class.

If you just want to change the column styling then refer the the material-table [doc](https://material-ta

[2019-07-17 17:03] nikhilwbhatia commented on #822
Struggling to find this "theme.spacing.unit" line, can you tell me where/what file it's in?

[2019-07-17 17:30] xploreraj commented on #822
I found this but only ij two of my own files I didn't import at all. The
repo owner may add a patch and fix it for all. That would be easier.

[2019-07-17 17:31] nikhilwbhatia commented on #839
Also running into this issue

[2019-07-17 19:07] Brehmly opened #841 "_this.props.editable.onRowUpdate(...) is undefined"
**Describe the bug**
When I try to update users in the table, it saws that onRowUpdate is undefined. It also says that another function in the code is undefined.

**Expected behavior**
To be able to edit without an error happening

**Additional context**
Here is my code for the table. The table is displaying user information from a server, and as such I cannot take a screenshot of the table. Tryin

[2019-07-17 20:35] eddiemonge commented on #385
@mbrn How do you test your apps consuming MaterialTable?

[2019-07-17 20:42] MuddyBootsCode opened #842 "showTextRowsSelected false does not work"
When supplying false to showTextRowsSelected the text still shows.

[2019-07-18 07:34] kaienbcjdoapwkfldue commented on #840
Hi, it seems to me you are doing pagination the wrong way. Let material-table manage the the current page state. You don't need `onChangePage`. I do pagination as the docs suggest and provide a callback function returning a promise for the `data` property, say:

[code]
This callback is called whenever the user changes something, i.e., on page navigation, adding/removing/change a filter, searching

[2019-07-18 11:49] kampretosjr commented on #87
can you share it ? i still strugling with it

[2019-07-18 14:44] hungbang commented on #798
Thank you so much.

[2019-07-18 14:46] farajist commented on #703
Same issue while trying to update the `pageSize` dynamically through Redux

[2019-07-18 14:58] nikhilwbhatia commented on #839
@jeffjvick  can you remind me how you changed the icon size for custom action buttons?

[2019-07-18 15:54] karrettgelley commented on #780
The reason I closed it is because there is a very easy solution that I found. First you need to set the header style to sticky:

options={{ headerStyle: { position: 'sticky', top: 0  } }}

This alone does not do anything. Next you need to set the body height of the table in order to trigger a vertical scrollbar to appear:

options={{ headerStyle: { position: 'sticky', top: 0  }, maxBodyHeight: '65

[2019-07-18 15:54] karrettgelley commented on #709
The reason I closed it is because there is a very easy solution that I found. First you need to set the header style to sticky:

options={{ headerStyle: { position: 'sticky', top: 0 } }}

This alone does not do anything. Next you need to set the body height of the table in order to trigger a vertical scrollbar to appear:

options={{ headerStyle: { position: 'sticky', top: 0 }, maxBodyHeight: '650p

[2019-07-18 16:59] nikhilwbhatia commented on #832
+1

[2019-07-18 18:37] alex-fivetalent commented on #804
I found with material-table 1.36 to 1.40 fixed the issue, maybe because we had been using hooks with other material ui components and update changed the material-table version of ui/core to 4.

[2019-07-18 19:47] SVTerziev commented on #839
@nikhilwbhatia the only way is to update `fontSize = "small"` to _normal_ in node_modules/src/components/m-table-action.js

Usually you should be able to change it via [iconProps](https://material-ui.com/api/icon/), but currently the small font-size is being applied after `iconProps` and is overriding whatever value you pass to it.

I've created a pull request to fix this issue.